/*
************************    FUNCTIONS   *************************
*/

/* Function to easily set font size to rems based on desired pixel size.

USAGE
.site-header {
  margin: rems(24) rems(10);
}

*/

$baseFontSize: 16;

@function rems($pixels, $context: $baseFontSize) {
  @return ($pixels / $context) * 1rem;
}


/** ***************************************************
 * Set and Track order of Z-Index :: no more guessing.
 ******************************************************

USAGE
.site-header {
    z-index: z('site-header');
}

*/

@function z($name) {
  @if index($z-indexes, $name) {
    @return (length($z-indexes) - index($z-indexes, $name)) + 100;
  } @else {
    @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
    @return null;
  }
}

$z-indexes: (
  // Define new indexes here
        "modal",
        "sticky-cta-button",
        "sticky-cta-button-wrapper",
        "region-main-menu",
        "search-block",
        "region-highlighted",
        "sharethis",
 //     "site-header",
 //     "map",
        "paragraph-layer-front",
        "paragraph-layer-foreground",
        "paragraph-layer-background",
        "paragraph-layer-back" //      "page-wrapper",
  //     "spinner",
  //     "site-footer"
);


/* Replace `$search` with `$replace` in `$string`
-------------------------------------------------
    @author Hugo Giraudel
    @param {String} $string - Initial string
    @param {String} $search - Substring to replace
    @param {String} $replace ('') - New value
    @return {String} - Updated string
*/

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}


/* Function to encode hashes in color var values
------------------------------------------------
    @param {String} $replace ('') - New value
    @return {String} - Updated string
 */

@function unhash($color) {
  @return str-replace($color, '#', "%23");
}