/* Mixins */

/* **********************************
    Link Mixins:
    --apply these to the anchor tag.
*/

// Standard Button
@mixin btn($color: $white, $bgcolor: $teal, $border-color: transparent) {

  /*
  @todo: Switch the buttons to used a flex layout, requires some layout refactoring to preserve spacing.
  -- RE: Flex, buttons can be different heights and widths depending on layout instance of the button.
  -- Not sure if this can be changed to use flex, some issues with button spacing.
  */

  //display: flex;
  //flex-direction: row;
  //justify-content: center;
  //align-items: center;
  //height: 50px;
  //padding: 0 25px;

  display: inline-block;

  font-size: rems(18);
  font-family: $CeraPRO-Medium;
  text-align: center;

  margin: 0 5px;
  padding: 10px 25px;

  color: $color; //  Default color is white for solid color buttons.
  background-color: $bgcolor; // Default background is teal
  border-radius: 3px;
  border: solid 2px $border-color;

  @include transition(); // Bootstrap transition mixin--using defaults:  (all 0.2s ease-in-out)

  &:hover {
    color: $color; // Needs to be set to override bootstrap hover color state.
    text-decoration: none;
    transform: scale($growth_scale);
  }

  &:focus {
    box-shadow: none;
  }
}


/* Grow a text link */
@mixin grow_text_link() {
  display: inline-block; // Needs inline block so it will grow correctly.

  @include transition();

  &:hover {
    transform: scale($growth_scale);
  }
}

.grow-text-link  {
  @include grow-text-link;
}

/*
Add a caret to a text link
-- caret is setup to work with 18px text.   Make the caret bigger and smaller by adjusting the width and height.
*/

// Setup caret directions
$left: rotate(-90deg) !default;
$right: rotate(90deg);
$down: rotate(0deg);
$up: rotate(180deg);

@mixin caret($color: $teal, $direction: $left) {
  &::after {
    display: inline-block;
    width: 12px;
    height: 9px;
    margin-left: 4px;
    content: '';
    transform: $direction;
    //background: url('data:image/svg+xml;charset=utf8,<svg width="12" height="9" viewBox="0 0 12 9" xmlns="http://www.w3.org/2000/svg"><path class="blue" fill-rule="evenodd" clip-rule="evenodd" d="M0 1.26918L6 8L12 1.26918L10.8686 0L6 5.46165L1.13137 0L0 1.26918Z" fill="#00A09B" /></svg>');
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2212%22%20height%3D%229%22%20viewBox%3D%220%200%2012%209%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20class%3D%22blue%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0%201.26918L6%208L12%201.26918L10.8686%200L6%205.46165L1.13137%200L0%201.26918Z%22%20fill%3D%22%2300A09B%22%20%2F%3E%0A%20%20%3C%2Fsvg%3E');
    background-size: 12px 9px;
    background-repeat: no-repeat;
    background-position: center center;
    // Had to change from mask method to bg image to work in ie11, unfortunately this means colour now needs to be set on a per-instance basis. Default is $teal;
    //background-color: $color;
  }
}

@mixin btn-compare() {
  display: inline-flex;
  align-items: center;

  &::before {
    content: "";
    width: 23px;
    height: 20px;
    margin-right: 10px;
    background-image: url('../img/compare.svg');
    background-size: 100% auto;
    display: inline-block;
  }
}

.btn.btn-compare {
  @include btn-compare();
}

@mixin btn-file-download() {
  display: block;
  border-color: $electric-blue;
  padding-right: 50px;
  background-position: right 25px center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.0915 8.20463C12.9989 8.00325 12.7955 7.875 12.5715 7.875H10.2858V0.5625C10.2858 0.252 10.0298 0 9.71436 0H7.42864C7.11321 0 6.85721 0.252 6.85721 0.5625V7.875H4.5715C4.3475 7.875 4.14407 8.00438 4.0515 8.20463C3.95778 8.406 3.99436 8.64112 4.14178 8.80762L8.14179 13.3076C8.25036 13.4303 8.40693 13.5 8.5715 13.5C8.73607 13.5 8.89264 13.4291 9.00121 13.3076L13.0012 8.80762C13.1498 8.64225 13.1841 8.406 13.0915 8.20463Z' fill='%230081C9'/%3e%3cpath d='M14.8571 12.375V15.75H2.28571V12.375H0V16.875C0 17.4971 0.512 18 1.14286 18H16C16.632 18 17.1429 17.4971 17.1429 16.875V12.375H14.8571Z' fill='%230081C9'/%3e%3c/svg%3e");
  margin: 0 auto;
  width: 100%;
  max-width: 270px;

  @include media-breakpoint-up(lg) {
    display: inline-block;
    width: 100%;
  }

  &:hover {
    color: $electric-blue;
  }
}

.btn.btn-file-download  {
  @include btn-file-download;
}

/* Swipe Underline Links - these will ease in left to right. */
@mixin swipe_underline($color: $blue) {
  display: inline-block;
  text-decoration: none;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 0;
    bottom: -2px;
    left: 0;
    height: 2px;
    background-color: $color;
    transition: .5s;
    display: block;
  }

  &:hover::before {
    width: 100%;
  }
}

// Hide a button -- used on Slick Sliders.
@mixin btn_visually_hidden {
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

// Crowdriff columns sizing, used in Crowdriff tiles
@mixin cruiseline_crowdriff_columns($columns) {
  &.c-crowdriff-grid__cols-#{$columns} {

    .grid-sizer {
      width: (100 / ($columns / 1)) + 0%;
    }

    @for $i from 1 through $columns {
      .c-crowdriff-tile--width-#{$i} {
        width: (100/($columns / $i)) + 0%;
      }
    }
  }
}

// Mixin to apply consistent spacing between
// --pretty simple, may need to be more sophisticated to allow for various height ratios.  Current set to base spacing.
@mixin section_top_margin() {

  margin-top: 20px;

  @include media-breakpoint-up(sm) {
    margin-top: 40px;
  }
  @include media-breakpoint-up(md) {
    margin-top: 60px;
  }
  @include media-breakpoint-up(lg) {
    margin-top: 80px;
  }
}

// Mixin to have a content Div or Paragraph or Heading Level appear as a different heading level.
// Accepts values: h1, h2, h3, h4.   Does nothing if h5, h6 or if a heading level is not passed to it.
@mixin appear_as_heading($heading-level) {

  font-family: $CeraPRO-Medium;
  color: $blue;

  @if $heading-level == h1 {
    font-size: rems(32);
    letter-spacing: 0.02em;
    line-height: 1.2;
    @include media-breakpoint-up(md) {
      font-size: rems(42);
    }

  } @else if $heading-level == h2 {
    font-size: rems(24);
    line-height: 1.2;
    @include media-breakpoint-up(md) {
      font-size: rems(32);
    }

  } @else if $heading-level == h3 {
    font-size: rems(20);
    line-height: 1.3;
    @include media-breakpoint-up(md) {
      font-size: rems(26);
    }

  } @else if $heading-level == h4 {
    font-size: rems(18);
    line-height: 1.4;
    @include media-breakpoint-up(md) {
      font-size: rems(20);
    }

  } @else {

    // Do nothing

  }
}