/* Page Specific Overrides */

// Request for info Page
.page-id-181 {

  .vacation-guide-cta {

    .vacation-guide {
      @include media-breakpoint-up(md) {
        margin-top: 130px;
        max-width: 350px;
      }
      .vacation-guide__content {
        h2 {
          @include media-breakpoint-up(md) {
            font-size: rems(32);
          }
        }

        p.download {
          @include media-breakpoint-up(md) {
            font-size: rems(32);
          }
        }
      }
    }
  }
}

// Request for info -- Thank you page
.page-id-3278 {

  .basic-content {
    padding-bottom: 0;
  }

  .offers {
    .ripple {
      display: none;
    }
  }

}