@media (min-width: 992px) {

  [data-animate-entrance=fade] {
    opacity: 0;
    transition: opacity 0.7s ease-in;
  }

  [data-animate-entrance=from-left] {
    opacity: 0;
    transform: translate3d(-10px, 0, 0);
    transition: all 0.6s ease-out;
  }

  [data-animate-entrance=from-right] {
    opacity: 0;
    transform: translate3d(15px, 0, 0);
    transition: all 0.6s ease-out;
  }

  [data-animate-entrance=from-top] {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
    transition: all 0.6s ease-out;
  }

  [data-animate-entrance=from-bottom] {
    opacity: 0;
    transform: translate3d(0, 60px, 0);
    transition: all 0.7s ease-out;
  }

  .has-entered {
    &[data-animate-entrance^="from"] {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    &[data-animate-entrance=fade] {
      opacity: 1;
    }
  }
}