body {
  font-family: $CeraPRO-Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $charcoal;

  > div > div.layout-container {
    max-width: $site-width;
    padding: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $CeraPRO-Medium;
  color: $blue;
}

h1,
h2.title {
  font-size: rems(32);
  letter-spacing: 0.02em;
  line-height: 1.2;
  @include media-breakpoint-up(md) {
    font-size: rems(42);
  }
}

h2 {
  font-size: rems(24);
  line-height: 1.2;
  @include media-breakpoint-up(md) {
    font-size: rems(32);
  }
}

h3 {
  font-size: rems(20);
  line-height: 1.3;
  @include media-breakpoint-up(md) {
    font-size: rems(26);
  }
}

h4 {
  font-size: rems(18);
  line-height: 1.4;
  @include media-breakpoint-up(md) {
    font-size: rems(20);
  }
}

/* Paragraph Layouts */
.paragraph p,
.paragraph li {
  font-size: rems(18);
  line-height: 1.5;

  @include media-breakpoint-up(md) {
    font-size: rems(20);
  }
}

// Default paragraph text link colour/behaviour.
a {
  color: $teal;
  @include transition();

  &:hover {
    color: darken($teal, 5%);
    text-decoration: none;
  }
}

// Class that can be used to make a caret appear.
.caret {
  @include caret;
}

.hero__content,
.field--name-field-intro,
.field--name-field-menu-sections,
.paragraph--type--departure-port-single- .content__inner,
.paragraph--type--map-route .content__inner,
.paragraph--type--full-width-cta-with-background,
.paragraph--type--full-location-selection,
.paragraph--type--basic-paragraph,
.paragraph--type--highlight-detail-blocks {
  p, ul, ol {
    margin-bottom: 2em;
  }
}

/*  Common Paragraph Field -- Using the Field, key value: content.field_section_top_margin */
.paragraph {
  &.section-margin--normal {
    margin-top: 20px;

    @include media-breakpoint-up(sm) {
      margin-top: 40px;
    }
    @include media-breakpoint-up(md) {
      margin-top: 60px;
    }
    @include media-breakpoint-up(lg) {
      margin-top: 80px;
    }
  }

  &.section-margin--none {
    margin-top: 0;
  }
}


.block-local-tasks-block {
  background-color: #fbfbf7;
  bottom: 0;
  position: fixed;
  right: 0;
  z-index: 9999;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

// SVG images inherit text colour
svg {
  fill: currentColor;
}

strong {
  font-family: $CeraPRO-Bold;
}

ul.col-2-list {
  @include media-breakpoint-up(md) {
    display: flex;
    flex-wrap: wrap;

    li {
      flex: 1 0 50%;
      padding-right: 50px;
    }
  }
}

ul.li-checkmarks {
  list-style: none;
  padding-left: 2em;

  li {
    &::before {
      position: absolute;
      margin-left: -1.3em;
      content: "\2714";
      color: $dark-teal;
    }
  }
}

ul.li-circled-checkmarks {
  list-style: none;
  padding-left: 2.5em;

  li {
    &::before {
      position: absolute;
      margin-left: -2em;
      display: inline-block;
      width: 26px;
      height: 26px;
      content: "";
      margin-top: 6px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M22.1914 3.80859C19.7387 1.35078 16.4734 0 13 0C9.52656 0 6.26133 1.35078 3.80859 3.80859C1.35078 6.26133 0 9.52656 0 13C0 16.4734 1.35078 19.7387 3.80859 22.1914C6.26641 24.6441 9.52656 26 13 26C16.4734 26 19.7387 24.6492 22.1914 22.1914C24.6441 19.7336 26 16.4734 26 13C26 9.52656 24.6492 6.26133 22.1914 3.80859ZM13 24.4766C6.67266 24.4766 1.52344 19.3273 1.52344 13C1.52344 6.67266 6.67266 1.52344 13 1.52344C19.3273 1.52344 24.4766 6.67266 24.4766 13C24.4766 19.3273 19.3273 24.4766 13 24.4766Z' fill='%23005F72'/%3e%3cpath d='M18.1342 8.83106L11.4057 15.5545L7.8662 12.015C7.56659 11.7154 7.08417 11.7154 6.78964 12.015C6.49511 12.3147 6.49003 12.7971 6.78964 13.0916L10.8674 17.1693C11.0146 17.3166 11.2127 17.3928 11.4057 17.3928C11.5986 17.3928 11.7967 17.3166 11.9439 17.1693L19.2107 9.90254C19.5103 9.60293 19.5103 9.12051 19.2107 8.82598C18.9111 8.53145 18.4338 8.53145 18.1342 8.83106Z' fill='%23005F72'/%3e%3c/svg%3e");
      background-size: cover;
    }
  }
}

//Add extra margin on content section of pages without heros to account for absolute header
.layout-content:not(.has-hero) {
  margin-top: 38px;
  @include media-breakpoint-up(lg) {
    margin-top: 100px;
  }
}

.ajax-progress-fullscreen, .ajax-progress-throbber {
  background-color: transparent;
  background-image: url('../img/o-logo-small.gif');
  background-size: 100% auto;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  width: 80px;
  height: 80px;
  opacity: 1;
}

.ajax-progress-throbber {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  
  .throbber, .message {
    display: none;
  }
}

// !!! Override the Z-index for the Bootstrap 4.3 modal-backdrop and use a z-index stacking order value that works with the site.  !!!
// SEE: functions.scss
.modal-backdrop {
  z-index: z('modal');
}

// Fix for distorted/stretched svgs in ie
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src$=".svg"] {
    width: 100%;
  }
}

// Optional boolean field on content type basic page to add margin between page content and crowdriff/footer
.page-bottom-margin {
  margin-bottom: 20px;

  @include media-breakpoint-up(sm) {
    margin-bottom: 40px;
  }
  @include media-breakpoint-up(md) {
    margin-bottom: 60px;
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 80px;
  }
}