/* Buttons */

/*
  SEE Mixins: _mixins.scss

  @include btn();
  --Default Teal Button
  --Does not accept variables at this time so override as needed.

 */


.btn {
  @include btn(); // Need to declare the mixin on .btn as they occur in the WYSIWYG
}


/* Solid Color Buttons */
.btn-teal {
  // Default button background color.  Need need to explicitly specify but is here.
}

.btn-blue {
  background-color: $blue;
}

.btn-electric-blue {
  background-color: $electric-blue;
}

.btn-white {
  color: $teal;           // Actually text color depends on on the box background for the button so override as necessary.
  border-color: $white;   // These get a border because These buttons are often paired with a transparent button.
  background-color: $white;

  &:hover {
    color: $teal;
  }
}

.btn-transparent {
  color: $white;
  border: solid 2px $white;
}

/* Transparent buttons */

// Transparent: Electric Blue version
.btn-transparent-electric-blue {
  color: $white;
  border-color: $white;
  background-color: transparent;
}

// Transparent: Teal version
.btn-transparent-teal {
  color: $teal;
  border-color: $teal;
  background-color: transparent;

  &:hover {
    color: $teal;
  }
}