/* Base styling for Webforms */

// Target all Drupal Webforms and set default field styles for form elements

form.webform-submission-form,
form.user-login-form,
form.user-pass {

  input[type=text],
  input[type=number],
  input[type=date],
  input[type=tel],
  input[type=email],
  input[type=submit],
  input[type=password],
  textarea,
  select {
    padding: 12px 16px;
    background-color: $light-grey;
    border: solid 0.5px $grey;
    border-radius: 3px;
    letter-spacing: 0.02em;
  }

  input[type=text],
  input[type=number],
  input[type=date],
  input[type=tel],
  input[type=email],
  input[type=password],
  textarea,
  select {
    width: 100%;
    max-width: 435px;
  }


  input.hasDatepicker {
    //width:300px;
    background-image: url("../img/calendar-form-icon.svg");
    background-repeat: no-repeat;
    //background-position: 260px;
    padding-right:50px;
    background-position: right 20px center;
  }

  input[type=submit] {
    background-color: $electric-blue;
    color:$white;
    font-weight: bold;
    border-color: $electric-blue;
    letter-spacing: 0.03em;
    @include transition;

    &:hover {
      transform: scale($growth_scale);
    }
  }

  .form-type-select, .form-type-date, .form-type-textfield, .webform-type-checkboxes, .form-type-checkbox, .form-type-textarea, .form-type-email, .form-type-tel {
    margin-bottom: 1.5em;
  }

  .webform-type-checkboxes .form-type-checkbox {
    margin-bottom: 1em;
  }

  // Select fields get a custom caret.
  select {
    padding-right: 46px;
    background-image: url('../img/select-caret.svg');
    background-repeat: no-repeat;
    background-position: right 20px center;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  label {
    font-weight: bold;
    font-size: 18px;
    color: $blue;
    letter-spacing: 1px;
    margin-bottom: 0.3rem;

    @include media-breakpoint-up(lg) {
      font-size: 20px;
    }
  }

  // End of form styles
}

.paragraph--type--webform {
  max-width: 1400px;
}