@font-face {
  font-family: 'cera_problack';
  src: url('../webfonts/typemates_-_cerapro-black.eot');
  src: url('../webfonts/typemates_-_cerapro-black.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/typemates_-_cerapro-black.woff2') format('woff2'),
  url('../webfonts/typemates_-_cerapro-black.woff') format('woff'),
  url('../webfonts/typemates_-_cerapro-black.ttf') format('truetype'),
  url('../webfonts/typemates_-_cerapro-black.svg#cera_problack') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'cera_probold';
  src: url('../webfonts/typemates_-_cerapro-bold.eot');
  src: url('../webfonts/typemates_-_cerapro-bold.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/typemates_-_cerapro-bold.woff2') format('woff2'),
  url('../webfonts/typemates_-_cerapro-bold.woff') format('woff'),
  url('../webfonts/typemates_-_cerapro-bold.ttf') format('truetype'),
  url('../webfonts/typemates_-_cerapro-bold.svg#cera_probold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cera_prolight';
  src: url('../webfonts/typemates_-_cerapro-light.eot');
  src: url('../webfonts/typemates_-_cerapro-light.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/typemates_-_cerapro-light.woff2') format('woff2'),
  url('../webfonts/typemates_-_cerapro-light.woff') format('woff'),
  url('../webfonts/typemates_-_cerapro-light.ttf') format('truetype'),
  url('../webfonts/typemates_-_cerapro-light.svg#cera_prolight') format('svg');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'cera_prolight_italic';
  src: url('../webfonts/typemates_-_cera_pro_light_italic.eot');
  src: url('../webfonts/typemates_-_cera_pro_light_italic.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/typemates_-_cera_pro_light_italic.woff2') format('woff2'),
  url('../webfonts/typemates_-_cera_pro_light_italic.woff') format('woff'),
  url('../webfonts/typemates_-_cera_pro_light_italic.ttf') format('truetype'),
  url('../webfonts/typemates_-_cera_pro_light_italic.svg#cera_prolight_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'cera_promedium';
  src: url('../webfonts/typemates_-_cerapro-medium.eot');
  src: url('../webfonts/typemates_-_cerapro-medium.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/typemates_-_cerapro-medium.woff2') format('woff2'),
  url('../webfonts/typemates_-_cerapro-medium.woff') format('woff'),
  url('../webfonts/typemates_-_cerapro-medium.ttf') format('truetype'),
  url('../webfonts/typemates_-_cerapro-medium.svg#cera_promedium') format('svg');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'cera_proregular';
  src: url('../webfonts/typemates_-_cerapro-regular.eot');
  src: url('../webfonts/typemates_-_cerapro-regular.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/typemates_-_cerapro-regular.woff2') format('woff2'),
  url('../webfonts/typemates_-_cerapro-regular.woff') format('woff'),
  url('../webfonts/typemates_-_cerapro-regular.ttf') format('truetype'),
  url('../webfonts/typemates_-_cerapro-regular.svg#cera_proregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

/* @import must be at top of file, otherwise CSS will not work */
//@import url("//hello.myfonts.net/count/378061");
//
//
//@font-face {font-family: 'CeraPRO-LightItalic';src: url('../webfonts/378061_0_0.eot');src: url('../webfonts/378061_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/378061_0_0.woff2') format('woff2'),url('../webfonts/378061_0_0.woff') format('woff'),url('../webfonts/378061_0_0.ttf') format('truetype');}
//
//
//@font-face {font-family: 'CeraPRO-Light';src: url('../webfonts/378061_1_0.eot');src: url('../webfonts/378061_1_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/378061_1_0.woff2') format('woff2'),url('../webfonts/378061_1_0.woff') format('woff'),url('../webfonts/378061_1_0.ttf') format('truetype');}
//
//
@font-face {font-family: 'CeraPRO-RegularItalic';src: url('../webfonts/378061_2_0.eot');src: url('../webfonts/378061_2_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/378061_2_0.woff2') format('woff2'),url('../webfonts/378061_2_0.woff') format('woff'),url('../webfonts/378061_2_0.ttf') format('truetype');}

//
//@font-face {font-family: 'CeraPRO-Regular';src: url('../webfonts/378061_3_0.eot');src: url('../webfonts/378061_3_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/378061_3_0.woff2') format('woff2'),url('../webfonts/378061_3_0.woff') format('woff'),url('../webfonts/378061_3_0.ttf') format('truetype');}


//.CeraPRO-LightItalic {
//  font-family: CeraPRO-LightItalic;
//  font-weight: normal;
//  font-style: normal;
//}
//.CeraPRO-Light {
//  font-family: CeraPRO-Light;
//  font-weight: normal;
//  font-style: normal;
//}
//.CeraPRO-RegularItalic {
//  font-family: CeraPRO-RegularItalic;
//  font-weight: normal;
//  font-style: normal;
//}
//.CeraPRO-Regular {
//  font-family: CeraPRO-Regular;
//  font-weight: normal;
//  font-style: normal;
//}

