/**
   _forms.scss
*/


/* Resets
   -------------------------------------------------------------------------- */
// remove rounded corners on ios

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 10px 15px;
  border: 1px solid $grey-200;
}

/* Form control overrides */
select:not(.ui-datepicker-month):not(.ui-datepicker-year),
input.datepicker {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  padding: 10px 15px;
  border: 1px solid $grey-200;
  height: 50px;

  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='#{url-friendly-colour($redstone)}' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 11px;

}

select.ui-datepicker-month,
select.ui-datepicker-year {
  padding: 0;
  border: none;
}

legend {
  font-size: rems(16);
}

/* Gravity forms overrides
   -------------------------------------------------------------------------- */
// specificity required to override gravity forms base styles
.gform_wrapper {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li.gfield {
    margin: 0 0 20px;

    // Reset Labels
    label {
      margin: 0 0 5px;
      line-height: 1.5;
      font-weight: initial;
      font-size: rems(16);
    }

    hr {
      border-top: solid 1px $grey-300;
      margin-left: -1.5rem;
      margin-right: -1.5rem;
      margin-top: 60px;
      margin-bottom: 40px;
      @include media-breakpoint-up(sm) {
        margin-left: -3rem;
        margin-right: -3rem;
      }
    }

    p {
      margin-bottom: 0;
    }
  }

  li.gfield_no_follows_desc {
    margin-bottom: 0;
  }

  select,
  input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    padding: 10px 20px;
    border: 1px solid $grey-100;
    height: 50px;
    &:focus {
      border-color: $grey-300;
    }

    &::placeholder {
      color: $blackstone;
    }
  }

  textarea {
    padding: rems(10);
    border: solid 1px $grey-200;
  }

  .gfield_description {
    font-size: rems(12);
  }

  input[type=submit] {

    background-color: $redstone;
    border: solid 1px $redstone;
    color: $white;
    padding:  0 30px 3px;
    font-size: rems(18);
    font-family: $fontMeltow300;
    text-transform: uppercase;
    cursor: pointer;
    min-height: 50px;
    white-space: normal;

    &:hover {
      background-color: $darkredstone;
      color: $white;
      @include transition;
    }

    @include media-breakpoint-up(md) {
      font-size: rems(24);
    }
  }

  // Honeypot Field
  .gform_validation_container {
    display: none;
  }

  // Hide the required *
  span.gfield_required {
    display: none;
  }


  // Spinner Override
  .gform_ajax_spinner {
    margin-left: 10px;
    z-index: z('spinner');
    border: 4px solid $alphaRed; /* match with border-left */
    border-left: 4px solid $white;
    animation: spinner 1.1s infinite linear;
    border-radius: 50%;
    width: 30px; /* match with height for a circle */
    height: 30px;
    margin-right: -40px;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  // Validation Styling Override
  .validation_error {
    display: none;
  }

  .gfield_error {
    input[type=text],
    input[type=email],
    input[type=tel],
    select,
    textarea {
      border-color: $redstone !important; // need to force it here because of form specific border styling below.
    }
  }

  .validation_message {
    font-size: rems(12);
    color: $redstone;
    margin: 0;
    padding: 0;
    font-style: italic;
  }

  .instruction.validation_message {
    display: none;
  }
}


/*
 * --------------------------------------------------------------------------------------------
 * Individual Forms
 * --------------------------------------------------------------------------------------------
 */


// SEE form specific stylesheets







