/*
   _typography.scss
   Typography component styles.  For example include styles used for the wysiwyg
   formats.
*/

//noinspection ALL
html,
body {
  font-family: $fontClarendonLight;
  font-size: rems(16); //See mixin
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: $fontMeltow300;
  color: $blackstone;
  font-weight: normal;

  i {
    font-style: normal;
    color: $redstone;
  }
}

//noinspection ALL
h1 {
  font-size: rems(40);
  margin: 0 0 rems(30);
  line-height: 0.8;

  //noinspection ALL
  @include media-breakpoint-up(md) {
    font-size: rems(55);
  }

  //noinspection ALL
  @include media-breakpoint-up(xl) {
    font-size: rems(72);
  }
}

//noinspection ALL
h2 {
  font-size: rems(36);
  margin: 0 0 rems(40);
  line-height: 1;

  //noinspection ALL
  @include media-breakpoint-up(md) {
    font-size: rems(48);
  }
}

//noinspection ALL
h3 {
  font-size: rems(24);
  margin: 0 0 rems(24);
  line-height: 1;

  //noinspection ALL
  @include media-breakpoint-up(md) {
    font-size: rems(30);
  }
}

//noinspection ALL
h4 {
  font-size: rems(20);
  margin: 0 0 rems(20);
  font-weight: 500;
  color: $darkbrownstone;
  line-height: 1.2;

  //noinspection ALL
  @include media-breakpoint-up(md) {
    font-size: rems(24);
  }
  //noinspection ALL
  @include media-breakpoint-up(xl) {
    font-size: rems(28);
  }
}


//noinspection ALL
p {
  line-height: 1.8;
  margin: 0 0 rems(30);

  //noinspection ALL
  @include media-breakpoint-up(md) {
    font-size: rems(18);
  }
}

li, a {
  //noinspection ALL
  @include media-breakpoint-up(md) {
    font-size: rems(18);
  }
}

a {
  color: $redstone;
  @include transition();

  &:hover {
    color: $blackstone;
  }
}

img {
  max-width: 100%;
  height: auto;
}

input, button, select, optgroup, textarea {
  outline: none;
}


//noinspection ALL
blockquote {
  color: $redstone;
  font-size: rems(18);
  font-family: $fontClarendonBold;
  text-transform: uppercase;
  padding: 0 20px;

  @include media-breakpoint-up(sm) {
    padding: 5px 50px 0;
  }

  //noinspection ALL
  @include media-breakpoint-up(md) {
    padding: 15px 100px 5px;
    font-size: rems(20);
  }
}


/* Fine print
   -------------------------------------------------------------------------- */
//noinspection ALL
.fine-print {
  font-size: rems(14);
  color: $grey-600;
}
