/*  TYPOGRAPHY */

//$CeraPRO-LightItalic: CeraPRO-LightItalic, sans-serif;
//$CeraPRO-Light: CeraPRO-Light, sans-serif;
//$CeraPRO-Medium: CeraPRO-RegularItalic, sans-serif;
//$CeraPRO-MediumItalic: CeraPRO-Regular, sans-serif;
//$CeraPRO-RegularItalic: CeraPRO-RegularItalic, sans-serif;
//$CeraPRO-Regular: CeraPRO-Regular, sans-serif;
//$CeraPRO-BoldItalic: CeraPRO-RegularItalic, sans-serif;
//$CeraPRO-Bold: CeraPRO-Regular, sans-serif;
//$CeraPRO-BlackItalic: CeraPRO-RegularItalic, sans-serif;
//$CeraPRO-Black: CeraPRO-Regular, sans-serif;

$CeraPRO-LightItalic: cera_prolight_italic, sans-serif;
$CeraPRO-Light: cera_prolight, sans-serif;
$CeraPRO-Medium: cera_promedium, sans-serif;
$CeraPRO-RegularItalic: CeraPRO-RegularItalic, sans-serif;
$CeraPRO-Regular: cera_proregular, sans-serif;
$CeraPRO-Bold: cera_probold, sans-serif;
$CeraPRO-Black: cera_problack, sans-serif;

$font-primary: $CeraPRO-Regular;
$font-primary--italic: $CeraPRO-RegularItalic;
$font-primary--medium: $CeraPRO-Medium;
$font-primary--light: $CeraPRO-Light;
$font-primary--light-italic: $CeraPRO-LightItalic;
$font-primary--bold: $CeraPRO-Bold;
$font-primary--black: $CeraPRO-Black;


/* Colours */

// Primary colour palette
$blue: #002554;
$electric-blue: #0081C9;
$medium-blue: #71aec9;

$dark-teal: #005F72;
$teal: #00A09B;
$light-teal: #B1E0D8;

$taxi: #F4B123;
$red: #cf2b2f;

// Shades
$white: #ffffff;
$offwhite: #fcfcfc;
$light-grey: #F7F7F7;
$mercury: #E3E3E3;  // a 'darker' light grey with an cool name.
$med-grey: #C4C4C4;
$grey: #B0B2B2;
$charcoal: #2D2D2D;
$black: #000000;

// Faded colour washes
$light-teal-fade: mix(#FFF, $light-teal, 80%);
$grey-fade: mix(#FFF, $grey, 90%);
$blue-fade: #e9f2f1;



/* LAYOUT Variables */

$site-width: 1920px;
$growth_scale: 1.075;
