/*
************************    FUNCTIONS   *************************
*/

/* Function to easily set font size to rems based on desired pixel size.

USAGE
.site-header {
  font-size: rems(24);
}

*/

$baseFontSize: 16;

@function rems($pixels, $context: $baseFontSize) {
  @return ($pixels / $context) * 1rem;
}

/* Set and Track order of Z-Index :: no more guessing.

USAGE
.site-header {
    z-index: z('site-header');
}
*/

@function z($name) {
  @if index($z-indexes, $name) {
    @return (length($z-indexes) - index($z-indexes, $name)) + 100;
  } @else {
    @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
    @return null;
  }
}
$z-indexes: (
  // Define new indexes here
        "hamburger-target",
        "hamburger",
        "modal",
        "site-header",
        "map-routes",
        "map",
        "page-wrapper",
        "spinner",
        "site-footer"
);

/* Helper function that allows us to use color variables in SVG code.

USAGE

select {
  background-image: url("data:image/svg+xml;utf8,<svg fill='#{url-friendly-colour($redstone)}' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}

*/

@function url-friendly-colour($colour) {
  @return '%23' + str-slice('#{$colour}', 2, -1)
}
