/*
   _buttons.scss
   Button and text link component styles.  There is a bit of skeleton code here
   that can be overridden.
*/

/* Buttons
   -------------------------------------------------------------------------- */
.btn {
  background-color: $redstone;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: rems(18);
  line-height: 1.67;
  border-width: 2px;

  @include transition;

  &:hover {
    background-color: $darkredstone;
    color: $white;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($darkredstone, 0.25)
  }

  // Black button
  &-black {
    background-color: $blackstone;

    &:hover {
      background-color: $black;
    }
  }

  // Display a Play button for the video links
  &.video {
    &::after {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: "\f144";
      color: $white;
      margin-left: 10px;
    }
  }

  // Convert a button to a text link
  &.text-link {
	  background: none;;
	  color: $white;
	  text-transform: uppercase;
	  text-decoration: none;
	  font-size: rems(18);
	  line-height: 1.67;
	  border: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

/* Text Links
   -------------------------------------------------------------------------- */
.text-link {
  @include transition();
  text-decoration: underline;
}