/* Footer */

.instagram-feed {


  .social-links {
    margin: 25px 0 15px;
    display: block;
    text-align: center;

    @include media-breakpoint-up(md) {
      display: flex;
      text-align: left;
      margin: 25px 0 30px;
    }

    h2.instagram-feed-heading {
      color: $black;
      font-size: rems(30);
      line-height: 1;
      font-family: $fontMeltow300;
      text-transform: uppercase;
      margin: 0 20px 0 0;

      i {
        display: block;
      }

      @include media-breakpoint-up(md) {
        font-size: rems(30);
      }

      @include media-breakpoint-up(lg) {
        i {
          display: inline;
        }
      }

      @include media-breakpoint-up(xl) {
        font-size: rems(34);
      }

    }

    ul {
      flex-shrink: 0;
      margin-top: 15px;

      @include media-breakpoint-up(md) {
        margin-top: 0;
      }
    }

    i {
      font-style: normal;
      color: $redstone;
      &:hover {
        color: $darkredstone;
      }
    }
  }
}

footer {

  background: $darkbrownstone url('/content/themes/base/img/footer-bg.jpg');
  background-size: cover;
  color: $white;

  .logo {
    width: 135px;
    margin: 0 auto;
    padding: 40px 0;
    svg {
      height: 73px;
    }
  }

  p {
    margin-bottom: 5px;
  }

  #footer-menu {
    display: flex;

    ul {
      margin: 0 auto;
      max-width: 600px;
      justify-content: center;

      li {
        max-width: 150px;

        a {
          color: $white;
          font-size: rems(14);
          padding: 0 1rem;

          &:hover {
            color: $redstone;
          }
        }
      }
    }
  }

  .travel-storys {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 320px;
    margin: auto;
    margin-bottom: 25px;

    &__logo {
      margin-right:20px;
    }

    a {
      color: white;
      &:hover {
        color: $redstone;
      }
    }
  }

  .footer-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 630px;
    margin: auto;
    margin-bottom: 25px;

    @include media-breakpoint-up(sm) {
      justify-content: space-between;
      margin-bottom: 40px;
    }

    .logo {
      flex: 1 0 auto;
      display: flex;
      justify-content: center;
      margin-bottom: 20px;

      @include media-breakpoint-up(sm) {
        margin-bottom: 0;
      }
    }


    .vacation-guide-footer {
      display:flex;
      justify-content: center;

      &__content {
        margin-top: 10px;
        font-size: rems(16);
        text-align: center;
        max-width: 150px;
        text-transform: uppercase;
        margin-left: 10px;
        line-height: 1;
      }
      p.download {
        font-size: rems(14);
        &:hover {
          color: $redstone;
        }
      }
    }

    img {
      height: 70px;
      width: auto;
      @include media-breakpoint-up(sm) {
        height: 70px;
      }
    }
  }

  .copyright {
    background-color: $black;
    color: $white;
    font-size: 12px;
  }
}
