/**
 * Header Styling, Primary Nav styling, Weather widget and responsive views
 */

/* Setup the responsive nav */
header {
  position: fixed;
  width: 100%;
  height: 90px;
  max-width: 1920px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  @include transition;

  z-index: z(site-header); // see functions.scss

  @include media-breakpoint-up(md) {
    height: 120px;
  }


  // Flexbox Nav Positioning
  .nav__left {
    flex: 0 0 auto;
    width: 110px;
    margin-left: 0;

    @include media-breakpoint-up(md) {
      width: 120px;
      margin-left: 20px;
    }
  }

  .nav__center {
    margin: 0 -16px;

    @include media-breakpoint-up(md) {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 20px;
    }

    @include media-breakpoint-up(lg) {
      margin-right: 0;
      margin-top: 0;
    }
  }

  .nav__right {
    display: flex;
    position: absolute;
    top: 5px;
    right: -10px;
    width: 200px;

    justify-content: flex-end;
    margin-right: 28px;

    @include media-breakpoint-up(sm) {
      right: 0;
    }

    @include media-breakpoint-up(lg) {
      position: static;
      width: auto;
      flex: 0 0 200px;
      margin-right: 16px;
    }

    @include media-breakpoint-up(xl) {
      flex: 0 0 250px;
      margin-right: 20px;
    }
  }


  // Brand Logo in the Navbar
  .logo {

    svg {
      height: 70px;

      @include media-breakpoint-up(md) {
        height: 60px;
      }

      @include media-breakpoint-up(lg) {
        height: 70px;
      }
    }

    @include transition; // make sure the logo animates when the nav resizes
  }

  // Weather widget
  .weather-widget {
    flex: 0 1 40%;
    font-size: rems(14);

    span.icon {
      display: inline-block;
      width: 30px;
      margin-top: -5px;

      //IE 11 Fix
      svg {
        height:30px; //IE 11 Fix
      }
    }

    span.temp {
      display: inline-block;
    }
  }

  // Request info link
  .request-info {
    flex: 0 1 auto;
    font-size: rems(14);
  }


  &.scrolled {
    background: $alphaDarkBrown;
  }

  &.fixed {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }


  // Fixed - Sticky Nav and its roll up animation and positioning
  @include media-breakpoint-up(md) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    @include transition;

    &.fixed {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

      .logo {
        width: 106px;
        flex: 0 0 auto;
      }
    }

    &.scrolled {

      height: 80px;

      .logo{
        width: 74px;
        flex: 0 0 auto;

        svg {

        }

        @include media-breakpoint-up(lg) {
          margin-right: 46px;
        }
      }
    }


    nav.navbar {

      width: 100%;

      display: flex;
      justify-content: space-between;

      #primary-menu {
        display: flex;
        flex-wrap: nowrap;
        text-align: center;
        justify-content: center;

        ul {
          display: flex;
          width: 100%;
          max-width: 900px;
          justify-content: space-between;

          li {
            flex: 0 1 auto;
          }
        }
      }
    }
    .navbar-expand-md .navbar-nav .nav-link {
      padding-left: 0;
      padding-right: 0;
    }
  }

  // Navbar text size, colors, fonts, alignment tweaks
  nav {

    li, a {
      color: $white;
      text-decoration: none;
      font-family: $fontMeltow300;
      text-transform: uppercase;
      line-height: 1;
      height: 46px;

      &:hover {
        color: $white;
        text-decoration: underline;
      }
    }

    li a {
      font-size: rems(24);

      @include media-breakpoint-up(md) {
        font-size: rems(18);
      }
      @include media-breakpoint-up(lg) {
        font-size: rems(20);
      }
      @include media-breakpoint-up(xl) {
        font-size: rems(24);
      }
    }

    .weather-widget,
    .request-info {
      a {
        display: inline-block;
        padding-top: 10px;
        font-size: rems(14);

        @include media-breakpoint-up(xl) {
          font-size: rems(16);
        }
      }
    }

    .request-info a {
      padding-top: 12px;
    }
  }

  /*
   * Mobile Menu Dropdown Display
   */

  .nav__center {

    background: $white;

    li {
      padding-left: 38px;
      padding-right: 38px;

      a {
        color: $darkbrownstone;
        border-bottom: solid 1px $grey-200;
      }

      &:hover {
        background: $redstone;
        color: $white;
        border-color: $redstone;
        text-decoration: none;

        a,
        a:hover {
          color: $white;
          border-color: $redstone;
        }
      }
    }

    // Mobile dropdown switches to Tablet and Desktop display
    @include media-breakpoint-up(md) {
      background: none;

      li {
        padding-left: 0;
        padding-right: 0;

        &:hover {
          background: none;
          text-decoration: underline;
        }

        a {
          color: $white;
          border-bottom: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  /********************************
   * Mobile Menu Toggle Hamburger *
   ********************************/

  .navbar-toggler {
    font-size: rems(12);
    position: absolute;
    border: none;
    top:40px;
    right: 17px;
    padding:2px;


    @include media-breakpoint-up(sm) {
      margin-right: 10px;
    }

    span.menu {
      color: $white;
      font-family: $fontMeltow200;
    }

    input[type='checkbox'] {
      display: block;
      width: 41px;
      height: 55px;
      position: absolute;
      top: 0;
      left: 0;

      cursor: pointer;

      opacity: 0; /* hide this by making it transparent */
      z-index: z("hamburger-target"); /* and place it over the hamburger */

      -webkit-touch-callout: none;

    }

    // Draw mobile menu toggle hamburger
    span.bar {
      display: block;
      width: 38px;
      height: 4px;
      margin-bottom: 6px;
      position: relative;

      background: $white;

      z-index: z('hamburger');

      transform-origin: 4px 0;

      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      opacity 0.55s ease;
    }

    span.bar:first-child {
      transform-origin: 0 0;
    }

    span.bar:nth-last-child(2) {
      transform-origin: 0 100%;
    }

    /*
     * Transform all the span bar slices of hamburger
     * into a crossmark.
     */
    input:checked ~ span.bar {
      opacity: 1;
      transform: rotate(45deg) translate(-8px, -9px) translateX(9px) translateY(1px);
      background: $white;
    }

    /*
     * Let's hide the middle span bar.
     */
    input:checked ~ span.bar:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
     * Last span bar should go the other direction
     */
    input:checked ~ span.bar:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px) translateX(7px) translateY(5px);
    }

    /*
     * Tweak the placement of the Menu text
     */
    span.menu {
      display: block;
      margin-top: -5px;
    }
  }
}
