.newsletter-signup {
  background: url('/content/themes/base/img/texture-bg.png');
  padding: 40px 0;

  &__content {
    .gform_confirmation_message {
      text-align: center;
      margin-top:35px;
      margin-bottom: 30px;
      color:$darkbrownstone;

      @include media-breakpoint-up(md) {
        margin-top:16px;
      }
    }
  }

  &__form {

    // Gravity Forms CSS in forms.scss

    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: center;
      max-width: 940px;
    }

    @include media-breakpoint-up(xl) {
      padding: 0;
    }


    h2 {
      margin: 0 0 30px;
      font-size: rems(32);
      text-align: center;
      line-height: 1;
      font-family: $fontMeltow300;
      text-transform: uppercase;

      @include media-breakpoint-up(lg) {
        flex: 1 0 270px;
        text-align: left;
        margin-bottom: 10px;
      }
    }

    //  See:  gform1-newsletters.scss for field styling.

  }
}
