/** Ripple effect
 *  Occurs under the top menu and on layouts throughout the site.
 */

.ripple {
  width: 1920px;
  height: auto;
  max-width: none;
  position: relative;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}

// Page Templates
.single-post,
.single-offer,
.single-event,
.single-accommodation,
.archive-offers,
.archive-posts,
.default-archive {
  .ripple {
    margin-top: -80px;
    @include media-breakpoint-up(md) {
      padding-bottom: 20px;
    }
    @include media-breakpoint-up(xl) {
      padding-bottom: 40px;
    }
  }
}

.archive-offers.white {
  background-image: none;

  .ripple {
    margin-top: -90px;
  }
}

// Template parts - Widgets
.offers,
.featured-posts,
.textured--tan,
.activity-cats,
.transportation,
.gallery {
  background: url('/content/themes/base/img/texture-bg.png');
  background-position: left top;

  .ripple {
    margin-top: -60px;
    height: 80px;
    @include media-breakpoint-up(sm) {
      height: auto;
    }
  }
}



// Ripple effect on ACF Layouts
.vacation-guide-cta.textured--tan,
.gallery {
  .ripple {
    margin-top: -95px;
  }
}

.textured--white,
.instagram-feed {
  .ripple {
    margin-top: -175px;
  }
}

.instagram-feed,
.basic-content.textured--white,
.basic-page-with-sidebar {
  .ripple {
    margin-top: -69px;
  }
}

.basic-content.textured--white {
  .container {
    padding-top: 50px;
  }
}

.vacation-guide-cta.textured--white,
.activities-archive {
  .ripple {
    margin-top: -70px;

    @include media-breakpoint-up(sm) {
      margin-top: -80px;
    }
    @include media-breakpoint-up(md) {
      margin-top: -100px;
    }
  }
}

