/* Social Links */

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;

  h4 {
    color: $white;
    display: inline-block;
    margin: 0;
    margin-right: 20px;
    font-size: 16px;

    @include media-breakpoint-up(md) {
      font-size: 18px;
    }

  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;

    li {
      display: inline-block;
      margin: 0;

      a {
        text-decoration: none;

        span {
          display: none;
          visibility: hidden;
        }

        i {
          font-size: rems(22);
          color: $white;
          font-weight: 400;
          line-height: 1.7;
          display: flex;
          align-items: center;
          justify-content: center;
          @include transition;
          margin: 0 5px;

          @include media-breakpoint-up(md) {
            font-size: rems(28);
            margin: 0 10px;
          }

          &:hover {
            color: $redstone;
          }
        }
      }
    }
  }
}