/* CSS Reset */
.clearfix { zoom: 1; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, .showcase, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
html { height: 100%; background: #fff;}
body { height: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: none; max-width: 1920px; width: 100%; margin: 0 auto; min-width: 1600px;}
input, textarea { -webkit-appearance: none; appearance: none; -moz-appearance: none; outline: none; margin: 0; padding: 0; border: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; vertical-align: top; }
select { -moz-appearance: none; text-indent: 0.01px; text-overflow: ''; -webkit-appearance: none; appearance: none; }
input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

@-ms-viewport { width: device-width; }
/* HTML5 display-role reset for older browsemers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

header {width: 100%; max-width: 1920px; min-width: 1920px; height: 373px; position: absolute; top: 0; left: 0; right: 0; z-index: 400; background: url(/themes/custom/cruiseline/prototype/img/menu.png) center top no-repeat; margin: 0 auto;}

nav {width: 100%; max-width: 1920px; min-width: 1920px; height: 66px; position: fixed; top: -70px; left: 0; right: 0; z-index: 400; background: url(/themes/custom/cruiseline/prototype/img/drop-nav.png) center top no-repeat; transition: all 0.25s ease-in-out; margin: 0 auto;}
.down {top:0;}

.showcase {position: relative; width: 100%; min-height: 600px; height: 100vh !important;}
#video-viewport {position: absolute; top: 0; overflow: hidden; z-index: -1; min-height: 650px; height: 100% !important;}
video {position: relative; z-index: 10; opacity: 0.99; min-height: 650px;}
.overlay {position: absolute; bottom: 250px; left: 0; right: 0; z-index: 50; text-align: center;}
.book {position: absolute; bottom: 0px; left: 0; right: 0; height: 90px; z-index: 75; text-align: center; overflow: hidden;}



.content {background: url(/themes/custom/cruiseline/prototype/img/body2.jpg) center top no-repeat; height: 6727px; position: relative;}
