.sitemap {
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;


  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1400px;
  }
}