// Default variables.
@import "default-variables";

// Bootswatch variables
@import 'variables';

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Bootswatch 
@import 'bootswatch';

// Base-theme overrides.
@import 'overrides';

/*
BC Archery Custom Styling
*/
 
// Body and region wrappers  
body {margin:0; background: #4C590A url('../images/field-targets.jpg') 0px -80px no-repeat; background-position: fixed;}

body.maintenance-page {background:none; padding:50px;}   //remove background for maintenance page

.main-container {background:#ffffff; padding-top:20px; padding-bottom: 20px; border-radius: 10px; margin-bottom: 20px;}

#userbar-wrapper {}
#header-wrapper {}
#feature-wrapper {}
#content-wrapper {}
#contentbottom-wrapper {background:#222 url('../images/footer-background.jpg') no-repeat; background-size:cover; color:#f1f1f1; padding:20px 0 30px;}
#footer-wrapper {background:#111;color:#f1f1f1;}

// Text Styles 
h1.page-header {color: #111; font-size: 3em; font-weight: bold; letter-spacing: -1px; line-height: 1; }


// Image styling


/* Header */
// Site Logo
a.logo img {width:100%; max-width: 400px;}
// Navbar
#navbar {background: none; border:none; box-shadow: 0 0 0 #fff; }
.navbar {margin-bottom: 0;}

#block-site-main-menu .menu {clear:both;}


// Main Content Area

/* Content Bottom blocks */
#contentbottom {padding: 15px 15px;}
#contentbottom h2.block-title {font-size:1.3em; color:yellow;}

.page-node-type-club article .field {margin-bottom: 20px;}

/* Footer */

.footer {border:none; margin-top:0;}

// Primary Footer
#primary-footer .nav > li > a:hover, 
#primary-footer .nav > li > a:focus {color:#fff; background-color:#444;}

#primary-footer .block-block-content {color:#ccc;}
#primary-footer h2 {font-size: 1.4em; margin-top:0;}
#primary-footer a:hover,
#primary-footer a:focus {color:#fff; background-color:#444; text-decoration: none; }

//Secondary Footer
#secondary-footer {border-top: solid 1px #333; font-size: 12px; text-align: center;}


/* Views */
.view-newsletters .file {max-width: 200px;}

.path-newsletters img.tothepoint {width:100%; max-width:700px; margin-top: -60px;}

.path-newsletters .view-newsletters .issue {
  padding-left: 50px; 
  padding-bottom: 20px; 
  border-bottom: solid 1px #ccc; 
  margin-bottom: 20px;
  background:url('../images/newsletter-arrow.png') bottom center no-repeat;
}

.view-id-newsletters .attachment caption  {font-size: 2em;}
.view-id-newsletters .attachment .views-field-created {width:30%}

.view-clubs td.views-field-title {width:270px; font-weight: 700;}
.view-clubs td.views-field-field-club-address {font-size:11px; width:160px;}

.view-sponsors caption {font-size: 2em; font-weight: 700; color:#000;}

// Tourney Results -- Views in paragraphs
.paragraph--type--view .viewsreference--view-title {font-size: 28px; font-weight: 500; line-height: 1.2;margin-bottom: 10px;}
.paragraph--type--view .view-display-id-block_1 span.field-content {font-size:18px;}
.paragraph--type--view .view-display-id-block_12 span.field-content {font-size:18px;}

/* Blocks */

#block-site-search {margin-top:10px; max-width: 400px;}

#block-views-block-newsletters-latest-newsletter-block h2.block-title {margin-top:0; height:70px; background:url('../images/to-the-point.png') top right no-repeat;}
#block-views-block-newsletters-latest-newsletter-block .issue {}


/* Screen size tweaks */

@media screen and(min-width:480px) {
  #header-wrapper {background-position-y: -120px;}
  #block-views-block-newsletters-latest-newsletter-block h2.block-title {background-position-x: left;}
  .path-newsletters img.tothepoint {margin-top:0;}
}

@media screen and(min-width:768px) {
  #header-wrapper {background-position-y: -120px;}
  #block-views-block-newsletters-latest-newsletter-block h2.block-title {background-position-x: -80px;}
  #navbar .navbar-nav {background-color: rgba(0, 0, 0, 0.5); border-radius: 10px 10px 0 0;}
  .path-newsletters img.tothepoint {margin-top:-80px;}
  #block-site-search {float:right; width:260px; top:20px;}
}

@media screen and(min-width:1200px) {
  #header-wrapper {background-position-y: -30px;}
  #navbar .navbar-nav {}

}

@media screen and(min-width:1600px) {
  #header-wrapper {background-position-y: -30px;  background-position-x: center;}
}


a.coolnewmedia {color:#444;}
a.coolnewmedia:hover {color:#666; text-decoration: none;}