/* Parallax base styles
  --------------------------------------------- */

/* @todo: This needs to be refactored and sass moved to appropriate sass files.  This file is temporary */

.parallax-container {

  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;

  @include media-breakpoint-up(sm) {
    height: 500px;
  }

  @include media-breakpoint-up(md) {
    height:600px;
  }

  @include media-breakpoint-up(lg) {
    height: 800px;
  }
  @include media-breakpoint-up(xl) {
    height: 1100px;
  }

  .cruise-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width:100%;
    object-fit: cover;
    height: 100%;
  }

  .cruise-heading {
    position: absolute;
    top: 18%;
    left: 40%;
    z-index: 2;
    color: $white;
    font-size: 40px;
    text-shadow: #333 0 0 7px;
    
    @include media-breakpoint-up(md) {
      font-size: 50px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 80px;
    }
  }

  .cruise-ship {
    position: absolute;
    bottom: 0;
    z-index: 3;
    object-fit: cover;
    width: 100%;
    min-height: 70%;
  }
}

/* Two Boxes*/


.box1 {
  background-color: $light-teal-fade;
}

.box2 {
  background: $teal;
  color: $white;
}