/* Enhancement and changes to Bootstrap Buttons */

// SEE: Bootstrap button defaults to control button size, adjust the padding value accordingly to the button site

/* @todo: This needs to be refactored and sass moved to appropriate sass files.  This file is temporary */


//.btn-teal-with-border {
//  color: $white;
//  background-color: $teal;
//  border: solid 2px $teal;
//
//  &:hover {
//    color: $teal;
//  }
//}
//
//
//.btn-blue-outline {
//  color: $blue;
//  background: none;
//  border: solid 2px $blue;
//
//  &:hover {
//    color: $white;
//    background: $blue;
//  }
//}
//
//.btn-electic-blue-outline {
//  color: $electric-blue;
//  background: none;
//  border: solid 2px $electric-blue;
//
//  &:hover {
//    color: $white;
//    background: $electric-blue;
//  }
//}
//
//.btn-teal-outline {
//  color: $teal;
//  background: none;
//  border: solid 2px $teal;
//
//  &:hover {
//    color: $white;
//    background: $teal;
//  }
//}



/* Gallery Prev Next Buttons */
//.slick-arrow-grow {
//
//  @include transition(all 0.2s linear);
//
//  &:hover {
//    margin: -2px -1px;
//    height: 104px;
//    width: 42px;
//    transform: scale($grow_scale);
//  }
//}

/* Color Sweep on hover Buttons */

.btn-sweep-right {
  display: inline-block;
  position: relative;
  z-index: 0;

  &:hover {
    background: none;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform .5s ease-out;
  }

  &:hover:before {
    transform: scaleX(1);
  }
}

.btn-blue-outline.btn-sweep-right:before {
  background: $blue;
}

.btn-electic-blue-outline.btn-sweep-right:before {
  background: $electric-blue;
}

.btn-teal-outline.btn-sweep-right:before {
  background: $teal;
}

.btn-teal-with-border.btn-sweep-right:before {
  background: $white;
}


/* FAQ Section */

section#faqs {

  .faq {
    color: $teal;
    background-color: $white;
    border: solid 1px $light-teal;
    margin-bottom: 10px;

    .question {
      cursor: pointer;

      a {
        position: relative;
        padding: 25px 40px 25px 20px;
        display: block;
        font-weight: bold;
        color: $teal;
        @include transition(all 0.25s ease);

        &.no-border {
          border: none;
        }

        .toggle {
          position: absolute;
          top: 25px;
          right: 20px;
          width: 14px;
          height: 14px;
          margin-top: 6px;


          &::before {
            top: 0;
            left: 50%;
            width: 2px;
            height: 100%;
            margin-left: -1px;

            content: "";
            position: absolute;
            background-color: $teal;
            transition: transform 0.25s ease-out;
          }

          &::after {
            top: 50%;
            left: 0;
            width: 100%;
            height: 2px;
            margin-top: -1px;

            content: "";
            position: absolute;
            background-color: $teal;
            transition: transform 0.25s ease-out;
          }
        }

        &:hover {
          color: $white;

          .toggle::before,
          .toggle::after {
            background-color: $white;
          }
        }

        &[aria-expanded="true"] {

          color: $white;
          background-color: $teal;

          .toggle::before {
            transform: rotate(90deg);
            background-color: $white;
          }

          .toggle::after {
            background-color: $white;
          }

          &::before {
            transform: none;
          }
        }
      }
    }

    .answer {
      display: none;

      &.expanded {
        display: block;
      }
    }
  }
}


///* Text links with underline */
//
//a.text-link {
//
//  display: inline-block;
//  color: $white;
//  text-decoration: none;
//  margin-right: 30px;
//
//  &::after {
//    content: "";
//    width: 0;
//    left: 0;
//    height: 3px;
//    background-color: $white;
//    transition: .5s;
//    display: block;
//
//  }
//
//  &:hover::after {
//    width: 100%;
//
//  }
//}

/* Button control made to look like a text link --used for select input button */

.letsgocruise {
  height: 500px;
  background-color: $blue;
}

.non-btn {
  padding: 0;
  background: none;
  border: none;
  font-weight: bold;
  color: $white;
}

//No longer needed
/* .caret {

  &::after {
    display: inline-block;
    width: 10px;
    height: 8px;
    margin-left: 6px;
    margin-top: 5px;
    content: '';
    -webkit-mask: url('data:image/svg+xml;utf8,<svg width="12" height="9" viewBox="0 0 12 9" xmlns="http://www.w3.org/2000/svg">
<path class="blue" fill-rule="evenodd" clip-rule="evenodd" d="M0 1.26918L6 8L12 1.26918L10.8686 0L6 5.46165L1.13137 0L0 1.26918Z"/>
</svg>') no-repeat 50% 50%;
    mask: url('data:image/svg+xml;utf8,<svg width="12" height="9" viewBox="0 0 12 9" xmlns="http://www.w3.org/2000/svg">
<path class="blue" fill-rule="evenodd" clip-rule="evenodd" d="M0 1.26918L6 8L12 1.26918L10.8686 0L6 5.46165L1.13137 0L0 1.26918Z"/>
</svg>') no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: $white;
  }
} */


/* Growing Sticky Bar Icons */

.icons {

  div {
    text-align: center;
    font-weight: 700;

    svg {
      display: block;
      margin: 0 auto;
      width: 40px;
      height: 40px;
      fill: $white;
      color: $white;

      @include transition(all 0.5s ease);

    }

    &:hover {
      cursor: pointer;

      svg {
        transform: scale(1.25);
      }
    }
  }
}


/* Growing Tab Menu Tabs */

#dining-menu {

  .nav-link {
    @include transition(0.3s);

    &:hover {
      font-size: 1.25rem;
    }
  }
}


/* Expanding Search icon-field*/

.expanding-search {

  ul {
    li.menu-item {

      font-size: 18px;

      a {
        color: $blue;
        text-decoration: none;
        font-weight: 700;

        &:hover {
          border-bottom: solid 2px $blue;
        }
      }
    }
  }
}


#search {
  input {
    outline: none;
  }


  input[type=search] {
    margin-top: -7px;
    background: url("/themes/custom/cruiseline/img/magnifying-glass.svg") 9px center no-repeat;
    border: solid 1px $white;
    padding: 2px 10px 2px 32px;

    border-radius: 10em;

    @include transition(all .5s);

    &:focus {
      width: 130px;
      background-color: #fff;
      border-color: $blue;
      -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
      -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
      box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    }
  }

  input[type=search] {
    width: 70px;
    padding-left: 30px;
    color: transparent;
    cursor: pointer;

    &::placeholder {
      font-weight: 700;
      color: $blue;
    }

    &:hover {
      background-color: #fff;
    }

    &:focus {
      width: 150px;
      padding-left: 32px;
      color: #000;
      background-color: #fff;
      cursor: auto;

      &::placeholder {
        color: $white;
      }
    }

  }
}


