// <nav> wrapper for prev/next buttons
.slick__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

// the buttons, themselves
.slick-prev, .slick-next {
  @include transition();

  &::before {
    content: "";
    background-image: url('../img/carousel-prev-next-arrow-shadow.svg');
    background-size: cover;
    background-position: center;
    width: 30px;
    height: 45px;
    display: block;
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover {
    transform: scale($growth_scale);

    &::before {
      opacity: 1;
    }
  }

  &:focus {
    outline:none;
  }

  @include btn_visually_hidden;

  &.slick-prev {
    &::before {
      transform: rotate(180deg);
    }
  }

  &.slick-arrow--cardslider {
    background-color: #fff;
    width: 40px;
    height: 100px;
    border-radius: 4px;
    position: relative;
    box-shadow: 2px 2px 8px 0 rgba(0,37,84,0.4);
    overflow: hidden;

    &::before {
      content: '';
      border: solid $teal;
      border-width: 0 2px 2px 0;
      padding: 2px;
      width: 13px;
      height: 13px;
      // positioning (thanks, sam!)
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: -4px;
      line-height: 3rem;
      display: inline-block;
      background-image: none;

    }

    &.slick-next {
      left: 2%;
      transform: rotate(180deg);
      box-shadow: -2px -2px 8px 0px rgba(0,37,84,0.4);

      @include media-breakpoint-up(lg) {
        left: auto;
      }

      &::before {
        transform: rotate(135deg);
      }

      &:hover {
        transform: rotate(180deg) scale($growth_scale);
      }

    }

    &.slick-prev {
      left: -2%;

      &::before {
        transform: rotate(135deg);
      }
    }
  }
}

.slick-dots {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 5px;
    position: relative;
    overflow: hidden;
    padding: 1px;

    button {
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #fff;
      }
      font-size: 0;
      line-height: 0;
      padding: 1px;
      width: 12px;
      height: 12px;
      border: 1px solid $grey;
      border-radius: 50%;
      overflow: hidden;
    }

    &.slick-active {
      button {
        &::before {
          background-color: $electric-blue;
        }
      }
    }
  }
}