{% extends "base.twig" %}
{% block content %}

    <div class="single-image-hero"
         style="background-image: url('{{ Image(options.default_image).src("hero-image") }}');">
    </div>

    <section class=" section-margin--normal">
        <div class="container">
            <div class="row">
                <div class="offset-1 col-10">
                    {# ToDo: Need to make this section content managed through the Admin interface, General Settings #}
                    <h1 class="text-color--secondary text-center">Page Not Found</h1>
                    <p class="text-center">Sorry, we can't find the page your are looking for....</p>
                    <p class="text-center"><a class="btn btn-lg btn-primary" href="/">Return to the Homepage</a></p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}