<section class="newsletter-signup"
         style="background-image: url('{{ Image(options.footer_newsletter_background).src('footer') }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <p class="text-center">{{ options.footer_sign_up_title_primary }}</p>
                <h3 class="text-center">{{ options.footer_sign_up_title_secondary }}</h3>

                {% filter shortcodes %}
                    [gravityform id=1 title=false description=false ajax=true]
                {% endfilter %}

            </div>
        </div>
    </div>
</section>

{% if options.social_links %}
    <section class="share-wrap">
        <div class="container">
            <div class="share-section">
                <span>Follow us:</span>
                {% for sLink in options.social_links %}

                    {# Change the select value to an icon classname #}
                    {% if sLink.social_link_icon == 'facebook' %}
                        {% set icon = 'fa-facebook-f' %}
                    {% elseif sLink.social_link_icon == 'twitter' %}
                        {% set icon = 'fa-twitter' %}
                    {% elseif sLink.social_link_icon == 'instagram' %}
                        {% set icon = 'fa-instagram' %}
                    {% else %}
                        {% set icon = 'default' %}
                    {% endif %}

                    <a href="{{ sLink.social_link_url }}"
                       title="{{ sLink.social_link_name }}"
                       target="_blank">
                        <i class="fab {{ icon }}"><span class="social-link-name">{{ sLink.social_link_name }}</span></i>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}


<footer>
    <div class="container">
        <a class="footer-logo" href="{{ site.link }}"
           title="{{ site.name }}">{% include "partials/resort-logo-svg.twig" %}<span
                    class="screen-reader-text">{{ site.name }}</span></a>
        <div class="footer-nav">
            <ul>
                {% for item in footer_primary_navigation.items %}
                    <li><a href="{{ item.link }}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="copyright">{{ options.copyright_text }}</div>

    </div>
</footer><!-- footer -->

</div><!--container-fluid -->


{{ function('wp_footer') }}

{% set footerJScache = fileDate(site.theme.path ~ '/js/below-fold.js') %}

<script src="{{ site.theme.path }}/js/below-fold.js?v={{ footerJScache }}"
        defer></script>


{# Bring in Development flags and tools if this site is running on a dev4 or a cloudbox #}
{% if function('is_sbox') or function('is_dev') %}
    {% include "partials/development.twig" %}
{% endif %}

</body>

</html>