<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{ site.charset }}"/>
    <title>
        {% if wp_title %}
            {{ wp_title }} - {{ site.name }}
        {% else %}
            {{ site.name }}
        {% endif %}
    </title>
    {% if options.meta_description %}
        <meta name="description" content="{{ options.meta_description }}"/>
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="57x57"
          href="/content/themes/base/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60"
          href="/content/themes/base/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72"
          href="/content/themes/base/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76"
          href="/content/themes/base/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114"
          href="/content/themes/base/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120"
          href="/content/themes/base/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144"
          href="/content/themes/base/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152"
          href="/content/themes/base/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180"
          href="/content/themes/base/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"
          href="/content/themes/base/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32"
          href="/content/themes/base/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96"
          href="/content/themes/base/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16"
          href="/content/themes/base/images/favicon/favicon-16x16.png">

    <meta name="msapplication-config" content="browserconfig.xml">
    <meta name="apple-mobile-web-app-title" content="{{ site.name }}">
    <meta name="application-name" content="{{ site.name }}">


    <link rel="stylesheet" href="{{ site.theme.path }}/css/above-fold.css"/>

    {# Slick carousel #}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

    {# Header JS#}
    {% set headerJScache = fileDate(site.theme.path ~ '/js/above-fold.js') %}
    <script src="{{ site.theme.path }}/js/above-fold.js?v={{ headerJScache }}" defer></script>


    {{ function('wp_head') }}

</head>

<body class="{{ function('get_body_class') | join(' ') }}">

<div class="wrapper">
    {# Header Start #}
    <header id="header-wrap">
        <div class="container">
            <header id="header" class="clearfix">
                <div class="row no-gutters">

                    <div class="col-xl-3 col-lg-2 justify-content-start">
                        <a class="logo" href="{{ site.link }}"
                           title="{{ site.name }}">{% include "partials/logo-svg.twig" %}<span
                                    class="screen-reader-text">{{ site.name }}</span></a>
                    </div>

                    <div class="col-xl-9 col-lg-10 justify-content-end">
                        <div class="nav-secondary">
                            <ul class="d-flex ml-auto">
                                {% if weather_data %}
                                    <li class="menu-item current-weather text-nowrap">
                                        <a class="nav-link" href="https://darksky.net/forecast/24.711130,-81.094719/us12/en"
                                           target="_blank">
                                            <img class="weather-icon"
                                                 src="{{ weather_data.current_conditions.icon_url | replace ({'http':'https'}) }}"
                                                 alt="{{ weather_data.current_conditions.icon }}">
                                            <span class="weather-temp ">{{ weather_data.current_conditions.temp_f|round }}
                                                °F</span>
                                        </a>
                                    </li>
                                {% endif %}

                                {% for item in secondary_navigation.items | slice (0,3) %}
                                    {% if item.title != post.item_label %}
                                        <li class="{{ item.class }} text-nowrap">
                                            <a class="nav-link" href="{{ item.link }}">{{ item.title }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                {# Primary Phone Number placement Desktop, Tablet #}
                                <li class="menu-item primary_phone_number text-nowrap">
                                    <a class="nav-link"
                                       href="tel:{{ options.primary_phone_number }}">{{ options.primary_phone_number }}</a>
                                </li>

                                {# Call to Action button #}
                                {% if 'single-room' in body_class %}
                                    <li class="menu-item">
                                        <a class="text-nowrap btn btn-primary btn-book btn-book-lg"
                                           href="#room-booking">Book</a>
                                    </li>
                                {% else %}
                                    {% if options.primary_nav_button_text %}
                                        <li class="menu-item">
                                            <a class="text-nowrap btn btn-primary btn-book btn-book-lg js-booking-toggle"
                                               href="javascript:void(0)">Book</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row no-gutters">
                    <div class="col-12">
                        <nav class="nav-primary navbar navbar-expand-lg navbar-light">
                            {# Mobile Menu Toggle #}
                            <div class="nav-icons">
                                {% if 'single-room' in body_class %}
                                    <a href="#room-booking"
                                       class="btn btn-primary btn-book btn-book-sm">{{ options.primary_nav_button_text_short }}</a>
                                {% else %}
                                <a href="javascript:void(0)"
                                   class="btn btn-primary btn-book btn-book-sm js-booking-toggle">{{ options.primary_nav_button_text_short }}</a>
                                {% endif %}
                                <button type="button" class="nav-btn" onclick="myFunction(this)" title="Mobile Menu">
                                    <span class="screen-reader-text">Mobile Menu</span>
                                    <span class="bar1"></span>
                                    <span class="bar2"></span>
                                    <span class="bar3"></span>
                                </button>
                            </div>

                            {# Desktop Menu #}
                            {% include "partials/primary_desktop_menu.twig" %}

                        </nav>
                    </div>
                </div>
                {% if 'single-room' not in body_class %}
                <div id="header-booking-widget">
                    {% include "partials/booking-widget.twig" %}
                    <div class="booking-modal-overlay"></div>
                </div>
                {% endif %}
            </header>

        </div>
        {# Mobile Menu Dropdown #}
        {% include "partials/primary_mobile_menu.twig" %}
    </header>
    <div id="fixed-header-wrap-spacer"></div>
    {# Header End #}

    {# HERO #}
    {% if not fn('is_404') %}
        {% if options.offers|length > 0 %}
            {%  include "partials/offers.twig" %}
        {% endif %}
        {% include "partials/hero.twig" %}
    {% endif %}
