{% extends "base.twig" %}

{% block content %}
    {% for flexibleContent in post.get_field('page_layout') %}
        {% include "acf/" ~ flexibleContent.acf_fc_layout ~ ".twig" with {acf_fields: flexibleContent} %}
    {% endfor %}
{% endblock %}