/**
   _bootstrap_overrides.scss
	This file is used to override bootstrap variables.  build/node_modules/bootstrap/scss/_variables.scss
	Some examples are included below.
*/


/* Grid breakpoints
   Define the minimum dimensions at which your layout will change,
   adapting to different screen sizes, for use in media queries.
   ------------------------------------------------------------------------ */
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1440px
);


/* Spacing
   Control the default styling of most Bootstrap elements by modifying these
   variables. Mostly focused on spacing.
   You can add more entries to the $spacers map, should you need more variation.
   ------------------------------------------------------------------------ */
//$spacer: 100px;
//$spacers: (
//	0: 0,
//	1: ($spacer * .33),
//	2: ($spacer * .66),
//	3: $spacer,
//	4: ($spacer * 1.33),
//	5: ($spacer * 3)
//);


/* Gutter width (half is added to each column)
   ------------------------------------------------------------------------ */
//$grid-gutter-width:  24px;


/* Default transition.  Used in transition() mixin.
   ------------------------------------------------------------------------ */
//$transition-base: all .25s ease-in-out;