/**
   _fonts.scss
*/
/* Fonts
   If your are missing any font formats: https://onlinefontconverter.com/
   There are also mixins in mixins.scss for each font-face.
   -------------------------------------------------------------------------- */
// Example font-face
/**
 * @license
 * MyFonts Webfont Build ID XXXXXXX
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed /content/themes/base/font(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: MeltowSan300-Rust by Typesketchbook
 * URL: https://www.myfonts.com/fonts/typesketchbook/meltow/sans-300-rust/
 * Copyright: Copyright (c) 2015 by Typesketchbook. All rights reserved.
 * Licensed pageviews: 200,000
 * 
 * Webfont: MeltowSan200-Rust by Typesketchbook
 * URL: https://www.myfonts.com/fonts/typesketchbook/meltow/sans-200-rust/
 * Copyright: Copyright (c) 2015 by Typesketchbook. All rights reserved.
 * Licensed pageviews: 200,000
 * 
 * Webfont: ClarendonStd-Light by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/clarendon-lt/std-light/
 * Copyright: Copyright &#x00A9; 2006 - 2012 Linotype GmbH, www.linotype.com. All rights reserved. This font software may not be reproduced, modified, disclosed or transferred without the express written approval of Linotype GmbH. Clarendon is a trademark of Linotype G
 * Licensed pageviews: 250,000
 * 
 * Webfont: ClarendonStd-Medium by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/clarendon-lt/std-medium/
 * Copyright: Copyright &#x00A9; 2006 - 2012 Linotype GmbH, www.linotype.com. All rights reserved. This font software may not be reproduced, modified, disclosed or transferred without the express written approval of Linotype GmbH. Clarendon is a trademark of Linotype G
 * Licensed pageviews: 250,000
 * 
 * Webfont: ClarendonStd-Bold by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/clarendon-lt/std-bold/
 * Copyright: Copyright &#x00A9; 2006 - 2012 Linotype GmbH, www.linotype.com. All rights reserved. This font software may not be reproduced, modified, disclosed or transferred without the express written approval of Linotype GmbH. Clarendon is a trademark of Linotype G
 * Licensed pageviews: 250,000
 * 
 * 
 * License: XXXXXXX
 * 
 * © 2018 MyFonts Inc
*/
/* @import must be at top of file, otherwise CSS will not work */

@font-face {
  font-family: 'MeltowSan300-Rust';
  src: url('/content/themes/base/font/384341_0_0.eot');
  src: url('/content/themes/base/font/384341_0_0.eot?#iefix') format('embedded-opentype'),
  url('/content/themes/base/font/384341_0_0.woff2') format('woff2'),
  url('/content/themes/base/font/384341_0_0.woff') format('woff'),
  url('/content/themes/base/font/384341_0_0.ttf') format('truetype');
}


@font-face {
  font-family: 'MeltowSan200-Rust';
  src: url('/content/themes/base/font/384341_1_0.eot');
  src: url('/content/themes/base/font/384341_1_0.eot?#iefix') format('embedded-opentype'), 
  url('/content/themes/base/font/384341_1_0.woff2') format('woff2'), 
  url('/content/themes/base/font/384341_1_0.woff') format('woff'), 
  url('/content/themes/base/font/384341_1_0.ttf') format('truetype');
}


@font-face {
  font-family: 'ClarendonStd-Light';
  src: url('/content/themes/base/font/384341_2_0.eot');
  src: url('/content/themes/base/font/384341_2_0.eot?#iefix') format('embedded-opentype'), 
  url('/content/themes/base/font/384341_2_0.woff2') format('woff2'), 
  url('/content/themes/base/font/384341_2_0.woff') format('woff'), 
  url('/content/themes/base/font/384341_2_0.ttf') format('truetype');
}


@font-face {
  font-family: 'ClarendonStd-Medium';
  src: url('/content/themes/base/font/384341_3_0.eot');
  src: url('/content/themes/base/font/384341_3_0.eot?#iefix') format('embedded-opentype'), 
  url('/content/themes/base/font/384341_3_0.woff2') format('woff2'), 
  url('/content/themes/base/font/384341_3_0.woff') format('woff'), 
  url('/content/themes/base/font/384341_3_0.ttf') format('truetype');
}


@font-face {
  font-family: 'ClarendonStd-Bold';
  src: url('/content/themes/base/font/384341_4_0.eot');
  src: url('/content/themes/base/font/384341_4_0.eot?#iefix') format('embedded-opentype'),
  url('/content/themes/base/font/384341_4_0.woff2') format('woff2'),
  url('/content/themes/base/font/384341_4_0.woff') format('woff'),
  url('/content/themes/base/font/384341_4_0.ttf') format('truetype');
}


/* Flaticon
   There is a mixin in mixins.scss for the .fi:before class.
   There are variables for each icon in variables.scss.
   -------------------------------------------------------------------------- */
// Example Flaticon

//@font-face {
//  font-family: "Flaticon";
//  src: url("/content/themes/base/font/Flaticon.eot");
//  src: url("/content/themes/base/font/Flaticon.eot?#iefix") format("embedded-opentype"),
//  url("/content/themes/base/font/Flaticon.woff") format("woff"),
//  url("/content/themes/base/font/Flaticon.ttf") format("truetype"),
//  url("/content/themes/base/font/Flaticon.svg#Flaticon") format("svg");
//  font-weight: normal;
//  font-style: normal;
//}
//
//@media screen and (-webkit-min-device-pixel-ratio:0) {
//  @font-face {
//    font-family: "Flaticon";
//    src: url("/content/themes/base/font/Flaticon.svg#Flaticon") format("svg");
//  }
//}
//
//.fi:before{
//  display: inline-block;
//  font-family: "Flaticon";
//  font-style: normal;
//  font-weight: normal;
//  font-variant: normal;
//  line-height: 1;
//  text-decoration: inherit;
//  text-rendering: optimizeLegibility;
//  text-transform: none;
//  -moz-osx-font-smoothing: grayscale;
//  -webkit-font-smoothing: antialiased;
//  font-smoothing: antialiased;
//}
//
//.flaticon-arrows:before { content: "\f100"; }
//.flaticon-rubbish-bin:before { content: "\f101"; }
//.flaticon-check:before { content: "\f102"; }