/**
   _variables.scss
*/

/* Site Max Width. Used in 03-base/_template.scss
   -------------------------------------------------------------------------- */
$site-max-width: 1920px;


/* FONTS FAMILY STYLES */
$fontMeltow300: 'MeltowSan300-Rust', sans-serif;
$fontMeltow200:	'MeltowSan200-Rust', sans-serif;
$fontClarendonLight: 'ClarendonStd-Light', serif;
$fontClarendonMed: 'ClarendonStd-Medium', serif;
$fontClarendonBold: 'ClarendonStd-Bold', serif;


/* COLORS */

//Brand Colours
$redstone:        #c61c27;
$darkredstone:    #9f1019;
$darkbrownstone:  #332214;
$yellowstone:     #FFE887;   // not used.

// Base Font colour
$blackstone: #222222;

// Supporting Colours
$white:     rgb(255,255,255);
$grey-100:  #eeeeee;
$grey-200:  #e5e5e5;
$grey-300:  #dbdbdb;
$grey-600:  #4d4d4f;

$greystone-500: #666666;

$mineshaft: #282828;  // slightly lighter black
$black:     rgb(0,0,0);

$formValidationColor: $redstone;

/*
Funky translucent backgrounds
--Use this as an example of how to generate them
*/

$alphaDarkBrown: rgba($darkbrownstone,0.97);
$alphaRed: rgba($redstone, 0.2);
$alphaBlack: rgba($black,0.2);


// SVG Logo Color
.st0 {
  fill: $white;
}
