/* General Styles for ACF Layouts */

.acf-layout {
  h2 {
    font-size: rems(40);
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 30px;

    @include media-breakpoint-up(sm) {
      font-size: rems(44);
    }

    @include media-breakpoint-up(md) {
      font-size: rems(62);
    }

    i {
      color: $redstone;
    }
  }

  a:not(.btn) {
    text-decoration: underline;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;

    @include media-breakpoint-up(lg) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
