/* General Archive Styling */

/* Archive - Content Listing Filters */
.content-listing-filters {
  text-align: center;
  padding-bottom: 30px;

  @include media-breakpoint-up(lg) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-bottom: 50px;
  }
  @include media-breakpoint-up(lg) {
    padding-bottom: 60px;
  }

  .filter__label {
    font-family: $fontMeltow300;
    text-transform: uppercase;
    margin-right: 10px;
    font-size: rems(20);
    display: block;

    @include media-breakpoint-up(md) {
      padding-top: 2px;
      font-size: rems(24);
    }

    @include media-breakpoint-up(xl) {
      display: inline-block;
      padding-top: 0;
      padding-bottom: 8px;
      font-size: rems(28);
    }
  }

  select.filter__options,
  input.filter__options {
    display: inline-block;
    width: 90%;
    background-position-y: 9px;
    min-width: 180px;
    margin-top: -2px;

    @include media-breakpoint-up(sm) {
      width: 80%;
    }

    @include media-breakpoint-up(md) {
      width: auto;
      margin-top: 0;
      margin-right: 10px;
    }
    @include media-breakpoint-up(xl) {

    }
  }

  i.far {
    font-family: 'FontAwesome';
    color:$redstone;
    display: inline-block;
    margin-left:-21px;
    margin-right: 6px;

    @include media-breakpoint-up(md) {
      margin-left:-30px;
      margin-right: 13px;
    }
    @include media-breakpoint-up(lg) {
      margin-top:14px;
    }
    @include media-breakpoint-up(xl) {
      margin-top:17px;
    }
  }
}

// Ajax Filter Count
.ajax-filter {
  .filter_count p {
    font-size: rems(14);
    color: $grey-600;
    margin: 0 15px 10px;
    @include media-breakpoint-up(sm) {
      margin: 0 0 10px;
    }
  }
}

// Feature Posts
.featured-posts {
  &__container {
    @include media-breakpoint-up(sm) {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}

// Archive Pages
.posts-list,
.activities-list,
.archive-list,
.activity-cats {

  &__container {
    display: flex;
    flex-wrap: wrap;

    @include media-breakpoint-up(sm) {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  .load-posts {
    margin-top: 10px;
    margin-bottom: 60px;
  }
}

/* Iteration of Archive Items */
.offer,
.post,
.activity,
.cat,
.archive-item {
  flex-basis: 100%;
  margin-bottom: 40px;
  height: auto;
  overflow-x: hidden; // required because of long-nonbreaking URLs.

  @include media-breakpoint-up(sm) {
    flex-basis: 50%;
  }

  &__count-3 {
    @include media-breakpoint-up(md) {
      flex-basis: 33.333%;
    }
  }

  &__count-4 {
    @include media-breakpoint-up(md) {
      flex-basis: 50%;
    }
  }

  @include media-breakpoint-up(lg) {
    flex-basis: 25%;
    flex-grow: 0;
    max-width: 470px;
  }

  &__inner {
    padding: 0 15px;
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  &__image {
    position: relative;
    padding-bottom: 94%;
    margin-bottom: 25px;
    overflow: hidden;
    order: 1;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      object-fit: cover;
      object-position: center;
    }

    a {

      img {

        @include transition;

        &:hover {
          transform: scale(1.025);
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    order: 2;

    &-group {
      flex: 1 0 auto;
    }

    &-last {
      flex-grow: 0;
      margin-top: 20px;
    }

    h3, h4 {
      font-family: $fontClarendonBold;
      font-size: rems(24);
      line-height: 1;
      margin-bottom: 15px;

      // Need the a:not because it is used else ware and we need to disable it here.
      a:not(.btn) {
        color: $darkbrownstone;
        text-decoration: none;
        display: unset;
        font-size: rems(24);
        margin: 0;

        @include media-breakpoint-up(md) {
          font-size: rems(28);
        }

        i {
          color: unset;
        }

        &:hover {
          color: lighten($darkbrownstone, 10%);
        }
      }
    }

    .expiry-date {
      margin-top: 20px;
      color: $greystone-500;
    }

    .publish-date {
      text-transform: uppercase;
      font-family: $fontClarendonBold;
      color: lighten($grey-600, 20%);
      margin-bottom: 20px;
    }
    a {
      text-decoration: underline;
    }

    a.btn {
      text-decoration: none;
      width: auto;
      text-transform: capitalize;
      align-self:flex-start;
      padding: 4px 8px;
      line-height: 1.3;

      &.website {
        background-color: $white;
        color: $redstone;
        border: 2px solid $redstone;

        &:hover {
          color: $darkredstone;
          border-color: $darkredstone;
        }
      }
    }
  }
}

.cat__content a.btn {
  margin-top: 20px;
}


.activity {
  a {
    word-wrap: break-word;
  }
}

.featured-post {
  @include media-breakpoint-up(sm) {
    flex-basis: 100%;
    max-width: none;

    .archive-item__inner {
      .archive-item__image {
        padding-bottom: 60%;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .archive-item__inner {
      flex-direction: row;

      .archive-item__image {
        flex: 0 0 55%;
        padding: 0;
        min-height: 300px;
        margin: 0;
      }

      .archive-item__content {
        padding: 40px;
        width: 100%;
      }
    }

    &:nth-child(2) {
      .archive-item__content {
        order: 1;
      }

      .archive-item__image {
        order: 2;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .archive-item__inner {
      .archive-item__image {
        min-height: 375px;
      }

      .archive-item__content {
        padding: 40px;
        font-size: 1.125rem;

        h3 {
          a {
            font-size: 2rem;
          }
        }

        &-last {
          a {
            font-size: 1.125rem;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .archive-item__inner {
      .archive-item__image {
        min-height: 450px;
      }

      .archive-item__content {
        padding: 80px;
        font-size: 1.25rem;

        h3 {
          a {
            font-size: 2.25rem;
          }
        }

        &-last {
          a {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
}

// Homepage Overrides
.home,
.related {
  .post {
    @include media-breakpoint-up(lg) {
      flex-basis: 33%;
      flex-grow: 0;
      max-width: 470px;
    }
  }
}

// Blog overrides
.blog h1 i {
  display: block;
  @include media-breakpoint-up(lg) {
    display: inline;
  }
}

// Blog post overrides
.single-post {
  .post-excerpt {
    padding-bottom: 20px;
  }
}
