/* Activites - Archive */

.activity-cats {
  .container {
    padding-top: 50px;
    padding-bottom: 50px;

    @include media-breakpoint-up(md) {
      padding-bottom: 100px;
    }
  }
}

.activity-cats {
  .cat {
    @include media-breakpoint-up(md) {
      flex: 0 0 33.333%;
    }
  }
}

.activities-archive {
  padding-bottom: 100px;

  h1 {
    line-height: 1.2;
  }

  .activity-content {

    @include media-breakpoint-up(md) {
      padding-bottom: 40px;
    }

    p:first-of-type {
      font-size: rems(18);

      @include media-breakpoint-up(md) {
        font-size: rems(20);
      }
    }

    // Postage Stamp Images
    div.aligncenter {
      margin: 30px auto 0;

      // Image Caption
      .wp-caption-text {
        font-size: 14px;
      }
    }

    img {
      width: 100%;
      display: block;
      padding-bottom: 20px;

      @include media-breakpoint-up(sm) {
        width: auto;

        &.alignright,
        &.alignleft,
        &.aligncenter {
          padding-bottom: 0;
        }
      }
    }

    img.alignleft {
      @include media-breakpoint-up(sm) {
        display: inline-block;
        float: left;
        padding: 0 35px 0 0;
      }
    }

    img.alignright {
      @include media-breakpoint-up(sm) {
        display: inline-block;
        float: right;
        padding: 0 0 0 35px;
      }
    }

    img.aligncenter {
      margin: 0 auto;
    }

  }


  .activity {
    font-size: 16px;
    //flex-grow: 1;

    @include media-breakpoint-up(sm) {
      flex-basis: 50%;
    }

    @include media-breakpoint-up(lg) {
      flex-basis: 33.33%;
    }

    h3 {
      text-transform: none;
      font-size: 24px;
      margin-bottom: 20px;

      a {
        font-size: 24px;
      }
    }

    &__info {
      flex-grow: 1;

      a {
        font-size: 16px;
        max-width: 100%;
        margin: 0;
      }
    }

    .btn {
      margin-top: 20px;
      font-size: 18px;
      font-family: $fontClarendonMed;
      flex-grow: 0;

    }
  }

  .main-content {
    order: 2;

    @include media-breakpoint-up(md) {
      order: 1;
    }
  }

  .activities-category-list {
    order: 1;

    @include media-breakpoint-up(md) {
      order: 2;
    }

    ul {
      list-style: none;
      margin-left: 0;
      padding-left: 0;
      border-bottom: 1px solid #f2f2f2;

      li {
        position: relative;
        border-top: 1px solid #f2f2f2;
        padding: 0 0 0 25px;
        line-height: 1;

        a {
          color: $blackstone;
          padding-top: 15px;
          padding-bottom: 15px;
          display: inline-block;
        }

        .children {
          display: none;
          margin-left: -25px;
          border-bottom: 0;

          li {
            padding-left: 60px;
            a {
              font-size: rems(14);
            }
          }
        }

        &.current-cat-ancestor, &.current-cat {
          .children {
            display: block;
          }
        }

        &.current-cat {
          a {
            color: $redstone;
            text-indent: -25px;

            &::before {
              content: ">";
              padding-right: 15px;
              font-family: $fontMeltow300;
              color: $redstone;
            }
          }

          .children {
            a {
              color: $blackstone;

              &::before {
                content: "";
              }
            }
          }
        }
      }
    }
  }
}