/* Basic Content

	BLOCK basic-content
		ELEMENT
		ELEMENT
			MOD
   -------------------------------------------------------------------------- */
.basic-content {
  padding-bottom: 50px;

  &+ .content-columns {
    padding-top: 0;
  }

  .centered {
    text-align: center;
  }
  // End of layout
}
