.content-columns {
  padding: 75px 0;

  .column {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(md) {
      flex: 0 0 100%;

      + .column {
        margin-top: 30px;
      }
    }

    &__image {
      position: relative;
      padding-bottom: 60%;
      margin-bottom: 30px;

      img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        object-fit: cover;
        object-position: center;
      }
    }

    &__content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      h3 {
        font-family: $fontClarendonMed;
        text-transform: none;
        font-size: 24px;
        margin-bottom: 1rem;
      }

      p {
        font-size: 16px;
        font-family: $fontClarendonLight;
      }

      .text {
        p:last-child {
          margin-bottom: 0;
        }
      }

      .buttons {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        margin-top: 1.5rem;

        a {
          background-color: transparent;
          padding: 0;
          text-decoration: underline;
          color: $redstone;
          font-family: $fontClarendonMed;
          border-radius: 0;
          text-transform: none;
          line-height: 1;

          @include media-breakpoint-up(md) {
            font-size: 1.125rem;
          }
        }
      }
    }
  }
}