.full-width-image-cta {
  position: relative;
  overflow: hidden;

  text-align: center;

  color: $white;
  padding: 140px 0;

  @include media-breakpoint-up(md) {
    padding: 150px 0 225px;
  }

  .logo-lockup {
    width: 210px;

    @include media-breakpoint-up(md) {
      width: 280px;
    }
  }

  .logo-lockup + &__content {
    margin-top: 30px;
  }

  h3 {
    text-transform: uppercase;
    font-size: 27px;
    color: $white;
    line-height: 1.2;
  }

  .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    z-index: -1;
  }

  &__content {
    max-width: 260px;
    margin: auto;
    color: $white;
  }

  .btn + .btn {
    margin-top:10px;
  }
}
