/* ACF Layout: Gallery */

.gallery {

  .container {
    padding: 50px 20px 100px;
  }

  .row {
    justify-content: flex-start;
  }

  .gallery-item {
    flex-basis: 100%;
    text-align: left;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    @include media-breakpoint-up(sm) {
      flex-basis: 50%;
    }

    @include media-breakpoint-up(md) {
      flex-basis: 33.333%;
    }

    @include media-breakpoint-up(lg) {
      max-width: 470px;
    }

    &__inner {
      @include media-breakpoint-up(sm) {
        padding: 0 15px;
      }
    }

    &__image {
      position: relative;
      padding-bottom: 60%;
      overflow: hidden;
      margin-bottom: 20px;
    }

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      object-fit: cover;
      object-position: center;
    }

    a {

      img {

        @include transition;

        &:hover {
          transform: scale(1.025);
        }
      }
    }
  }

  &.videos {
    .video-item {
      svg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 20%;
        height: auto;
        fill: $white;
        opacity: 0.9;
        transition: all 0.3s ease-in-out;
      }

      a:hover {
        svg {
          opacity: 1;
        }
      }
    }
  }

  &.images {
    .gallery-item {
      margin-bottom: 30px;

      @include media-breakpoint-up(lg) {
        flex-basis: 25%;
      }

      &__image {
        padding-bottom: 100%;
      }
    }
  }
}

.page-template-template--acf-layouts-with-sidebar {

  .gallery {
    background: none;

    .ripple {
      display: none;
    }

    .container {
      padding-top: 0;
    }

    .gallery-item {

      @include media-breakpoint-up(md) {
        flex-basis: 100%;
        max-width: 470px;
      }

      @include media-breakpoint-up(lg) {
        flex-basis: 50%;
      }

      @include media-breakpoint-up(xl) {
        flex-basis: 33.333%;
      }
    }
  }
}