/* Form 3: Request Vacation Guide */
#gform_3 {
  background-color: $white;
  border: solid 1px $grey-200;

  input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
  textarea {
    width: 100%;
  }

  select {
    width: 100%;
    background-color: $white;
    font-size: rems(16);
    color: $mineshaft;
  }

  .gform_body,
  .gform_footer {
    padding: 1.5rem;
    @include media-breakpoint-up(sm) {
      padding: 3rem;
    }
  }

  // Remove the spacing between the last form field and the footer submit
  .gform_body {
    padding-bottom: 0;
  }

  .gform_footer {
    padding-top: 0;
  }


  .gfield {
    .ginput_container_date {

    }
  }

  // Arrival and Departure Datepicker fields
  .ui-datepicker-title {
    select.ui-datepicker-month,
    select.ui-datepicker-year {
      padding: 0;
      background: none;
      border: none;
    }
  }

  #field_3_24 {
    textarea {
      height: 150px;
    }
  }


  #field_3_28 {
    margin-bottom: 10px;
  }

  #field_3_24,
  #field_3_29 {
    label {
      display: none;
    }
  }


  // Make smaller fields side-by-sides
  @include media-breakpoint-up(sm) {
    #field_3_25, // First Name
    #field_3_5, // Country
    #field_3_4, // City
    #field_3_28, // Arrival Date
    #field_3_15 { // Mode of transport
      display: inline-block;
      width: 49%;
      margin-right: 1%;
      margin-bottom: 20px;
    }

    #field_3_1, // Last Name
    #field_3_6, // State Prov
    #field_3_27, // Postal code
    #field_3_29, // Departure Date
    #field_3_16 { // Travel Party Size
      display: inline-block;
      width: 49%;
      margin-left: 1%;
    }
  }


  .gfield_checkbox,
  .gfield_radio {

    li {
      margin: 0;
      padding: 0;

      input[type="checkbox"],
      input[type="radio"] {
        opacity: 0;
        position: absolute;
      }

      label {
        position: relative;
        display: inline-block;

        /*20px width of fake checkbox + 6px distance between fake checkbox and text*/
        padding-left: 30px;


        &::before,
        &::after {
          position: absolute;
          content: '';

          /*Needed for the line-height to take effect*/
          display: inline-block;
        }

        /*Outer box of the fake checkbox*/
        &::before {
          height: 20px;
          width: 20px;
          border: solid 1px $grey-300;
          left: 0;

          /*(24px line-height - 20px height of fake checkbox) / 2 - 1px for the border
           *to vertically center it.
           */
          top: 1px;
        }

        /*Checkmark of the fake checkbox*/
        &::after {
          height: 7px;
          width: 11px;
          color: $redstone;

          border-left: 2px solid;
          border-bottom: 2px solid;

          transform: rotate(-45deg);

          left: 4px;
          top: 6px;
        }
      }

      /*Hide the checkmark by default*/
      input[type="checkbox"] + label::after,
      input[type="radio"] + label::after {
        content: none;
      }

      /*Unhide on the checked state*/
      input[type="checkbox"]:checked + label::after,
      input[type="radio"]:checked + label::after {
        content: "";
      }

      /*Adding focus styles on the outer-box of the fake checkbox*/
      input[type="checkbox"]:focus + label::before,
      input[type="radio"]:focus + label::before {
        outline: rgb(59, 153, 252) auto 5px;
      }
    }

  }

  .gfield_checkbox {
    @include media-breakpoint-up(lg) {
      column-count: 2;
      column-gap: 20px;
      -webkit-column-count: 2;
      -webkit-column-gap: 20px;
      -moz-column-count: 2;
      -moz-column-gap: 20px;
    }
  }

  .gfield_radio {
    li {
      display: inline-block;
      width: 100px;
    }
  }

  #field_3_44,
  #field_3_34,
  #field_3_45 {
    legend {
      display: none;
    }
    .gfield_checkbox {
      @include media-breakpoint-up(lg) {
        column-count: 1;
        column-gap: 20px;
        -webkit-column-count: 1;
        -webkit-column-gap: 20px;
        -moz-column-count: 1;
        -moz-column-gap: 20px;
      }
    }
  }

  #field_3_42 {
    legend {
      display: none;
    }
  }

  // Email List Opt. IN
  // Privacy & Terms of Use
  #field_3_43,
  #field_3_33 {

    legend {
      display: none;
    }

    li label, li label a {
      font-size: rems(14);
    }

    .gfield_checkbox {
      @include media-breakpoint-up(lg) {
        column-count: 1;
        column-gap: 20px;
        -webkit-column-count: 1;
        -webkit-column-gap: 20px;
        -moz-column-count: 1;
        -moz-column-gap: 20px;
      }
    }
  }
}