/* Form 4: Win a Trip */
#gform_4 {
  input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
  textarea {
    width: 100%;
    max-width: 550px;
  }
}