/* Form 2: Contact Form */
#gform_2 {
  input,
  textarea {
    width: 100%;
    max-width: 550px;
  }

  .gform_footer {

    input[type=submit] {
      width: 250px;
    }
  }
}

// Ajax conformation message is outside the form
#gform_confirmation_message_2 {
  margin: 30px 0;
  font-size: rems(24);
  color: $redstone;
}