/*  Form 1: Newsletter Sign-up  */

// Gravity Form No. 1

#gform_wrapper_1 {
  width: 100%;
  #error {
    display: none;
  }
}

#gform_1  {

    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: nowrap;
      text-align: center;
    }

    ul.gform_fields {
      @include media-breakpoint-up(md) {
        display: flex;
        flex-wrap: nowrap;
        text-align: center;
      }
    }

    .gform_body {
      position: relative;

      @include media-breakpoint-up(md) {
        flex: 1 1 33%;
      }

      // Make labels visible to screenreaders only
      label.gfield_label {
        border: 0 none;
        clip: rect(0px, 0px, 0px, 0px);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

      li {
        width: 100%;
        position: relative;
        margin-bottom: 0;

        input {
          width: 100%;
          padding: 10px 20px;
        }
      }

      #field_1_1,
      #field_1_3 {
        input {
          border-bottom: 0;

          @include media-breakpoint-up(md) {
            border-right: 0;
            border-bottom: 1px solid #e5e5e5;
          }
        }
      }

      #field_1_2 {
        min-width: 180px;
      }

      #field_1_4 {
        display: none;
      }

      .validation_message {
        position:absolute;
        font-weight: 500;
        bottom:1px;
        left: 20px;
        font-size: 55%;
      }
    }

    .gform_footer {
      position: relative;

      input[type=submit] {
        height: 50px;
        border-radius: 4px;
        margin:20px auto 0;
        text-align: center;
        @include transition;

        @include media-breakpoint-up(md) {
          border-radius: 0 2px 2px 0;
          margin:0;
        }
      }
    }
  }

//
#gform_confirmation_message_1 {
  margin: 30px 0;
  font-size: rems(24);
  color: $redstone;
}