/* Form 5: Download Guide Form */
#gform_5 {
  input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
  textarea {
    width: 100%;
    max-width: 550px;
  }

  // Make smaller fields side-by-sides
  @include media-breakpoint-up(sm) {
    #field_5_1 { // First Name
      display: inline-block;
      width: 49%;
      margin-right: 1%;
      margin-bottom: 20px;
    }

    #field_5_2 { // Last Name
      display: inline-block;
      width: 49%;
      margin-left: 1%;
    }
  }

  // Privacy and Terms of Use
  #field_5_5 {
    legend {
      display: none;
    }

    li label, li label a {
      font-size: rems(14);
    }
  }

  .gform_confirmation_message {
    text-align: center;
  }

  input[type=submit] {
    font-size: rems(20);
    font-family: $fontMeltow200;
  }

  span.gfield_required {
    display: none;
  }


  .gfield_checkbox,
  .gfield_radio {

    li {
      margin: 0;
      padding: 0;

      input[type="checkbox"],
      input[type="radio"] {
        opacity: 0;
        position: absolute;
      }

      label {
        position: relative;
        display: inline-block;

        /*20px width of fake checkbox + 6px distance between fake checkbox and text*/
        padding-left: 30px;


        &::before,
        &::after {
          position: absolute;
          content: '';

          /*Needed for the line-height to take effect*/
          display: inline-block;
        }

        /*Outer box of the fake checkbox*/
        &::before {
          height: 20px;
          width: 20px;
          border: solid 1px $grey-300;
          left: 0;

          /*(24px line-height - 20px height of fake checkbox) / 2 - 1px for the border
           *to vertically center it.
           */
          top: 1px;
        }

        /*Checkmark of the fake checkbox*/
        &::after {
          height: 7px;
          width: 11px;
          color: $redstone;

          border-left: 2px solid;
          border-bottom: 2px solid;

          transform: rotate(-45deg);

          left: 4px;
          top: 6px;
        }
      }

      /*Hide the checkmark by default*/
      input[type="checkbox"] + label::after,
      input[type="radio"] + label::after {
        content: none;
      }

      /*Unhide on the checked state*/
      input[type="checkbox"]:checked + label::after,
      input[type="radio"]:checked + label::after {
        content: "";
      }

      /*Adding focus styles on the outer-box of the fake checkbox*/
      input[type="checkbox"]:focus + label::before,
      input[type="radio"]:focus + label::before {
        outline: rgb(59, 153, 252) auto 5px;
      }
    }
  }
}

#gform_confirmation_message_5 {
  margin-top:20px;
  text-align: center;
  font-style: italic;
}


