/* I-90 Shuffle - Google Map

	BLOCK basic-content
		ELEMENT
		ELEMENT
			MOD
   -------------------------------------------------------------------------- */

.i90-shuffle {
  padding-bottom: 20px;

  h2 {
    text-align: center;

    &::first-line {
      color: $redstone;
    }
  }


    #route-options {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: -20px;
      z-index: z('map-routes');

      @include media-breakpoint-up(sm) {
        flex-wrap: nowrap;

      }

      .btn {
        position: relative;
        display: inline-block;
        border-radius: 0;
        background-color: $mineshaft;
        padding:3px 10px;
        margin:0 1px;
        z-index: z('map-routes');
        font-size: rems(14);

        @include media-breakpoint-up(sm) {
          padding:5px 20px;
          font-size: rems(16);
        }
        @include media-breakpoint-up(lg) {
          padding:10px 30px;
        }
      }
      .btn-active {
        background-color: $redstone;
        &::after {
          position: absolute;
          bottom:-10px;
          left: calc(50% - 10px);
          content: "";
          width: 0;
          height: 0;
          border-top: solid 10px $redstone;
          border-right: solid 10px transparent;
          border-left: solid 10px transparent;
        }
      }
    }

  // Google Map
    #map-canvas {
      width: 100%;
      max-width: 1920px;
      height: 700px;
    }

  // End of layout
}