/* ACF Layout: Image */

.acf-layout
+ .acf-layout__image {
  padding-top: 10px;
  @include media-breakpoint-up(md) {
    padding-top: 20px;
  }
  @include media-breakpoint-up(xl) {
    padding-top:30px;
  }
}

.acf-layout__image {

  padding-bottom: 30px;

  figure {
    border-bottom: solid 1px $grey-200;


    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

    figcaption {
      font-size: rems(14);
      padding: 10px 10px;
    }
  }

  // End of layout
}