/* Layout:  Offers & Featured Posts */

.offers,
.featured-posts {
  text-align: center;
  padding-bottom: 50px;

  @include media-breakpoint-up(md) {
    padding-bottom: 80px;
  }


  @include media-breakpoint-up(xl) {
    padding-bottom: 100px;
  }

  &__intro {
    position: relative;

    a {
      margin-bottom: 30px;
      display: block;

      @include media-breakpoint-up(lg) {
        margin: 0;
        position: absolute;
        right: 15px;
        top: 20px;
      }
    }
  }

  &__container {
    @include media-breakpoint-up(sm) {
      margin-left: -15px;
      margin-right: -15px;
    }

    .swiper-buttons {

      @include media-breakpoint-up(lg) {
        display: none;
      }


      &.swiper__count-2 {
        @include media-breakpoint-up(sm) {
          display: none;
        }
      }

      &.swiper__count-3 {
        @include media-breakpoint-up(md) {
          display: none;
        }
      }

      &.swiper__count-4 {
        @include media-breakpoint-up(lg) {
          display: none;
        }
      }

      .swiper-button-prev,
      .swiper-button-next {
        width: 14px;
        height: 24px;
        outline: none;
        background: url('/content/themes/base/img/red-arrow.png');
        background-size: 100% auto;
        right: -2px;
      }

      .swiper-button-prev {
        transform: rotate(180deg);
        left: -2px;
        right: auto;
      }
    }
  }

  .view-all {
    margin-top: 20px;
  }
}

.featured-posts {
  h2.blog-heading {
    margin-bottom: 25px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 50px;
    }

    span {
      font-size: rems(27);
      display: block;
      text-align: center;
      line-height: 20px;

      @include media-breakpoint-up(md) {
        display: inline-block;
        text-align: left;
        max-width: 130px;
      }
    }
  }

  .btn {
    margin-top: 20px;
  }
}

.offers {
  .swiper-wrapper {
    justify-content: initial;

    @include media-breakpoint-up(md) {
      justify-content: center;
    }
  }

  .offer__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    &-group {
      flex: 1 0 auto;

    }

    &-last {
      flex-grow: 0;
      margin-top: 20px;
    }

    p {
      margin-bottom: 0;
      line-height: 1.2;
    }
  }
}


.post-type--activities {
  .post {
    &__inner {
      h3 {
        a {
          text-transform: none;
          text-decoration: none;
        }
      }

      .phone-number {
        font-size: 16px;
      }
    }
  }
}

.home-featured {
  padding-bottom: 0;
  @include media-breakpoint-up(lg) {
    padding-bottom: 50px;
  }
}