/* Template: Page with sidebar */

.basic-page-with-sidebar {

  > .container {
    @include media-breakpoint-up(md) {
      margin-top: 20px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 40px;
    }
  }

  .content {

    //Wordpress WYSIWYG img settings

    // Image Caption
    .wp-caption-text {
      font-size: 14px;
    }

    img {
      width: 100%;
      display: block;
      padding-bottom: 20px;

      @include media-breakpoint-up(sm) {
        width: auto;

        &.alignright,
        &.alignleft,
        &.aligncenter {
          padding-bottom: 0;
        }
      }
    }
    div.alignleft,
    img.alignleft {
      @include media-breakpoint-up(sm) {
        display: inline-block;
        float: left;
        padding: 0 35px 0 0;
      }
    }
    div.alignright,
    img.alignright {
      @include media-breakpoint-up(sm) {
        display: inline-block;
        float: right;
        padding: 0 0 0 35px;
      }
    }
    div.aligncenter,
    img.aligncenter {
      margin: 0 auto;
    }

  }


  .press-releases {

    h2 {
      line-height: 1.1;
    }

    .archive-item {

      @include media-breakpoint-up(md) {
        flex-basis: 100%;
      }

      @include media-breakpoint-up(lg) {
        flex-basis: 50%;
      }
      @include media-breakpoint-up(xl) {
        flex-basis: 33.333%;
      }

    }

  }

  // Sidebar menu
  .sidebar {
    padding-bottom: 40px;
    order: 1;

    @include media-breakpoint-up(sm) {
      padding-bottom: 60px;
    }

    @include media-breakpoint-up(md) {
      order: 2;
    }

    .page-menu {
      list-style: none;
      margin-left: 0;
      padding-left: 0;
      border-bottom: 1px solid $grey-100;

      li {
        position: relative;
        border-top: 1px solid $grey-100;
        padding: 0;
        line-height: 1;
        margin: 0;

        a {
          color: $blackstone;
          padding-top: 15px;
          padding-bottom: 30px;
          display: inline-block;

          font-size: rems(32);
          font-family: $fontMeltow300;
        }

        &.current_page_item {
          > a {
            color: $redstone;
            text-indent: -23px;

            &:hover {
              text-decoration: none;
            }


            &::before {
              content: ">";
              padding-right: 15px;
              font-family: $fontMeltow300;
              color: $redstone;
              line-height: 0.8;
            }
          }

          .children {
            a {
              color: $blackstone;

              &::before {
                content: "";
              }
            }
          }
        }

        .children {
          //display: none;
          margin-left: 0;
          border-bottom: 0;
          list-style: none;
          padding-left: 0;

          li {
            padding-left: 25px;
            padding-bottom: 0;

            a {
              font-size: rems(16);
              font-family: $fontClarendonLight;
              padding-bottom: 15px;
            }

            .children {
              li {
                margin-left: -25px;
                padding-left: 50px;

                a {
                  font-size: rems(14);
                }

                &.current_page_item {
                  > a {
                    color: $redstone;
                    text-indent: -22px;
                  }
                }
              }
            }
          }
        }


      }

      // Remove border above 1st line
      > li {
        border: none;

        &.current_page_item {
          a {
            color: $blackstone;
            text-indent: 0;

            &::before {
              content: "";
            }
          }
        }
      }
    }

    // Remove right padding from the first item
    .page-menu li.page-item-16.current_page_item a::before {
      padding-right: 0;
    }
  }

  .main-content {
    order: 2;
    @include media-breakpoint-up(md) {
      order: 1;
    }
  }
  // end of page with sidebar template styles
}

.mobile-sidebar-toggle {
  width: 100%;
  max-width: 350px;
  margin: 0 15px 30px;

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.sidebar-mobile {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.sidebar-desktop {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}