// Single:  Posts, Offers, Events
// Note -- home.php template is used for single-posts

.single-accommodation,
.single-offer,
.single-event {
  .container:last-of-type {
    padding-bottom: 50px;

    @include media-breakpoint-up(md) {
      padding-bottom: 80px;
    }
  }

  h1 {
    line-height: 0.8;
    margin-bottom: 30px;

    @include media-breakpoint-up(md) {
      margin-bottom: 50px;
    }
  }

  .blog-heading.single {
    span {
      @include media-breakpoint-up(md) {
        max-width: 200px;
      }
    }
  }

  .offer,
  .post,
  .activity,
  .cat,
  .archive-item {
    &__image {
      @include media-breakpoint-up(md) {
        margin-top: 20px;
      }
    }
  }

  &.has-image {
    //  .row {
    //    justify-content: space-between;
    //
    //    .col-md-8 {
    //      max-width: 850px;
    //    }
    //  }
  }

}

.single-accommodation,
.single-post,
.single-offer,
.single-event {
  .offered-by {
    font-style: italic;
    margin-bottom: 30px;
  }

  .contact-info,
  .event-info {
    font-size: rems(18);
    margin-bottom: 30px;
    word-wrap: break-word;

    span {
      font-family: $fontClarendonBold;
    }

    a {
      font-size: rems(18);
    }
  }
}


// Single Events Template
.single-events {
  .featured-posts__intro {

    // Because the More Upcoming Events heading is long, need to alter the breakpoints to trigger on a custom size
    a {
      @include media-breakpoint-up(lg) {
        position: static;
        display: block;
        margin-bottom: 30px;
      }

      @media (min-width: 1130px) {
        position: absolute;
        margin-bottom: 0;
      }
    }
  }
}

// Single Accommodations Template
.single-accommodations {
  .featured-posts__intro {

    // Because the More Upcoming Events heading is long, need to alter the breakpoints to trigger on a custom size
    a {
      @include media-breakpoint-up(lg) {
        position: static;
        display: block;
        margin-bottom: 30px;
      }

      @media (min-width: 1300px) {
        position: absolute;
        margin-bottom: 0;
      }
    }
  }
}