/* Single Video */

.single-video {
  padding-bottom: 50px;

  .container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;

    @include media-breakpoint-up(xl) {
      padding-bottom: 43.75%; /* 16:9 */
    }

    iframe {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}