/* Post Type:  Single Post */

.single-post {


  h1 {
    @include media-breakpoint-up(xl) {
      font-size: rems(62);
    }
  }

  .article-info {
    padding-bottom: 20px;

    @include media-breakpoint-up(md) {
      padding-bottom: 40px;
    }

    .byline {
      padding-bottom: 10px;
    }

    .date {
      padding-bottom: 20px;
      border-bottom: solid 1px $grey-200;
      @include media-breakpoint-up(md) {
        padding-bottom: 40px;
      }
    }
  }

  // Increase the font size in the first basic paragraph layout, first paragraph.
  .acf-layout__basic-paragraph:first-of-type {

    p:first-of-type {
      font-size: rems(18);

      @include media-breakpoint-up(md) {
        font-size: rems(20);
      }
    }
  }

  // Because we allow posting to the wysiwyg blog field, need to support some styles.
  .wysiwyg {

    @include media-breakpoint-up(md) {
      padding-bottom: 40px;
    }

    p:first-of-type {
      font-size: rems(18);

      @include media-breakpoint-up(md) {
        font-size: rems(20);
      }
    }

    // Image Caption
    p.wp-caption-text {
      font-size: 14px;
    }

    // Thumbnail Images
    .aligncenter,
    .alignleft,
    .alignright  {
      margin-top:10px;
    }

    img {
      width: 100%;
      display: block;
      padding-bottom: 20px;

      @include media-breakpoint-up(sm) {
        width: auto;

        &.alignright,
        &.alignleft,
        &.aligncenter {
          padding-bottom: 0;
        }
      }
    }

    div.alignleft,
    img.alignleft {
      @include media-breakpoint-up(sm) {
        display: inline-block;
        float: left;
        padding: 0 35px 0 0;
      }
    }

    div.alignright,
    img.alignright {
      @include media-breakpoint-up(sm) {
        display: inline-block;
        float: right;
        padding: 0 0 0 35px;
      }
    }

    div.aligncenter,
    img.aligncenter {
      margin: 0 auto;
    }
  }

  // Share this component at the bottom of blog articles
  .sharethis {
    text-align: center;
    font-family: $fontMeltow300;
    font-size: rems(22);
    margin-top: 30px;
    padding-bottom: 80px;


    // Grey Line
    hr {
      height: 1px;
      background-color: $grey-200;
      max-width: 440px;
      border: none;
    }

    // ShareThis text and icons
    p {
      margin-top: 30px;
      font-family: $fontMeltow300;
      font-size: rems(24);

      span {
        display: inline-block;
      }

      // Share this Story -- Text CTA
      span.share-text {
        display: block;

        @include media-breakpoint-up(sm) {
          margin-right: 10px;
          display: inline-block;
        }
      }

      // Share Icons -- using favicons, hard coded in the template
      i {
        display: inline-block;
        padding: 0 5px;
        font-style: normal;
        color: $redstone;
        cursor: pointer;
        @include transition();

        &:hover {
          color: $darkredstone;
        }
      }
    }
  }

  .featured-posts {
    &__intro {
      h2.blog-heading {
        span {
          @include media-breakpoint-up(md) {
            max-width: 200px;
          }
        }
      }

      a {
        right: 15px;
      }
    }
  }


  // Offers located at the bottom of the blog article
  .offers {
    background: none;
  }

  .post__image {
    img {
      object-fit: contain;
      object-position: top center;
    }
  }

  + .related {
    margin-top: 30px;

    @include media-breakpoint-up(md) {
      margin-top: 40px;
    }

    @include media-breakpoint-up(xl) {
      margin-top: 60px;
    }
  }
  // End of file
}

.single-post + .featured-posts {
  margin-top: 20px;

  @include media-breakpoint-up(md) {
    margin-top: 40px;
  }

  @include media-breakpoint-up(xl) {
    margin-top: 60px;
  }
}