/* ACF Layout: Text with Image */

.acf-layout__text-with-image {
  margin-top: 20px;
  padding-bottom: 30px;

  .image {
    margin-top: 10px;
  }

  figure {
    border-bottom: solid 1px $grey-200;
    margin-bottom: 30px;

    img {
      width: 100%;
      object-fit: cover;
      object-position: center;

    }

    figcaption {
      font-size: rems(14);
      padding: 10px 10px;
    }
  }

}