.two-tiles {
  .tile {
    padding: 0;
    display: flex;
    align-items: flex-end;
    position: relative;
    min-height: 400px;

    @include media-breakpoint-up(lg) {
      min-height: 600px;
    }

    @include media-breakpoint-up(xl) {
      min-height: 800px;
    }


    &__content {
      position: relative;
      padding: 50px 40px;
      max-width: 400px;

      @include media-breakpoint-up(md) {
        padding-bottom: 80px;
      }

      @include media-breakpoint-up(lg) {
        padding: 150px 85px;
        max-width: 500px;
      }

      @include media-breakpoint-up(xl) {
        max-width: 700px;
      }

      h3 {
        color: $white;
        font-size: 30px;
        line-height: 1;
        text-shadow: 0 0 20px $black;

        @include media-breakpoint-up(xl) {
          font-size: rems(48);
        }
      }
    }

    &__image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &__0 {
      justify-content: flex-end;
      text-align: right;
    }

    &__1 {
      .tile__content {
        padding-bottom: 80px;

        @include media-breakpoint-up(lg) {
          padding-bottom: 150px;
        }
      }
    }
  }
}