/* Vacation Guide */

.vacation-guide-cta {
  position: relative;
  padding: 0 0 100px;

  &.has-bg-img {
    padding: 0 0 340px;

    @include media-breakpoint-up(md) {
      padding: 0 0 400px;
    }
  }

  .row {
    align-items: flex-start;
  }

  &__container {
    max-width: 935px;
    padding-top: 0;

    @include media-breakpoint-up(sm) {
      padding-top: 10px;
    }

    @include media-breakpoint-up(md) {
      padding-top: 50px;
    }

    h1, h2 {
      text-align: center;
      font-size: rems(44);
      text-transform: uppercase;
      line-height: 1;
      margin-bottom: 30px;

      @include media-breakpoint-up(md) {
        text-align: left;
        font-size: rems(62);
      }
    }
  }

  .vacation-guide {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-up(md) {
      display: inline-block;
      max-width: 320px;
    }

    &__image {
      @include media-breakpoint-up(md) {
        margin-bottom: 15px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    &__content {
      margin-top: 10px;
      margin-left: 15px;
      font-family: $fontMeltow300;

      @include media-breakpoint-up(md) {
        width: 100%;
        margin: 0;
        max-width: none;
      }

      h3, .h3 {
        text-align: center;
        font-size: rems(30);
        text-transform: uppercase;
        margin-bottom: 10px;

        i {
          color: $blackstone;
          font-size: 30px;
          line-height: 0.75;
          display: block;
          font-family: $fontMeltow300;
          position: relative;

          @include media-breakpoint-up(md) {
            font-size: rems(40);
          }
        }
      }

      p.download {
        text-transform: uppercase;
        text-decoration: none;
        color:$redstone;
        font-size: rems(24);
        line-height: 1;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .background {
    width: auto;
    height: 600px;
    position: absolute;
    top: auto;
    bottom: 0;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
    object-position: center;
    z-index: -1;
    max-width: none;

    @include media-breakpoint-up(md) {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      transform: none;
    }
  }

  // The download has a modal dialogue box with a gravity form.  Need to adjust sizing of the heading

  .modal-dialog {
    @include media-breakpoint-up(lg) {
      max-width: 675px;
    }

    .modal-body {

      padding-bottom: 40px;

      h2 {
        margin-left: 20px;
        font-size: rems(30);
        text-align: center;

        @include media-breakpoint-up(sm) {
          margin-left: 0;
          text-align: left;
        }

        @include media-breakpoint-up(lg) {
          font-size: rems(34);
          margin-top: 40px;
        }

        i {
          font-size: rems(50);
          display: block;
          line-height: 0.9;
        }
      }
    }
  }
}