/* ACF Layout: Weather */

.weather {

  .swiper-container {
    height:100%;
  }

  .swiper-slide {
    flex-basis: 100%;

    @include media-breakpoint-up(sm){
      flex-basis: 50%;
    }
    @include media-breakpoint-up(md) {
      flex-basis: 33%;
    }
    @include media-breakpoint-up(lg) {
      flex-basis: 25%;
    }
    @include media-breakpoint-up(xl) {
      flex-basis: 20%;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 20px;
    height: 33px;
    outline: none;
    background: url('/content/themes/base/img/red-arrow.png');
    background-size: 100% auto;
    right: 0;
  }

  .swiper-button-prev {
    transform: rotate(180deg);
    left: 0;
    right: auto;
  }

  .weather-page__weather-group {
    border-color: $grey-300;
  }

  .weather-card {
    border:none;
    padding:0 15px;
    @include media-breakpoint-up(sm) {
      //border-right: solid 1px $gray-200;
    }
  }

  .weather-page__data-source {
    margin-top: 0;
    a {
      font-size: 14px;
      color: $grey-600;
    }
  }

}