/* All Ships by Destination - paragraph type */

.paragraph--type--all-ships-by-destination {

  @media (min-width: 1400px){
    //margin:0 -10px;
  }

  header {
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-up(xl) {
      height: 235px;
    }

    h1, h2, h3, h4 {
      font-family: $CeraPRO-Medium;
      color: $blue;
      font-size: rems(24);
      margin-bottom: 0;

      @include media-breakpoint-up(md) {
        font-size: rems(32);
      }

      @include media-breakpoint-up(xl) {
        font-size: rems(42);
        letter-spacing: 0.02em;
        margin-bottom: 5px;

      }
    }

    .field--name-field-link a {
      font-family: $CeraPRO-Medium;
      font-size: rems(18);

      @include grow_text_link;
      @include caret($teal);

      &::after {
        margin-top: -10px;
        margin-left: 10px;
        transform: rotate(-90deg);
      }
    }
  }

  .views-row {
    margin-bottom: 60px;



    .node--type-ship {
      height: 100%;

      .node__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (min-width: 1400px) {
          padding:0 10px;
        }

        .field--name-field-media-image {

          //Field image will output field__item, need to disable this as it messes with the flex column.   Note that this flex item does not grow.
          &.field__item {

          }

          // Media has display flex applied to the class that comes from Bootstrap.  Need to disable it for this layout.
          .media {
            display: block;
          }

          // Apply the size, cover technique for images.
          .field--name-field-media-image {
            position: relative;
            padding-bottom: 75%;
            width: 100%;

            @media (min-width: 400px) {
              padding-bottom: 60%;
            }

            @include media-breakpoint-up(sm) {
              padding-bottom: 70%;
            }

            img {
              position: absolute;
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
        }


        // Ship Name
        h2 {
          margin-top: 10px;
          margin-bottom: 10px;

          @include media-breakpoint-up(md) {
            margin-top: 20px;
          }

          @include media-breakpoint-up(xl) {
            margin-top: 35px;
          }

          a {
            font-family: $CeraPRO-Medium;
            font-size: rems(20);
            color: $blue;

            @include media-breakpoint-up(md) {
              font-size: rems(24);
            }
            @include media-breakpoint-up(lg) {
              font-size: rems(32);
            }
            @include media-breakpoint-up(xl) {
              font-size: rems(28);
            }
            @media (min-width: 1400px) {
              font-size: rems(32);
            }
          }
        }
      }

      // Pricing
      .field--name-field-pricing {
        color: $blue;
        letter-spacing: -0.01em;
        font-size: rems(20);
        font-family: $CeraPRO-Medium;
        margin-bottom: 20px;

        @include media-breakpoint-up(sm) {
          margin: 25px 0 20px;
        }

        .field__label {
          font-weight: normal;
          padding-right: 0.3em;

          &::after {
            content: " \2013"; // Escaped hex entity value for ndash ;
          }
        }
      }

      .field--name-field-short-description {
        font-size: rems(18);
        margin-bottom: auto;

        @include media-breakpoint-up(sm) {
          font-size: rems(20);
        }
      }

      .key-features {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 40px;
        padding-bottom: 10px;

        & > .field {
          width: 25%;
          min-width: 120px;
          //padding-left: 10px;
          //padding-right: 10px;
          @media screen and (max-width: 1550px) and (min-width: 1200px) {
            width: 50%;
          }
          @media screen and (max-width: 1050px) and (min-width: 768px) {
            width: 50%;
          }
          @include media-breakpoint-down(xs) {
            width: 50%;
          }
        }

        .paragraph--type--icon-with-text {
          height: 110px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;

          .icon {
            width: 100%;
          }

          // SVG Icon
          svg {
            height: 40px;
            fill: $blue;
            margin-bottom: 10px;
          }

          .taxonomy-term {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            // Term Name -- hide it because we are not using it in this views
            .field--name-name {
              display: none;
            }

            & * {
              color: $blue;
            }
          }

          .field--name-field-title {
            font-family: $CeraPRO-Medium;
            color: $blue;
            text-align: center;
            font-size: rems(18);
            line-height: 1.2;
          }
        }
      }

      // Bottom of column Button Links
      .ship-links {
        border-top: 1px solid $light-teal-fade;
        border-bottom: 1px solid $light-teal-fade;
        padding: 5px 0;

        @include media-breakpoint-up(lg) {
          display: flex;
          justify-content: space-around;
          flex-wrap: nowrap;
        }

        .field--type-link {
          a {
            display: inline-block;
            margin: 10px 20px;
            font-size: rems(18);
            font-family: $CeraPRO-Medium;
            white-space: nowrap;

            @include grow_text_link;
            @include caret($teal);

            @include media-breakpoint-up(lg) {
              margin: 10px 0;
            }

            @include media-breakpoint-up(xl) {
              font-size: rems(16);
            }
            @media (min-width: 1600px) {
              font-size: rems(18);
            }

            &::after {
              margin-top: -10px;
              margin-left: 6px;
              transform: rotate(-90deg);
            }
          }
        }
      }
    }
  }

  .ships-selected-ships {
    @include media-breakpoint-up(sm) {
      padding-left: 20px;
      padding-right: 20px;
    }

    .container-fluid {
      padding: 0;

      @include media-breakpoint-up(sm) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .row {
      margin: 0;

      @include media-breakpoint-up(sm) {
        margin-left: -15px;
        margin-right: -15px;
      }
    }

    .views-row {
      margin-bottom: 0;
      padding: 0;

      @include media-breakpoint-up(sm) {
        padding: 20px;
        padding-top: 15vw;
      }

      @media(min-width: 1920px) {
        padding-top: 280px;
      }

      .node--type-ship {
        background-color: $light-teal-fade;
        @include media-breakpoint-up(sm) {
          padding: 20px;
        }

        .node__content {
          padding: 0;
        }

        .field--name-field-media-image {
          position: relative;
          height: 300px;
          width: 100%;
          padding: 0;

          @include media-breakpoint-up(sm) {
            height: 45vw;
            margin-top: -15vw;
          }

          @include media-breakpoint-up(lg) {
            height: 35vw;
          }

          @media(min-width: 1920px) {
            height: 630px;
            margin-top: -280px;
          }

          .media {
            height: 100%;
          }

          .field--name-field-media-image {
            height: 100%;
            margin: 0;
            padding: 0;
          }
        }

        .ship-content {
          padding: 40px 20px;
          flex-grow: 1;

          .card__text {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }

          .field--name-field-short-description {
            margin-top: 30px;
          }

          .key-features {
            margin-bottom: 20px;
            margin-left: -5px;
            margin-right: -5px;

            .paragraph--type--icon-with-text {
              height: auto;
              padding: 0 5px;
              margin: 10px 0;
            }
          }

          .key-features > .field {
            width: auto;
            flex: 0 0 50%;
            min-width: 1px;

            @include media-breakpoint-up(md) {
              //flex: 1 1 auto;
              //flex-wrap: nowrap;
            }

            @include media-breakpoint-up(xl) {
              //flex: 0 0 50%;
              //max-width: none;
              //flex-wrap: wrap;
            }

            @media(min-width: 1400px) {
              flex: 1 1 auto;
              flex-wrap: nowrap;
            }
          }

          h2 {
            a {
              font-size: 24px;
              color: $blue;

              @include media-breakpoint-up(md) {
                font-size: 36px;
              }

              @include media-breakpoint-up(xl) {
                font-size: 42px;
              }
            }
          }

          .field--name-field-pricing {
            color: $blue;
            font-size: 20px;
            font-family: $CeraPRO-Medium;
            margin: 0;
          }

          .ship-links {
            border-top: 1px solid #B1E0D8;
            border-bottom: 1px solid #B1E0D8;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            @include media-breakpoint-up(sm) {
              flex-wrap: nowrap;
              justify-content: space-around;
            }

            .field--type-link {
              min-width: 1px;
              flex: 0 1 auto;

              @include media-breakpoint-up(sm) {
                flex: 0 0 auto;
              }

              a {
                margin: 0 10px;
                padding: 10px 18px 10px 0;
                white-space: normal;
                position: relative;

                &::after {
                  position: absolute;
                  top: 50%;
                  margin-top: -3px;
                  right: 0;
                }
              }
            }
          }
        }
      }
    }

    .selected-ships--full {
      .node--type-ship {
        @include media-breakpoint-up(sm) {
          padding: 20px;
        }
      }
      @include media-breakpoint-up(sm) {
        padding-top: 15vw;
      }

      @include media-breakpoint-up(lg) {
        .node--type-ship {
          .node__content {
            .ship-content {
              .key-features {
                flex-wrap: nowrap;

                .field {
                  flex: 1 1 auto;
                }
              }
            }
          }
        }
      }

      @include media-breakpoint-up(xl) {
        padding-left: 15vw;
        padding-top: 7vw;

        .node--type-ship {
          .node__content {
            flex-direction: row;
            align-items: flex-start;

            .field--name-field-media-image {
              flex: 0 0 53%;
              margin-left: -15vw;
              margin-top: -7vw;

              .field--name-field-media-image {
                margin: 0;
              }
            }

            .ship-content {
              padding: 10px 20px 10px 40px;

              .card__text {
                padding: 40px 0;
                min-height: 30vw;
              }
            }
          }
        }
      }

      @media(min-width: 1920px) {
        padding-top: 170px;
        padding-left: 215px;

        .node--type-ship {
          .node__content {
            .field--name-field-media-image {
              margin-left: -215px;
              margin-top: -140px;

              .field--name-field-image {
                .field--type-image {
                  //margin-top: -170px;
                }
              }
            }

            .ship-content {
              padding: 20px 70px 20px 90px;

              .card__text {
                min-height: 510px;
              }
            }
          }
        }
      }
    }
  }
}