/* Anchor Menu */

.paragraph--type--anchor-menu {
  background-color: $teal;
  text-align: center;
  padding: 10px;

  // Allow to overflow on the x-axis, set mobile to touch scroll
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  @include media-breakpoint-up(md) {
    padding: 20px 15px;
  }

  &.sticky {
    // Added then removed sticky functionality
    /*position: fixed;
    z-index: 150;
    top: 0;
    width: 100%;
    max-width: $site-width; */
  }

  @include media-breakpoint-up(lg) {
    //remove overflow behavior
    overflow-x: initial;
    -webkit-overflow-scrolling: initial;
  }

  // Added then removed slider functionality
  /*.slick__slider {
    padding: 10px 25px;

    @include media-breakpoint-up(sm) {
      display: flex;
      justify-content: center;
    }

    @include media-breakpoint-up(md) {
      padding: 20px 15px;
    }

    .slick__slide {
      padding: 0 3px;

      @include media-breakpoint-up(sm) {
        padding: 0 6px;
      }

      @include media-breakpoint-up(md) {
        padding: 0 20px;
      }

      @include media-breakpoint-up(lg) {
        padding: 0 25px;
      }
    }
  }

  .slick-disabled.slick-arrow--cardslider {
    opacity: 0.4 !important;
  }

  .slick-prev.slick-arrow--cardslider,
  .slick-next.slick-arrow--cardslider {
    width: 25px;
    height: 50px;
    border-radius: 2px;
    opacity: 0.9;

    @include media-breakpoint-up(sm) {
      display: none;
    }

    &::before {
      width: 8px;
      height: 8px;
      right: 0;
    }

    &:hover, &:focus {
      opacity: 1;
    }
  }

  .slick-prev.slick-arrow--cardslider {
    left: 0;
  }

  .slick-next.slick-arrow--cardslider {
    right: 0;
    left: auto;
  } */

  > ul {

    margin: 0;
    padding-left: 0;
    list-style: none;
    white-space: nowrap;

    li {
      display: inline-block;
      padding: 0 6px;
      vertical-align: top;
      white-space: normal;

      // Increase Icon Spacing per breakpoint up. Mobile first
      @include media-breakpoint-up(md) {
        padding: 0 20px;
      }

      @include media-breakpoint-up(lg) {
        padding: 0 25px;
      }

      // Individual Anchor Menu Items
      .paragraph--type--anchor-menu-item {
        display: flex;
        flex-direction: column;

        height: 100%;
        width: auto;
        max-width: 80px;

        @include media-breakpoint-up(md) {
          max-width: 125px;
        }

        a {
          height: 100%;

          white-space: initial;
          text-align: center;

          color: $white;
          font-family: $CeraPRO-Medium;
          font-size: 12px;
          line-height: 15px;

          @include grow_text_link;   // Grow the Icon and Text

          @include media-breakpoint-up(md) {
            font-size: rems(18);
            line-height: rems(21);
          }

          // Icon
          .svg {
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 5px;

            @include media-breakpoint-up(md) {
              height: 35px;
              margin-bottom: 7px;
            }

            svg {
              fill: $white;
              width: auto;
              max-height: 20px;
              height: 20px;
              max-width: 25px;

              @include media-breakpoint-up(md) {
                max-height: 35px;
                height: 35px;
                max-width: 40px;
              }
            }
          }
        }
      }
    }
  }
  // End of Paragraph
}