/* Basic Paragraph - paragraph type */

.paragraph--type--basic-paragraph {

  .title__wrapper {
    display: flex;

    @include media-breakpoint-up(md) {
      margin-bottom: 15px;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 30px;
    }

    &.not-shareable {
      display: block;

      @include media-breakpoint-up(sm) {
        text-align: center;
      }
    }

    /* ShareThis lives outside the container when full screen and then shares the same line as the paragraph title.
This needs a special breakpoint to account for the additional space it occupies when there is outside gutter available.
Includes some additional spacing wizardry to account for no gutter to some gutter states. */


    &.shareable {
      @include media-breakpoint-up(sm) {
        justify-content: center;
      }

      @include media-breakpoint-up(xl) {
        margin-left: -60px;
      }
    }

    // Override for ShareThis placement
    &.heading2 .article__sharethis__wrapper .article__sharethis {
      top:-3px;

      @include media-breakpoint-up(md) {
        top:3px;
      }
    }
  }

  p,
  li {
    line-height: 2; // Line height here is overriding default paragraph line height for base text.
  }
}