.card-slider {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  background-color: rgba(177, 224, 216, 0.2);

  overflow: hidden;

  @include media-breakpoint-up(sm) {
    flex-direction: row;
    padding: 3rem 0;
  }
  @include media-breakpoint-up(md) {
    padding: 4.15rem 0;
  }

  .slick__arrow {
    width: 100%;
    z-index: 10;

    @include media-breakpoint-down(xs) {
      top: calc(50% - 35px);
    }
    
    @include media-breakpoint-up(lg) {
      //width: 70%;
    }
    @include media-breakpoint-up(xl) {
      width: 77%;
    }

    .slick-prev.slick-arrow--cardslider {
      @include media-breakpoint-down(sm) {
        left: 0;
      }
    }

    .slick-next.slick-arrow--cardslider {
      @include media-breakpoint-down(xl) {
        left: 0;
      }
    }
  }

  .slick__slide {
    overflow: hidden;
    @include media-breakpoint-up(sm) {
      max-width: 400px;
    }
  }

  .slick-dots {
    margin-top: 20px;

    @include media-breakpoint-down(xs) {
      margin-top: 10px;
    }
  }
}

.card-slider__title-block {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include media-breakpoint-up(sm) {
    flex: 1 0 50%;
  }

  &__inner {
    padding: 0 15px 15px;

    @include media-breakpoint-up(sm) {
      padding: 2em;
    }

    @include media-breakpoint-up(md) {
      padding: 3rem;
    }

    @include media-breakpoint-up(lg) {
      padding: 5rem;
    }
  }

  @include media-breakpoint-up(md) {
    flex: 1 0 35%;
  }

  @include media-breakpoint-up(lg) {
    flex: 1 0 23%;
    min-width: 375px;
  }
}

.card-slider__title-block__buttons {
  //width: 70%;
  display: none;
  @include media-breakpoint-up(sm) {
    display: inherit;
  }
  
  &--mobileonly {
    display: block;
    @include media-breakpoint-up(sm) {
      display: none;
    }

    // mobile buttonlinks
    .field--name-field-card-slider-buttonlinks {
      padding-top: 0.75rem;
      padding-left: 15px;
      padding-right: 15px;

      @include media-breakpoint-up(sm) {
        display: flex;
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;
        padding-top: 1.5rem;
      }

      .field__item {
        // flex: 0 1 49%;
        width: 100%;
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;

        @include media-breakpoint-up(sm) {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
        }

        a {
          display: block;
        }

        &:last-child {
          a {
            @include btn($teal, transparent, $teal);
            display: block;
          }
        }
      }

      .field__item + .field__item {
        margin-top: 10px;
      }
    }
  }
}

.card-slider__title-block__title {
  font-family: $font-primary--medium;
  font-size: 1.6rem;
  color: $blue;
  @include media-breakpoint-up(sm) {
    font-size: 2.5rem;
  }
}

.field--name-field-card-slider-buttonlinks {
  padding-top: 3.5rem;

  .field__item {
    margin-bottom: 1rem;

    a {
      @include btn();
      display: block;
    }

    &:last-child {
      a {
        @include btn($teal, transparent, $teal);
        display: block;
      }
    }
  }
}

.card-slider__slideshow {
  width: 100%;
  min-width: 50%; // slick doesn't like its flex-item parent without a defined width of some sort (https://github.com/kenwheeler/slick/issues/2378)
  position: relative;
  overflow-x: hidden;
  @include media-breakpoint-up(sm) {
    overflow-x: visible;
  }

  &:not(.slick-arrows-hidden)::before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    z-index: 10;
    width: 15%;
    height: 100%;
    @include media-breakpoint-up(lg) {
      background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    }
  }

  .slick-list {
    @include media-breakpoint-down(xs) {
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .paragraph--type--card-slide {
    position: relative;

    .media {
      justify-content: center;
    }

    a {
      display: block;

      img {
        transition: 0.3s ease-in-out transform;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }
      }

      .field--name-field-media-image {
        height: 80vw;
        position: relative;
        min-height: 350px;

        @include media-breakpoint-up(sm) {
          height: 100vw;
        }

        @include media-breakpoint-up(md) {
          height: 85vw;
        }

        @include media-breakpoint-up(lg) {
          height: 65vw;
        }

        @include media-breakpoint-up(xl) {
          height: 55vw;
        }

        @media (min-width: 1400px) {
          height: 750px;
        }

        @media (min-width: 1700px) {
          height: 810px;
        }

        .field__item {
          height: 100%;
        }

        img {
          position: absolute;
          top: -9999px;
          right: -9999px;
          bottom: -9999px;
          left: -9999px;
          margin: auto;
          min-width: 100%;
          min-height: 100%;
          width: auto;
          height: auto;
        }
      }
    }
  }

  .field--name-field-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem 1rem 3.1rem;
    text-align: center;
    font-family: $font-primary--medium;
    font-size: 2rem;
    line-height: 1.2;
    color: #FCFCFC;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 (not sure if autoprefixer handles this?) */

    @include media-breakpoint-down(xs) {
      padding-bottom: 2rem;
    }

    @media (min-width: 1440px) {
      font-size: 2.4rem;
    }
  }
}