/*
Paragraph Type:  Content Tabs
--This deals with the main container for the paragraph.  Content tabs and contact cards have their own sass files

*/

.paragraph--type--content-tabs {

  .field--name-field-heading {
    h1,h2,h3,h4 {
      text-align: center;
      font-size: rems(24);
      margin-bottom: 30px;

      @include media-breakpoint-up(md) {
        font-size: rems(32);
        margin-bottom: 40px;
      }
      @include media-breakpoint-up(xl) {
        font-size: rems(42);
        margin-bottom: 60px;
      }
    }
  }

  .nav-item {
    @include media-breakpoint-up(sm) {

      margin:0 0.15rem;

      .nav-link {
        display: flex;
        padding:0.5rem;

        span {
          @include grow_text_link;
        }

      }
    }
    @include media-breakpoint-up(lg) {

      margin:0 0.4rem;

      .nav-link {
        padding:0.5rem 1rem;
      }
    }
  }


  .tab-pane {
    padding: 20px 1px;

    @include media-breakpoint-up(sm) {
      padding: 20px 0;
    }
    @include media-breakpoint-up(lg) {
      padding: 30px 0;
    }
    @include media-breakpoint-up(xl) {
      padding: 50px 0;
    }
  }

  &.tab-count--1, &.tab-count--2, &.tab-count--3 {
    .field--name-field-contact-cards {
      justify-content: center;
    }
  }
}