/*
Paragraph Type: Contact Card Grid
--this is designed to display contact cards
*/
.paragraph--type--content-tab-contact-card-grid {

  // Group these together as they are to appear the same
  .field--name-field-intro,
  .field--name-field-body {
    text-align: center;

    h1, h2, h3, h4, h5 {
      margin-top: 0;
      margin-bottom: 1.2em;
      font-size: rems(24);

      &:last-child {
        margin-bottom: 0;
      }
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .field--name-field-intro {
    padding-bottom: 30px;

    @include media-breakpoint-up(xl) {
      padding-bottom: 60px;
    }
  }

  > .field--name-field-body {
    padding-top: 20px;
    padding-bottom: 30px;

    @include media-breakpoint-up(xl) {
      padding-top: 20px;
      padding-bottom: 50px;
    }
  }



  .field--name-field-contact-cards {

    @include media-breakpoint-up(sm) {
      display: flex;
      flex-wrap: wrap;
      margin-left: -20px;
      margin-right: -20px;
    }

    //@include media-breakpoint-up(lg) {
    //  margin-left: -30px;
    //  margin-right: -30px;
    //}
    //@include media-breakpoint-up(xl) {
    //  margin-left: -40px;
    //  margin-right: -40px;
    //}

    .field__item {
      margin: 10px 0;

      @include media-breakpoint-up(sm) {
        flex: 0 0 50%;
      }

      @include media-breakpoint-up(lg) {
        flex-basis: 33%;
      }
      @include media-breakpoint-up(xl) {
        flex-basis: 25%;
        margin: 15px 0;
      }
    }
  }
  // End of paragraph
}



