/* Paragraph Type: Contact Card */

.paragraph--type--contact-card {
  height:100%;
  background: $white;
  border: solid 1px $mercury;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px 30px 30px;


  // Flex Column items -- so we can bottom align the last item.

  .contact-card_top {
    flex-grow: 1;
    p {
      margin-bottom: 0;
    }
  }
  .contact-card_bottom {
    flex-grow: 0;
    > p {
      margin-bottom: 0;
    }
  }

  @include media-breakpoint-up(sm) {
    margin-left: 10px;
    margin-right: 10px;
  }

  @include media-breakpoint-up(lg) {
    margin-left: 15px;
    margin-right: 15px;
    padding: 35px 30px;
  }

  @include media-breakpoint-up(xl) {
    margin-left: 20px;
    margin-right: 20px;
  }

  .field--name-field-title {
    @include appear_as_heading(h3);
    font-size: rems(26);
  }

  .field--name-field-body {
    color:$black;
    text-align: left;
    p {
      font-size: rems(20);
    }
  }

  .field--name-field-card-link {
    a {
      color:$blue;
      font-family: $CeraPRO-Medium;
      font-size: rems(18);
    }
  }
}