.paragraph--type--cta-block {
  padding: 15px;
  text-align: center;
  width: 100%;

  @include media-breakpoint-up(lg) {
    padding: 20px 30px;
  }

  @include media-breakpoint-up(xl) {
    padding: 25px 45px;
  }

  p {
    @include media-breakpoint-up(md) {
      font-size: 18px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  a:not(.btn) {
    color: $electric-blue;
    font-family: $CeraPRO-Medium;

    &:hover {
      text-decoration: none;
      color: darken($electric-blue, 5%);
    }
  }

  .btn {
    //@include btn($white, $electric-blue);
    margin: 5px auto;
    width: 100%;
    max-width: 270px;

    &.btn-white {
      color: $electric-blue;
    }

    &.btn-blue {
      background-color: $electric-blue;
    }

    &.btn-transparent {
      background-color: transparent;
      border-color: $electric-blue;
      color: $electric-blue;
    }
  }

  .field--name-field-title {
    font-size: 20px;
    font-family: $CeraPRO-Medium;
    color: $blue;
    margin-bottom: 15px;
    display: block;
    line-height: 1.2;

    @include media-breakpoint-up(lg) {
      font-size: 26px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 32px;
      margin-bottom: 25px;
    }
  }

  .field--name-field-body {
    margin-bottom: 0;
    display: block;

    strong {
      color: $blue;
    }

    @include media-breakpoint-up(xl) {
      margin-bottom: 0;
    }
  }

  // File Downloads
  .field--name-field-file-downloads {
    text-align: center;
    //padding-bottom: 2em;

    .field__item {

      a {

        @include btn($electric-blue, $white);

        display: block; // CTA buttons are always stacked

        border-color: $electric-blue;
        padding-right: 50px;
        background-position: right 25px center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.0915 8.20463C12.9989 8.00325 12.7955 7.875 12.5715 7.875H10.2858V0.5625C10.2858 0.252 10.0298 0 9.71436 0H7.42864C7.11321 0 6.85721 0.252 6.85721 0.5625V7.875H4.5715C4.3475 7.875 4.14407 8.00438 4.0515 8.20463C3.95778 8.406 3.99436 8.64112 4.14178 8.80762L8.14179 13.3076C8.25036 13.4303 8.40693 13.5 8.5715 13.5C8.73607 13.5 8.89264 13.4291 9.00121 13.3076L13.0012 8.80762C13.1498 8.64225 13.1841 8.406 13.0915 8.20463Z' fill='%230081C9'/%3e%3cpath d='M14.8571 12.375V15.75H2.28571V12.375H0V16.875C0 17.4971 0.512 18 1.14286 18H16C16.632 18 17.1429 17.4971 17.1429 16.875V12.375H14.8571Z' fill='%230081C9'/%3e%3c/svg%3e");
        margin: 0 auto;
        width: 100%;
        max-width: 270px;

        @include media-breakpoint-up(lg) {
          display: inline-block;
          width: 100%;
          //margin-right: 0;
          //margin-left: 0;
        }

        &:hover {
          color: $electric-blue;
        }
      }
    }

    // Need to add some margin when more than one item.

    .field__item + .field__item {
      a {
        //margin-top: 20px;
      }
    }
  }

  .field--name-field-files {
    .field__item {
      display: block;
    }
  }

  .media--view-mode-file {
    text-align: center;

    a {
      @include btn($electric-blue, $white, $electric-blue);
      margin: 0 auto;

      position: relative;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.0915 8.20463C12.9989 8.00325 12.7955 7.875 12.5715 7.875H10.2858V0.5625C10.2858 0.252 10.0298 0 9.71436 0H7.42864C7.11321 0 6.85721 0.252 6.85721 0.5625V7.875H4.5715C4.3475 7.875 4.14407 8.00438 4.0515 8.20463C3.95778 8.406 3.99436 8.64112 4.14178 8.80762L8.14179 13.3076C8.25036 13.4303 8.40693 13.5 8.5715 13.5C8.73607 13.5 8.89264 13.4291 9.00121 13.3076L13.0012 8.80762C13.1498 8.64225 13.1841 8.406 13.0915 8.20463Z' fill='%230081C9'/%3e%3cpath d='M14.8571 12.375V15.75H2.28571V12.375H0V16.875C0 17.4971 0.512 18 1.14286 18H16C16.632 18 17.1429 17.4971 17.1429 16.875V12.375H14.8571Z' fill='%230081C9'/%3e%3c/svg%3e");
      background-position: right 25px center;
      background-repeat: no-repeat;
      padding-right: 50px;
      width: 100%;
      max-width: 270px;

      &:hover {
        color: $electric-blue;
      }
    }
  }
}