.paragraph--type--date-specific-cards {
  .field--name-field-heading, .field--name-field-intro {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
  }
  .field--name-field-heading {
    padding-left: 15px;
    padding-right: 15px;

    h1, h2, h3, h4 {
      @include appear_as_heading(h1);
      text-align: center;
      margin-bottom: 20px;
    }
  }

  .field--name-field-intro {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 40px;
    }

    p:last-child {
      margin: 0;
    }
  }

  .field--name-field-cards {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
    }

    .date-specific-card {
      margin: 15px 0;

      @include media-breakpoint-up(md) {
        flex: 0 0 50%;
      }

      @include media-breakpoint-up(lg) {
        flex: 0 0 33.33%;
      }

      @include media-breakpoint-up(xl) {
        margin: 30px 0;
      }

      .paragraph--type--date-specific-card {
        background-color: $light-teal-fade;
        display: flex;
        flex-direction: column;

        @include media-breakpoint-up(md) {
          margin: 15px;
          margin-top: 100px;
          height: calc(100% - 100px);
          padding: 0 20px 20px 20px;
        }

        @include media-breakpoint-up(xl) {
          margin-top: 175px;
          height: calc(100% - 175px);
        }

        .card__image {
          position: relative;

          @include media-breakpoint-up(md) {
            margin-top: -100px;
          }

          @include media-breakpoint-up(xl) {
            margin-top: -175px;
          }

          .field--name-field-media-image {
            width: 100%;
          }

          img {
            height: 300px;
            width: 100%;
            object-fit: cover;
            object-position: center;

            @include media-breakpoint-up(sm) {
              height: 350px;
            }

            @include media-breakpoint-up(md) {
              width: 100%;
              height: auto;
            }
          }

          .card__date {
            position: absolute;
            top: 0;
            left: 0;
            width: 100px;
            background-color: $white;
            text-transform: uppercase;

            .top-text, .bottom-text {
              text-align: center;
              padding: 8px 3px;
              font-size: 14px;
              line-height: 1;
            }

            .top-text {
              background-color: $teal;
              color: $white;
            }

            .bottom-text {
              font-family: $CeraPRO-Bold;

              .day {
                font-size: 30px;
                display: block;

                &.day-range {
                  font-size: 24px;
                }
              }

              .month {
                font-size: 18px;
                display: block;
              }

              .field--name-field-bottom-text {
                min-height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }

        .card__content {
          padding: 20px;
          flex-grow: 1;

          @include media-breakpoint-up(md) {
            //padding: 40px 20px 20px;
          }

          h3 {
            font-size: 24px;
            text-align: left;

            @include media-breakpoint-up(md) {
              font-size: 36px;
            }

            @include media-breakpoint-up(xl) {
              font-size: 42px;
            }
          }

          h4 {
            text-align: left;
            font-size: 16px;

            @include media-breakpoint-up(md) {
              font-size: 20px;
            }

            @include media-breakpoint-up(xl) {
              font-size: 22px;
            }
          }

          .card__text {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }

          .field--name-field-short-description {
            margin-top: 15px;
            font-size: rems(16);

            @include media-breakpoint-up(lg) {
              font-size: rems(18);
              margin-top: 30px;
            }
          }

          .field--name-field-link {
            margin-top: 20px;

            a {
              @include btn();
              margin: 0 auto;
              max-width: 350px;
              width: 100%;
              display: block;

              @include media-breakpoint-up(md) {
                max-width: none;
                width: auto;
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
}