/* Paragraph Layouts: Departure Single Port and Map Route */

.paragraph--type--departure-port-single-,
.paragraph--type--map-route {
  overflow: hidden;
  padding: 0 15px;

  .container {
    border: 1px solid $mercury;
    .col-sm-12 {
      padding: 0;
    }
  }

  .google-map-wrapper {
    width: 100%;
    height: 100%;
    min-height: 300px;

    @include media-breakpoint-up(md) {
      min-height: 450px;
    }

    @include media-breakpoint-up(lg) {
      min-height: 650px;
    }

    @include media-breakpoint-up(xl) {
      min-height: 870px;
    }
  }

  .content {
    align-items: center;
    color: $blue;
    display: flex;

    @include media-breakpoint-up(md) {
      font-size: 1.25rem;
    }

    .content__inner {
      margin: 25px 15px;
      font-family: $CeraPRO-Light;

      @include media-breakpoint-up(md) {
        margin: 45px 30px;
      }

      @include media-breakpoint-up(xl) {
        margin: 40px 60px;
      }

      h3 {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;

        @include media-breakpoint-up(md) {
          font-size: 2rem;
          margin-bottom: 2rem;
        }
      }

      h1, h2, h3, h4, h5, h6, strong {
        font-family: $CeraPRO-Regular;
      }

      p {
        margin-bottom: 1.5rem;
      }

      .address {
        p {
          position: relative;

          &::after {
            content: "";
            position: relative;
            background-image: url("../img/map-marker.png");
            background-size: cover;
            width: 15px;
            height: 22px;
            display: inline-block;
            margin-left: 10px;
          }
        }
      }

      a {
        font-family: $CeraPRO-Regular;
        @include grow_text_link;

        @include media-breakpoint-up(md) {
          font-size: 1.125rem;
        }
      }
    }
  }
}

.paragraph--type--departure-port-single- {
  [data-target] {
    @include grow_text_link;
    font-family: $CeraPRO-Regular;
    color: $teal;
    font-size: 1rem;
    display: block; // Override display set in grow_text_link

    @include media-breakpoint-up(md) {
      font-size: 1.125rem;
    }

    &:not(.show) {
      display: block;
    }

    &::after {
      content: ' +';
    }

    &[aria-expanded="true"] {
      @include transition();
      //transform: scale($growth_scale);

      &::after {
        content: ' x';
      }
    }
  }

  .collapse, .collapsing {
    max-height: 200px;
    overflow-y: scroll;
    margin-bottom: 2rem;
    font-size: 1.125rem;

    p:last-child {
      margin-bottom: 0;
    }
  }

  .collapse-expanded {
    > {
      p, strong {
        display: none;
      }
    }

    /*[data-toggle="collapse"] {
      &::after{
        content: ' x';
      }
    }*/
  }
}