.paragraph--type--destination-select-with-cta {
  .container {
    max-width: 1400px;
  }

  .cta-blocks, .destination-select {
    background-color: rgba($electric-blue, 0.05);
    height: 100%;
    padding: 25px 15px;

    @include media-breakpoint-up(lg) {
      padding: 50px 30px;
    }
  }

  .cta-blocks, .field-cta-block {
    height: 100%;
  }

  .col-12 + .col-12 {
    margin-top: 15px;

    @include media-breakpoint-up(md) {
      margin-top: 0;
    }
  }

  .cta-blocks, .destination-select {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .destination-select {

    &__content {
      max-width: 400px;
      font-size: 1.125rem;

      @include media-breakpoint-up(md) {
        font-size: 1.25rem;
      }

      h1, h2, h3, h4 {
        font-size: 20px;
        margin-bottom: 15px;

        @include media-breakpoint-up(lg) {
          font-size: 26px;
        }

        @include media-breakpoint-up(xl) {
          font-size: 32px;
          margin-bottom: 30px;
        }
      }
    }

    &__list {
      margin-top: 30px;

      @include media-breakpoint-up(sm) {
        display: flex;
      }

      p {
        margin-bottom: 0;
      }
    }

    &__select {
      position: relative;

      @include media-breakpoint-up(sm) {
        margin-left: 10px;
      }

      button {
        white-space: nowrap;
        border: 0;
        background-color: transparent;
        color: $blue;
        border-bottom: 1px solid $blue;
        padding: 0;
        outline: 0;

        @include caret($blue, $down);
        &::after {
          margin-left: 10px;
        }
      }
    }

    &__items {
      padding: 15px;
      position: absolute;
      left: 0;
      width: 100%;
      background-color: $white;
      z-index: 120;

      li {
        list-style: none;
      }
    }
  }

  .paragraph--type-cta-block {
    .btn {
      display: block;
    }
  }


  &.has-background-image {
    .destination-select {
      position: relative;
      color: $white;

      h1, h2, h3, h4, button {
        color: $white;
      }

      button {
        color: $white;
        border-color: $white;

        &::after {
          background-color: $white;
        }
      }

      .field--name-field-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        .media, .field--name-field-media-image, .field__item {
          height: 100%;
          width: 100%;
        }

        img {
          object-fit: cover;
          object-position: center;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}