.paragraph--type--detailed-cards {

  .container {
    max-width: none;
  }

  h2 {
    text-align: center;
    margin-bottom:20px;

    @include media-breakpoint-up(sm) {
      margin-bottom:30px;
    }

    @include media-breakpoint-up(md) {
      margin-bottom:40px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 42px;
      margin-bottom: 60px;
    }
  }

  .field--name-field-cards,
  .field--name-field-mobile-cards {
    display: flex;
    flex-wrap: wrap;
    background-color: $light-teal-fade;
    justify-content: center;

    .field__item,
    &.field__item {
      flex: 0 0 100%;

      @include media-breakpoint-up(sm) {
        flex: 0 0 50%;
      }

      // Group options for 2 or 4 items.   Looks odd when there is 3 items so removing this for now.
      // @include media-breakpoint-up(md) {
      //   flex: 0 0 33.33%;
      // }

      @include media-breakpoint-up(xl) {
        flex: 0 0 25%;
      }

      .paragraph--type--card {
        height: 100%;
        display: flex;
        flex-direction: column;


        .field__item {
          flex: 0 0 auto;
        }

        .field--name-field-media-image {
          position: relative;
          width: 100%;

          //  Set height for images is required so that card flex column can be accurately calculated.
          height: 180px;

          @media (min-width: 400px) {
            height: 240px;
          }

          @include media-breakpoint-up(sm) {
            height: 220px;
          }

          @include media-breakpoint-up(md) {
            height: 280px;
          }
          @include media-breakpoint-up(lg) {
            height: 330px;
          }
          @include media-breakpoint-up(xl) {
            height: 220px;
          }

          @media (min-width: 1400px) {
            height: 300px;
          }

          @media (min-width: 1600px) {
            height: 330px;
          }

          img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }

        }

        .card__content {
          padding: 30px 25px;
          display: flex;
          flex-direction: column;
          flex-grow: 1;


          @include media-breakpoint-up(lg) {
            padding: 40px 35px;
          }

          h3 {
            margin-bottom: 20px;

            @include media-breakpoint-up(xl) {
              font-size: 2rem;
              margin-bottom: 30px;
            }
          }

          .field--name-field-card-sub-title {
            margin-top: -20px;
            margin-bottom: 20px;
            font-size: rems(16);
            font-weight: bold;
            color: $blue;

            @include media-breakpoint-up(lg) {
              font-size: rems(18);
            }

            @include media-breakpoint-up(xl) {
              margin-top: -30px;
            }
          }

          .field--name-field-short-description {
            // font-family: $CeraPRO-Light;
            font-size: rems(16);
            flex-grow: 1;

            @include media-breakpoint-up(lg) {
              font-size: rems(18);
            }
          }

          .field--name-field-cta-links {
            margin-top: 10px;

            @include media-breakpoint-up(xl) {
              margin-top: 20px;
            }

            .field__item {
              margin-top: 20px;

              @include media-breakpoint-up(lg) {
                margin-top: 25px;
              }
            }

            a {
              font-family: $CeraPRO-Medium;

              @include grow_text_link;

              @include media-breakpoint-up(lg) {
                font-size: rems(18);
              }

              &::after {
                display: inline-block;
                width: 12px;
                height: 9px;
                margin-left: 10px;
                content: '';
                -webkit-mask: url('data:image/svg+xml;utf8,<svg width="12" height="9" viewBox="0 0 12 9" xmlns="http://www.w3.org/2000/svg">
<path class="blue" fill-rule="evenodd" clip-rule="evenodd" d="M0 1.26918L6 8L12 1.26918L10.8686 0L6 5.46165L1.13137 0L0 1.26918Z"/>
</svg>') no-repeat 50% 50%;
                mask: url('data:image/svg+xml;utf8,<svg width="12" height="9" viewBox="0 0 12 9" xmlns="http://www.w3.org/2000/svg">
<path class="blue" fill-rule="evenodd" clip-rule="evenodd" d="M0 1.26918L6 8L12 1.26918L10.8686 0L6 5.46165L1.13137 0L0 1.26918Z"/>
</svg>') no-repeat 50% 50%;
                -webkit-mask-size: cover;
                mask-size: cover;
                background-color: $teal;
                transform: rotate(-90deg);
              }
            }

            .field__item:first-child {
              a {
                @include btn();
                margin: 0;
                padding: 10px 35px;

                max-width: 350px;
                display: block;

                @include media-breakpoint-up(xl) {
                  max-width: none;
                  margin: 0;
                  display: inline-block;
                }

                &::after {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }

  // optional Footer content
  .field--name-field-body {
    padding: 30px 10px 10px;
    background-color: $light-teal-fade;

    p {
      padding-bottom: 20px;
      font-size: rems(14);

      @include media-breakpoint-up(md) {
        font-size: rems(16);
      }
    }
  }

  &.button-flow--inline {
    .field--name-field-cta-links {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .field__item {
        display: inline-block;
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  // If this layout has a alternative card for mobile display

  .field--name-field-mobile-cards {
    display: none;

    .paragraph--type--card {
      flex: 0 0 100%
    }
  }

  &.has-mobile {

    .field--name-field-mobile-cards {
      display: flex;

      @include media-breakpoint-up(sm) {
        display: none;
      }
    }

    @include media-breakpoint-down(xs) {
      h2 {
        display: none;
      }
      .field--name-field-cards {
        display: none;
      }
    }
  }

  /*
   Color Styles
   ------------
   LightTeal on the card body is the default --as it supports the requirements of details cards.   For Ticket Card Grid, an additional card background is available
  */

  // white background with white text and white buttons, links
  &.background-color--white {
    padding-top: 1px; // need to touch padding because of top margin of H2 is collapsed. REF: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing


    .field--name-field-cards {
      background: $white;

      // Now, some fancy css on breakpoints to zero left/right specific card margins (top avoid negative margin on container).

      @include media-breakpoint-up(sm) {

        .field__item {

          &:nth-of-type(odd) {
            // Left Cards
            .paragraph--type--card {
              margin: 0 5px 0 0;
            }
          }

          &:nth-of-type(even) {
            // Right Cards
            .paragraph--type--card {
              margin: 0 0 0 5px;
            }
          }
        }
      }

      @include media-breakpoint-up(lg) {

        .field__item {

          &:nth-of-type(odd) {
            // Left Cards
            .paragraph--type--card {
              margin: 0 10px 0 0;
            }
          }

          &:nth-of-type(even) {
            // Right Cards
            .paragraph--type--card {
              margin: 0 0 0 10px;
            }
          }
        }
      }


      @include media-breakpoint-up(xl) {

        .field__item {
          &:nth-of-type(even),
          &:nth-of-type(odd){
            .paragraph--type--card {
              margin: 0 5px;
            }
          }

          &:nth-of-type(4n+1) {
            // left most card
            .paragraph--type--card {
              margin: 0 5px 0 0;
            }
          }

          &:nth-of-type(4n) {
            // right most card
            .paragraph--type--card {
              margin: 0 0 0 5px;
            }
          }
        }
      }

      @include media-breakpoint-up(xxl) {

        .field__item {
          &:nth-of-type(even),
          &:nth-of-type(odd){
            .paragraph--type--card {
              margin: 0 10px;
            }
          }

          &:nth-of-type(4n+1) {
            // left most card
            .paragraph--type--card {
              margin: 0 10px 0 0;
            }
          }

          &:nth-of-type(4n) {
            // right most card
            .paragraph--type--card {
              margin: 0 0 0 10px;
            }
          }
        }
      }
    }
  }

  // End of paragraph type
}

