/* Enhancements - paragraph type */

.paragraph--type--enhancements {
  clear: both;
  margin: 0 10px;
  overflow: hidden;

  // When on Tablets and Desktop, display the Flex cards

  // Grow margin based on viewport size.
  @include media-breakpoint-up(md) {
    margin: 0 20px;
  }
  @include media-breakpoint-up(lg) {
    margin: 0 30px;
  }
  @include media-breakpoint-up(xl) {
    margin: 40px;
  }

  h2 {
    margin-left: 10px;
    margin-bottom: 20px;

    @include media-breakpoint-up(sm) {
      margin-bottom: 30px;
      margin-left: 0;
      text-align: center;
    }
    @include media-breakpoint-up(md) {
      margin-bottom: 40px;
    }
  }

  // Enhancement Cards Wrapper

  .enhancement-cards {

    margin: 0 10px 20px;

    @include media-breakpoint-up(sm) {
      display: flex;
      flex-grow: 1;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-right: 0;
      margin-left: 0;
    }
  }

  // Enhancement Card
  .node--type-enhancement {
    clear: both;
    padding-bottom: 20px;

    // Default is 3 for tablets, wraps
    @include media-breakpoint-up(sm) {
      display: flex;
      flex-direction: column;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 10px;
    }

    // Default flex basis based on 6 or more items
    @include media-breakpoint-up(xl) {
      padding-bottom:30px;
    }

    .field--name-field-media-image {

      @include media-breakpoint-up(sm) {
        order: 1;
        margin-bottom: 20px;
      }

      img {
        float: left;
        height: 75px;
        width: 75px;
        object-fit: cover;
        margin-bottom: 30px;

        @include media-breakpoint-up(sm) {
          float: none;
          max-height: 300px;
          height: 100%;
          width: 100%;
          margin-right: 0;
          margin-bottom: 0;
        }
      }
    }

    // Enhancement Card Title
    h4 {
      font-size: rems(16);
      font-family: $CeraPRO-Bold;

      @include media-breakpoint-up(sm) {
        display: unset;
        order: 2;
        font-size: rems(18);
        font-family: $CeraPRO-Medium;
      }
      @include media-breakpoint-up(md) {
        font-size: rems(20);
      }
    }

    // Wrapper div to keep these items contains.
    .content {
      display: flex;
      flex-direction: column;
      margin-left: 95px;

      @include media-breakpoint-up(sm) {
        margin-left: 0;
        margin-bottom: 0;
        justify-content: space-between;
        height: 100%;
        order: 3;
      }
    }

    // Enhancement Card Description

    .field--name-body p {
      margin-top: -5px;
      font-family: $CeraPRO-Light;
      font-size: rems(16);
      margin-bottom: 10px;

      @include media-breakpoint-up(sm) {
        margin-top: 0;
        font-family: $CeraPRO-Regular;

      }
      @include media-breakpoint-up(lg) {
        font-size: rems(18);
      }
    }

    // Optional Enhancement Card link

    .field--name-field-link {

      // @todo-css:  Right caret text link style should be moved to a global style

      a {
        color: $teal;
        font-family: $CeraPRO-Medium;

        @include grow_text_link;
        @include caret($teal);

        @include media-breakpoint-up(lg) {
          font-size: rems(18);
        }

        &::after {
          margin-left: 10px;
          transform: rotate(-90deg);
        }

        &:hover {
          text-decoration: none;
          color: darken($teal, 5%);
        }
      }
    }
  }

  // Change the flex basis based on number of items
  .enhancement-card {
    @include media-breakpoint-up(sm) {
      flex: 0 1 33%;
    }

    @include media-breakpoint-up(xl) {
      flex-basis: 16%;
    }
  }

  // Two cards
  .count2 {
    justify-content: center;

    .enhancement-card {
      @include media-breakpoint-up(sm) {
        flex-basis: 50%;
      }
      @include media-breakpoint-up(lg) {
        flex-basis: 33%;
      }
    }
  }

  // Three Cards
  .count3 {
    justify-content: center;

    .enhancement-card {
      @include media-breakpoint-up(sm) {
        flex-basis: 33%;
      }
      @include media-breakpoint-up(xl) {
        flex-basis: 25%;
        flex-grow: 1;
      }
    }
  }

  // Four Cards
  .count4 .enhancement-card {
    @include media-breakpoint-up(sm) {
      flex-basis: 50%;
    }
    @include media-breakpoint-up(lg) {
      flex-basis: 25%;
      flex-grow: 1;
    }
  }

  // Five Cards
  .count5 {
    @include media-breakpoint-up(sm) {
      justify-content: flex-start;
      .enhancement-card {
        flex-basis: 33%;
      }
    }
    @include media-breakpoint-up(xl) {
      justify-content: space-between;
      .enhancement-card {
        flex-basis: 20%;
        flex-grow: 1;
      }
    }
  }

  // Six Cards and more
  .count6 {

    .node--type-enhancement {
      @include media-breakpoint-up(sm) {
        flex-basis: 33%;
      }
      @include media-breakpoint-up(xl) {
        flex-basis: 16%;
        flex-grow: 1;
      }
    }
  }

  // End of layout
}
