.paragraph--type--event-cruises {
  background-color: $light-teal-fade;
  padding: 15px 0;

  @include media-breakpoint-up(md) {
    padding: 30px 0;
  }

  @include media-breakpoint-up(xl) {
    padding: 50px 0;
  }

  .container {
    max-width: 1430px;
  }

  .col {
    padding: 0;
  }

  .row {
    @include media-breakpoint-up(sm) {
      margin: 0;
    }

    @media(min-width: 1400px){
      margin-left: -22px;
      margin-right: -22px;
    }
  }

  .cruise {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    padding: 0;
    margin: 15px auto;
    background-color: $white;
    border: 1px solid $light-teal;
    max-width: 450px;

    @include media-breakpoint-up(sm) {
      max-width: none;
      margin: 15px 7px;
    }

    @include media-breakpoint-up(xl) {
      margin: 22px;
    }
  }

  .cruise__top {
    position: relative;
    height: 150px;
    background-color: $light-teal;

    .date {
      position: absolute;
      top: 0;
      left: 0;
      width: 65px;
      background-color: $white;
      text-transform: uppercase;

      .day, .month, .number {
        text-align: center;
        padding: 5px 3px;
        font-size: 14px;
        line-height: 1;
        display: block;
      }

      .day {
        background-color: $teal;
        color: $white;
      }

      .month {
        font-size: 14px;
        padding-bottom: 0;
      }

      .number {
        font-family: $CeraPRO-Medium;
        color: $teal;
        font-size: 25px;
        line-height: 20px;
        padding-top: 0;
        padding-bottom: 8px;
      }
    }

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }

    .promo {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      background-color: $teal;
      color: $white;
      font-size: 14px;
      text-align: center;
      padding: 3px;
      font-family: $CeraPRO-Medium;
    }
  }

  .cruise__content {
    padding: 15px 20px 0;

    h3 {
      font-size: 18px;
    }

    .price {
      font-size: 14px;
      margin-bottom: 5px;

      &__amount {
        font-size: 18px;
        font-family: $CeraPRO-Medium;
        color: $blue;
      }
    }

    .cruise__details {
      font-size: 12px;
      color: $blue;
      font-family: $CeraPRO-Medium;

      .cruise-boat, .cruise-location, .cruise-schedule {
        margin: 10px 0;
        display: flex;

        &::before {
          position: relative;
          content: "";
          width: 18px;
          height: 18px;
          margin-right: 10px;
          background-size: contain;
          background-repeat: no-repeat;
          display: inline-block;
          background-position: center center;
          flex-shrink: 0;
        }
      }

      .cruise-boat {
        &::before {
          background-image: url('../img/cruise-ship.svg');
        }
      }

      .cruise-location {
        &::before {
          background-image: url('../img/cruise-dock.svg');
          background-position: 1px center;
        }
      }

      .cruise-schedule {
        &::before {
          background-image: url('../img/cruise-schedule.svg');
        }
      }

      .cruise-schedule {
        display: flex;

        div {
          flex: 0 0 45%;

          span {
            color: $black;
            font-family: $CeraPRO-Regular;
            display: block;
          }
        }
      }
    }

    .cruise__features {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      color: $blue;
      justify-content: space-evenly;
      margin: 10px 0;

      li {
        text-align: center;
        font-size: 12px;
        flex: 0 0 30%;
        margin: 10px 0;
        line-height: 14px;

        svg {
          display: block;
          margin: auto;
          height: 25px;
          width: auto;
          fill: $blue;
          margin-bottom: 5px;
        }
      }
    }

    .cruise__bottom {
      display: flex;
      padding: 10px 5px;
      box-shadow: 0 -2px 2px rgba(0,0,0,0.1);
      margin: 0 -20px;

      a {
        flex: 1 1 0;
        text-align: center;
        @include btn;
        padding: 10px 15px;


        &:first-child {
          @include btn($teal, $white, $white);
          padding: 10px 15px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-family: $CeraPRO-Regular;
        }
      }
    }
  }
}