.paragraph--type--faqs {
  background: $light-teal-fade;
  padding: 40px 0;
  text-align: center;

  @include media-breakpoint-up(md) {
    padding: 70px 0;
  }

  h4 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: $CeraPRO-Medium;
    padding-left: 15px;
    padding-right: 15px;

    @include media-breakpoint-up(md) {
      font-size: 32px;
      margin-bottom: 40px;
    }
  }
}