.feature-slider,
.paragraph--type--featured-product-slider {
  position: relative;
  padding-bottom:  20px;

  overflow: hidden;

  @include media-breakpoint-up(sm) {
    padding-bottom: 40px;
  }
  @include media-breakpoint-up(md) {
    padding-bottom: 60px;
  }
  @include media-breakpoint-up(lg) {
    padding-bottom: 80px;
  }

  &.slide-count--1 {
    .slick__slider .slick-list {
      padding: 0;
      margin: 0;

      &::after {
        display: none;
      }
    }
    .slick__arrow, .slick-dots {
      display: none !important;
    }
    .slick__slide {
      .paragraph--type--feature-slide {
        margin: 0;
      }
    }

    .slick {
      margin-left: -20px;
      margin-right: -20px;

      &__slide {
        @include media-breakpoint-up(md) {
          width: 50%;
        }
        @include media-breakpoint-up(lg) {
          width: 33.3333333%;
        }
        .paragraph--type--feature-slide {
          margin: 0 10px;

          @media (min-width: 1400px) {
            margin: 0 20px;
          }
        }
      }
    }
  }

  &.slide-count--2 {
    .slick__slider .slick-list {
      @include media-breakpoint-up(md) {
        padding: 0;
        margin: 0;
        &::after {
          display: none;
        }
      }
    }
    .slick__arrow, .slick-dots {
      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }

  &.slide-count--3 {
    .slick__slider .slick-list {
      @include media-breakpoint-up(lg) {
        padding: 0;
        margin: 0;
        &::after {
          display: none;
        }
      }
    }
    .slick__arrow, .slick-dots {
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }
  }

  .container {
    position: relative;
    padding: 0 20px;

    @media (max-width: 1400px) {
      width: 100%;
      max-width: none;
      //padding: 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 0 15px;
    }
  }

  &__top {
    margin-bottom: 40px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &__title {
    @include media-breakpoint-up(sm) {
      display: flex;
    }

    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 20px;
      font-size: 24px;
      color: $blue;
      //font-family: $CeraPRO-Medium;

      @include media-breakpoint-up(sm) {
        font-size: 30px;
        margin-bottom: 0;
      }

      @include media-breakpoint-up(lg) {
        font-size: 36px;
      }

      @include media-breakpoint-up(xl) {
        font-size: 42px;
      }
    }
  }

  &__link {

    .field--name-field-button {
      @include media-breakpoint-up(sm) {
        display: flex;
      }
    }

    @include media-breakpoint-up(sm) {
      margin-left: 40px;
    }

    a {
      @include btn();
      margin: 0 0 7px;
    }

    .field__item + .field__item {
      margin-top: 5px;

      @include media-breakpoint-up(sm) {
        margin-top: 0;
        margin-left: 10px;
      }
    }

    .field__item:not(:first-child) {
      a {
        @include btn($teal, transparent);

      }
    }
  }

  .slick {
    position: relative;

    &__slider {
      margin-left: -20px;
      margin-right: -20px;

      .slick-track {
        display: flex;
      }

      .slick-list {
        padding-left: 20px;
        padding-right: 20px;
        //margin-right: -3%;

        @include media-breakpoint-up(md) {
          padding: 0 18% 0 0;

          &:after {
            content: "";
            width: 20%;
            right: 0;
            top: 0;
            bottom: 0;
            left: auto;
            height: 100%;
            position: absolute;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
          }
        }
      }
    }
  }

  .slick-dots {
    margin: 20px 0;
    display: none !important;

    li {
      margin: 0 3px;

      button {
        padding: 2px;
        width: 14px;
        height: 14px;
      }

      &.slick-active button::before {
        background-color: $teal;
      }
    }
  }


  .slick__arrow {
    top: 125px;

    @include media-breakpoint-down(lg) {
      top: 115px;
    }

    @include media-breakpoint-down(md) {
      top: 160px;
    }

    @media (max-width: 500px) {
      top: 140px;
    }

    .slick-next {
      left: auto;
      transform: rotate(180deg);
      right: -15px;

      @include media-breakpoint-down(xl) {
        right: -20px;
      }

      @include media-breakpoint-down(sm) {
        right: -10px;
      }
    }

    .slick-prev {
      left: -15px;

      @include media-breakpoint-down(xl) {
        left: -20px;
      }

      @include media-breakpoint-down(sm) {
        left: -10px;
      }
    }
  }

  .slick__slide {
    overflow: hidden;
    height: auto;

    .paragraph--type--feature-slide, .node--type-product {
      margin: 0 20px;
      height: 100%;
      display: flex;
      flex-direction: column;

      @media (max-width: 1450px) {
        margin: 0 10px;
      }

      @include media-breakpoint-down(sm) {
        //width: 100vw;
        margin: 0;
      }

      .feature-slide__content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .feature-slide__image {
        position: relative;
        padding-bottom: 70%;
        margin-bottom: 20px;

        @include media-breakpoint-down(lg) {
          padding-bottom: 225px;
        }

        @include media-breakpoint-down(md) {
          padding-bottom: 275px;
        }

        @media (max-width: 500px) {
          padding-bottom: 275px;
        }

        article {
          position: static;

          img {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }

      .field--name-field-title, .field--name-field-short-description, .field--name-field-links, .field--name-title, .field--name-field-product-type, .field--name-field-product-deal, .feature-slide__links, .feature-slide__dates {
        padding: 0 20px;

        @include media-breakpoint-up(md) {
          padding: 0;
        }
      }

      .field--name-title {
        display: block;
      }

      .field--name-field-title, .field--name-title {
        font-family: $CeraPRO-Medium;
        margin-bottom: 10px;
        font-size: 20px;
        color: $blue;

        @include media-breakpoint-up(sm) {
          font-size: 26px;
        }

        @include media-breakpoint-up(xl) {
          font-size: 32px;
        }
      }

      .field--name-field-product-type {
        font-size: 18px;
        color: $blue;
        font-family: $CeraPRO-Medium;
        @include media-breakpoint-up(sm) {
          font-size: 20px;
        }
      }

      .feature_slide__product-deal {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
        z-index: 1;

        .field--name-field-product-deal {
          background-color: #005468;
          color: $white;
          text-align: center;
          padding: 5px 10px;
          font-family: $CeraPRO-Medium;

        }
      }

      .field--name-field-short-description, .feature-slide__dates {
        font-size: 20px;
        font-family: $CeraPRO-Light;
      }

      .field--name-field-links, .feature-slide__links {
        margin-top: 30px;
        padding-bottom: 5px;
        @include media-breakpoint-up(xl) {
          display: flex;
        }

        .field__item {
          display: block;

          a {
            width: 100%;
            @include btn();
            border: 2px solid $teal;
            font-size: 18px;
            margin: 0 auto 7px; // add some extra bottom margin to allow buttons to grow
            padding: 10px;
            max-width: 350px;
            display: block;

            @include media-breakpoint-up(md) {
              margin: 0 0 7px;
            }

            &:hover {
              transform: scale(1.04);
            }

            @media (min-width: 1400px) {
              //margin: 0 5px 10px;
              width: initial;
              max-width: none;
              display: inline-block;
            }

            @media (min-width: 1600px) {
              padding: 10px 18px;

            }
          }
        }

        .field__item + .field__item {
          margin-top: 10px;

          @include media-breakpoint-up(xl) {
            margin-top: 0;
            margin-left: 10px;
          }
        }

        .field__item:not(:first-child) {
          a {
            @include btn($teal, transparent, $teal);  // see Mixins.scss
            margin: 0 auto;
            display: block;
            padding: 10px;

            @include media-breakpoint-up(md) {
              margin: 0;
            }

            @media (min-width: 1600px) {
              padding: 10px 18px;
            }

            &:hover {
              transform: scale(1.04);
            }
          }
        }
      }
    }
  }
}