/* @todo:  Clean up and re-order the Food/Drink menu stylesheet.   Bring it inline with Standards. */

.paragraph--type--food-drink-menu-single-,
.paragraph--type--food-drink-menu-multi {

  .field--name-field-intro {
    color: $charcoal;
    font-size: 1.375rem;
    font-family: $font-primary--light;

    p:last-child {
      margin-bottom: 0;
    }
  }

  .field--name-field-intro, .field--name-title,
  .field--name-field-title {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 920px;
    margin: 0 auto;
    text-align: center;

    @include media-breakpoint-up(xl) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .field--name-title,
  .field--name-field-title {
    color: $blue;
    font-family: $CeraPRO-Medium;
    text-align: center;
    font-size: 24px;

    @include media-breakpoint-up(md) {
      font-size: 32px;
    }
  }

  .field--name-title + .field--name-field-intro, .field--name-field-title + .field--name-field-intro {
    margin-top: 10px;
  }

  .field--name-field-title + .field--name-field-menu,
  .field--name-title + .field--name-field-menu,
  .field--name-field-intro + .field--name-field-menu,
  .field--name-field-title + .nav-tabs,
  .field--name-field-intro + .nav-tabs,
  .node--view-mode-food-drink-menu-tab .node__content,
  .node--view-mode-default .node__content,
  h2 + .nav-tabs {
    margin-top: 30px;

    @include media-breakpoint-up(lg) {
      margin-top: 50px;
    }
  }

  .tab-content {
    .node--type-food-drink-menu {
      padding-top: 0;
    }
  }

  // Fix movement of tab links between open and closed
  .nav-tabs.open .nav-link {
    display:flex;
  }

  .nav-tabs .nav-item {
    @include media-breakpoint-up(xl) {
      flex: 1;
      max-width: 200px;
      min-width: 100px;
    }
  }

  // Grow Tabs
  .nav-link {
    span {
      @include grow_text_link;
    }
  }

  .field--name-field-menu-footer {
    padding-left: 15px;
    padding-right: 15px;
  }

  .tab-content .field--name-field-menu-footer {
    padding-bottom: 3rem;

    @include media-breakpoint-up(lg) {
      padding-bottom: 6.25rem;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .tab-pane {
    @include media-breakpoint-down(sm) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .tab-pane .field--name-field-menu-footer {
    padding-bottom: 0;

    @include media-breakpoint-up(lg) {
      padding-bottom: 3.25rem;
    }
  }

  // Grey alternative menu colour.
  &.background--grey {
    .nav-tabs {
      border-bottom: 1px solid $grey;

      .nav-link {

        &.active {
          background-color: $light-grey;
          border-color: $grey;
          border-bottom: 1px solid $light-grey;

          &:hover {
            border-color: $grey;
            border-bottom: 1px solid $light-grey;
          }
        }

        &:hover {
          border-color: $blue;
          border-bottom: 1px solid $blue;
        }
      }

      @include media-breakpoint-up(sm) {
        border-bottom: 0;
      }
    }

    .tab-content,
    .field--name-field-menu-sections {
      background-color: $light-grey;
    }

    .tab-content {
      border-top: 1px solid $grey;
      border-bottom: 1px solid $grey;
    }

    .field--name-field-menu-footer {
      background-color: $light-grey;
    }
  }

  &.background--blue {
    .field--name-field-menu-sections {
      background-color: $light-teal-fade;
    }
  }
}


.node--type-food-drink-menu,
.paragraph--type--food-drink-menu-multi {
  font-family: $font-primary--light;
  text-align: center;

  .node--type-food-drink-menu__title {
    margin-bottom: 1rem;
  }

  .field--name-field-menu-items {
    padding-bottom: 1.4rem;

    @include media-breakpoint-up(lg) {
      padding-bottom: 2.8rem;
    }
  }

  .field--name-field-menu-items, .tab-content {
    p {
      font-size: 1.1rem;
      margin-bottom: 2rem;

      strong {
        font-family: $CeraPRO-Regular;
        font-size: 1.25rem;
      }
    }
  }

  .field--name-field-menu-sections {
    padding-left: 15px;
    padding-right: 15px;
    .field__item {
      max-width: 920px;
      margin: 0 auto;
    }
  }

  // Default, "full" layout option
  &.node--view-mode-default {
    .field--name-field-menu-sections {
      padding-top: 3rem;
      padding-left: 15px;
      padding-right: 15px;

      @include media-breakpoint-up(lg) {
        padding-top: 4.2rem;
      }
    }

    .field--name-field-menu-footer {
      padding-bottom: 3rem;

      p {
        font-size: 1.1rem;
      }

      @include media-breakpoint-up(lg) {
        padding-bottom: 6.25rem;
      }
    }
  }

  .paragraph--type--food-drink-menu-section {
    .field--name-field-title {
      color: $blue;
      margin-bottom: 2.2rem;
      font-family: $CeraPRO-Regular;
      font-size: 1.65rem;
    }
  }

  .field--name-field-menu-footer {
    padding-top: 1rem;
  }
}

.paragraph--type--food-drink-menu-single-{

  &.override-title, &.override-intro {

    .node--type-food-drink-menu {
      padding-top: 0;
    }
  }

  .node--view-mode-food-drink-menu-tab {
    .field--name-field-menu-footer {
      //padding-bottom: 0;
    }
  }

  &.override-title {
    .node--type-food-drink-menu__title, .field--name-title  {
      display: none;
    }
  }

  &.override-intro {
    .node__content {
      .field--name-field-intro {
        display: none;
      }
    }
  }

  &.override-intro:not(.override-title) {
    .node--type-food-drink-menu__title, .field--name-title {
      display: none;
    }
    .node--type-food-drink-menu {
      padding-top: 0;
    }

    .field--name-field-menu {
      margin-top: 0;
    }

    .field--name-field-intro + .field--name-field-menu {
      margin-top: 0;
    }
  }

  &.override-title:not(.override-intro) {
    .field--name-field-title + .field--name-field-menu {
      margin-top: 0;
    }

    .field--name-field-intro {
      margin-bottom: 30px;
      margin-top: 10px;

      @include media-breakpoint-up(lg) {
        margin-bottom: 50px;
        margin-top: 20px;
      }
    }
  }

  &.background--blue {
    .node--type-food-drink-menu.node--view-mode-default {
      .field--name-field-menu-footer {
        background-color: $light-teal-fade;
      }
    }
  }

  &.background--grey {
    .node--type-food-drink-menu.node--view-mode-default {
      .field--name-field-menu-footer {
        background-color: $light-grey;
      }
    }
  }
}