/* Paragraph Layout : Full Width CTA with Background */

.paragraph--type--full-width-image-cta {

  //Setup box heights
  position: relative;
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  height: 400px;

  @include media-breakpoint-up(md) {
    min-height: 550px;
  }

  @include media-breakpoint-up(xl) {
    min-height: 700px;
  }

  .field--name-field-background-image {
    position: absolute;
    z-index: z('paragraph-layer-background'); // see _functions.scss for z-index order
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .field__item {
      height: 100%;
    }

    .media {
      position: relative;
      display: block;
      height: 100%;
    }

    .field--name-field-media-image {
      height: 100%;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  // CTA Box Position (Default):  box placement is Left aligned
  .cta-box--wrapper {
    padding: 50px 20px;

    @include media-breakpoint-up(sm) {
      //padding: 20px 50px;
    }

    @include media-breakpoint-up(md) {
      padding: 20px 10%;
    }

    @include media-breakpoint-up(xl) {
      padding: 20px 11.75%;
    }

    @include media-breakpoint-up(xxl) {
      padding: 20px 13.5%;
    }

    &::before {
      // For Phones -  Left align/Center content
      position: absolute;
      top: 0;
      left: 0;
      z-index: z("paragraph-layer-front"); // see _functions.scss for z-index order
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba($blue, 0.02) 0%, rgba($dark-teal, 0.7) 54.2%);
      content: "";
      @include transition();

      @include media-breakpoint-up(sm) {
        background: linear-gradient(to right, rgba($dark-teal, 0.7) 50%, rgba($blue, 0.02) 80%);
      }

      @include media-breakpoint-up(xl) {
        background: linear-gradient(to right, rgba($dark-teal, 0.7) 40%, rgba($blue, 0.02) 70%);
      }

      @include media-breakpoint-up(xxl) {
        background: linear-gradient(to right, rgba($dark-teal, 0.7) 30%, rgba($blue, 0.02) 60%);
      }
    }

    .cta-box {
      position: relative;
      z-index: 105;

      @include media-breakpoint-up(sm) {
        max-width: 360px;
      }

      @include media-breakpoint-up(md) {
        max-width: 460px;
      }

      // CTA Title
      h3 {
        flex: 0 0 auto;
        font-family: $CeraPRO-Medium;
        font-size: rems(24);
        margin-bottom: 20px;
        color: $white;
        text-shadow: 0 1px 10px rgba(45, 45, 45, 0.5);

        @include media-breakpoint-up(md) {
          font-size: rems(42);
        }
      }

      // CTA Short Description
      .field--name-field-short-description {
        flex: 0 0 auto;
        font-family: $CeraPRO-Light;
        font-size: rems(18);
        line-height: 1.5;
        margin-bottom: 40px;
        color: $white;

        @include media-breakpoint-up(md) {
          font-size: rems(20);
        }

        @include media-breakpoint-up(xl) {
          font-size: rems(22);
        }
      }

      .video-play {
        width: 60px;
        height: 60px;
        background-image: url('../img/play-button.svg');
        background-size: 100% auto;
        display: block;
        margin: 0 auto 40px;
        transition: all 0.3s ease-in-out;

        @include media-breakpoint-up(sm) {
          margin: 0 0 40px;
          width: 80px;
          height: 80px;
        }

        &:hover {
          transform: scale(1.1);
        }
      }

      // CTA Button Link
      .field--name-field-link {
        flex: 1 0 auto;
        align-self: baseline;

        a {
          @include btn();
          width: 100%;
          color: $teal; // Actually text color depends on on the box background for the button so override as necessary.
          border-color: $white; // these get a border because These buttons are often paired with a transparent button.
          background-color: $white;
          max-width: 350px;
          margin: 0 auto;
          display: block;

          &:hover {
            color: $teal;
          }

          @include media-breakpoint-up(sm) {
            width: auto;
            max-width: none;
            margin: 0;
            display: inline-block;
          }
        }
      }
    }
  }

  // CTA Box Position (Option - Right): box placement is Right aligned
  .cta-box--wrapper.cta-position--right {

    &::before {
      @include media-breakpoint-up(sm) {
        background: linear-gradient(to left, rgba($dark-teal, 0.7) 50%, rgba($blue, 0.02) 80%);
      }
      @include media-breakpoint-up(md) {
        padding: 0 5%;
      }
      @include media-breakpoint-up(xl) {
        background: linear-gradient(to left, rgba($dark-teal, 0.7) 40%, rgba($blue, 0.02) 70%);
        padding-right: 7%;
      }

      @include media-breakpoint-up(xxl) {
        background: linear-gradient(to left, rgba($dark-teal, 0.7) 30%, rgba($blue, 0.02) 60%);
        padding: 0 12%;
      }
    }

    .cta-box {
      align-self: flex-end;
    }
  }
}

.video-paragraph-content {
  width: 100%;

  @include media-breakpoint-up(md) {
    width: 90%;
  }
}