/* Paragraph Layout : Full Width CTA with Background */

.paragraph--type--full-width-cta-with-background {
  position: relative;

  // Full with background image
  .field--name-field-background-image {
    .media {
      position: relative;
    }

    .field--name-field-media-image {
      height: 240px;

      @include media-breakpoint-up(sm) {
        height: 400px;
      }

      @include media-breakpoint-up(md) {
        height: 575px;
      }

      @include media-breakpoint-up(lg) {
        height: 700px;
      }

      @include media-breakpoint-up(xl) {
        height: 800px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    .cta-buttons {
      div.field__item {
        display: inline-block;
      }
    }
  }

  @include media-breakpoint-up(md) {
    // Placement of the CTA box
    &.cta-position--top-left {
      margin-top: 60px;

      .cta-box {
        top: -60px;
        left: 30px;
      }
    }

    &.cta-position--top-right {
      margin-top: 60px;

      .cta-box {
        top: -60px;
        right: 30px;
      }
    }

    &.cta-position--center-left {
      .cta-box {
        top: 50%;
        transform: translateY(-50%);
        left: 30px;
      }
    }

    &.cta-position--center-center {
      .cta-box {
        top: 50%;
        transform: translateY(-50%);
        right: auto;
        left: auto;
      }
    }

    &.cta-position--center-right {
      .cta-box {
        top: 50%;
        transform: translateY(-50%);
        right: 30px;
      }
    }

    &.cta-position--bottom-right {
      .cta-box {
        bottom: -60px;
        right: 30px;
      }
    }

    &.cta-position--bottom-left {
      .cta-box {
        bottom: -60px;
        left: 30px;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    &.cta-position--top-left,
    &.cta-position--top-right {
      margin-top: 60px;
    }
    &.cta-position--bottom-left,
    &.cta-position--bottom-right {
      padding-bottom: 60px;
    }
  }

  @media (min-width: 1920px) {
    // Placement of the CTA box
    &.cta-position--top-left {
      .cta-box {
        left: 210px;
      }
    }

    &.cta-position--top-right {
      .cta-box {
        right: 210px;
      }
    }

    &.cta-position--center-left {
      .cta-box {
        left: 210px;
      }
    }

    &.cta-position--center-right {
      .cta-box {
        right: 210px;
      }
    }

    &.cta-position--bottom-right {
      .cta-box {
        right: 210px;
      }
    }

    &.cta-position--bottom-left {
      .cta-box {
        left: 210px;
      }
    }

    .cta-buttons {
      div.field__item {
        //display: inline;
      }
    }
  }

  // CTA Box Styling, layered approached:
  // 1. Background Image
  // 2. Color Overlay
  // 3. Text/Icons/Buttons

  .cta-box {
    width: 100%;
    color: $white;

    @include media-breakpoint-up(lg) {
      position: absolute;
      max-width: 675px;
      z-index: 20;
    }

    .overlay {
      height: 100%;
      padding: 40px 20px;
      text-align: center;
      color: $offwhite;
      position: relative;

      .overlay-inner {
        position: relative;
        z-index: 2;
      }

      .field--name-field-text-background-image {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        opacity: 0.1;
        bottom: 0;
        z-index: 1;

        .media {
          height: 100%;

          .field--name-field-media-image {
            height: 100%;
            width: 100%;

            picture {
              height: 100%;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
        }
      }

      @include media-breakpoint-up(md) {
        padding: 70px 50px;
      }

      @include media-breakpoint-up(lg) {
        padding: 100px 80px;
      }

      // Overlay Colors
      &.overlay--teal {
        background-color: rgba($teal, 0.90);
      }

      &.overlay--darkteal {
        background-color: rgba($dark-teal, 0.90);
      }

      &.overlay--blue {
        background-color: rgba($blue, 0.90);
      }

      &.overlay--electricblue {
        background-color: rgba($electric-blue, 0.90);
      }

      &.overlay--charcoal {
        background-color: rgba($charcoal, 0.90);
      }

      &.overlay--white {
        background-color: rgba($white, 0.90);
        color: $blue;

        h1, h2 {
          color: $blue;
        }

        .featured-icons {
          .field--name-field-svg {
            svg {
              fill: $blue;
            }
          }
        }

        .cta-buttons {
          .btn {
            @include btn();
            border: 2px solid $teal;
            color: $white;
            display: block;
            width: 100%;
            max-width: 350px;
            margin: 0 auto;


            @include media-breakpoint-up(sm) {
              width: auto;
              max-width: none;
            }
          }

          .field__item:nth-child(2) .btn {
            @include btn();
            border: solid 2px $teal;
            background: $white;
            color: $teal;
            width: 100%;
            max-width: 350px;
            display: block;
            margin: 0 auto;

            @include media-breakpoint-up(sm) {
              width: auto;
              max-width: none;
            }

            &:hover {
              color: $teal;
            }
          }
        }
      }
    }

    // CTA Title
    h1, h2 {
      font-family: $CeraPRO-Medium;
      font-size: rems(24);
      margin-bottom: 20px;
      color: $offwhite;

      @include media-breakpoint-up(md) {
        font-size: rems(42);
      }
    }

    // CTA Content Blurb
    .field--name-field-body {
      font-family: $CeraPRO-Light;
      font-size: rems(18);
      margin-bottom: 40px;

      p {
        font-size: rems(18);

        @include media-breakpoint-up(md) {
          font-size: rems(22);
        }

        @include media-breakpoint-up(lg) {
          font-size: 22px;
        }
      }
    }

    // Icons
    .featured-icons {
      margin-bottom: 30px;
      line-height: 1.2;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .field__item {
        flex: 1 0 33.33%;
        max-width: 150px;
      }

      @include media-breakpoint-up(sm) {
        margin: 0 -15px 40px;
        flex-wrap: nowrap;
        justify-content: space-between;

        .field__item {
          flex: 1 1 0;
          padding: 0;
          margin-bottom: 0;
          max-width: 250px;
        }
      }

      @include media-breakpoint-up(md) {
        margin: 0 -30px 40px;
      }

      .taxonomy-term {
        display: flex;
        text-align: center;
        align-items: center;
        margin-bottom: 25px;
        padding-left: 10px;
        padding-right: 10px;
        flex-direction: column;

        @include media-breakpoint-up(sm) {
          margin-bottom: 0;
        }
      }

      .field--name-field-svg {
        width: 48px;
        height: 48px;
        margin-right: 20px;
        text-align: center;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &.field__item {
          margin: 0 auto 10px;
          flex-basis: 48px;
        }

        svg {
          fill: $white;
        }
      }

      .field--name-name {
        font-size: 15px;
        line-height: 1.25;
        font-family: $CeraPRO-Medium;
        width: 100%;

        @include media-breakpoint-up(lg) {
          font-size: 18px;
        }
      }

      &.icon-layout__Inline {
        margin-left: 0;
        margin-right: 0;
        flex-wrap: wrap;

        .field__item {
          flex: 0 0 100%;
          text-align: left;
          margin: 10px 0;
          padding: 0;
          max-width: none;

          @include media-breakpoint-up(sm) {
            flex: 1 0 50%;
          }

          .taxonomy-term {
            flex-direction: row;
            display: flex;
            margin-bottom: 0;
            padding-left: 0;

            .field__item {
              flex: unset;
            }

            .field--name-field-svg {
              flex: 0 0 48px;
              margin: 0;
              justify-content: center;
              margin-right: 15px;
            }
          }
        }
      }

      &.icons-with-title-and-description {
        .icon {
          margin-bottom: 25px;

          @include media-breakpoint-up(sm) {
            margin-bottom: 0;
          }
        }
        .taxonomy-term {
          margin-bottom: 0;
          padding: 0;
        }

        .field--name-field-title, .field--name-field-short-description {
          padding-left: 10px;
          padding-right: 10px;
        }

        .field--name-field-short-description {
          margin-top: 5px;
        }

        .icon.has-title {
          .taxonomy-term {
            margin-bottom: 0;
          }
          .field--name-name {
            display: none;
          }

          .field--name-field-title {
            font-size: 15px;
            line-height: 1.25;
            font-family: $CeraPRO-Medium;

            @include media-breakpoint-up(lg) {
              font-size: 18px;
            }
          }
        }

        .icon:not(has-title):not(has-description) {
          .taxonomy-term {
            display: flex;
            align-items: center;
          }
        }

        &.icon-layout__Inline {
          justify-content: space-between;

          .field__item {
            @include media-breakpoint-up(sm) {
              flex: 0 0 46%;
            }
          }
          .icon {
            margin-bottom: 0;
          }

          .icon:not(has-title):not(has-description) {
            .taxonomy-term {
              align-items: flex-start;
            }
          }

          .icon.has-title {
            align-items: center;

            &.has-description {
              align-items: flex-start;
            }
          }

          .icon.has-title, .icon.has-description {
            display: flex;

            .field--name-field-single-icon {
              flex: 0 0 48px;
            }

            .field--name-field-title, .field--name-field-short-description {
              padding-left: 0;
              padding-right: 0;
            }
          }

          .icon.has-description {
            display: block;

            .field--name-field-short-description {
              padding-left: 63px;
            }

            .field--name-name {
              margin-bottom: 0;
            }

            &.has-title {
              display: flex;

              .field--name-field-short-description {
                padding-left: 0;
              }
            }
          }
        }
      }
    }

    .field--name-field-body + .icon-layout__Inline {
      margin-top: -30px;
      margin-bottom: 30px;
    }

    // Buttons
    .cta-buttons {
      text-align: center;

      .field__item + .field__item {
        margin-top: 10px;
      }

      .field__item {
        @include media-breakpoint-up(sm) {
          //max-width: 48%;
        }
      }

      a {
        @include btn();
        margin: 10px auto;
        border: 2px solid $white;
        color: $white;
        display: block;
        max-width: 350px;
        width: 100%;

        @include media-breakpoint-up(sm) {
          margin: 0 5px 10px;
          width: initial;
          max-width: none;
          display: inline-block;
        }
      }

      .field__item:nth-child(2) .btn {
        border: solid 2px $white;
        background: $white;
        color: $teal;
      }
    }
  }

  &.text-alignment--left {
    .cta-box {
      .overlay {
        text-align: left;
      }

      .cta-buttons {
        text-align: left;
      }
    }
  }

  //  Display the cruiseline 'O' watermark.
  //  This is a special logo overlay on a White background.
  //  If set in the paragraph layout, other layout options are ignored to force the specific colours and spacing required by this varient.

  &.display-background-logo {
    overflow: hidden;
    padding-bottom: 0;

    .o-logo-icon {
      width: 100%;
      left: 0;
      top: 240px;
      bottom: 0;
      object-fit: contain;
      position: absolute;
      object-position: center;

      // Hiding this image for now due to rebranding
      display: none;

      @include media-breakpoint-up(sm) {
        top: 420px;
        width: calc(100% - 50px);
      }

      @include media-breakpoint-up(md) {
        max-width: 700px;
        top: 300px;
        width: 100%;
      }

      @include media-breakpoint-up(lg) {
        top: 430px;
        max-width: 790px;
      }

      @include media-breakpoint-up(xl) {
        width: 38%;
        max-width: none;
        height: 100%;
        object-fit: cover;
        top: 0;
        //display: block;
      }

      @media (min-width: 1920px) {
        width: 45%;
      }
    }

    .field--name-field-background-image {
      margin-left: auto;
      margin-right: 0;
      position: relative;

      @include media-breakpoint-up(lg) {
        //width: 55%;
      }

      @include media-breakpoint-up(xl) {
        width: 62%;
      }

      @media (min-width: 1920px) {
        width: 55%;
      }
    }

    .cta-box {
      margin-top: -60px;
      padding-right: 15px;

      @include media-breakpoint-up(sm) {
        padding-right: 40px;
        margin-top: -80px;
      }

      @include media-breakpoint-up(md) {
        padding-right: 50px;
        top: 0;
        transform: none;
        margin-top: -270px;
        max-width: 750px;
      }

      @include media-breakpoint-up(lg) {
        position: relative;
        padding-right: 0;
        //margin-top: -270px;
        margin-bottom: 80px;
      }

      @include media-breakpoint-up(xl) {
        margin-top: 0;
        margin-bottom: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 30px;
        bottom: auto;
        height: auto;
      }

      @media (min-width: 1920px) {
        left: 210px;
      }

      .overlay {
        background: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.1) 100%);
        color: $blue;
        padding: 20px;

        @include media-breakpoint-up(sm) {
          padding: 40px;
          // Added this line in for now due to rebranding
          background: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 90%, rgba(255, 255, 255, 0.1) 100%);
        }

        @include media-breakpoint-up(md) {
          //background: rgba($white, 0.9);
          min-height: 700px;
          padding: 50px 60px;
        }

        @include media-breakpoint-up(lg) {
          // Removed for now due to rebranding
          //background-color: transparent;
          min-height: 500px;
        }

        @include media-breakpoint-up(xl) {
          background: linear-gradient(269.66deg, rgba(255, 255, 255, 0.99) 0.15%, rgba(255, 255, 255, 0.99) 50.35%, rgba(255, 255, 255, 0.5) 70.72%, rgba(255, 255, 255, 0.1) 149.52%);
          min-height: 300px;
        }

        @media (min-width: 1400px) {
          background: linear-gradient(269.66deg, rgba(255, 255, 255, 0.99) 0.15%, rgba(255, 255, 255, 0.99) 29.35%, rgba(255, 255, 255, 0.5) 56.72%, rgba(255, 255, 255, 0.1) 149.52%);
        }

        h1, h2 {
          color: $blue;
        }

        .featured-icons {
          .field--name-field-svg {
            svg {
              fill: $blue;
            }
          }
        }

        .cta-buttons {
          .field__item:nth-child(2) .btn {
            border: solid 2px $teal;
          }
        }

        .field--name-field-body + .icon-layout__Inline {
          margin-bottom: 0;
        }

        .icon-layout__Inline + .cta-buttons {
          margin-top: 30px;
        }
      }
    }
  }

  // Wider Text

  &.wider-text {
    .cta-box {
      @include media-breakpoint-up(md) {
        max-width: 750px;
      }

      .overlay {
        padding: 20px;
        @include media-breakpoint-up(sm) {
          padding: 40px;
        }

        @include media-breakpoint-up(lg) {
          padding: 50px 60px;
        }
      }
    }
  }

  // Background Overlay Colors

  &.has-cta-background {
    .overlay--teal {
      background-color: $teal;
    }

    .overlay--darkteal {
      background-color: $dark-teal;
    }

    .overlay--blue {
      background-color: $blue;
    }

    .overlay--electricblue {
      background-color: $electric-blue;
    }

    .overlay--charcoal {
      background-color: $charcoal;
    }

    .overlay--white {
      background-color: $white;
      //color: $blue;
    }
  }
}