
/* Paragraph Layout : Full Width Location Selection */

.paragraph--type--full-location-selection {

  min-height: 800px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;

  @include media-breakpoint-down(lg) {
    min-height: 675px;
  }

  @include media-breakpoint-down(md) {
    min-height: 550px;
  }

  @include media-breakpoint-down(sm) {
    min-height: 1px;
    padding-bottom: 60px;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    @include media-breakpoint-down(sm) {
      display: none !important;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .container {
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: flex-end;

    @include media-breakpoint-down(sm) {
      display: block;
      padding: 0;
    }

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 10;
      width: 15%;
      height: 100%;
      opacity: 0.8;
      top: 0;
    }

    &:before {
      left: 0;
      @include media-breakpoint-up(md) {
        background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      }
    }
    &:after {
      right: 0;
      @include media-breakpoint-up(md) {
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      }
    }
  }


  .inner {
    display: inline-block;
    text-align: left;
    z-index: 20;
    max-width: 475px;
    padding: 45px 0;

    @include media-breakpoint-down(sm) {
      padding: 0 15px;
      max-width: none;
      margin-top: -30px;
    }

    > div {
      position: relative;
    }

    h2 {
      font-family: $CeraPRO-Medium;
      font-size: 42px;
      color: $blue;
      margin-bottom: 30px;

      @include media-breakpoint-down(lg) {
        font-size: 36px;
        margin-bottom: 20px;
      }

      @include media-breakpoint-down(sm) {
        font-size: 24px;
      }
    }

    p {
      font-family: $CeraPRO-Regular;
      //line-height: 34px;
      font-size: 22px;
      color: $charcoal;
      margin-bottom: 25px;

      @include media-breakpoint-down(md) {
        font-size: 18px;
        margin-bottom: 20px;
      }
    }

    .btn-list {
      display: flex;
      flex-wrap: wrap;
      max-width: 350px;
      justify-content: space-between;

      @include media-breakpoint-down(md) {
        width: 100%;
      }

      @include media-breakpoint-down(sm) {
        max-width: 475px;
      }

      a.btn {
        @include btn();
        flex: 0 0 47%;
        margin: 10px 0;
        width: 100%;
        max-width: 47%;

        @include media-breakpoint-down(md) {
          margin: 5px 0;
          flex: 0 0 48%;
          max-width: 48%;
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
  }

  .field--name-field-location-mobile-image {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
    z-index: -1;

    @include media-breakpoint-up(md) {
      display: none;
    }

    img {
      //max-width: 100%;
      width: 100%;
      height: 310px;
      object-fit: cover;
      object-position: center;
    }

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 10;
      width: 15%;
      height: 100%;
      opacity: 0.8;
      top: 0;
    }

    &:before {
      left: -15px;
      @include media-breakpoint-down(lg) {
        background: linear-gradient(to left, rgba(255, 255, 2550, 0) 0%, rgba(255, 255, 255, 1) 100%);
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
    &:after {
      right: -15px;
      @include media-breakpoint-down(lg) {
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      }

      @include media-breakpoint-down(sm) {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 1) 95%,  rgba(255, 255, 255, 1) 100%);
        opacity: 1;
      }
    }
  }
}