.paragraph--type--gallery {
  overflow: hidden;
  padding: 40px 0;
  background-color: $light-teal-fade;

  // Layout Padding
  @include media-breakpoint-up(lg) {
    padding: 60px 0;
  }

  @include media-breakpoint-up(xl) {
    padding: 80px 0;
    background-color: transparent;
  }

  .container {
    max-width: 1400px;
  }

  .gallery__title, .gallery__intro {
    max-width: 920px;
  }

  h2 {
    @include media-breakpoint-up(md) {
      margin-bottom: 20px;
    }
  }

  .field--name-field-intro {
    font-family: $CeraPRO-Light;

    @include media-breakpoint-up(lg) {
      font-size: 1.25rem;
    }
  }

  .gallery__items {

    @include media-breakpoint-up(sm) {
      height: 80vw;
      display: flex;
      //flex-wrap: nowrap;
      //height: 500px;
      flex-direction: column;
      position: relative;
    }

    @include media-breakpoint-up(md) {
      flex-direction: row;
      height: 60vw;
    }

    @media (min-width: 1400px) {
      height: 840px;
    }

    &::before {
      @include media-breakpoint-up(xl) {
        width: 112%;
        height: 200%;
        left: -25%;
        top: auto;
        background-color: $light-teal-fade;
        position: absolute;
        bottom: 25%;
        right: 0;
        content: "";
        z-index: -1;
      }
    }

    .gallery-item {
      display: none;
      height: 200px;
      overflow: hidden;
      position: relative;

      @include media-breakpoint-up(sm) {
        height: 100%;
      }

      .view-all {
        display: none;
      }

      .paragraph--type--gallery-item, .media, .field--name-field-media-image {
        height: 100%;
        width: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      .field__item {
        height: 100%;
      }

      .video-item {
        &::after {
          background-color: rgba(84, 187, 244, 0.9);
          background-image: url("../img/play-arrow.svg");
          background-position: center;
          background-size: 25% auto;
          background-repeat: no-repeat;
          position: absolute;
          top: 44%;
          left: 43%;
          content: "";
          width: 16%;
          height: 14%;

          @media (max-width: 500px) {
            width: 64px;
            height: 42px;
            top: 50%;
            left: 50%;
            margin-top: -21px;
            margin-left: -32px;
          }
        }
      }
    }

    .the-first, .the-rest {
      .gallery-item {
        display: block;
      }
    }

    .the-first {
      flex: 1 0 75%;
      margin-bottom: 5px;

      .gallery-item {
        height: 300px;

        @include media-breakpoint-up(sm) {
          height: 100%;
        }
      }

      @include media-breakpoint-up(md) {
        flex: 0 0 75%;
        margin-right: 10px;
        margin-bottom: 0;
      }
    }

    .the-rest {
      display: flex;
      flex-wrap: wrap;

      @include media-breakpoint-up(sm) {
        flex: 0 0 25%;
      }

      @include media-breakpoint-up(md) {
        flex-direction: column;
        flex-wrap: nowrap;
      }

      .gallery-item {
        position: relative;
        flex: 0 0 100%;

        @include media-breakpoint-up(sm) {
          flex: 1 1 0;
        }

        @include media-breakpoint-up(md) {
          height: 33.33%;
        }

        .view-all {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba($teal, 0.8);
          color: $white;
          align-items: center;
          justify-content: center;
          font-family: $CeraPRO-Medium;
          font-size: 20px;
          transition: all 0.3s ease-in-out;

          @include media-breakpoint-up(lg) {
            font-size: 23px;
          }

          @include media-breakpoint-up(xl) {
            font-size: 26px;
          }
        }

        &.gallery-item-index-4 {
          .view-all {
            display: flex;
          }

          a:hover {
            .view-all {
              background: rgba(0, 15, 33, 0.3);
            }
          }
        }
      }

      .gallery-item + .gallery-item {
        margin-top: 5px;

        @include media-breakpoint-up(sm) {
          margin-top: 0;
          margin-left: 5px;
        }

        @include media-breakpoint-up(md) {
          margin-left: 0;
          margin-top: 10px;
        }
      }
    }
  }

  &.has-venue-cta {
    .gallery__items {
      &::before {
        bottom: - 200%;
        height: 1000%;
      }
    }

    .gallery__cta {
      @include media-breakpoint-up(xl) {
        max-width: 75%;
      }

      .container {
        padding: 0;

        .field--name-field-venue {
          border: 1px solid $mercury;
          margin-bottom: 0;

          .venue__image {
            @include media-breakpoint-up(sm) {
              flex: 0 0 40%;
            }

            @include media-breakpoint-up(md) {
              flex: 0 0 35%;
            }

            .field--name-field-media-image {
              @include media-breakpoint-up(md) {
                min-height: 225px;
              }

              @include media-breakpoint-up(xl) {
                min-height: 300px;
              }
            }
          }

          .venue__content {
            h4 {
              font-size: 1.5rem;

              @include media-breakpoint-up(md) {
                font-size: 2rem;
              }
            }

            a {
              // ie11svgissue
              color: $blue;
              margin-top: 0;

              &::after {
                background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2212%22%20height%3D%229%22%20viewBox%3D%220%200%2012%209%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20class%3D%22blue%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0%201.26918L6%208L12%201.26918L10.8686%200L6%205.46165L1.13137%200L0%201.26918Z%22%20fill%3D%22%23002554%22%20%2F%3E%0A%20%20%3C%2Fsvg%3E');
                width: 10px;
                height: 7px;
                background-size: 10px 7px;
              }
            }
          }
        }
      }
    }
  }

  &.item-count--4 {
    .gallery__items .the-rest .gallery-item.gallery-item-index-4 {
      .view-all {
        display: none;
      }
    }
  }

  &.item-count--3 {
    .gallery__items {
      @include media-breakpoint-up(sm) {
        height: 500px;
      }

      @include media-breakpoint-up(md) {
        height: 350px;
      }

      @include media-breakpoint-up(lg) {
        height: 450px;
      }

      @include media-breakpoint-up(xl) {
        height: 650px;
      }

      .the-first {
        flex: 0 0 60%;
        @include media-breakpoint-up(md) {
          flex: 0 0 70%;
        }
      }

      .the-rest {
        .gallery-item {
          /* @include media-breakpoint-up(sm) {
            flex: 0 0 50%;
          } */

          @include media-breakpoint-up(md) {
            height: 50%;
          }
        }
      }
    }

    .gallery__cta {
      @include media-breakpoint-up(xl) {
        max-width: 70%;
      }
    }
  }

  &.item-count--2 {
    .gallery__items {
      @include media-breakpoint-up(sm) {
        height: auto;
      }

      @include media-breakpoint-up(md) {
        height: 250px;
      }

      @include media-breakpoint-up(lg) {
        height: 350px;
      }

      @include media-breakpoint-up(xl) {
        height: 500px;
      }

      .the-first {
        flex: 0 0 100%;

        @include media-breakpoint-up(sm) {
          flex: 0 0 50%;
        }
      }

      .the-rest {
        @include media-breakpoint-up(sm) {
          flex: 0 0 50%;
        }
        
        .gallery-item {
          flex: 0 0 100%;
          height: 100%;
        }
      }
    }
  }

  &.item-count--1 {
    .gallery__items {
      @include media-breakpoint-up(sm) {
        //height: auto;
      }

      .the-first {
        flex: 0 0 100%;
        margin: 0;
      }
    }
  }
}

.gallery-paragraph-content, .video-paragraph-content {
  max-width: 100%;
  //width: 100%;
  padding: 15px;

  .media, .field--name-field-media-image {
    height: 100%;
    width: 100%;

    img {
      //width: 100%;
      //height: 100%;
      object-fit: cover;
      object-position: center;
      max-width: 100%;
      max-height: 80vh;
    }
  }

  @include media-breakpoint-up(md) {
    padding: 25px;
    max-width: 90%;
  }

  @include media-breakpoint-up(xl) {
    padding: 40px;
  }

  &.gallery-video-item {
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 90%;
    }
  }
}