
.paragraph--type--highlight-detail-blocks {

  .container {
    max-width: 1400px;
  }

  .highlight-block {

    /* Setup default block padding. */
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-up(sm) {
      padding: 30px
    }
    @include media-breakpoint-up(md) {
      padding: 40px
    }

    @include media-breakpoint-up(lg) {
      padding: 60px;
      margin-bottom: 0;
    }

    &__inner {
      width: 100%;
    }

    // Block Title
    h2.title {
      margin-bottom: 0.8em;
    }

    p:last-child {
      margin-bottom: 0;
    }

    /* Block text area */

    // Text Links
    a {
      font-family: $CeraPRO-Medium;
      @include grow_text_link;
    }

    .btn + a:not(.btn),
    a:not(.btn) + .btn {
      margin: 5px 15px;
    }

    // Button Links
    a.btn {
      //margin-bottom: 10px;
      width: 100%;
      max-width: 300px;
      margin: 5px;
      @include media-breakpoint-up(md) {
        //margin: 5px;
      }

      &:hover {
        transform: scale(1.040, 1.075);
      }
    }

    // File Downloads
    .field--name-field-file-downloads,
    .field--name-field-file-downloads-2 {
      text-align: center;
      margin-top: 15px;

      @include media-breakpoint-up(md) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      .field__item {

        a.btn {
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.0915 8.20463C12.9989 8.00325 12.7955 7.875 12.5715 7.875H10.2858V0.5625C10.2858 0.252 10.0298 0 9.71436 0H7.42864C7.11321 0 6.85721 0.252 6.85721 0.5625V7.875H4.5715C4.3475 7.875 4.14407 8.00438 4.0515 8.20463C3.95778 8.406 3.99436 8.64112 4.14178 8.80762L8.14179 13.3076C8.25036 13.4303 8.40693 13.5 8.5715 13.5C8.73607 13.5 8.89264 13.4291 9.00121 13.3076L13.0012 8.80762C13.1498 8.64225 13.1841 8.406 13.0915 8.20463Z' fill='%23ffffff'/%3e%3cpath d='M14.8571 12.375V15.75H2.28571V12.375H0V16.875C0 17.4971 0.512 18 1.14286 18H16C16.632 18 17.1429 17.4971 17.1429 16.875V12.375H14.8571Z' fill='%23ffffff'/%3e%3c/svg%3e");
          background-position: right 25px center;
          background-repeat: no-repeat;
          padding-right: 50px;
          margin-bottom: 10px;

          width: 100%;
          max-width: 300px;
        }
      }
    }
  }

  // When only one box, allow the download buttons to display on the same line after the md breakpoint
  &.no-second-box {
    .highlight-block {
      margin-bottom: 0;
      .field--name-field-file-downloads,
      .field--name-field-file-downloads-2 {
        .field__item {
          a.btn {
            @include media-breakpoint-up(md) {
              width: unset;
              max-width: unset;
            }
          }
        }
      }
    }
  }

  // We need to change File Download button size based on two box display and breakpoints
  &.has-second-box {
    .highlight-block {

      a.btn {
        @include media-breakpoint-up(lg) {
          margin-bottom: 10px;
        }
        @include media-breakpoint-up(xxl) {
          margin-bottom: 0;
        }
      }

      .field--name-field-file-downloads,
      .field--name-field-file-downloads-2 {

        @include media-breakpoint-up(lg) {
          display: block;
        }
        @include media-breakpoint-up(xxl) {
          display: flex;
        }

        .field__item {
          a.btn {
            @include media-breakpoint-up(md) {
              width: unset;
              max-width: unset;
            }
            @include media-breakpoint-up(lg) {
              width: 100%;
              max-width: 300px;
            }
            @include media-breakpoint-up(xxl) {
              width: unset;
              max-width: unset;
            }
          }
        }
      }
    }
  }

  // Color tweaks for Grey Background -- Default
  .highlight-block--grey {
    background-color: $light-grey;
    border: solid 1px $grey;

    a.btn-transparent {
      color: $teal;
      background: none;
      border-color: $teal;
    }

    a.btn-white {
      border-color: $teal;
    }
  }

  // Color tweaks for Blue Background
  .highlight-block--blue {
    background-color: $electric-blue;
    color: $white;

    h2.title {
      color: $white;
    }

    /* Links on an electric blue background */
    a {
      color: $white;
    }

    /* Buttons -- force white buttons and override what might be set in the WYSIWYG editor. */
    a.btn,
    a.btn.btn-blue,
    a.btn.btn-white {
      background-color: $white;
      color: $electric-blue;
    }

    // Transparent still works
    a.btn.btn-transparent {
      border: solid 1px $white;
      color: $white;
      background: transparent;
    }

    .btn-file-download {
      border-color: $white;
    }

    // File Downloads
    .field--name-field-file-downloads,
    .field--name-field-file-downloads-2 {
      .field__item {
        a.btn {
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.0915 8.20463C12.9989 8.00325 12.7955 7.875 12.5715 7.875H10.2858V0.5625C10.2858 0.252 10.0298 0 9.71436 0H7.42864C7.11321 0 6.85721 0.252 6.85721 0.5625V7.875H4.5715C4.3475 7.875 4.14407 8.00438 4.0515 8.20463C3.95778 8.406 3.99436 8.64112 4.14178 8.80762L8.14179 13.3076C8.25036 13.4303 8.40693 13.5 8.5715 13.5C8.73607 13.5 8.89264 13.4291 9.00121 13.3076L13.0012 8.80762C13.1498 8.64225 13.1841 8.406 13.0915 8.20463Z' fill='%230081C9'/%3e%3cpath d='M14.8571 12.375V15.75H2.28571V12.375H0V16.875C0 17.4971 0.512 18 1.14286 18H16C16.632 18 17.1429 17.4971 17.1429 16.875V12.375H14.8571Z' fill='%230081C9'/%3e%3c/svg%3e");
        }
      }
    }

    /* DEPRICATED -- field will be removed .*/
    .field--name-field-files, .field--name-field-files-2 {
      a {
        @include btn($electric-blue,$white);
      }
    }
  }

  // End of layout
}
