/* Paragraph Layout : Information Set with Icons */

.paragraph--type--information-tileset {
  position: relative;
  overflow: hidden;

  // Place the image behind the content.   This is a bit tricky as an absolute div is taken out of flow and cannot determine the height of its parents when the height is variable.
  .field--name-field-background-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    height: 100%;

    .media, .blazy, .field__item, picture {
      height: 100%;
    }

    img {
      display: block;
      object-fit: cover;
      object-position: center;
      width:100%;
      height: 100%;
    }
  }

  // Box Styling, layered approached:
  // 2. Color Overlay
  // 3. Text/Icons/Buttons

  .overlay {
    color: $white;
    padding:30px 10px;
    position: relative;

    @include media-breakpoint-up(sm) {
      padding: 40px;
    }

    @include media-breakpoint-up(md) {
      padding: 60px;
    }

    // Overlay Colors
    &.overlay--teal {
      background-color: rgba($teal, 0.90);
    }
  }

  // Title
  h2 {
    font-family: $CeraPRO-Medium;
    font-weight: normal;
    font-size: rems(24);
    color: $offwhite;
    margin-bottom: 10px;
    text-align: center;
    @include media-breakpoint-up(md) {
      font-size: rems(32);
    }
  }

  // Short Info Blurb
  .field--name-field-intro-text {
    font-family: $CeraPRO-Light;
    font-size: rems(18);
    color: $offwhite;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.5;
    @include media-breakpoint-up(md) {
      margin-bottom: 30px;
      font-size: rems(22);
    }
  }

  // Information Tiles  (Icon tiles)
  .information-tiles {
    line-height: 1.2;
    padding-top: 20px;

    @include media-breakpoint-up(md) {
      //padding-top: 50px;
    }

    // Tweaking of the Slick Slider Arrows
    .slick__arrow {
      display:none;
      left:20px;
      width: calc(100% - 40px); // something weird with the Width of the controls.  This fixes it with a css hammer.

      .slick-arrow:hover {
        color:$white;
      }

      @include media-breakpoint-up(md) {

        display: flex;
      }

      .slick-next {
        margin-top:-15px;
      }
    }

    .taxonomy-term {
      display: flex;
      align-items: center;


      @include media-breakpoint-up(md) {
        flex-direction: column;
        margin-bottom: 0;
        display: initial;
      }
    }


    .field--name-field-svg {
      width: 50px;
      margin-right: 10px;
      text-align: center;

      @include media-breakpoint-up(sm) {
        margin-left: 60px;
      }

      @include media-breakpoint-up(md) {
        width: auto;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 10px;
      }

      svg {
        height: 30px;
        fill: $white;
        @include media-breakpoint-up(md) {
          height: 45px;
          width: 50px;
        }
      }
    }

    .field--name-name {
      font-size: rems(18);
      line-height: 1.25;

      @include media-breakpoint-up(md) {
        font-size: rems(26);
        text-align: center;
        margin-bottom:10px;
      }
    }

    .field--name-field-short-description {
      margin-left: 60px;
      margin-bottom: 10px;
      font-family: $CeraPRO-Light;
      color: $offwhite;
      line-height: 1.5;

      @include media-breakpoint-up(sm) {
        margin-left:120px;
      }

      @include media-breakpoint-up(md) {
        text-align: center;
        max-width: 200px;
        margin:0 auto 20px;
      }
      @include media-breakpoint-up(lg) {
        font-size: rems(20);
        max-width: 240px;
      }
      @include media-breakpoint-up(xl) {
        font-size: rems(22);
        max-width: 310px;
      }
    }

    .field--name-field-link {
      margin-left: 60px;
      margin-bottom:40px;
      text-wrap: none;

      @include media-breakpoint-up(sm) {
        margin-left:120px;
      }
      @include media-breakpoint-up(md) {
        margin-left: 0;
        margin-bottom: 0;
      }

      a {
        display: inline-block;

        color: $offwhite;

        @include grow_text_link;
        @include caret();

        @include media-breakpoint-up(md) {
          font-size: rems(18);
        }

        &::after {
          // ie11svgissue
          display: inline-block;
          width: 10px;
          height: 8px;
          margin-left: 6px;
          margin-top: 5px;
          background-size: 10px 8px;
          transform: rotate(270deg);
          background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2212%22%20height%3D%229%22%20viewBox%3D%220%200%2012%209%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20class%3D%22blue%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0%201.26918L6%208L12%201.26918L10.8686%200L6%205.46165L1.13137%200L0%201.26918Z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E');
        }

        &:hover {
        }
      }
      @include media-breakpoint-up(md) {
        text-align: center;
      }
    }
  }

  &.tile-count--1, &.tile-count-2, &.tile-count--3 {
    @media (min-width: 1400px) {
      .slick-list {
        display: flex;
        justify-content: center;
      }
    }
  }
}
