/* Paragraph Layout: Interactive Location Routes
-------------------------------------------------
@todo: Sass file was consolidated from two previous sass files, would be good to clean up.

*/

.paragraph--type--interactive-location-routes {
  .interactive .selectable-route {
    margin: auto;
    max-width: 1400px;
    background-color: $light-grey;
    border: 1px solid $mercury;
    padding: 30px 15px;
    //margin-top: 30px;

    @include media-breakpoint-up(sm) {
      padding: 40px 15px;
      //margin-top: 60px;
    }

    @include media-breakpoint-up(xl) {
      padding: 100px 60px;
      //margin-top: 100px;
    }
  }

  form.cruiseline-ridesystems-schedule {
    //background: $light-grey;
    text-align: center;

    > * {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    .combodate {
      label {
        display: block;
        width: 100%;
        margin: auto;
        margin-top: -20px;
        font-size: 20px;
        font-family: $CeraPRO-Light;

        @include media-breakpoint-up(sm) {
          font-size: 22px;
          max-width: 300px;
        }

        @include media-breakpoint-up(md) {
          display: inline-block;
          margin: auto;
          margin-top: 0;
          width: 30%;

          + label {
            margin-left: 25px;
            margin-top: 0;
          }
        }

        @include media-breakpoint-up(lg) {
          width: auto;
        }
      }
    }

    .js-form-item-dateselect {
      width: 100%;

      label {
        text-align: left;
      }

      select {
        display: block;
        padding: 10px 15px 15px;
        background-color: $white;
        border: solid 0.5px $grey;
        border-radius: 3px;
        letter-spacing: 0.02em;
        padding-right: 46px;
        background-image: url("../img/select-caret.svg");
        background-repeat: no-repeat;
        background-position: right 20px center;
        -webkit-appearance: none;
        -moz-appearance: none;
        font-size: 20px;
        color: $blue;
        font-family: $CeraPRO-Medium;
        width: 100% !important; // Overriding inline styles on select
        line-height: 1.2;

        @include media-breakpoint-up(sm) {
          font-size: 30px;
          width: 300px !important;
          padding: 10px 20px 20px;
        }

        @include media-breakpoint-up(md) {
          width: 100% !important;
        }

        @include media-breakpoint-up(lg) {
          width: 300px !important;
        }

        @include media-breakpoint-up(xl) {
          font-size: 42px;
        }
      }
    }

    .btn {
      @include btn($white, $electric-blue);
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-bottom: 40px;

      @include media-breakpoint-up(sm) {
        margin-bottom: 60px;
        margin-top: 30px;
      }

      @include media-breakpoint-up(xl) {
        margin-bottom: 100px;
        margin-top: 50px;
      }
    }

    .ajax-progress-throbber {
      display: block;
    }

    .ajax-schedule {
      width: auto;
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      max-width: 968px;

      @include media-breakpoint-up(sm) {
        padding: 25px;
        border: 1px solid $med-grey;
        background-color: $white;
      }

      @include media-breakpoint-up(xl) {
        padding: 50px 100px;
      }

      .col {
        padding: 0;
      }

      table {
        //margin-top: 30px;
        //margin-bottom: 30px;
        margin-left: -12px;
        margin-right: -12px;

        @include media-breakpoint-up(sm) {
          margin: auto;
        }

        tr {
          border-top: solid 0.5px $light-teal;
          border-bottom: solid 0.5px $light-teal;

          &:nth-child(2n) {
            background-color: mix(#FFF, $light-teal, 95%);
          }
        }
        td {
          color: $blue;
          font-family: $CeraPRO-Bold;
          padding: 10px 10px 10px 25px;
          font-size: 16px;

          @include media-breakpoint-up(sm) {
            font-size: 20px;
          }

          @include media-breakpoint-up(lg) {
            font-size: 24px;
            padding: 10px 10px 10px 60px;
          }

          & + td {
            border-left: solid 0.5px $light-teal;
          }
        }

        thead {
          tr {
            border-top: none;
          }

          td {
            font-family: $CeraPRO-Medium;
            font-size: 14px;
            text-align: left;
            border-collapse: collapse;
            padding: 10px 10px 10px 25px;
            position: relative;

            @include media-breakpoint-up(sm) {
              font-size: 24px;
            }

            @include media-breakpoint-up(lg) {
              font-size: 32px;
              padding: 10px 10px 10px 45px;
            }

            &::before {
              content: "";
              position: absolute;
              width: 5px;
              height: 100%;
              left: 0;
              top: 0;
              bottom: 0;
              background-color: $teal;

              @include media-breakpoint-up(sm) {
                width: 9px;
              }
            }
          }
        }

        tbody {
          td {
            font-family: $CeraPRO-Bold;
            text-align: left;
          }
        }
      }
    }
  }

  // Stuff from Devin

  .departure-route-information, .departure-route-schedule {
    .row {
      max-width: 1400px;
      margin: auto;
    }
  }

  .departure-select-list {
    max-width: 1400px;
    margin: auto;

    .row {
      margin: 0;
      @media (min-width: 1400px) {
        margin-left: -15px;
        margin-right: -15px;
      }
    }

    .google-map {
      min-height: 500px;
    }
  }

  .field--name-field-faqs {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .departure-route-schedule {
    h3 {
      text-align: center;
      margin: 0 auto 30px;
      font-size: rems(24);

      @include media-breakpoint-up(sm) {
        font-size: rems(32);
      }

      @include media-breakpoint-up(xl) {
        font-size: rems(42);
      }
    }

    .nav-tabs {
      justify-content: space-between;

      .nav-item {
        max-width: none;
        margin: 0;

        @include media-breakpoint-up(sm) {
          flex: 0 0 49%;
        }
      }

      &.open {
        .nav-link {
          display: flex;
        }
      }
    }

    .tab-pane {
      padding: 40px 0;
      max-width: 1400px;

      .col {
        margin: 10px 0;

        @include media-breakpoint-up(xl) {
          margin: 0;
        }
        table {
          background-color: $white;
          width: 100%;

          thead {
            background-color: $gray-300;
          }

          td {
            padding: 5px 10px;
            border: $black solid 1px;
            width: 50%;
          }
        }
      }
    }
  }

  // Stuff from Laura
  .title {
    font-size: 24px;

    @include media-breakpoint-up(md) {
      font-size: 30px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 42px;
    }
  }

  .field--name-field-intro {
    p {
      font-size: 18px;
      font-family: $CeraPRO-Light;


      @include media-breakpoint-up(md) {
        font-size: 22px;
      }
    }
  }

  .select-route {
    font-style: italic;
    font-size: 18px;
    font-family: $CeraPRO-Light;
    margin-bottom: 30px;
  }

  .field--name-field-location-selected-routes {
    ul {
      padding: 0;
      border-left: 1px solid $teal;
      padding-left: 20px;
      display: none;

      @include media-breakpoint-up(sm) {
        display: block;
      }

      li {
        list-style: none;
        font-size: 20px;
        color: $teal;
        display: flex;
        align-items: center;
        line-height: 1.2;

        @include media-breakpoint-up(lg) {
          font-size: 26px;
        }

        @include media-breakpoint-up(xl) {
          font-size: 32px;
        }

        input[type="radio"] {
          display: none;
        }

        label {
          margin-bottom: 0;
          font-family: $CeraPRO-Medium;
        }

        input[type="radio"]:checked + label {
          color: $blue;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          &:after {
            content: url('../img/arrow-right.svg');
            position: relative;
            margin-left: 10px;
            line-height: 1;
          }
        }

        label:hover {
          color: $blue;
        }
      }

      li + li {
        margin-top: 10px;
        @include media-breakpoint-up(lg) {
          margin-top: 20px;
        }

        @include media-breakpoint-up(xl) {
          margin-top: 35px;
        }
      }
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; /* remove default arrow */
      background-image: url('data:image/svg+xml;utf8,<svg width="12" height="9" viewBox="0 0 12 9" xmlns="http://www.w3.org/2000/svg">
<path class="blue" fill-rule="evenodd" clip-rule="evenodd" d="M0 1.26918L6 8L12 1.26918L10.8686 0L6 5.46165L1.13137 0L0 1.26918Z"/>
</svg>'); /* add custom arrow */
      background-position: right 15px center;
      border: 0;
      padding: 0 30px 0 0;
      background-repeat: no-repeat;
      width: 100%;
      background-color: $white;
      border-bottom: 1px solid #B0B2B2;
      border-radius: 0;
      margin-bottom: 15px;
      font-size: 24px;
      color: $blue;

      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
  }

  .departure-route-information {
    margin-top: 30px;
  }

  .route-info {
    max-width: 1400px;
    margin: auto;

    .row {
      max-width: none;

      @media (min-width: 1400px) {
        margin-left: -15px;
        margin-right: -15px;
      }
    }

    .pricing-details, .route-details {
      padding: 15px;
      border: $gray-300 solid 1px;

      @include media-breakpoint-up(lg) {
        padding: 20px 25px;
      }

      @include media-breakpoint-up(xl) {
        padding: 30px 45px;
      }
    }

    .selectable-route {
      margin-bottom: 15px;

      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
      }

      h3 {
        text-align: center;
      }
    }

    h4, .port-title {
      font-size: 24px;
      line-height: 1.2;

      @include media-breakpoint-up(md) {
        font-size: 28px;
      }

      @include media-breakpoint-up(xl) {
        font-size: 32px;
      }
    }

    .route-details {
      color: $blue;

      ul {
        padding: 0;
        list-style: none;
      }

      > h4, span {
        text-align: center;
      }

      .trip-time {
        color: #2d2d2d;
        text-align: center;

        @include media-breakpoint-up(sm) {
          font-size: 18px;
        }

        span {
          font-family: $CeraPRO-Light;

          @include media-breakpoint-up(sm) {
            font-family: $CeraPRO-Regular;
          }
        }

        strong {
          @include media-breakpoint-up(sm) {
            font-family: $CeraPRO-Regular;
          }
        }
      }

      .ports {
        position: relative;
        margin-top: 30px;

        @include media-breakpoint-up(sm) {
          display: flex;
        }

        &::before {
          content: "";
          border: 1px dashed $blue;
          position: absolute;
          top: 15px;
          left: 0;
          right: 0;
          height: calc(100% - 15px);
          width: 1px;
          margin-left: 7px;
          z-index: -1;

          @include media-breakpoint-up(sm) {
            width: calc(100% - 40px);
            margin: 0 20px;
            height: 1px;
          }

          @include media-breakpoint-up(xl) {
            width: calc(100% - 60px);
            margin: 0 30px;
          }
        }

        .port {
          //padding: 0 15px;
          flex: 1 1 0;
          display: flex;

          @include media-breakpoint-up(sm) {
            display: block;
            padding: 0 20px;
          }

          @include media-breakpoint-up(xl) {
            padding: 0 30px;
          }

          .icon {
            width: 100%;
            max-width: 30px;
            height: 22px;
            background-color: $white;
            margin-top: -3px;

            @include media-breakpoint-up(sm) {
              margin-bottom: 20px;
              height: 30px;
              margin-top: 0;
            }

            @include media-breakpoint-up(xl) {
              margin-bottom: 30px;
            }

            svg {
              width: 15px;
              height: auto;

              @include media-breakpoint-up(sm) {
                width: 22px;
              }
            }
          }

          li {
            a {
              color: $blue;
              font-family: $CeraPRO-Medium;
              font-size: 16px;

              @include media-breakpoint-up(sm) {
                font-size: 18px;
              }
            }
          }

          .port-title {
            //font-size: 32px;
            line-height: 1;
            font-family: $CeraPRO-Bold;
            margin-bottom: 5px;
            font-size: 20px;

            @include media-breakpoint-up(sm) {
              font-family: $CeraPRO-Medium;
              margin-bottom: 15px;
            }

            @include media-breakpoint-up(md) {
              font-size: 26px;
            }

            @include media-breakpoint-up(xl) {
              font-size: 32px;
            }
          }

          .port-address {
            color: #2d2d2d;
            margin-top: 10px;

            @include media-breakpoint-up(sm) {
              //margin-top: 15px;
            }

            /*p {
              &:before {
                content: "";
                display: inline-block;
                width: 10px;
                height: 10px;
                border: 1px solid #2d2d2d;
                border-radius: 50%;
                margin-right: 5px;
              }
            }*/
          }
        }

        .port:nth-child(2n) {
          background-color: $white;
          margin-top: 20px;

          @include media-breakpoint-up(sm) {
            text-align: right;
            background-color: transparent;
            margin-top: 0;
          }

          .icon {
            background-color: $white;
            height: 100%;

            @include media-breakpoint-up(sm) {
              margin-right: 0;
              margin-left: auto;
              text-align: right;
              height: 30px;
            }
          }
        }
      }
    }

    .pricing-details {
      height: 100%;
      text-align: left;

      h4 {
        margin-bottom: 20px;
      }

      .button-list {
        margin-top: 30px;
        padding: 0;
        list-style: none;

        li {
          max-width: 300px;
          margin: auto;
        }

        .btn {
          margin: 10px 0;
          display: block;
          width: 100%;
          //background-color: $blue;
        }

        li:nth-child(2n) {
          .btn {
            @include btn($teal, transparent, $teal);
            display: block;
            width: 100%;
            margin: 10px 0;
          }
        }
      }
    }
  }

  .route-info + .departure-route-schedule {
    .selectable-route {
      margin-top: 20px;

      @include media-breakpoint-up(md) {
        margin-top: 30px;
      }

      @include media-breakpoint-up(xl) {
        margin-top: 100px;
      }
    }
  }

  .faqs, .important-details, .departure-route-information, .gallery, .additional-excursions {
    @include media-breakpoint-up(md) {
      margin-top: 30px;
    }

    @include media-breakpoint-up(xl) {
      margin-top: 100px;
    }
  }

  .gallery {
    .container {
      max-width: 1430px;
    }
  }

  .additional-excursions, .important-details {
    max-width: 1400px;
    margin: auto;
  }

  .additional-excursions {
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: 1400px) {
      padding: 0;
    }
    h3 {
      text-align: center;
      @include appear_as_heading(h1);
      margin: 40px 0;
    }

    .excursion {
      .paragraph--type--excursion-item {
        background-color: #F7F7F7;
        padding: 30px 15px;
        color: #2D2D2D;
        border: 1px solid #E3E3E3;
        text-align: center;
        height: 100%;

        @include media-breakpoint-up(md) {
          padding: 45px;
        }

        @include media-breakpoint-up(xl) {
          padding: 60px;
        }

        h4 {
          @include appear_as_heading(h2);
        }
      }
    }

    .excursion + .excursion {
      margin-top: 20px;

      @include media-breakpoint-up(md) {
        margin-top: 0;
      }
    }
  }

  .important-details {
    width: 100%;
    background-color: #F7F7F7;
    padding: 45px 15px;
    color: #2D2D2D;
    border: 1px solid #E3E3E3;
    margin: auto;
    max-width: 1400px;
    margin-top: 20px;

    @include media-breakpoint-up(md) {
      padding: 50px 30px;
      margin-top: 30px;
    }

    @include media-breakpoint-up(xl) {
      padding: 80px;
      margin-top: 100px;
    }

    .row {
      margin-left: 0;
      margin-right: 0;

      @media (min-width: 1400px) {
        margin-left: -15px;
        margin-right: -15px;
      }
    }

    h3, p {
      margin-bottom: 40px;

      @include media-breakpoint-up(md) {
        margin-bottom: 50px;
      }

      @include media-breakpoint-up(xl) {
        margin-bottom: 70px;
      }
    }

    p:last-child {
      margin-bottom: 0;
    }

    h3 {
      font-size: 24px;

      @include media-breakpoint-up(md) {
        font-size: 28px;
      }

      @include media-breakpoint-up(xl) {
        font-size: 32px;
      }
    }

    a {
      color: #2D2D2D;
      text-decoration: underline;
    }
  }

  .faqs {
    a {
      margin-top: 30px;

      @include media-breakpoint-up(xl) {
        margin-top: 50px;
      }
    }
  }
}