.paragraph--type--large-content-slider {
  overflow: hidden;
  padding: 0 10px 40px;

  @include media-breakpoint-up(sm) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @include media-breakpoint-up(xl) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media(min-width: 1920px) {
    padding-left: 80px;
    padding-right: 80px;
  }

  .large-content-slider__title {
    text-align: center;
    margin-bottom: 30px;

    @include media-breakpoint-up(sm) {
      display: flex;
      justify-content: center;
    }

    h2 {
      display: inline-block;
    }

    .field--name-field-link {
      a {
        @include btn($teal, $white, $teal);
        margin-top: 10px;

        @include media-breakpoint-up(sm) {
          margin-top: 3px;
          margin-left: 30px;
        }
      }
    }
  }

  .slick {
    position: relative;

    .slick-track {
      display: flex;

      .slick-slide {
        height: auto;
      }
    }
  }

  .slick-track {
    display: flex;

    .slick-slide {
      height: auto;
    }
  }


  .large-content-slider__slideshow {
    position: relative;

    &:after {
      width: calc(100% + 20px);
      height: calc(100% - 50px);
      position: absolute;
      top: 50px;
      left: -10px;
      bottom: 0;
      right: 10px;
      content: "";
      z-index: -1;
      background-color: $light-teal-fade;

      @include media-breakpoint-up(sm) {
        left: -20px;
        right: -20px;
        width: calc(100% + 40px);
      }

      @include media-breakpoint-up(lg) {
        top: 45px;
        left: 110px;
        bottom: -80px;
        right: 0;
        width: calc(100% - 110px);
        height: 100%;
      }
    }

    .slick__arrow {
      height: 0;
      margin-top: -50px;
      top: 150px;

      @include media-breakpoint-up(sm) {
        top: 200px;
      }

      @include media-breakpoint-up(md) {
        top: 250px;
      }

      @include media-breakpoint-up(lg) {
        top: 50%;
      }
    }

    .slick-arrow--cardslider {
      &.slick-prev {
        left: -10px;

        @include media-breakpoint-up(sm) {
          left: -25px;
        }
      }

      &.slick-next {
        right: -10px;
        left: auto;

        @include media-breakpoint-up(sm) {
          right: -25px;
        }
      }
    }

    .slick-dots {
      padding-bottom: 20px;
      margin-top: -20px;

      @include media-breakpoint-up(lg) {
        width: 55%;
        padding-bottom: 0;
        margin-top: 20px;
        margin-bottom: -20px;
      }

      li {
        margin: 0 3px;

        button {
          padding: 2px;
          width: 14px;
          height: 14px;
        }

        &.slick-active button::before {
          background-color: $teal;
        }
      }
    }
  }

  .paragraph--type--large-content-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }

    a {
      display: block;
    }

    .video-item {
      position: relative;
      height: 100%;
    }

    .slide__image {
      height: 300px;

      @include media-breakpoint-up(sm) {
        height: 400px;
      }

      @include media-breakpoint-up(md) {
        min-height: 500px;
      }

      @include media-breakpoint-up(lg) {
        flex: 0 0 55%;
        height: auto;
      }

      @include media-breakpoint-up(xl) {
        height: auto;
        min-height: 600px;
      }

      @media(min-width: 1920px) {
        min-height: 700px;
      }

      .field__item {
        height: 100%;
      }
    }

    .slide__content {
      padding: 35px 20px;
      display: flex;
      align-items: center;
      flex-grow: 1;

      @include media-breakpoint-up(lg) {
        padding: 80px 40px 60px;
        justify-content: center;
      }

      @include media-breakpoint-up(xl) {
        padding: 110px 40px 70px;
      }

      h2 {
        margin-bottom: 30px;
      }

      .slide__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;

        @include media-breakpoint-up(lg) {
          max-width: 475px;
          display: block;
          height: auto;
          //width: auto;
        }


        p {
          font-size: 22px;
          font-family: $CeraPRO-Light;
        }

        .slide__links {
          margin-top: 20px;
          max-width: 700px;

          @include media-breakpoint-up(xl) {
            margin-top: 30px;
          }

          .field--name-field-cta-links {
            .field__item {
              max-width: 350px;
              margin: auto;

              @include media-breakpoint-up(sm) {
                margin: 0;
              }
            }

            @include media-breakpoint-up(sm) {
              display: flex;
              flex-wrap: wrap;
            }
          }

          a {
            @include btn();
            width: 100%;
            margin: 5px auto;
            min-width: 100px;
            height: calc(100% - 10px);
            display: flex;
            align-items: center;
            justify-content: center;

            @include media-breakpoint-up(sm) {
              margin: 5px 0;
            }

            &.btn-transparent {
              background-color: transparent;
              color: $teal;
              border-color: $teal;
            }
          }

          .field__item:nth-child(2n) {
            @include media-breakpoint-up(sm) {
              margin-left: 10px;
            }
          }

          &.has-2-links {
            .field__item:nth-child(2n) {
              a {
                background-color: transparent;
                color: $teal;
                border-color: $teal;
              }
            }
          }

          &.has-multiple-links, &.has-2-links {
            .field--name-field-cta-links .field__item {
              @include media-breakpoint-up(sm) {
                flex: 0 1 calc(50% - 5px);
              }
            }
          }
        }
      }
    }
  }

  .media, .field--name-field-media-image {
    height: 100%;
    width: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .video-item {
    &::after {
      background-color: rgba(84, 187, 244, 0.9);
      background-image: url("../img/play-arrow.svg");
      background-position: center;
      background-size: 25% auto;
      background-repeat: no-repeat;
      position: absolute;
      top: 44%;
      left: 43%;
      content: "";
      width: 16%;
      height: 14%;

      @media (max-width: 500px) {
        width: 64px;
        height: 42px;
        top: 50%;
        left: 50%;
        margin-top: -21px;
        margin-left: -32px;
      }
    }
  }

  &.text-on-left {
    .large-content-slider__slideshow {
      position: relative;

      &:after {
        @include media-breakpoint-up(lg) {
          left: 0;
          right: 110px;
        }
      }
    }

    .slide__image {
      @include media-breakpoint-up(lg) {
        order: 2;
      }
    }
  }
}

.slider-paragraph-content {
  max-width: 100%;
  width: 100%;
  padding: 15px;

  .media, .field--name-field-media-image {
    height: 100%;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      max-width: 100%;
      max-height: 80vh;
    }
  }

  @include media-breakpoint-up(md) {
    padding: 25px;
    max-width: 90%;
  }

  @include media-breakpoint-up(xl) {
    padding: 40px;
  }

  &.slider-video-item {
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 90%;
    }
  }

  .slick-dots {
    @include media-breakpoint-up(lg) {
      margin-left: 45%;
    }
  }
}