.paragraph--type--content-list-slider,
.paragraph--type--venue-slider {
  background-color: $light-teal-fade;

  // Need to override css for section top margin

  &.section-margin--none {
    @include media-breakpoint-up(md) {
      margin-top:50px;  // need to accommodate the -50px top offset of the images
    }
  }

  &.section-margin--normal {
    margin-top: 20px;
    @include media-breakpoint-up(sm) {
      margin-top: 40px;
    }
    @include media-breakpoint-up(md) {
      margin-top: 110px;  // need to accommodate the -50px top offset of the slider images
    }
    @include media-breakpoint-up(lg) {
      margin-top: 130px;
    }
  }

  .container {
    max-width: 1430px;
  }

  .dropdown {
    display: block;
    background-color: transparent;
    margin-top: 30px;
    width: 100% !important;
    max-width: 350px;
    left: 0;

    @include media-breakpoint-up(xl) {
      max-width: 400px;
    }

    button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; /* remove default arrow */
      background-image: url('data:image/svg+xml;utf8,<svg width="12" height="9" viewBox="0 0 12 9" xmlns="http://www.w3.org/2000/svg">
<path class="blue" fill-rule="evenodd" clip-rule="evenodd" d="M0 1.26918L6 8L12 1.26918L10.8686 0L6 5.46165L1.13137 0L0 1.26918Z"/>
</svg>'); /* add custom arrow */
      background-position: right 15px center;
      border: 0;
      padding: 0;
      background-repeat: no-repeat;
      width: 100%;
      background-color: transparent !important;
      border-bottom: 1px solid #B0B2B2;
      border-radius: 0;
      margin-bottom: 15px;
      font-size: 18px;
      color: $blue;
      padding-right: 30px;

      @include media-breakpoint-up(lg) {
        font-size: 26px;
      }

      @include media-breakpoint-up(xl) {
        font-size: 32px;
      }

      &:hover {
        transform: none;
      }
    }

    .dropdown-toggle::after {
      display: none;
    }

    .dropdown-menu {
      li {
        a {
          color: $teal;

          &:hover {
            color: $blue;
          }
        }

        &.selected {
          a {
            color: $white;
            background-color: $blue;
          }
        }
      }
    }
  }

  .field--name-field-icon ul {
    list-style: none;
    padding: 0;
  }

  .list-slider__title {
    width: 100%;
    text-align: center;
  }

  .list-slider__slideshow,
  .list-slider__details {
    display: inline-block;
    vertical-align: top;
  }

  .field--name-field-slider-title {
    text-align: center;
  }

  .list-slider__details {
    //margin-right: 50px;

    a {
      text-decoration: none;
      color: $teal;

      &:hover {
        color: $blue;
      }
    }

    ul:not(.dropdown-menu), ol:not(.dropdown-menu) {
      list-style: none;
      padding: 0;

      li {
        //margin-bottom: 5px;
        font-size: 20px;
        color: $teal;
        display: flex;
        align-items: center;
        line-height: 1.2;
        font-family: $CeraPRO-Medium;

        @include media-breakpoint-up(lg) {
          font-size: 26px;
        }

        @include media-breakpoint-up(xl) {
          font-size: 32px;
        }

        &, a {
          //color: $dark-teal;
        }

        &.selected-slide {
          &, a {
            color: $blue;
          }

          &::before {
            background-color: $blue;
            color: $white;
            border-color: $blue;
            opacity: 1;
          }
        }
      }

      li + li {
        margin-top: 10px;

        @include media-breakpoint-up(lg) {
          margin-top: 20px;
        }

        @include media-breakpoint-up(xl) {
          margin-top: 35px;
        }
      }
    }

    ul:not(.dropdown-menu) {
      border-left: 1px solid $teal;
      padding: 0;
      padding-left: 20px;
      margin-top: 20px;
    }

    ol:not(.dropdown-menu) {
      counter-reset: slide-counter;

      li {
        counter-increment: slide-counter;
        transition: all 0.2s ease-in-out;

        a {
          &::before {
            content: counter(slide-counter) "";
            color: $teal;
            border-radius: 50%;
            border: 3px solid $teal;
            text-align: center;
            margin-right: 20px;
            width: 50px;
            height: 50px;
            font-size: 36px;
            background-color: $white;
            display: inline-flex;
            opacity: 0.5;
            justify-content: center;
            line-height: 1;
            transition: all 0.2s ease-in-out;
            flex-shrink: 0;
          }

          &:hover {
            &::before {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .slick-dots {
    li {
      margin: 0 3px;

      button {
        padding: 2px;
        width: 14px;
        height: 14px;

        &:focus {
          outline: 0;
        }
      }

      &.slick-active button::before {
        background-color: $teal;
      }
    }
  }

  .mobile-select {
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
  .desktop-select {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  @include media-breakpoint-up(md) {
    .slider__slideshow {
      width: 60%;
    }

    .list-slider__details {
      width: 30%;
    }
  }

  &.list-slider--type--list {
    .slider__selector {
      & > .dropdown {
        display: none;

      }

      @include media-breakpoint-down(sm) {
        & > ol {
          display: none;
        }

        /*& > .dropdown {
          display: inherit;
          margin-bottom: 15px;
        }*/
      }
    }
  }
}


.paragraph--type--content-list-slider {
  overflow-y: visible;
  background-color: transparent;

  @include media-breakpoint-up(md) {
    padding-bottom: 60px;
    background-color: $light-teal-fade;
  }

  @include media-breakpoint-up(xl) {
    padding-bottom: 90px;
  }

  .slider__selector {
    .show-selector {
      @include media-breakpoint-up(md) {
        display: block !important;
      }
    }

    ul, ol {
      display: none;

      @include media-breakpoint-up(md) {
        display: block;
      }
    }
  }

  .slider__slideshow {
    margin-top: 50px;
    background-color: $light-teal-fade;
    padding-bottom: 30px;

    @include media-breakpoint-up(md) {
      margin-top: 0;
      background-color: transparent;
      //padding-bottom: 0;
    }

    .slick__arrow {
      top: 150px;

      @include media-breakpoint-up(sm) {
        top: 190px;
      }

      @include media-breakpoint-up(lg) {
        top: 275px;
      }

      @include media-breakpoint-up(xl) {
        top: 333px;
      }

      .slick-prev.slick-arrow--cardslider {
        left: -15px;
      }

      .slick-next.slick-arrow--cardslider {
        right: -15px;
        left: auto;
      }
    }

    .slick {
      margin-top: -50px;
      position: relative;
    }

    .slick-list {
      overflow-y: visible;
    }

    .slick-dots {
      position: absolute;
      width: 100%;
      top: 300px;
      margin-top: 10px;

      @include media-breakpoint-up(sm) {
        top: 380px;
      }

      @include media-breakpoint-up(lg) {
        top: 550px;
      }

      @include media-breakpoint-up(xl) {
        top: 666px;
      }
    }

    .slick-track {
      counter-reset: slide-counter;

      .slide {
        counter-increment: slide-counter;

        .field--name-field-content-title::before {
          content: counter(slide-counter) "";
          color: $white;
          border-radius: 50%;
          border: 3px solid $blue;
          text-align: center;
          margin-right: 15px;
          width: 50px;
          height: 50px;
          font-size: 36px;
          background-color: $blue;
          display: inline-flex;
          justify-content: center;
          line-height: 1;
          //margin-bottom: 30px;

          @include media-breakpoint-up(md) {
            display: none;
          }
        }
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 30px;
    margin-top: 0;
    @include appear_as_heading(h1);

    @include media-breakpoint-up(md) {
      margin: 60px 0;
      text-align: left;
    }

    @include media-breakpoint-up(xl) {
      margin: 90px 0;
    }
  }

  .dropdown {
    display: none;
  }

  .field--name-field-image {
    height: 300px;
    position: relative;

    @include media-breakpoint-up(sm) {
      height: 380px;
    }

    @include media-breakpoint-up(lg) {
      height: 550px;
    }

    @include media-breakpoint-up(xl) {
      height: 666px;
    }

    .media, .field--name-field-media-image, .field__item {
      height: 100%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  .field--name-field-content-title {
    text-align: left;
    font-size: 20px;
    //margin-top: 60px;
    margin-bottom: 10px;
    color: $blue;
    font-family: $CeraPRO-Medium;

    @include media-breakpoint-up(md) {
      font-size: 26px;
    }
  }

  .field--name-field-content {
    text-align: left;
  }

  .field--name-field-content-title, .field--name-field-content {
    margin-top: 60px;
  }

  .field--name-field-content-title + .field--name-field-content {
    margin-top: 1rem;
  }
  p {
    color: $blue;
    font-family: $CeraPRO-Light;
  }

  &.list-slider--type--dropdown {
    ol {
      display: none;
    }

    .dropdown {
      display: block;
    }
  }

  &.slide-count--1 {
    .slider__slideshow {
      .field--name-field-content-title,
      .field--name-field-content {
        display: none;
      }
    }
  }
}

.paragraph--type--venue-slider {
  position: relative;

  .list-slider__details {
    width: 100%;
    position: absolute;
    z-index: 9;
    max-width: 1430px;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    top: 30px;
    bottom: auto;
    padding-left: 15px;
    padding-right: 15px;

    @include media-breakpoint-up(md) {
      top: 60px;
    }

    @include media-breakpoint-up(xl) {
      top: 90px;
    }

    .list-slider__title, .slider__selector {
      text-align: left;

      @include media-breakpoint-up(md) {
        max-width: 40%;
      }
    }

    .slider__selector {
      span {
        display: none;
        font-size: 18px;
        font-family: $CeraPRO-LightItalic;

        @include media-breakpoint-up(md) {
          display: block;
          margin-top: 25px;
        }

        @include media-breakpoint-up(xl) {
          margin-top: 50px;
        }
      }

      ol:not(.dropdown-menu) {
        margin-top: 20px;
      }

      .show-selector {
        display: block;
      }
    }

    h1, h2, h3, h4, h5, h6 {
      @include appear_as_heading(h1);
    }
  }

  .list-slider__slideshow {
    margin-top: 175px;
    max-width:100%;

    @include media-breakpoint-up(md) {
      margin-top: 0;
    }

    .slick {
      @include media-breakpoint-up(md) {
        margin-top: -50px;
      }
    }

    .paragraph--type--content-tabs, .field--name-field-route-map {
      background-color: $white;
    }

    .paragraph--type--content-tabs {
      padding-top: 40px;

      @include media-breakpoint-up(xl) {
        padding-top: 60px;
      }
    }

    .slick-dots {
      top: 215px;
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      margin: auto;

      @include media-breakpoint-up(sm) {
        top: 330px;
      }

      @include media-breakpoint-up(md) {
        top: 430px;
        padding-left: 41.66667%;
        left: auto;
        width: calc(100% - 30px);
      }

      @include media-breakpoint-up(lg) {
        top: 505px;
      }

      @include media-breakpoint-up(xl) {
        top: 590px;
      }

      @media (min-width: 1400px) {
        max-width: 1400px;
        left: 0;
        padding-left: 595px;
      }
    }
  }

  .summary-wrapper {
    //max-width: 30%;
    .field--summary-group {
      display:none;
    }
  }

  .image-wrapper {
    .field--name-field-image {
      height: 210px;
      position: relative;

      @include media-breakpoint-up(sm) {
        height: 325px;
      }

      @include media-breakpoint-up(md) {
        height: 425px;
      }

      @include media-breakpoint-up(lg) {
        height: 500px;
      }

      @include media-breakpoint-up(xl) {
        height: 585px;
      }

      .media, .field--name-field-media-image, .field__item {
        height: 100%;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
      }
    }

    h1, h2, h3, h4, h5, h6 {
      text-align: left;
      font-size: 20px;
      margin-top: 50px;
      margin-bottom: 10px;
      letter-spacing: 0;

      @include media-breakpoint-up(md) {
        font-size: 26px;
      }

      @include media-breakpoint-up(xl) {
        margin-top: 90px;
      }
    }

    p {
      color: $blue;
      font-family: $CeraPRO-Light;
    }

    .field--name-field-icon {
      ul {
        @include media-breakpoint-up(sm) {
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
        }

        @include media-breakpoint-up(md) {
          display: block;
        }

        @include media-breakpoint-up(xl) {
          display: flex;
        }

        li {
          //flex: 1 1 0;
          display: flex;
          align-items: center;
          color: $blue;
          font-family: $CeraPRO-Medium;

          .svg {
            width: 35px;
            height: 35px;
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
              fill: $blue;
            }
          }
        }

        li + li {
          margin-top: 20px;

          @include media-breakpoint-up(sm) {
            margin-top: 0;
            margin-left: 15px;
          }

          @include media-breakpoint-up(md) {
            margin-top: 20px;
            margin-left: 0;
          }

          @include media-breakpoint-up(xl) {
            margin-top: 0;
            margin-left: 15px;
          }
        }
      }
    }

    .field--name-field-icon-blocks {
      @include media-breakpoint-up(sm) {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
      }

      @include media-breakpoint-up(md) {
        display: block;
      }

      @include media-breakpoint-up(xl) {
        display: flex;
      }

      .field__item + .field__item {
        margin-top: 20px;

        @include media-breakpoint-up(sm) {
          margin-top: 0;
          margin-left: 15px;
        }

        @include media-breakpoint-up(md) {
          margin-top: 20px;
          margin-left: 0;
        }

        @include media-breakpoint-up(xl) {
          margin-top: 0;
          margin-left: 15px;
        }

        .field__item + .field__item {
          margin: 0;
        }
      }

      .icon {
        display: flex;
        align-items: center;
        color: $blue;
        font-family: $CeraPRO-Medium;
        font-size: 1.125rem;
        line-height: 1.5;

        @include media-breakpoint-up(md) {
          font-size: 1.25rem;
        }

        .field--name-field-svg {
          width: 35px;
          height: 35px;
          margin-right: 10px;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            fill: $blue;
          }
        }

        .taxonomy-term {
          display: flex;
          align-items: center;
        }

        &.has-title {
          .field--name-name {
            display: none;
          }
        }
      }
    }
  }

  .slide-count--0 {
    .image-wrapper {
      .field--summary-group {
        display: none;
      }
    }

    .summary-wrapper {
      .field--summary-group {
        display:block;
      }
    }
  }

  .paragraph--type--food-drink-menu-single-, .paragraph--type--food-drink-menu-multi {
    background-color: $white;
  }

  .paragraph--type--post-style-cards{
    padding-top: 0;

    @include media-breakpoint-up(xl) {
      padding-top: 20px;
    }
  }

  .paragraph.section-margin--normal {
    margin-top: 0;
    padding-top: 20px;

    @include media-breakpoint-up(sm) {
      padding-top: 40px;
    }
    @include media-breakpoint-up(md) {
      padding-top: 60px;
    }
    @include media-breakpoint-up(lg) {
      padding-top: 80px;
    }
  }

  &.list-slider--type--list {
    .slider__selector > .dropdown {
      @include media-breakpoint-down(sm) {
        display: block;
      }
    }
  }
}

.field--name-field-venue {
  background-color: $white;
  margin: 30px 0;
  padding: 15px;

  @include media-breakpoint-up(sm) {
    padding: 0;
  }

  @include media-breakpoint-up(md) {
    margin: 45px 0;
  }

  @include media-breakpoint-up(xl) {
    margin: 60px 0;
  }

  .desktop-heading {
    display: none;
  }

  @include media-breakpoint-up(sm) {
    display: flex;

    .desktop-heading {
      display: block;
    }

    .mobile-heading {
      display: none;
    }
  }

  .venue__image {
    display: flex;
    margin-bottom: 15px;

    @include media-breakpoint-up(sm) {
      flex: 0 0 50%;
      display: block;
      margin-bottom: 0;
    }

    @include media-breakpoint-up(lg) {
      flex: 0 0 40%;
    }

    .field--name-field-media-image {
      flex: 0 0 30%;
      margin-right: 15px;
      height: 65px;
      overflow: hidden;
      position: relative;

      @media (min-width: 400px) {
        height: 80px;
      }

      @include media-breakpoint-up(sm) {
        flex: unset;
        margin-right: 0;
        min-height: 200px;
        max-height: 400px;
        height: 100%;
      }

      @include media-breakpoint-up(md) {
        min-height: 275px;
      }

      @include media-breakpoint-up(lg) {
        min-height: 325px;
        max-height: 450px;
      }

      @include media-breakpoint-up(xl) {
        min-height: 390px;
      }

      img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

        @include media-breakpoint-up(sm) {
          //height: auto;
        }
      }
    }

    h4 {
      margin-bottom: 0;
      align-self: center;
    }
  }

  .venue__content {
    display: flex;
    align-items: center;
    width: 100%;

    @include media-breakpoint-up(sm) {
      padding: 40px;
    }

    h4 {
      font-size: 22px;

      @include media-breakpoint-up(lg) {
        font-size: 26px;
      }
    }

    .ship-description {
      font-size: 18px;
      font-family: $CeraPRO-Light;

      @include media-breakpoint-up(md) {
        font-size: 20px;
      }

      @include media-breakpoint-up(xl) {
        font-size: 22px;
      }
    }

    a {
      color: $teal;
      font-size: 18px;
      font-family: $CeraPRO-Medium;
      display: flex;
      align-items: center;
      padding: 10px 0;
      margin-top: 10px;

      @include media-breakpoint-up(xl) {
        margin-top: 30px;
      }

      @include grow_text_link;
      @include caret($teal);

      &::after {
        margin-left: 4px;
        content: '';
        transform: rotate(-90deg);
      }
    }
  }
}