.paragraph--type--multi-image-slider {
  overflow: hidden;
  position: relative;
  padding: 0 10px 40px;
  @include media-breakpoint-up(sm) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @include media-breakpoint-up(xl) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media(min-width: 1920px) {
    padding-left: 80px;
    padding-right: 80px;
  }

  .slider__container {
    position: relative;
    @include media-breakpoint-up(lg) {
      display: flex;
    }

    &:after {
      width: calc(100% + 20px);
      height: calc(100% - 50px);
      position: absolute;
      top: 50px;
      left: -10px;
      bottom: 0;
      right: 10px;
      content: "";
      z-index: -1;
      background-color: $light-teal-fade;

      @include media-breakpoint-up(sm) {
        left: -20px;
        right: -20px;
        width: calc(100% + 40px);
      }

      @include media-breakpoint-up(lg) {
        top: 45px;
        left: 110px;
        bottom: -80px;
        right: 0;
        width: calc(100% - 110px);
        height: 100%;
      }
    }
  }

  .slick {
    position: relative;
  }


  .slider__images {
    position: relative;
    //overflow: hidden;
    height: 300px;

    @include media-breakpoint-up(sm) {
      height: 400px;
    }

    @include media-breakpoint-up(md) {
      min-height: 500px;
      height: auto;
    }

    @include media-breakpoint-up(lg) {
      flex: 0 0 55%;
      max-width: 55%;
    }

    @include media-breakpoint-up(xl) {
      min-height: 600px;
    }

    @media(min-width: 1920px) {
      min-height: 700px;
    }

    .multi-image-slider__slideshow {
      position: relative;
      height: 100%;
      //overflow: hidden;

      .slick{
        height: calc(100% - 40px);

        .slick__slide {
          flex-grow: 0;

          .paragraph--type--image-slide {
            height: 100%;

            .field__item {
              height: 100%;
            }

            .media, .field--name-field-media-image {
              height: 100%;
              width: 100%;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
        }
      }

      .slick__slider {
        height: 100%;
        width: 100%;

        * {
          min-width: 0;
          min-height: 0;
        }

        .slick-list {
          height: 100%;

          .slick-track {
            height: 100%;
          }
        }
      }

      .slick__arrow {
        height: 0;
        margin-top: -50px;
        top: 150px;

        @include media-breakpoint-up(sm) {
          top: 200px;
        }

        @include media-breakpoint-up(md) {
          top: 250px;
        }

        @include media-breakpoint-up(lg) {
          top: 50%;
        }
      }

      .slick-arrow--cardslider {
        &.slick-prev {
          left: -10px;

          @include media-breakpoint-up(sm) {
            left: -25px;
          }
        }

        &.slick-next {
          right: -10px;
          left: auto;

          @include media-breakpoint-up(sm) {
            right: -25px;
          }
        }
      }

      .slick-dots {
        margin-top: 10px;

        @include media-breakpoint-up(lg) {
          padding-bottom: 0;
          margin-top: 20px;
          margin-bottom: -20px;
        }

        li {
          margin: 0 3px;

          button {
            padding: 2px;
            width: 14px;
            height: 14px;
          }

          &.slick-active button::before {
            background-color: $teal;
          }
        }
      }
    }
  }

  .slider__content {
    padding: 35px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    @include media-breakpoint-up(lg) {
      padding: 80px 40px 60px;
    }

    @include media-breakpoint-up(xl) {
      padding: 110px 40px 70px;
    }

    .slider__text {
      @include media-breakpoint-up(lg) {
        max-width: 475px;
      }

      h2 {
        margin-bottom: 30px;
      }

      p {
        font-size: 18px;
        font-family: $CeraPRO-Light;

        @include media-breakpoint-up(sm) {
          font-size: 22px;
        }
      }

      .slider__links {
        margin-top: 20px;

        @include media-breakpoint-up(xl) {
          margin-top: 30px;
        }

        .field--name-field-cta-links {
          .field__item {
            max-width: 250px;
          }

          @include media-breakpoint-up(sm) {
            display: flex;
            flex-wrap: wrap;

            .field__item {
              flex: 1 1 0;
            }

            .field__item + .field__item {
              margin-left: 10px;
              @include media-breakpoint-up(lg) {
                margin-left: 15px;
              }
            }
          }
        }

        a {
          @include btn();
          width: 100%;
          margin: 5px 0;
          min-width: 100px;
          height: calc(100% - 10px);
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .field__item:nth-child(2n) {
          a {
            background-color: transparent;
            color: $teal;
            border-color: $teal;
          }
        }
      }
    }
  }

  &.text-on-left {
    .slider__container {
      position: relative;

      &:after {
        @include media-breakpoint-up(lg) {
          left: 0;
          right: 110px;
        }
      }
    }

    .slider__images {
      order: 2;
    }
  }

  &.slide-count--1 {
    .slider__images {
      .multi-image-slider__slideshow {
        .slick {
          height: 100%;

          &__slide {
            height: 100%;
          }
        }
      }
    }
  }
}