
.paragraph--type--news-press-articles {
  margin-bottom: 20px;
  overflow: hidden;

  @include media-breakpoint-up(sm) {
    margin-bottom: 40px;
  }
  @include media-breakpoint-up(md) {
    margin-bottom: 60px;
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 80px;
  }

  .container {
    max-width: 1400px;
  }
  .row {
    margin-left: 0;
    margin-right: 0;

    @media (min-width: 1430px) {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  header {
    .field--name-field-heading {
      display: inline-block;

      h1, h2, h3, h4 {
        font-family: $CeraPRO-Medium;
        color: $blue;
        font-size: rems(24);
        margin-bottom: 0;

        @include media-breakpoint-up(md) {
          font-size: rems(32);
        }

        @include media-breakpoint-up(xl) {
          font-size: rems(42);
          letter-spacing: 0.02em;
          margin-bottom: 5px;
        }
      }
    }

    .field--name-field-intro {
      margin-top: 15px;

      @include media-breakpoint-up(md) {
        margin-bottom: 30px;
        margin-top: 10px;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }


    .field--name-field-link {
      @include media-breakpoint-up(sm) {
        display: inline-block;
        margin-left: 20px;
      }

      a {
        @include btn;
        margin: 0;
      }
    }
  }

  .view-content, .views-infinite-scroll-content-wrapper {
    @include media-breakpoint-up(md) {
      display: flex;
      //justify-content: space-between;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  .view-display-id-block_2 {
    .view-content {
      display: block;
      margin: 0;
    }

    .js-pager__items {
      padding: 0;
      display: flex;
      justify-content: center;
      margin-top: 40px;

      .button {
        @include btn;
      }
    }
  }
  .views-row {
    margin: 40px 0;
    @include media-breakpoint-up(md) {
      flex: 0 0 33.33%;
      margin: 20px 0;
      
    }

    .node--type-news-article, .node--type-press-article {
      @include media-breakpoint-up(md) {
        margin: 0 15px;
      }
    }

    .field--name-field-media-image {
      position: relative;
      height: 190px;
      width: 100%;
      margin-bottom: 20px;
      display: block;

      @include media-breakpoint-up(sm) {
        height: 250px;
      }

      @include media-breakpoint-up(md) {
        height: 200px;
      }

      @include media-breakpoint-up(xl) {
        height: 250px;
      }

      @media (min-width: 1400px) {
        height: 325px;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  h1, h2, h3, h4 h5, h6 {
    font-size: rems(20);
    line-height: 1.3;
    @include media-breakpoint-up(md) {
      font-size: rems(26);
    }
  }

  .field--name-body {
    font-size: 1.125rem;
    margin-bottom: 1rem;

    @include media-breakpoint-up(md) {
      font-size: 1.25rem;
    }
  }

  .field--name-field-link {
    margin-top: 15px;

    @include media-breakpoint-up(md) {
      margin-top: 30px;
    }

    a {
      @include caret($teal, $left);
      @include grow_text_link;
      font-size: 18px;
    }
  }

  .continue-reading {
    margin: 0;
    @include caret($teal, $left);
    @include grow_text_link;
    font-size: 18px;

    @include media-breakpoint-up(md) {
      margin: 15px 0 0;
    }
  }
}

.node--type-news-article.node--view-mode-full {
  padding: 25px 15px;
  @include media-breakpoint-up(sm) {
    padding: 40px 15px;
  }
  @include media-breakpoint-up(md) {
    padding: 60px 15px;
  }
  @include media-breakpoint-up(lg) {
    padding: 80px 15px;
  }

  .field--name-field-heading {
    margin: 0 auto 15px;
    max-width: 700px;
    display: block;
    text-align: center;

    @include media-breakpoint-up(sm) {
      margin: 0 auto 30px;
    }
  }

  .field--name-field-media-image {
    margin: 0 auto 15px;
    display: block;

    @include media-breakpoint-up(sm) {
      margin: 0 auto 30px;
    }

    .field--name-field-media-image {
      margin: 0 auto;

      img {
        max-width: 100%;
      }
    }
  }

  .field--name-body {
    max-width: 700px;
    margin: auto;
  }
}