.news-slider {
  position: relative;
  padding-bottom:20px;

  @include media-breakpoint-up(md) {
    padding-bottom: 40px;
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: 90px;
  }

  &.slide-count--1 {
    .slick__arrow, .slick-dots {
      display: none !important;
    }
    .slick__slide {
      .paragraph--type--news-slide {
        margin: 0;
      }
    }
  }

  &.slide-count--2 {
    .slick__arrow, .slick-dots {
      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }

  &.slide-count--4 {
    .slick__arrow, .slick-dots {
      @include media-breakpoint-up(xl) {
        display: none;
      }
    }
  }

  .container {
    position: relative;
    padding: 0 20px;

    @media (max-width: 1400px) {
      width: 100%;
      max-width: none;
      //padding: 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 0 15px;
    }
  }

  &__top {
    margin-bottom: 40px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &__title {
    display: flex;

    h2 {
      margin-bottom: 0;
      font-size: 1.5rem;
      color: $blue;
      font-family: $CeraPRO-Regular;

      @include media-breakpoint-up(sm) {
        font-size: 2.5rem;
      }
    }
  }

  .news-slider__link__desktop, .news-slider__link__mobile {
    a {
      @include btn();
    }
  }

  .news-slider__link__mobile {
    a {
      @include media-breakpoint-down(sm) {
        width: 100%;
        max-width: 350px;
        margin: auto;
        display: block;
      }
    }
  }

  .news-slider__link__mobile {
    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  .news-slider__link__desktop {
    display: none;
    margin-left: 40px;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  &__intro {
    .field--name-field-intro {
      max-width: none;
      padding: 0;
      margin-top: 20px;
      font-family: $CeraPRO-Light;

      @include media-breakpoint-down(sm) {
        margin-top: 10px;
        font-size: 1.25rem;
      }
    }
  }

  .slick {
    position: relative;

    &__slider {
      margin-left: -20px;
      margin-right: -20px;

      @media (max-width: 1450px) {
        margin: 0 -10px;
      }

      @include media-breakpoint-down(sm) {
        margin: 0;
      }

      .slick-track {
        display: flex;
      }
    }
  }

  .slick-dots {
    margin: 20px 0;

    @include media-breakpoint-up(md) {
      display: none !important;
    }

    li {
      margin: 0 3px;

      button {
        padding: 2px;
        width: 14px;
        height: 14px;
      }

      &.slick-active button::before {
        background-color: $teal;
      }
    }
  }


  .slick__arrow {
    top: 160px;

    @include media-breakpoint-down(lg) {
      top: 125px;
    }

    @include media-breakpoint-down(md) {
      top: 160px;
    }

    @media (max-width: 500px) {
      top: 100px;
    }

    .slick-next {
      left: auto;
      transform: rotate(180deg);


      @include media-breakpoint-down(sm) {
        right: -15px;
      }
    }

    .slick-prev {
      left: 0;

      @include media-breakpoint-down(sm) {
        left: -15px;
      }
    }
  }

  .slick__slide {
    overflow: hidden;

    .paragraph--type--news-slide {
      margin: 0 20px;

      a {
        color: $blue;

        &:hover {
          text-decoration: none;
        }

        .field--name-field-short-description {
          color: $charcoal;
        }
      }

      @media (max-width: 1450px) {
        margin: 0 10px;
      }

      @include media-breakpoint-down(sm) {
        //width: 100vw;
        margin: 0;
      }
    }

    .field--name-field-image {
      position: relative;
      padding-bottom: 100%;
      margin-bottom: 20px;

      @include media-breakpoint-down(lg) {
        padding-bottom: 250px;
      }

      @include media-breakpoint-down(md) {
        padding-bottom: 320px;
      }

      @media (max-width: 500px) {
        padding-bottom: 200px;
      }

      article {
        position: static;

        img {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    .field--name-field-title, .field--name-field-short-description {
      font-size: 1.25rem;
    }

    .field--name-field-title {
      font-family: $CeraPRO-Bold;
      margin-bottom: 30px;
    }

    .field--name-field-short-description {
      font-family: $CeraPRO-Light;
    }
  }
}

