.paragraph--type--offers {
  overflow: hidden;
  .card {
    border: 0;
    margin: 15px 0;

    @include media-breakpoint-up(xl) {
      margin: 30px 0;
    }

    .node--type-offer {
      height: 100%;

      .card-body {
        background-color: $light-teal-fade;
        display: flex;
        flex-direction: column;
        padding: 0;
        height: 100%;

        @include media-breakpoint-up(md) {
          padding: 0 20px 20px 20px;
        }

        &.has-image {
          @include media-breakpoint-up(md) {
            margin-top: 100px;
            height: calc(100% - 100px);
          }

          @include media-breakpoint-up(xl) {
            margin-top: 175px;
            height: calc(100% - 175px);
          }
        }

        &:not(.has-image) {
          .card-content {
            justify-content: flex-start;
            //padding-top: 40px;
          }
        }

        .card-image {
          @include media-breakpoint-up(md) {
            margin-top: -100px;
          }

          @include media-breakpoint-up(xl) {
            margin-top: -175px;
          }

          .field--name-field-media-image {
            width: 100%;
          }

          img {
            height: 300px;
            width: 100%;
            object-fit: cover;
            object-position: center;

            @include media-breakpoint-up(sm) {
              height: 350px;
            }

            @include media-breakpoint-up(md) {
              width: 100%;
              height: auto;
            }
          }
        }

        .card-content {
          //height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 20px;
          flex-grow: 1;

          @include media-breakpoint-up(md) {
            padding: 40px 20px 20px;
          }

          p:last-child {
            //margin-bottom: 0;
          }

          .card-title {
            font-size: 24px;

            @include media-breakpoint-up(md) {
              font-size: 36px;
            }

            @include media-breakpoint-up(xl) {
              font-size: 42px;
            }
          }

          .card-button {
            margin-top: auto;

            a {
              @include btn($white, $teal);
              margin: 0;
            }
            .field--name-field-telephone a {
              &:before {
                content: 'Call ';
              }
            }
          }

          .fine-print {
            font-size: 14px;
            font-family: $CeraPRO-LightItalic;

            @include media-breakpoint-up(md) {
              font-size: 16px;
            }

            + .field {
              margin-top: 25px;
            }
          }
        }
      }
    }
  }
}