.paragraph--type--post-style-cards {

  overflow: hidden;

  .container {
    max-width: 1430px;
  }

  .title {
    text-align: center;
  }

  .post-style-cards {
    @include media-breakpoint-up(sm) {
      margin-left: -10px;
      margin-right: -10px;
    }

    @include media-breakpoint-up(xl) {
      margin-left: -20px;
      margin-right: -20px;
    }

    &__top {
      @include media-breakpoint-up(lg) {
        margin-bottom: 20px;
      }

      &.has-links {
        @include media-breakpoint-up(lg) {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .title {
          font-size: 24px;

          @include media-breakpoint-up(sm) {
            font-size: 28px;
          }

          @include media-breakpoint-up(lg) {
            font-size: 32px;
            margin-bottom: 0;
            text-align: left;
          }
        }

        .field--name-field-links {
          margin: 30px 0 20px;

          @include media-breakpoint-up(sm) {
            display: flex;
            justify-content: center;
          }

          @include media-breakpoint-up(lg) {
            margin: 0;
          }

          a {
            @include btn();
            min-width: 200px;
            max-width: 80%;
            margin: 0;

            @include media-breakpoint-up(sm) {
              max-width: none;
            }
          }

          .field__item {
            display: flex;
            justify-content: center;
          }

          .field__item + .field__item {
            margin-top: 10px;

            @include media-breakpoint-up(sm) {
              margin-top: 0;
              margin-left: 10px;
            }
          }

          .field__item:not(:first-child) {
            a {
              background-color: $white;
              color: $teal;
              border: 2px solid $teal;
            }
          }
        }
      }
    }
  }

  .field--name-field-post-style-cards {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
    }

    .field__item {
      margin: 20px 0;

      .field__item {
        flex: unset;
        margin: 0;
      }

      @include media-breakpoint-up(md) {
        flex: 0 0 32.5%;
      }

      @include media-breakpoint-up(lg) {
        flex: 0 0 33.33%;
      }
    }

    .paragraph--type--post-style-card {
      height: 100%;
      padding: 0 5px;

      @include media-breakpoint-up(md) {
        padding: 0 10px;
      }

      @include media-breakpoint-up(xl) {
        padding: 0 20px;
      }

      .card__image {
        .field--name-field-image {
          .field--type-image {
            position: relative;
            padding-bottom: 190px;
            width: 100%;

            @include media-breakpoint-up(sm) {
              padding-bottom: 250px;
            }

            @include media-breakpoint-up(md) {
              padding-bottom: 200px;
            }

            @include media-breakpoint-up(xl) {
              padding-bottom: 250px;
            }

            @media (min-width: 1400px) {
              padding-bottom: 325px;
            }

            img {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
        }
      }

      .card__content {
        display: flex;
        //align-items: center;
        justify-content: center;

        h1, h2, h3, h4, h5, h6 {
          font-size: 20px;
          margin-bottom: 15px;

          @include media-breakpoint-up(lg) {
            font-size: 24px;
          }

          @include media-breakpoint-up(xl) {
            font-size: 26px;
            margin-bottom: 20px;
          }
        }

        .field--name-field-body {
          margin-top: 20px;

          @include media-breakpoint-up(xl) {
            margin-top: 30px;
          }

          p {
            font-size: 18px;

            @include media-breakpoint-up(xl) {
              font-size: 1.25rem;
            }
          }

          ul {
            padding-left: 20px;

            li {
              font-size: 16px;

              @include media-breakpoint-up(xl) {
                font-size: 18px;
              }
            }
          }
        }

        .btn {
          min-width: 200px;
          width: 100%;
          margin: 0 auto;
          max-width: 350px;
          display: block;

          @include media-breakpoint-up(md) {
            max-width: none;
            margin: 0;
            display: inline-block;
          }

          @include media-breakpoint-up(xl) {
            max-width: 80%;
          }
        }


        // OLD File File -- To be removed

        .media--view-mode-file {
          text-align: center;

          @include media-breakpoint-up(md) {
            text-align: left;
          }

          a {
            @include btn();
            background-color: $white;
            border-color: $electric-blue;
            color: $electric-blue;
            position: relative;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.0915 8.20463C12.9989 8.00325 12.7955 7.875 12.5715 7.875H10.2858V0.5625C10.2858 0.252 10.0298 0 9.71436 0H7.42864C7.11321 0 6.85721 0.252 6.85721 0.5625V7.875H4.5715C4.3475 7.875 4.14407 8.00438 4.0515 8.20463C3.95778 8.406 3.99436 8.64112 4.14178 8.80762L8.14179 13.3076C8.25036 13.4303 8.40693 13.5 8.5715 13.5C8.73607 13.5 8.89264 13.4291 9.00121 13.3076L13.0012 8.80762C13.1498 8.64225 13.1841 8.406 13.0915 8.20463Z' fill='%230081C9'/%3e%3cpath d='M14.8571 12.375V15.75H2.28571V12.375H0V16.875C0 17.4971 0.512 18 1.14286 18H16C16.632 18 17.1429 17.4971 17.1429 16.875V12.375H14.8571Z' fill='%230081C9'/%3e%3c/svg%3e");
            background-position: right 25px center;
            background-repeat: no-repeat;
            padding-right: 50px;
            margin: 0 auto;
            display: block;

            @include media-breakpoint-up(xl) {
              margin: 0;
              max-width: 80%;
            }

            &:hover {
              color: $electric-blue;
            }
          }
        }

        // File Downloads
        .field--name-field-file-downloads {
          text-align: center;



          .field__item {

            a {

              @include btn($electric-blue, $white);

              border-color: $electric-blue;
              padding-right: 50px;
              background-position: right 25px center;
              background-repeat: no-repeat;
              background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.0915 8.20463C12.9989 8.00325 12.7955 7.875 12.5715 7.875H10.2858V0.5625C10.2858 0.252 10.0298 0 9.71436 0H7.42864C7.11321 0 6.85721 0.252 6.85721 0.5625V7.875H4.5715C4.3475 7.875 4.14407 8.00438 4.0515 8.20463C3.95778 8.406 3.99436 8.64112 4.14178 8.80762L8.14179 13.3076C8.25036 13.4303 8.40693 13.5 8.5715 13.5C8.73607 13.5 8.89264 13.4291 9.00121 13.3076L13.0012 8.80762C13.1498 8.64225 13.1841 8.406 13.0915 8.20463Z' fill='%230081C9'/%3e%3cpath d='M14.8571 12.375V15.75H2.28571V12.375H0V16.875C0 17.4971 0.512 18 1.14286 18H16C16.632 18 17.1429 17.4971 17.1429 16.875V12.375H14.8571Z' fill='%230081C9'/%3e%3c/svg%3e");

              margin: 0 auto;
              display: block;

              @include media-breakpoint-up(xl) {
                margin: 0;
                //display: inline-block;
                max-width: 80%;
              }

              &:hover {
                color: $electric-blue;
              }
            }
          }

          .field__item + .field__item {
            a {
              margin-top: 20px;
            }
          }

          .field__item:last-child {
            padding-bottom: 10px;
          }
        }
      }

      &.has-no-image {
        .card__content {
          padding: 40px 20px;
          background-color: $light-teal-fade;
          height: 100%;
          display: flex;
          align-items: center;

          @include media-breakpoint-up(xl) {
            padding: 40px;
          }

          .field--name-field-body {
            margin: 0;

            h1, h2, h3, h4, h5, h6 {
              font-size: 20px;
              margin-bottom: 15px;

              @include media-breakpoint-up(lg) {
                font-size: 26px;
              }

              @include media-breakpoint-up(xl) {
                font-size: 32px;
                margin-bottom: 20px;
              }
            }
          }
        }

        &.top-align-content {
          .card__content {
            align-items: flex-start;
          }
        }
      }
    }
  }

  &.teal-background, &.grey-background {
    background-color: $light-grey;
    padding: 40px 0;

    @include media-breakpoint-up(lg) {
      padding: 60px 0;
    }

    .field--name-field-post-style-cards .paragraph--type--post-style-card.has-no-image .card__content {
      background-color: $white;
      border: 1px solid $mercury;
    }
  }

  &.teal-background {
    background-color: $light-teal-fade;

    .field--name-field-post-style-cards .paragraph--type--post-style-card.has-no-image .card__content {
      border: 0;
    }
  }
}