/* Promo-bar base styles
  --------------------------------------------- */
.paragraph--type--promo-slider,
.block-timed-offers-promo-slider {
  background-color: $electric-blue;
  color: #FCFCFC;
  position: relative;

  .slick {
    max-width: 700px;
    margin: auto;
    position: relative;
    border-left: 1px solid rgba(252,252,252,0.5);
    border-right: 1px solid rgba(252,252,252,0.5);

    @include media-breakpoint-down(sm) {
      border-left: 0;
      max-width: none;
    }

    .slick__arrow {
      position: relative;
      height: 0;

      @include media-breakpoint-down(sm) {
        width: 70px;
      }

      button {
        width: 45px;
        position: absolute;
        top: -50px;
        height: 50px;
        padding: 0;
        padding-right: 3px;
        outline: 0;

        @include media-breakpoint-down(sm) {
          width: 35px;
          height: 40px;
          top: -40px;
        }

        &::before {
          content: "";
          background-image: url("../img/carousel-prev-next-arrow-solid.svg");
          height: 14px;
          width: 10px;
          background-size: cover;
          margin: auto;
          transform: rotate(180deg);
        }

        &:hover {
          &::before {
            opacity: 0.75;
          }
        }
      }

      .slick-prev {
        left: 0;

        &::before {
          transform: none;
        }
      }

      .slick-next {
        right: 0;
        padding-left: 3px;
        padding-right: 0;

        @include media-breakpoint-down(sm) {
          border-left: 1px solid rgba(252,252,252,0.5);
        }
      }
    }

    .slick-list {
      margin-left: 45px;
      margin-right: 45px;
      border-left: 1px solid rgba(252,252,252,0.5);
      border-right: 1px solid rgba(252,252,252,0.5);

      @include media-breakpoint-down(sm) {
        margin-left: 70px;
        border-right: 0;
        margin-right: 30px;
      }
    }

    .slick-dots {
      display: none !important;
    }

    .node__content,
    .promo__content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      padding: 0 15px;
      line-height: 1.1;

      @include media-breakpoint-down(sm) {
        font-size: 12px;
        padding: 5px 10px;
        height: 40px;
      }

      .field--name-icon {
        svg {
          height: 25px;
          width: auto;
          display: block;
          fill: $white;

          @include media-breakpoint-down(sm) {
            height: 18px;
          }
        }
      }

      .field--name-field-short-description,
      .field--name-description {
        margin: 0 10px;
      }

      .field--name-description, .field--name-detail-link {
        font-family: $CeraPRO-Medium;
      }

      a {
        color: #FCFCFC;
        flex-shrink: 0;
        text-decoration: underline;
      }
    }
  }
}

#close-promo-bar {
  background-color: transparent;
  border: 0;
  padding: 0;
  position: absolute;
  top: 11px;
  right: 10px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;

  @include media-breakpoint-up(md) {
    display: none;
  }

  svg {
    fill: $white;
    width: 100%;
    height: auto;
  }
}