.paragraph--type--product-style-cards,
.paragraph--type--product-listings {
  //max-width: 1920px;

  @include media-breakpoint-up(sm) {
    padding-left: 20px;
    padding-right: 20px;
  }

  .title,
  .field--name-field-intro {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1000px;
    margin: auto;

    p:last-child {
      margin: 0;
    }
  }

  .title {
    margin-bottom: 15px;
  }

  .field--name-field-intro {
    margin-bottom: 30px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 40px;
    }
  }

  .field--name-field-product-cards,
  .product-listing-cards {
    @include media-breakpoint-up(lg) {
      display: flex;
      flex-wrap: wrap;
    }

    .product-style-card, .product-listing-card {
      @include media-breakpoint-up(sm) {
        padding-top: 15vw;
        margin: 20px 0;
      }

      @include media-breakpoint-up(lg) {
        flex: 0 0 50%;
      }

      @media(min-width: 1920px) {
        padding-top: 280px;
      }

      .paragraph--type--product-card, .node--type-product {
        background-color: $light-teal-fade;
        height: 100%;
        display: flex;
        flex-direction: column;

        @include media-breakpoint-up(sm) {
          padding: 20px;
          margin: 0 20px;
        }

        .card__image {
          position: relative;
          height: 300px;
          width: 100%;

          @include media-breakpoint-up(sm) {
            height: 45vw;
            margin-top: -15vw;
          }

          @include media-breakpoint-up(lg) {
            height: 35vw;
          }

          @media(min-width: 1920px) {
            height: 630px;
            margin-top: -280px;
          }

          .field--name-field-image, .field--name-field-media-image {
            height: 100%;
            .field--type-image, .media {
              height: 100%;

              img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
              }
            }
          }
        }

        .card__content {
          padding: 40px 20px 20px;
          flex-grow: 1;

          h2 {
            font-size: 24px;

            @include media-breakpoint-up(md) {
              font-size: 36px;
            }

            @include media-breakpoint-up(xl) {
              font-size: 42px;
            }
          }

          .card__text {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .card__bottom {
              @include media-breakpoint-down(sm) {
                display: flex;
                flex-direction: column;

                .card__links {
                  order: 2;
                  margin-top: 20px;
                  margin-bottom: 15px;
                }
              }
            }
          }

          .field--name-field-price, .field--name-field-pricing {
            color: $blue;
            font-size: 18px;
            font-family: $CeraPRO-Medium;

            @include media-breakpoint-up(md) {
              font-size: 20px;
            }
          }

          .field--name-field-body, .field--name-field-description, .field--name-field-body-2 {
            margin-top: 30px;
          }

          .field--name-field-body-2 {
            @include media-breakpoint-up(xl) {
              margin-top: 40px;
            }

            a.grow-text-link {
              @include grow-text-link;
              font-size: 18px;
              font-family: $CeraPRO-Medium;
              display: inline-flex;
              align-items: center;

              &::after {
                display: inline-flex;
                width: 12px;
                height: 9px;
                margin: 0;
                margin-left: 4px;
                content: '';
                flex-shrink: 0;
                transform: rotate(-90deg);
                -webkit-mask: url('data:image/svg+xml;utf8,<svg width="12" height="9" viewBox="0 0 12 9" xmlns="http://www.w3.org/2000/svg">
  <path class="blue" fill-rule="evenodd" clip-rule="evenodd" d="M0 1.26918L6 8L12 1.26918L10.8686 0L6 5.46165L1.13137 0L0 1.26918Z"/>
  </svg>') no-repeat 50% 50%;
                mask: url('data:image/svg+xml;utf8,<svg width="12" height="9" viewBox="0 0 12 9" xmlns="http://www.w3.org/2000/svg">
  <path class="blue" fill-rule="evenodd" clip-rule="evenodd" d="M0 1.26918L6 8L12 1.26918L10.8686 0L6 5.46165L1.13137 0L0 1.26918Z"/>
  </svg>') no-repeat 50% 50%;
                -webkit-mask-size: cover;
                mask-size: cover;
                background-color: $teal;
              }

              + a.grow-text-link {
                margin-left: 20px;
              }
            }
          }

          .card__links {
            border-top: 1px solid #B1E0D8;
            border-bottom: 1px solid #B1E0D8;
            padding: 5px;
            margin-top: 40px;

            @include media-breakpoint-up(xl) {
              margin-top: 60px;
            }

            .card__links--inner {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              margin-left: -10px;
              margin-right: -10px;

              @media(max-width: 500px) {
                display: block;
              }
            }

            a {
              margin: 0 10px;
              line-height: 1.2;
            }

            .primary-link, .field--name-field-booking-link, .secondary-link {
              flex: 0 0 auto;
              min-width: 30%;
            }

            .primary-link, .field--name-field-booking-link {
              a {
                @include btn();
                margin: 5px 10px;
              }
            }

            .secondary-link {

              a {
                color: $teal;
                font-size: 18px;
                font-family: $CeraPRO-Medium;
                display: flex !important;
                align-items: center;
                padding: 10px 0;

                @include grow_text_link;

                &::after {
                  display: inline-flex;
                  width: 12px;
                  height: 9px;
                  margin: 0;
                  margin-left: 4px;
                  content: '';
                  flex-shrink: 0;
                  transform: rotate(-90deg);
                  -webkit-mask: url('data:image/svg+xml;utf8,<svg width="12" height="9" viewBox="0 0 12 9" xmlns="http://www.w3.org/2000/svg">
  <path class="blue" fill-rule="evenodd" clip-rule="evenodd" d="M0 1.26918L6 8L12 1.26918L10.8686 0L6 5.46165L1.13137 0L0 1.26918Z"/>
  </svg>') no-repeat 50% 50%;
                  mask: url('data:image/svg+xml;utf8,<svg width="12" height="9" viewBox="0 0 12 9" xmlns="http://www.w3.org/2000/svg">
  <path class="blue" fill-rule="evenodd" clip-rule="evenodd" d="M0 1.26918L6 8L12 1.26918L10.8686 0L6 5.46165L1.13137 0L0 1.26918Z"/>
  </svg>') no-repeat 50% 50%;
                  -webkit-mask-size: cover;
                  mask-size: cover;
                  background-color: $teal;
                }

              }
            }
          }
        }
      }
    }

    .field--name-field-product-card-icons, .card__icons {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      @include media-breakpoint-up(xl) {
        flex-wrap: nowrap;
      }

      .field__item {
        flex: 0 0 100%;

        @include media-breakpoint-up(sm) {
          flex: 1 1 0;
        }

        @include media-breakpoint-up(lg) {
          flex: 0 0 50%;
        }

        @include media-breakpoint-up(xl) {
          flex: 1 1 0;
        }

        .field__item {
          flex: 0 0 100%;
        }
      }

      .icon {
        display: flex;
        color: $blue;
        font-family: $CeraPRO-Medium;
        align-items: center;
        margin: 5px 0;

        @include media-breakpoint-up(sm) {
          padding: 0 5px;
          flex-direction: column;
          text-align: center;
          margin: 15px 0;
        }

        .field--name-field-svg {
          flex: 0 0 35px;
          display: flex;
          justify-content: center;
          height: 35px;
          max-width: 35px;
          flex-direction: column;

          @include media-breakpoint-up(sm) {
            margin-bottom: 10px;
            margin-right: 0;
            height: 45px;
            max-width: 45px;
            flex: 0 0 45px;
          }

          svg {
            fill: $blue;
            max-width: 100%;
            max-height: 100%;
          }

          p {
            display: none;
          }
        }

        .field--name-name, .field--name-field-title {
          margin-left: 15px;

          @include media-breakpoint-up(sm) {
            margin-left: 0;
          }
        }

        &.has-title {
          .field--name-field-icon {
            flex: 0 0 35px;
            max-width: 35px;
            height: 35px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include media-breakpoint-up(sm) {
              margin-bottom: 10px;
              margin-right: 0;
              height: 45px;
              max-width: 45px;
              flex: 0 0 45px;
            }
          }

          .field--name-field-title  {
            flex: 1 1 100%;
          }

          .field--name-name {
            display: none;
          }
        }

        &:not(has-title) {
          .taxonomy-term {
            display: flex;
            align-items: center;

            @include media-breakpoint-up(sm) {
              flex-direction: column;
            }
          }
        }
      }
    }
  }

  &:not(.even) {
    .product-style-card:last-child {
      flex: 0 0 100%;
      padding-top: 0;

      @include media-breakpoint-up(sm) {
        padding-top: 15vw;
      }

      @include media-breakpoint-up(lg) {
        .paragraph--type--product-card.has-icons {
          .field--name-field-product-card-icons {
            .field__item {
              flex: 1 1 0;

              .field__item {
                flex: 0 0 100%;
              }
            }
          }
        }
      }

      @include media-breakpoint-up(xl) {
        padding-top: 7vw;

        .paragraph--type--product-card {
          margin-left: 15vw;
          display: flex;
          flex-direction: row;
          align-items: flex-start;

          .card__image {
            flex: 0 0 53%;
            margin-left: -15vw;
            margin-top: -7vw;
          }

          .card__content {
            padding: 0;
            overflow: hidden;

            .card__text {
              padding: 40px 0 0;
              margin: 10px 20px 10px 40px;

              .card__bottom {
                @include media-breakpoint-down(sm) {
                  display: flex;
                  flex-direction: column;

                  .card__links {
                    order: 2;
                  }
                }
              }
            }
          }

          &.has-icons {
            .card__text {
              min-height: 30vw;
              //padding-bottom: 40px;
            }
          }
        }
      }

      @media(min-width: 1920px) {
        padding-top: 170px;

        .paragraph--type--product-card {
          margin-left: 215px;
          .card__image {
            margin-left: -215px;
            margin-top: -140px;

            .field--name-field-image {
              .field--type-image {
                margin-top: -170px;
              }
            }
          }

          .card__content {
            .card__text {
              margin: 20px 70px 20px 90px;
            }
          }

          &.has-icons {
            .card__text {
              min-height: 490px;
              //padding: 40px 0;
            }
          }
        }
      }
    }
  }
}