/*
Paragraph Type:  Product Comparison

*/


.paragraph--type--product-comparison {
  margin-top: 50px;
  margin-bottom: 56px;
  .views-element-container {
    .view-content {
      .views-row .node__content {
        & > *:not(.field--name-field-media-image) {
          margin-left: 15px;
          margin-right: 15px;
        }
        @include media-breakpoint-down(lg) {
          & > .field--name-field-media-image {
            padding-left: 15px;
            padding-right: 15px;
          }
        }
      }
    }
  }

  // Title:  Using Drupal Header module so allow for changing the heading block type
  header {
    text-align: center;

    h1, h2, h3, h4 {
      font-size: rems(24);
      margin-bottom: 0;

      @include media-breakpoint-up(md) {
        font-size: rems(32);
      }
      @include media-breakpoint-up(lg) {
        font-size: rems(42);
      }
    }

    // View All products -- Text Link
    .field--name-field-link {
      margin-bottom: 10px;

      a {
        font-family: $CeraPRO-Medium;
        font-size: rems(18);

        @include grow_text_link;

        &::after {
          display: inline-block;
          width: 12px;
          height: 9px;
          margin-left: 10px;
          content: '';
          -webkit-mask: url('data:image/svg+xml;utf8,<svg width="12" height="9" viewBox="0 0 12 9" xmlns="http://www.w3.org/2000/svg">
<path class="blue" fill-rule="evenodd" clip-rule="evenodd" d="M0 1.26918L6 8L12 1.26918L10.8686 0L6 5.46165L1.13137 0L0 1.26918Z"/>
</svg>') no-repeat 50% 50%;
          mask: url('data:image/svg+xml;utf8,<svg width="12" height="9" viewBox="0 0 12 9" xmlns="http://www.w3.org/2000/svg">
<path class="blue" fill-rule="evenodd" clip-rule="evenodd" d="M0 1.26918L6 8L12 1.26918L10.8686 0L6 5.46165L1.13137 0L0 1.26918Z"/>
</svg>') no-repeat 50% 50%;
          -webkit-mask-size: cover;
          mask-size: cover;
          background-color: $teal;
          transform: rotate(-90deg);
        }
      }
    }
  }

  // Instructions to tell user to use the product drop-downs.
  .instructions-subtext {
    text-align: center;
    font-size: rems(12);
    color: $grey;
    padding-bottom: 30px;
    font-family: $CeraPRO-Medium;

    @include media-breakpoint-up(sm) {
      background: $light-teal-fade;
      font-family: $CeraPRO-LightItalic;
      color: $charcoal;
      font-size: rems(18);
      padding-top: 30px;
      margin-top: 30px;
    }
    @include media-breakpoint-up(lg) {
      margin-top: 50px;
    }
  }


  /* Styling for a product */

  // Select product
  .product_selector-wrapper {
    //margin: 0 -15px; // Negative margins to allow color background to be seamless across product columns
    padding: 0 15px 10px;
    background: $light-teal-fade;

    @include media-breakpoint-up(lg) {
      padding-bottom: 20px;
    }

    @include media-breakpoint-up(xl) {
      //margin: 0 -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
    @include media-breakpoint-up(xxl) {
      //margin: 0 -30px;
    }

    @include media-breakpoint-up(xxxl) {
      padding-bottom: 30px;
    }


    // Select product is contained in select form element.
    select {
      font-family: $CeraPRO-Medium;
      font-size: rems(14);
      width: 100%;
      padding: 10px 17px 10px 0;
      color: $blue;
      background: $light-teal-fade;
      border: none;
      border-bottom: solid 0.5px $blue;
      border-radius: 0;

      background-image: url('../img/select-caret.svg');
      background-repeat: no-repeat;
      background-position: right 18px;
      -webkit-appearance: none;
      -moz-appearance: none;

      @include media-breakpoint-up(sm) {
        font-size: rems(16);
        background-position: right 18px;
      }
      @include media-breakpoint-up(md) {
        font-size: rems(18);
        background-position: right 20px;
      }
      @include media-breakpoint-up(xl) {
        font-size: rems(20);
        background-position: right 24px;
      }
      @include media-breakpoint-up(xxl) {
        font-size: rems(24);
        background-position: right 28px;
      }
      @include media-breakpoint-up(xxxl) {
        font-size: rems(28);
        background-position: right 32px;
      }
    }
  }

  // product Content Type - product comparison View (column)
  .node--type-product.node--view-mode-product-comparison {

    // product Image
    .field--name-field-media-image {
      //margin: 0 -15px;
      //padding: 0 15px;
      background: $light-teal-fade;

      // Column gutter goes away so make the image slightly larger.
      @include media-breakpoint-up(lg) {
        //margin: 0 -7.5px;
        padding: 0;
      }
      @include media-breakpoint-up(xl) {
        //margin: 0 -10px;
      }
      @include media-breakpoint-up(xxl) {
        //margin: 0 -15px;
      }

      .media--type-image {
        background: $light-teal-fade;
        display: block;

        .field__item {
          position: relative;
          width: 100%;
          padding-bottom: 75%;

          img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }

    .section--product-links {
      margin-top: 15px;
      padding: 0 10px;

      @include media-breakpoint-up(xl){
        display: flex;
        justify-content: space-between;
        border-bottom: solid 0.5px $light-teal;
        flex-wrap: wrap;
        padding: 0;
      }

      .field--type-link {
        margin: 0 0 15px;
        font-size: rems(12);

        // Change the flex rules for the last item
        &:last-of-type {

          //a {
          //  padding-right:0;
          //  flex-grow: 0;
          //  flex-shrink: 1;
          //}
        }

        @media (min-width: 400px) {
          font-size: rems(14);
        }
        @include media-breakpoint-up(sm) {
          font-size: rems(16);
        }
        @include media-breakpoint-up(md) {
          font-size: rems(18);
        }
        @include media-breakpoint-up(xl) {
          font-size: rems(14);
          text-align: center;
          flex: 1 1 auto;
        }
        @include media-breakpoint-up(xxl) {
          font-size: rems(16);
        }

        a {
          font-family: $CeraPRO-Medium;
          width: 100%;

          @include grow_text_link;
          @include caret($teal);

          @include media-breakpoint-up(xl) {
            padding: 0 10px;
          }

          &::after {
            /*display: inline-block;
            margin-left:6px;
            margin-right:-25px;  // trick to force the caret to stick to the last word.   Add up the Padding (15px) with size of pseudo-element(6px + 9px)
            white-space: nowrap;
            content: '';
            -webkit-mask: url('data:image/svg+xml;utf8,<svg width="12" height="9" viewBox="0 0 12 9" xmlns="http://www.w3.org/2000/svg">
<path class="blue" fill-rule="evenodd" clip-rule="evenodd" d="M0 1.26918L6 8L12 1.26918L10.8686 0L6 5.46165L1.13137 0L0 1.26918Z"/>
</svg>') no-repeat 50% 50%;
            mask: url('data:image/svg+xml;utf8,<svg width="12" height="9" viewBox="0 0 12 9" xmlns="http://www.w3.org/2000/svg">
<path class="blue" fill-rule="evenodd" clip-rule="evenodd" d="M0 1.26918L6 8L12 1.26918L10.8686 0L6 5.46165L1.13137 0L0 1.26918Z"/>
</svg>') no-repeat 50% 50%;
            -webkit-mask-size: cover;
            mask-size: cover;
            background-color: $teal;
            transform: rotate(-90deg);*/
            width: 9px;
            height: 6px;

            @media (min-width: 400px) {
              width: 10px;
              height: 7px;
            }
            @include media-breakpoint-up(sm) {
              width: 12px;
              height: 9px;
            }

            @include media-breakpoint-up(xl) {
              width: 10px;
              height: 7px;
              margin-left: 4px;
            }
            @include media-breakpoint-up(xxxl) {
              width: 12px;
              height: 9px;
              margin-left: 6px;
              margin-right: 0;
            }
          }
        }
      }
    }

    .section--pricing {
      padding: 0 10px;

      @include media-breakpoint-up(xl) {
        padding: 0;
      }

      .field--name-field-pricing {
        font-family: $CeraPRO-Medium;
        color: $blue;
        font-size: rems(14);
        padding: 0;
        margin: 30px 0 30px;

        @include media-breakpoint-up(sm) {
          font-size: rems(16);
        }

        @include media-breakpoint-up(md) {
          font-size: rems(18);
        }

        @include media-breakpoint-up(lg) {
          font-size: rems(20);
        }

        @include media-breakpoint-up(xl) {
          text-align: center;
        }

        .field__label {
          float: none;
          display: inline-block;
          font-weight: normal;
          padding-right: 0;

          &::after {
            content: " \2013"; // Escaped hex entity value for ndash ;
          }
        }

        .field__item {
          font-size: rems(18);
          display: inline-block;
        }
      }
    }

    // Experience taxonomy and short description fields

    .section--experience {
      padding: 0 10px;

      @include media-breakpoint-up(xl) {
        padding: 0;
      }

      .field--name-field-experience {
        color: $blue;
        font-family: $CeraPRO-Medium;
        font-size: rems(14);
        margin-bottom: 10px;

        @include media-breakpoint-up(sm) {
          font-size: rems(16);
        }

        @include media-breakpoint-up(md) {
          font-size: rems(20);
          margin-bottom: 0;
        }

        @include media-breakpoint-up(xl) {
          font-size: rems(26);
        }

        @include media-breakpoint-up(xl) {
          text-align: center;
        }
      }

      .field--name-field-description {
        padding-bottom: 30px;

        @include media-breakpoint-up(xl) {
          padding-bottom: 40px;
        }

        @include media-breakpoint-up(xxl) {
          text-align: center;
        }

        p {
          font-size: rems(14);

          @include media-breakpoint-up(sm) {
            font-size: rems(16);
          }

          @include media-breakpoint-up(lg) {
            font-size: rems(18);
          }

          @include media-breakpoint-up(xl) {
            font-size: rems(20);
          }
        }
      }
    }

    // Key Features:  Icons/Text, Deck Capacity, Packages, Good For
    .section--key-features {
      text-align: center;
      padding: 0 10px;

      @include media-breakpoint-up(xl) {
        padding: 0;
      }

      .paragraph--type--icon-with-text {
        border-top: solid 0.5px $light-teal;
        padding: 10px 0;

        @include media-breakpoint-up(md) {
          padding: 20px 0;
        }
      }

      // Field Labels are common, set to a common size and color.
      .field__label {
        font-family: $CeraPRO-Medium;
        font-size: rems(14);
        font-weight: normal;
        color: $blue;

        @include media-breakpoint-up(md) {
          font-size: rems(20);
        }

        @include media-breakpoint-up(xxl) {
          font-size: rems(26);
        }
      }

      // Set field items of the node type to common sizes
      .field__item {
        font-size: rems(14);

        @include media-breakpoint-up(md) {
          font-size: rems(18);
        }
      }

      // Icon and Text/Title
      .icon {
        color: $blue;
        font-family: $CeraPRO-Medium;
        font-size: rems(18);

        svg {
          color: $blue;
          height: 22px;
          margin-bottom: 10px;

          @include media-breakpoint-up(md) {
            height: 35px;
          }
        }
      }

      .icon.has-title {
        .field--name-name {
          display: none;
        }

        .field--name-field-title {
          display: block;
        }
      }

      .field--name-field-cruise-views {
        @include media-breakpoint-up(md) {
          border-bottom: solid 0.5px $light-teal;
        }
      }

      .field--name-field-ships {
        margin-bottom: 20px;
        padding:20px;

        @include media-breakpoint-up(md) {
          margin-bottom: 40px;
          border-bottom: solid 0.5px $light-teal;
        }

        // Ship Name
        a {
          color: $blue;
          font-family: $CeraPRO-Medium;
          font-size: rems(18);
        }

      }
    }

    // Bottom of column Button Links
    .section--more-product-links {
      padding: 0 10px;

      @include media-breakpoint-up(lg) {
        padding: 0;
      }

      .field--type-link {
        text-align: center;
        a {
          @include btn();
          width: 100%;
          margin: 0;
          margin-bottom: 10px;
          font-size: rems(14);
          @include media-breakpoint-up(sm) {
            font-size: rems(16);
            max-width: 300px;
          }
          @include media-breakpoint-up(md) {
            font-size: rems(18);
          }
          @include media-breakpoint-up(lg) {
            font-size: rems(20);
          }
        }

        // First button needs to be different.  Target the parent and then drill down to the anchor.
        &:first-of-type {
          a {
            @include btn($teal, transparent, $teal);
            margin: 0;
            margin-bottom: 10px;
          }
        }

        &:last-of-type {
          a {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  // End of Layout
}