/* See product-style-cards which has shared base styling. */

.paragraph--type--product-listings {
  header {
    text-align: center;
    padding: 0 15px;
    max-width: 1000px;
    margin: auto;

    h1, h2, h3, h4, h5, h6 {
      @include appear_as_heading(h1);
      margin-bottom: 15px;
    }

    .intro {
      margin-bottom: 30px;

      p:last-child {
        margin-bottom: 0;
      }

      .field--name-field-button {
        margin-top: 20px;

        @include media-breakpoint-up(md) {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
        }

        .btn {
          @include media-breakpoint-down(sm) {
            display: block;
            margin: auto;
            max-width: 350px;
          }
        }

        .field__item + .field__item {
          margin-top: 10px;

          @include media-breakpoint-up(md) {
            margin-top: 0;
          }
        }
      }
    }
  }

  .product-listing-cards {
    .views-element-container {
      width: 100%;
    }
  }

  .product-listing-card {
    h2, .field--name-field-ships {
      color: $blue;

      a {
        color: $blue;
      }
    }

    .field--name-field-ships {
      @include appear_as_heading(h3);
    }

    .vocabulary-featured-icon .field--name-field-svg svg {
      height: 40px;
      width: auto;
    }

    .node--type-product {
      .node__content {
        height: 100%;
        display: flex;
        flex-direction: column;

        .card__content {
          flex-grow: 1;

          .card__links {
            .card__links--inner {
              @include media-breakpoint-up(sm) {
                flex-wrap: nowrap;
                justify-content: space-between;
              }
              .primary-link, .secondary-link {
                min-width: 1px;
                flex: 1 1 0;

                @include media-breakpoint-up(xl) {
                  flex: 0 1 auto;
                }
              }
            }
          }
        }
      }
    }
  }

  .product-listing-card.odd {
    flex: 0 0 100%;
    padding-top: 0;

    @include media-breakpoint-up(sm) {
      padding-top: 15vw;
    }

    @include media-breakpoint-up(lg) {
      .node--type-product .node__content {
        .card__content {
          .card__icons {
            .field__item {
              flex: 1 1 0;
              .field__item {
                flex: 0 0 100%;
              }
            }
          }
        }
      }
    }

    @include media-breakpoint-up(xl) {
      padding-left: 15vw;
      padding-top: 7vw;

      .node--type-product .node__content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .card__image {
          flex: 0 0 53%;
          margin-left: -15vw;
          margin-top: -7vw;
        }

        .card__content {
          padding: 10px 20px 10px 40px;
          flex-grow: 1;

          .card__text {
            min-height: 29vw;
          }
        }
      }
    }

    @media(min-width: 1920px) {
      padding-top: 170px;
      padding-left: 215px;

      .node--type-product .node__content {
        .card__image {
          margin-left: -215px;
          margin-top: -170px;
        }

        .card__content {
          padding: 20px 70px 20px 90px;

          .card__text {
            min-height:460px;
          }
        }
      }
    }
  }
}