.review-slider {
  padding: 50px 10px;
  position: relative;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    padding: 100px 10px;
  }

  @include media-breakpoint-up(xl) {
    padding: 150px 10px;
  }

  .slick {
    position: relative;
    max-width: 700px;
    margin: auto;
    padding-bottom: 75px;

    .field--name-field-author, .field--name-field-location {
      color: $blue;
    }

    .field--name-field-review {
      .field--name-field-review {
        font-size: 1.125rem;
        font-family: $CeraPRO-Regular;

        @include media-breakpoint-up(xl) {
          font-size: 1.25rem;
        }
      }
    }
  }

  .tripadvisor {
    display: block;
    width: 135px;
    height: auto;
    margin: auto;
    margin-top: -75px;
  }

  .slick-dots {
    position: absolute;
      bottom: -80px;
    left: 0;
    right: 0;
     width: 100%;

    li {
      margin: 0 3px;

      button {
        padding: 2px;
        width: 14px;
        height: 14px;

        &:focus {
          outline: 0;
        }
      }

      &.slick-active button::before {
        background-color: $teal;
      }
    }
  }

  &.has-background-image {
    padding-bottom: 250px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,1+65,0+100 */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,0.5) 80%, rgba(255,255,255,0) 90%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,0.5) 80%,rgba(255,255,255,0) 90%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,0.5) 80%,rgba(255,255,255,0) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

    @include media-breakpoint-up(md) {
      padding-bottom: 400px;
      background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(255,255,255,0.5) 65%, rgba(255,255,255,0) 75%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(255,255,255,0.5) 65%,rgba(255,255,255,0) 75%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(255,255,255,0.5) 65%,rgba(255,255,255,0) 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    }

    @include media-breakpoint-up(xl) {
      padding-bottom: 575px;
      background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,0.5) 55%, rgba(255,255,255,0) 75%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,0.5) 55%,rgba(255,255,255,0) 75%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,0.5) 55%,rgba(255,255,255,0) 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    }

    .field--name-field-slide-background {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      display: flex;
      align-items: flex-end;

      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center bottom;

        @include media-breakpoint-up(md) {
          height: 550px;
        }

        @include media-breakpoint-up(xl) {
          height: 750px;
        }
      }
    }
  }
}