/* Cruise Schedule - Paragraph Type */

.paragraph--type--schedule {
  margin-top: 20px;


  @include media-breakpoint-up(lg) {
    margin-top: 50px;
  }

  // Schedule section heading, usually 'Cruise Schedule'
  .field--name-field-heading {
    h2,h3,h4 {
      text-align: center;
      font-size: rems(24);
      letter-spacing: 0.02em;
      line-height: 1.2;
      margin:40px;

      @include media-breakpoint-up(sm) {
        font-size: rems(28);
        margin-bottom: 30px;
      }

      @include media-breakpoint-up(md) {
        font-size: rems(32);
        margin-bottom: 20px;
      }

      @include media-breakpoint-up(xl) {
        font-size: rems(42);
      }
    }
  }

  .field--name-field-cards__wrapper {
    background-color: $light-grey;
    border-top: solid 0.5px $mercury;
    border-bottom: solid 0.5px $mercury;

  }

  .field--name-field-cards {
    padding:30px 0 20px;

    @include media-breakpoint-up(sm) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    > .field__item {

      @include media-breakpoint-up(sm) {
        flex: 0 1 0;
      }
    }

    .paragraph--type--schedule-table-card {
      padding: 10px 0 50px;
      text-align: center;

      @include media-breakpoint-up(sm) {
        min-width: 220px;
        padding-left: 10px;
        padding-right: 10px;
      }

      @include media-breakpoint-up(md) {
        min-width: 340px;
        padding-left: 15px;
        padding-right: 15px;
      }

      @include media-breakpoint-up(xl) {
        padding-bottom:50px
      }

      .field--name-field-title {
        font-family: $CeraPRO-Medium;
        color: $blue;
        font-size: rems(22);
        line-height: 1.2;
        margin-bottom:10px;

        @include media-breakpoint-up(sm) {
          font-size: rems(24);
        }

        @include media-breakpoint-up(md) {
          font-size: rems(28);
        }

        @include media-breakpoint-up(xl) {
          font-size: rems(32);
          margin-bottom: 15px;
        }
      }

      .field--name-field-intro-text{
        margin-bottom: 15px;
        font-size: rems(20);
      }

      .field--name-field-schedule-table {
        table {
          margin: 0 auto;

          caption {
            text-align: center;
            font-family: $CeraPRO-RegularItalic;
            color: darken($grey,20%);
            font-size: rems(16);
          }

          td {
            font-family: $CeraPRO-Light;
            font-size: rems(22);
            padding:5px 0;
            border: solid 0.5px $mercury;
            text-align: center;
            white-space: nowrap;
            background-color: $white;
            min-width: 160px;


            @include media-breakpoint-up(md) {
              padding:5px 25px;
              font-size: rems(24);
            }
          }
        }
      }
    }
  }
}