.google-map-wrapper {
  .gm-style-iw-c {
    border-radius: 0;
    visibility: hidden; /** Later removed by JS once pop-up is positioned correctly */

    .gm-style-iw-d {
      vertical-align: middle;
      margin-right: 30px;

      font-size: 18px;
      line-height: 17px;
      color: $dark-teal;
      overflow: visible;
      font-family: $CeraPRO-Medium;

      > div {
        max-width: 190px;
      }
    }

    button.gm-ui-hover-effect {
      /* Important because Google maps put their styles inline */
      top: 6px !important;
      right: 0 !important;

      img {
        width: 0 !important;
        height: 0 !important;
        visibility: hidden;
      }

      &::before {
        content: "X";
        font-family: $CeraPRO-Bold;
        color: $teal;
        width: 30px;
        height: 30px;
        display: block;
        border: 0 none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 6px;
        right: 0;
        cursor: pointer;
        -moz-user-select: none;
        outline: currentcolor none medium;
      }
    }
  }
}

.paragraph--type--select-map-route,
.paragraph--type--select-map-ports {
  min-height: 300px;
  position: relative;

  @include media-breakpoint-down(md) {
    display: flex;
    flex-direction: column;
    min-height: unset;
  }

  @include media-breakpoint-up(md) {
    //min-height: 450px;
  }

  @include media-breakpoint-up(lg) {
    min-height: 650px;
  }

  @include media-breakpoint-up(xl) {
    min-height: 870px;
  }

  .btn {
    background-color: $teal;
    border-color: $teal;
    &:hover {
      transform: none;
    }
  }

  .google-map-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    @include media-breakpoint-down(md) {
      position: relative;
      height: 400px;
      order: 2;
    }
  }

  .overlay-wrapper {
    pointer-events: none;
    position: relative;
    z-index: 1;
    height: auto;
    max-width: 1400px;
    margin: auto;
    min-height: 300px;

    @include media-breakpoint-down(md) {
      min-height: 1px;
      width: 100%;
      position: static;
    }

    @include media-breakpoint-up(md) {
      //min-height: 450px;
    }

    @include media-breakpoint-up(lg) {
      min-height: 650px;
    }

    @include media-breakpoint-up(xl) {
      min-height: 870px;
    }

    * {
      pointer-events: auto;
    }

    .overlay {
      background-color: $white;
      display: inline-block;
      margin: 30px 20px;
      border: 5px solid $teal;
      width: 300px;
      padding: 20px;
      color: $blue;

      @include media-breakpoint-down(md) {
        width: 100%;
        margin: 0;
      }

      @include media-breakpoint-up(xl) {
        width: 520px;
        padding: 60px;
        margin: 80px 0;
      }

      .bootstrap-select {
        width: 100%;

        button {
          border-top: 0;
          border-left: 0;
          border-right: 0;
          border-radius: 0;
          background-color: transparent;

          @include media-breakpoint-up(lg) {
            font-size: 18px;
          }

          .filter-option {
            padding-left: 0;
            padding-right: 0;
            color: $teal;
          }
        }

        .dropdown-menu {
          padding: 0;
        }

        .dropdown-item {
          padding-left: 10px;
          padding-right: 10px;

          &:hover,
          &:focus {
            background-color: $mercury;
          }

          @include media-breakpoint-up(lg) {
            font-size: 18px;
          }

          &.active, &:active {
            background-color: $teal;
          }
        }

        .dropdown-toggle {
          &.bs-placeholder {
            color: $teal;
          }

          &::after {
            -webkit-mask: url('data:image/svg+xml;utf8,<svg width="12" height="9" viewBox="0 0 12 9" xmlns="http://www.w3.org/2000/svg">
<path class="blue" fill-rule="evenodd" clip-rule="evenodd" d="M0 1.26918L6 8L12 1.26918L10.8686 0L6 5.46165L1.13137 0L0 1.26918Z"/>
</svg>') no-repeat 50% 50%;
            mask: url('data:image/svg+xml;utf8,<svg width="12" height="9" viewBox="0 0 12 9" xmlns="http://www.w3.org/2000/svg">
<path class="blue" fill-rule="evenodd" clip-rule="evenodd" d="M0 1.26918L6 8L12 1.26918L10.8686 0L6 5.46165L1.13137 0L0 1.26918Z"/>
</svg>') no-repeat 50% 50%;
            -webkit-mask-size: cover;
            mask-size: cover;
            width: 14px;
            height: 9px;
            background-color: $teal;
          }
        }
      }

      h2, h3, h4, h5, h6 {
        font-family: $CeraPRO-Regular;
        color: $blue;
      }

      h2 {
        font-size: 1.5rem;

        @include media-breakpoint-up(lg) {
          font-size: 2rem;
        }
      }

      h3 {
        font-size: 1.25rem;

        @include media-breakpoint-up(lg) {
          font-size: 1.5rem;
        }
      }

      a:not(.dropdown-item):not(.btn) {
        @include grow_text_link;
      }
    }

    .right-callout {
      position: absolute;
      right: 60px;
      bottom: 22px;

      a {
        @include btn;
      }

      @media (min-width: 1550px) {
        bottom: 40px;
        right: 0;
      }
    }
  }

  .port-list {
    list-style: disc;
  }

  .button-list {
    list-style: none;
    padding: 0;

    .btn {
      width: 100%;
      margin: 5px 0;
    }
  }

  [data-toggle="dropdown"] {
    display: block;
    border-bottom: $gray-700 solid 1px;
    background-color: white;
    text-decoration: none;
    color: inherit;
  }
}

.paragraph--type--select-map-ports {
  .details-header {
    display: none;
  }
}

