.paragraph--type--ship-key-features {
  background-color: $teal;

  .view-content {
    padding: 15px;
    text-align: center;

    @include media-breakpoint-up(xl) {
      padding: 30px 15px;
    }
  }

  .views-row {
    margin: 0 auto;

    .views-field {
      display: inline-flex;
      flex-direction: column;
      max-width: 200px;

      &:not(:last-child) {
        margin-right: 65px;
      }
      .field--name-field-title {
        font-family: $CeraPRO-Black;
        text-align: center;
      }
      .taxonomy-term {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        svg {
          height: 35px;
          width: auto;
          fill: $white;
          stroke: 1px $white;
          margin-bottom: 10px;
        }
      }
    }
    @include media-breakpoint-down(lg) {
      flex-wrap: wrap;
      height: auto;
      justify-content: space-evenly;
      display: flex;
      .views-field {
        flex: 1 1 0;

        .field-content {
          padding: 10px;
        }
        &:not(:last-child) {
          margin-right: 0;
        }
      }
    }

    @include media-breakpoint-down(md) {
      .views-field {
        flex: 0 0 33%;
        .field-content {
          margin: 10px 0;
        }
      }
    }

    @include media-breakpoint-down(xs) {
      .views-field {
        flex: 0 0 50%;
      }
    }

    & * {
      color: $white;
    }

  }
}