.paragraph--type--ship-comparison {
  margin-top: 50px;
  margin-bottom: 56px;
  .views-element-container {
    .view-content {
     .views-row .node__content {
       & > *:not(.field--name-field-media-image) {
         margin-left: 15px;
         margin-right: 15px;
       }
       @include media-breakpoint-down(lg) {
         & > .field--name-field-media-image {
           padding-left: 15px;
           padding-right: 15px;
         }
       }
     }
    }
  }

  .ships-2, .ships-3 {
    justify-content: center;
  }

  // Title:  Using Drupal Header module so allow for changing the heading block type
  header {
    text-align: center;

    h1, h2, h3, h4 {
      font-size: rems(24);
      margin-bottom: 0;

      @include media-breakpoint-up(md) {
        font-size: rems(32);
      }
      @include media-breakpoint-up(lg) {
        font-size: rems(42);
      }
    }

    // View All Ships -- Text Link
    .field--name-field-link {
      margin-bottom: 10px;

      a {
        display: inline-block;
        font-family: $CeraPRO-Medium;
        font-size: rems(18);

        @include grow_text_link;
        @include caret($teal);
      }
    }
  }

  // Instructions to tell user to use the ship drop-downs.
  .instructions-subtext {
    text-align: center;
    font-size: rems(12);
    color: $grey;
    padding-bottom: 30px;
    font-family: $CeraPRO-Medium;

    @include media-breakpoint-up(sm) {
      background: $light-teal-fade;
      font-family: $CeraPRO-LightItalic;
      color: $charcoal;
      font-size: rems(18);
      padding-top: 30px;
      margin-top: 30px;
    }
    @include media-breakpoint-up(lg) {
      margin-top: 50px;
    }
  }


  /* Styling for a ship */

  // Select Ship
  .ship_selector-wrapper {
    //margin: 0 -15px; // Negative margins to allow color background to be seamless across ship columns
    padding: 0 15px 10px;
    background: $light-teal-fade;

    @include media-breakpoint-up(lg) {
      padding-bottom: 20px;
    }

    @include media-breakpoint-up(xl) {
      //margin: 0 -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
    @include media-breakpoint-up(xxl) {
      //margin: 0 -30px;
    }

    @include media-breakpoint-up(xxxl) {
      padding-bottom: 30px;
    }


    // Select ship is contained in select form element.
    select {
      font-family: $CeraPRO-Medium;
      font-size: rems(12);
      width: 100%;
      padding: 10px 0;
      color: $blue;
      background: $light-teal-fade;
      border: none;
      border-bottom: solid 0.5px $blue;

      background-image: url('../img/select-caret.svg');
      background-repeat: no-repeat;
      background-position: right 18px;
      -webkit-appearance: none;
      -moz-appearance: none;

      @include media-breakpoint-up(sm) {
        font-size: rems(16);
        background-position: right 18px;
      }
      @include media-breakpoint-up(md) {
        font-size: rems(18);
        background-position: right 20px;
      }
      @include media-breakpoint-up(xl) {
        font-size: rems(20);
        background-position: right 24px;
      }
      @media (min-width: 1400px) {
        font-size: rems(22);
        background-position: right 28px;
      }
      @media (min-width: 1600px) {
        font-size: rems(24);
        background-position: right 32px;
      }
    }
  }

  // Ship Content Type - Ship comparison View (column)
  .node--type-ship.node--view-mode-ship-comparison {

    // Ship Image
    .field--name-field-media-image {
      //margin: 0 -15px;
      //padding: 0 15px;
      background: $light-teal-fade;

      // Column gutter goes away so make the image slightly larger.
      @include media-breakpoint-up(lg) {
        //margin: 0 -7.5px;
        padding: 0;
      }
      @include media-breakpoint-up(xl) {
        //margin: 0 -10px;
      }
      @include media-breakpoint-up(xxl) {
        //margin: 0 -15px;
      }

      .media--type-image.media--view-mode-ship-card {
        background: $light-teal-fade;
        display: block;

        .field__item {
          position: relative;
          width: 100%;
          padding-bottom: 75%;

          img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }

    .section--ship-links {
      margin: 15px 10px 0;

      @include media-breakpoint-up(lg) {
        margin: 15px 20px 0;
      }
    }

    .section--pricing, .section--experience, .section--key-features, .section--more-ship-links {
      padding: 0 10px;

      @include media-breakpoint-up(lg) {
        padding: 0 20px;
      }
    }

    .section--ship-links {
      margin-top: 15px;

      @include media-breakpoint-up(md) {
        display: flex;
        justify-content: space-between;
        border-bottom: solid 0.5px $light-teal;
        flex-wrap: wrap;
      }


      .field--type-link {
        margin: 0 0 15px;
        font-size: rems(12);


        // Change the flex rules for the last item
        &:last-of-type {
          flex-grow: 0;
          a {
            padding-right:0;
            flex-grow: 0;
            flex-shrink: 1;
          }
        }

        @media (min-width: 400px) {
          font-size: rems(14);
        }
        @include media-breakpoint-up(sm) {
          font-size: rems(16);
        }
        @include media-breakpoint-up(md) {
          font-size: rems(18);
        }
        @include media-breakpoint-up(xl) {
          flex: 1 0 auto;
          font-size: rems(14);
        }
        @include media-breakpoint-up(xxl) {
          font-size: rems(20);
        }

        a {
          display: inline-block;
          padding: 0 10px 0 0;
          font-family: $CeraPRO-Medium;

          @include grow_text_link;
          @include caret($teal);

          &::after {
            display: inline-block;
            width: 9px;
            height: 6px;
            margin-left: 8px;
            transform: rotate(-90deg);
            white-space: nowrap;
            background-size: 9px 6px;

            @media (min-width: 400px) {
              width: 10px;
              height: 7px;
              background-size: 10px 7px;
            }
            @include media-breakpoint-up(sm) {
              width: 12px;
              height: 9px;
              background-size: 12px 9px;
            }
            @include media-breakpoint-up(xxl) {
              width: 10px;
              height: 7px;
              margin-left: 4px;
              background-size: 10px 7px;
            }
            @include media-breakpoint-up(xxxl) {
              width: 12px;
              height: 9px;
              background-size: 12px 9px;
              margin-left: 6px;
              margin-right: 0;
            }
          }
        }
      }
    }

    .section--pricing {

      .field--name-field-pricing {
        font-family: $CeraPRO-Medium;
        color: $blue;
        font-size: rems(14);
        padding: 0;
        margin: 30px 0 30px;

        @include media-breakpoint-up(sm) {
          font-size: rems(16);
        }

        @include media-breakpoint-up(md) {
          font-size: rems(18);
        }

        @include media-breakpoint-up(lg) {
          font-size: rems(20);
        }

        @include media-breakpoint-up(xxl) {
          text-align: center;
        }

        .field__label {
          float: none;
          display: inline-block;
          font-weight: normal;
          padding-right: 0;

          &::after {
            content: " \2013"; // Escaped hex entity value for ndash ;
          }
        }

        .field__item {
          font-size: rems(18);
          display: inline-block;
        }
      }
    }

    // Experience taxonomy and short description fields

    .section--experience {

      .field--name-field-experience {
        color: $blue;
        font-family: $CeraPRO-Medium;
        font-size: rems(14);
        margin-bottom: 10px;

        @include media-breakpoint-up(sm) {
          font-size: rems(16);
        }

        @include media-breakpoint-up(md) {
          font-size: rems(20);
          margin-bottom: 0;
        }

        @include media-breakpoint-up(xl) {
          font-size: rems(26);
        }

        @include media-breakpoint-up(xxl) {
          text-align: center;
        }
      }

      .field--name-field-short-description {
        padding-bottom: 30px;
        font-size: rems(12);

        @include media-breakpoint-up(sm) {
          font-size: rems(16);
        }
        @include media-breakpoint-up(md) {

        }

        @include media-breakpoint-up(lg) {
          font-size: rems(18);
        }

        @include media-breakpoint-up(xl) {
          padding-bottom: 40px;
          font-size: rems(20);
        }

        @include media-breakpoint-up(xxl) {
          text-align: center;
        }
      }
    }

    // Key Features:  Icons/Text, Deck Capacity, Packages, Good For
    .section--key-features {
      text-align: center;

      .paragraph,
      .field--name-field-detailed-capacity,
      .field--name-field-package-options,
      .field--name-field-good-for {
        border-top: solid 0.5px $light-teal;
        padding: 10px;

        @include media-breakpoint-up(lg) {
          padding: 20px;
        }
      }

      // Field Labels are common, set to a common size and color.
      .field__label {
        font-family: $CeraPRO-Medium;
        font-size: rems(14);
        font-weight: normal;
        color: $blue;

        @include media-breakpoint-up(md) {
          font-size: rems(20);
        }

        @include media-breakpoint-up(xxl) {
          font-size: rems(26);
        }
      }

      // Set field items of the node type to common sizes
      .field__item {
        font-size: rems(14);
        @include media-breakpoint-up(md) {
          font-size: rems(18);
        }
      }

      // Icon and Text/Title
      .icon {
        color: $blue;
        font-family: $CeraPRO-Medium;
        font-size: rems(18);

        svg {
          color: $blue;
          height: 22px;
          margin-bottom: 10px;

          @include media-breakpoint-up(md) {
            height: 35px;
          }
        }
      }

      .icon.has-title {
        .field--name-name {
          display: none;
        }

        .field--name-field-title {
          display: block;
        }
      }

      .field--name-field-detailed-capacity,
      .field--name-field-detailed-capacity p {
        font-size: rems(12);

        @include media-breakpoint-up(sm) {
          font-size: rems(14);
        }
        @include media-breakpoint-up(md) {
          font-size: rems(16);
        }
        @include media-breakpoint-up(lg) {
          font-size: rems(18);
        }
        @include media-breakpoint-up(xl) {
          font-size: rems(20);
        }
      }

      .field--name-field-package-options p {
        color: $blue;
        font-family: $CeraPRO-Medium;
        font-size: rems(14);
        line-height: 1.1;

        @include media-breakpoint-up(md) {
          font-size: rems(20);
        }
        @include media-breakpoint-up(xxl) {
          font-size: rems(26);
        }
      }

      .field--name-field-good-for {
        margin-bottom: 20px;
        @include media-breakpoint-up(md) {
          margin-bottom: 40px;
          border-bottom: solid 0.5px $light-teal;
        }
      }

      .field--name-field-good-for,
      .field--name-field-good-for p {
        font-size: rems(12);

        @include media-breakpoint-up(sm) {
          font-size: rems(14);
        }
        @include media-breakpoint-up(md) {
          font-size: rems(16);
        }
        @include media-breakpoint-up(lg) {
          font-size: rems(18);
        }
        @include media-breakpoint-up(xl) {
          font-size: rems(20);
        }
      }
    }

    // Bottom of column Button Links
    .section--more-ship-links {

      .field--type-link {
       //margin: 0 auto;
        text-align: center;

        // First button needs to be different.  Target the parent and then drill down to the anchor.
        &:first-of-type {
          a {
            @include btn();
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;

            background-color: transparent;
            border: 2px solid $teal;
            color: $teal;
            &:hover {
              color: $teal;
            }
            font-size: rems(14);
            @include media-breakpoint-up(sm) {
              font-size: rems(16);
              max-width: 250px;
            }
            @include media-breakpoint-up(md) {
              font-size: rems(18);
            }
            @include media-breakpoint-up(lg) {
              font-size: rems(20);
            }
          }
        }

        a {
          @include btn();
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 10px;
          font-size: rems(14);
          @include media-breakpoint-up(sm) {
            font-size: rems(16);
            max-width: 250px;
          }
          @include media-breakpoint-up(md) {
            font-size: rems(18);
          }
          @include media-breakpoint-up(lg) {
            font-size: rems(20);
          }
        }

      }
    }
  }

  // End of Layout
}