/*
Step Blocks - Paragraph Type
  -- Uses Step Block Card  (styling including in this sass file)
 */

.paragraph--type--step-blocks {
  padding: 20px 0;

  // Layout Title
  .field--name-field-heading {
    text-align: center;

    h2, h3, h4, h5 {
      margin-bottom: 40px;
    }
  }

  // Layout Cards
  .field--name-field-cards {

    @include media-breakpoint-up(sm) {
      display: flex;
      flex-wrap: wrap;
    }

    .field__item {
      margin-bottom: 20px;

      @include media-breakpoint-up(sm) {
        flex: 0 0 50%;
      }
      @include media-breakpoint-up(lg) {
        flex-basis: 33%;
      }
    }

    // Step Block Card
    .paragraph--type--step-block-card {
      height: 100%;
      background: $light-grey;
      border: solid 1px $mercury;
      padding: 20px;
      margin: 0 10px 0;

      @include media-breakpoint-up(xl) {
        padding: 20px 30px;
      }

      .step-number {
        display: none; //  use must select checkbox to turn this on.

        border: solid 3px $blue;
        background-color: $white;
        border-radius: 50%;
        width: 46px;
        height: 46px;

        margin-bottom: 20px;
        margin-left: -5px;

        justify-content: center;
        align-items: center;

        @include media-breakpoint-up(md) {
          width: 66px;
          height: 66px;
        }
        @include media-breakpoint-up(xl) {
          margin-left: -10px;
        }

        span {
          display: block;
          font-size: rems(32);
          font-family: $CeraPRO-Medium;
          color: $blue;
          text-align: center;
          padding-bottom: 6px;

          @include media-breakpoint-up(md) {
            font-size: rems(42);
            padding-bottom: 10px;
          }
        }

      }

      // Card Title text
      .field--name-field-title {
        @include appear_as_heading(h4)
      }

      // Card Body
      .field--name-field-body {
        p {
          font-size: rems(16);
        }
      }
    }
  }

  /* Links */

  .step-block--links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 40px;

    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }

    // Button Links
    .field--name-field-links {
      .field__item {
        display: inline-block;
        margin: 0 5px;

        a {
          @include btn($white,$electric-blue);
        }
      }
    }

    // Single File Download Link
    .field--name-field-single-file {
      .field__item {
        display: inline-block;

        span.file {
          background: none;

          a {

            @include grow_text_link;

            @include caret($blue);

            color: $blue;
            padding: 10px 0;

            &::after {
              //ie11svgissue
              background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2212%22%20height%3D%229%22%20viewBox%3D%220%200%2012%209%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20class%3D%22blue%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0%201.26918L6%208L12%201.26918L10.8686%200L6%205.46165L1.13137%200L0%201.26918Z%22%20fill%3D%22%23002554%22%20%2F%3E%0A%20%20%3C%2Fsvg%3E');
            }
          }
        }
      }
    }
  }

  /* Options */

  // Show Step Numbers
  &.show-numbers {
    .field--name-field-cards {
      .paragraph--type--step-block-card {
        .step-number {
          display: flex;
        }
      }
    }
  }

  // Card Alignment
  &.card-text-alignment--left {
    // default
  }

  &.card-text-alignment--center {
    .field--name-field-cards {
      .paragraph--type--step-block-card {
        text-align: center;

        .step-number {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  /* Layout Colors */

  // Grey cards on White background
  &.color--grey {
    //default
  }

  // White cards on Grey background
  &.color--white {
    background: $light-grey;

    .field--name-field-cards {
      .paragraph--type--step-block-card {
        background: $white;
      }
    }
  }

  // End of Paragraph
}