/* Text with CTA
-----------------------------
--Includes ShareThis
--Heading (prior to using the Heading Field) with options of H1 or H2
--Optional top and bottom body fields
--Optional icons (up to , stacked or inline
--Right CTA blocks (1 or 2 CTA) with optional file field
------------------------------
*/

.paragraph--type--text-with-cta-blocks {

  padding-bottom: 20px;

  // Increase the Container max width from 1400 to 1430
  .container {
    max-width: 1430px;
  }

  .row {
    justify-content: space-between;
  }

  .article__sharethis__wrapper {
    margin-top: 15px;

    @include media-breakpoint-up(md) {
      margin-top: 0;
    }
  }

  .text {
    height: 100%;
    margin-bottom: 30px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }

    .title__wrapper {
      display: flex;
      margin-bottom: 15px;

      @include media-breakpoint-up(lg) {
        margin-bottom: 30px;
      }


      &.not-shareable.no-cta {
        display: block;
        text-align: center;
      }

      &.not-shareable.has-cta {
        //default
      }

      /* ShareThis lives outside the container when full screen and then shares the same line as the paragraph title.
This needs a special breakpoint to account for the additional space it occupies when there is outside gutter available.
Includes some additional spacing wizardry to account for no gutter to some gutter states. */

      &.shareable.has-cta {

        @include media-breakpoint-up(xxxl) { // 1600px
          margin-left: -60px;
        }
      }

      &.shareable.no-cta {
        justify-content: center;

        @include media-breakpoint-up(xl) {
          margin-left: -60px;
        }
      }


      // Headings live beside the ShareThis button

      h1 {
        font-size: rems(30);
        margin-top: 15px;
        margin-bottom: 0;

        @include media-breakpoint-up(md) {
          font-size: rems(40);
        }

        @include media-breakpoint-up(lg) {
          font-size: rems(50);

        }

        @include media-breakpoint-up(xl) {
          font-size: rems(60);

        }

        @include media-breakpoint-up(xxl) {
          font-size: rems(70);
        }
      }

      h2 {
        margin-bottom: 0;
        margin-top: 15px;

        @include media-breakpoint-up(lg) {
          font-size: rems(42);
        }

        @include media-breakpoint-up(md) {
          margin-top: 0;
        }
      }
    }


    // Body Text Fields
    .field--name-field-body, .field--name-field-body-2 {
      p, li {
        @include media-breakpoint-up(lg) {
          font-size: 1.25rem;
          font-family: $CeraPRO-Light;
        }
      }

      li {
        margin: 20px 0;

        @include media-breakpoint-up(lg) {
          margin: 40px 0;
        }
      }

      ul.li-circled-checkmarks {
        padding-left: 48px;

        li {
          &::before {
            margin-top: 3px;
            margin-left: -2.3em;
          }
        }
      }
    }

    .icon-blocks.hide-icons-mobile {
      .field--name-field-icon-blocks {
        display: none;

        @include media-breakpoint-up(sm) {
          display: flex;
        }
      }
    }

    .field--name-field-icon-blocks {
      margin-top: 20px;

      @include media-breakpoint-up(md) {
        display: flex;
        flex-wrap: wrap;
      }

      .field__item {
        @include media-breakpoint-up(md) {
          flex: 0 0 50%;
        }
      }

      .icon {
        display: flex;
        color: $blue;
        font-family: $CeraPRO-Medium;
        align-items: center;
        margin: 15px 0;
        text-align: left;

        @include media-breakpoint-up(lg) {
          font-size: 18px;
          margin: 20px 0;
        }

        @include media-breakpoint-up(xl) {
          padding-right: 40px;
          margin: 25px 0;
        }

        .field--name-field-icon {
          flex: 1 1 auto;
          display:flex;
        }

        .field__item {
          flex: 1 1 auto;
        }

        .field--name-field-svg {
          flex: 0 0 45px;
          margin-right: 10px;
          display: flex;
          justify-content: center;

          @include media-breakpoint-up(lg) {
            margin-right: 20px;
          }

          svg {
            fill: $blue;
          }
        }

        &.has-title {
          .field--name-field-icon {
            flex: 0 0 45px;
            max-width: 45px;
            margin-right: 10px;

            @include media-breakpoint-up(lg) {
              margin-right: 20px;
            }
          }

          .field--name-name {
            display: none;
          }
        }

        &:not(has-title) {
          .taxonomy-term {
            display: flex;
            align-items: center;
          }
        }
      }
    }

    // Stacked Icons
    .icon-layout__stacked {

      &.has-cta {
        .field--name-field-icon-blocks {
          .field__item {
            @include media-breakpoint-up(lg) {

              .icon.has-title {
                .field--name-name {
                  display: none;
                }
              }

              .icon:not(has-title) {
                .taxonomy-term {
                  display: flex;
                  align-items: center;
                }
              }
            }
          }
        }
      }

      .field--name-field-icon-blocks {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .field__item {
          flex: 1 0 50%;

          @include media-breakpoint-up(sm) {
            flex: 1 1 auto;
            min-width: 100px;
            max-width: 200px;
          }

          @include media-breakpoint-up(lg) {
            flex: 1 1 0;
            min-width: auto;
            max-width: auto;
          }

          .icon {
            flex-direction: column;
            text-align: center;
            padding: 0 10px;

            .field--name-field-svg {
              margin-right: 0;
              margin-bottom: 10px;
              height: 45px;
              flex: unset;
              align-items: center;
            }

            &.has-title {
              .field--name-field-icon {
                margin-right: 0;
                .field__item {
                  min-width: unset;
                  max-width: unset;
                }
              }
            }

            &:not(has-title) {
              .taxonomy-term {
                flex-direction: column;
                .field--name-name {
                  max-width: 250px;
                }
              }
            }
          }
        }

        @include media-breakpoint-up(lg) {
          .field__item:first-of-type .icon {
            padding-left: 0;
          }
          .field__item:last-of-type .icon {
            padding-right: 0;
          }
        }
      }
    }
  }

  // CTA Blocks
  .cta-blocks {
    height: 100%;

    .field--name-field-cta-blocks {
      display: flex;
      flex-direction: column;
      height: 100%;

      @include media-breakpoint-up(sm) {
        flex-direction: row;
        justify-content: space-between;
      }

      @include media-breakpoint-up(lg) {
        flex-direction: column;
      }

      .field__item {
        flex: 1 1 0;
        align-items: center;
        background-color: rgba($electric-blue, 0.05);

        @include media-breakpoint-up(sm) {
          flex: 0 0 48%;
          display: flex;
        }

        @include media-breakpoint-up(lg) {
          flex: 1 0 auto;
        }

        .field__item {
          display: block;
          background-color: transparent;
        }

        &:last-child {
          .paragraph--type--cta-block {
            .field--name-field-title {
              margin-bottom: 10px;
              @include media-breakpoint-up(lg) {
                font-size: 24px;
              }

              @include media-breakpoint-up(xl) {
                font-size: 28px;
                margin-bottom: 20px;
              }
            }
          }
        }
      }

      .field__item + .field__item {
        margin-top: 15px;

        @include media-breakpoint-up(sm) {
          margin-top: 0;
        }

        @include media-breakpoint-up(lg) {
          margin-top: 15px;
        }

        .field__item + .field__item {
          margin-top: 0;
        }
      }
    }
  }

  &:not(.has-cta-blocks) {
    text-align: center;

    .container {
      padding: 0 20px;
      max-width: 930px;

      @include media-breakpoint-up(sm) {
        padding: 0 35px;
      }

      .text {
        margin-bottom: 0;
      }
    }

    ul {
      text-align: left;
    }
  }

  &.cta-count--1 {
    .cta-blocks {
      .field--name-field-cta-blocks {
        display: block;

        .field__item {
          @include media-breakpoint-up(sm) {
            flex: 0 0 100%;
          }

          @include media-breakpoint-up(lg) {
            flex: 1 0 100%;
          }

          .paragraph--type--cta-block {
            padding: 25px 15px;

            @include media-breakpoint-up(lg) {
              padding: 30px;
            }

            @include media-breakpoint-up(xl) {
              padding: 45px;
            }
          }
        }
      }
    }
  }
}