/* 3 x 3 Grid - Paragraph Type */

.paragraph--type--three-by-three-grid {
  overflow: hidden;

  h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: rems(24);
    @include media-breakpoint-up(md) {
      font-size: rems(32);
    }
  }

  // Wrapper for the Image Cards
  .field--name-field-cards {

    // need to extend the right margin to allow items to visually center because we are using Flex start.
    @include media-breakpoint-up(sm) {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-right: -10px;
    }
    @include media-breakpoint-up(md) {
      margin-right: -15px;
    }
    @include media-breakpoint-up(lg) {
      margin-right: -20px;
    }

    // Each card is contained in a field item
    .field__item {

      @include media-breakpoint-up(sm) {
        flex: 0 0 50%;
      }
      @include media-breakpoint-up(md) {
        flex-basis: 33%;
        flex-grow: 0;
      }

      .paragraph--type--image-card {
        padding: 0 10px 20px;
        height: 100%;

        @include media-breakpoint-up(md) {
          padding: 0 15px 30px;
        }

        @include media-breakpoint-up(lg) {
          padding: 0 20px 40px;
        }

        // Because this is the actually wrapper for the layout set as a flex column
        // Also, might as well remove the default link styling on plain text because whole card is a link.
        a.card-wrapper-link {
          display: flex;
          flex-direction: column;
          height: 100%;

          text-decoration: none;
          color: $charcoal;

          &:hover {
            color: $charcoal;
          }
        }

        .field--name-field-image {

          //Field image will output field__item, need to disable this as it messes with the flex column.   Note that this flex item does not grow.
          &.field__item {
            flex: 0 0 unset;
          }

          // Media has display flex applied to the class that comes from Bootstrap.  Need to disable it for this layout.
          .media {
            display: block;
          }

          // Apply the size, cover technique for images.
          .field--name-field-media-image {
            position: relative;
            padding-bottom: 75%;
            width: 100%;

            @media (min-width: 400px) {
              padding-bottom: 60%;
            }

            @include media-breakpoint-up(sm) {
              padding-bottom: 75%;
            }

            img {
              position: absolute;
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
        }

        // Title and Subtitle, wrapped in a flex grow container
        .card__content {
          flex-grow: 1;
          text-align: center;
          background: $light-teal-fade;
          margin-bottom: 0;

          .field--name-field-title {
            padding: 15px 0 25px;
            @include appear_as_heading(h3);

            @include media-breakpoint-up(xl) {
              font-size: rems(32);
            }
          }

          // Subtitle is optional
          .field--name-field-card-sub-title {
            margin: 0;
            margin-top: -25px;
            padding-bottom: 20px;
            color: $black;
            font-family: $CeraPRO-LightItalic;
            font-size: rems(16);
            @include media-breakpoint-up(lg) {
              font-size: rems(18);
            }
          }
        }
      }
    }
  }

  // Paragraph footer content
  .field--name-field-body {

    p {
      padding: 20px;
      font-style: italic;
      font-size: rems(16);

      @include media-breakpoint-up(sm) {
        padding: 30px;
      }

      @include media-breakpoint-up(lg) {
        font-size: rems(18);
      }

      a {
        display: inline-block;
        margin-left:10px; //shimmie it over to allow the button to grow

        font-family: $CeraPRO-Medium;
        font-style: normal;

        @include grow_text_link();

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  // End of layout
}