/* Paragraph Layout : Tidbit Grid */

.tidbit-grid {

  h2 {
    text-align: center;
    margin-bottom: 60px;
  }

  .tidbit-grid-items {

    .tidbit-grid-item {
      flex: 0 0 33.33%;
      text-align: center;
      margin-bottom: 40px;

      @include media-breakpoint-down(md) {
        flex: 0 0 50%;
      }

      @include media-breakpoint-down(sm) {
        flex: 0 0 100%;
      }

      .field--name-field-image {
        margin-bottom: 20px;

        .media {
          justify-content: center;
        }
      }

      .field--name-field-media-image {
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}