.block--trophy-shelf {
  .field__items {
    padding: 30px 10px;

    @include media-breakpoint-up(sm) {
      padding: 50px 10px;
    }
  }

  .field__item {
    flex: 0 1 125px;
    margin: 0.5rem 0.75rem;

    @include media-breakpoint-up(sm) {
      margin: 0.5rem 3.45rem;
    }

    .field__item {
      margin: 0;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}