/*
* Event - Request for Proposal Form
*
*/

form.webform-submission-form {
  max-width: 1400px;
  margin: auto;
}

form.webform-submission-event-rfp-form,
form.webform-submission-concierge-form,
form.webform-submission-form {
  border: solid 1px #e3e3e3;
  background-color: $light-grey;
  padding: 30px 20px;
  margin-bottom: 20px;
  margin-top: 20px;

  @include media-breakpoint-up(sm) {
    margin-bottom: 40px;
    margin-top: 40px;
  }

  @include media-breakpoint-up(md) {
    padding: 40px;
    margin-bottom: 60px;
    margin-top: 60px;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 80px;
    margin-top: 80px;
  }

  @include media-breakpoint-up(xl) {
    padding: 50px;
  }

  @media (min-width: 1400px) {
    padding: 50px 120px;
  }

  h3 {
    margin-bottom: 1.4em;
    font-size: 24px;

    @include media-breakpoint-up(lg) {
      font-size: 36px;
    }
  }

  hr {
    border-top: 1px solid rgba(10,17,22,0.2);
  }

  label {
    display: block;
    margin-top: 20px;
  }

  input[type=text],
  input[type=number],
  input[type=date],
  input[type=tel],
  input[type=email],
  textarea,
  select {
    background-color: $white;
  }

  .form-required {
    &::before {
      content: '*';
      display: inline-block;
      margin-right: 10px;
    }

    &::after {
      display: none;
    }
  }

  // Custom intro with markup for event form
  .js-form-item-markup-1 {
    #rfp-intro {
      border-bottom: 1px solid rgba(10, 17, 22, 0.2);
      padding-bottom: 30px;
      margin-bottom: 40px;

      @include media-breakpoint-up(lg) {
        padding-bottom: 40px;
        margin-bottom: 60px;
      }

      ol {
        list-style: none;
        padding: 0;
        position: relative;

        @include media-breakpoint-up(sm) {
          display: flex;
          justify-content: space-between;
        }

        &::after {
          @include media-breakpoint-up(sm) {
            position: absolute;
            top: 25px;
            height: 1px;
            width: calc(100% - 150px);
            left: 0;
            right: 0;
            margin: auto;
            content: "";
            border: 1px dashed rgba(10, 17, 22, 0.2);
            z-index: 1;
          }

          @include media-breakpoint-up(lg) {
            top: 35px;
          }
        }

        li {
          flex: 1 1 0;
          position: relative;
          color: $blue;
          font-size: 18px;
          font-family: $CeraPRO-Medium;
          //max-width: 250px;
          margin: auto;
          display: flex;
          align-items: center;

          @include media-breakpoint-up(sm) {
            font-size: 20px;
            margin: 0;
            max-width: 200px;
            text-align: center;
            display: block;
          }

          @include media-breakpoint-up(lg) {
            font-size: 24px;
            max-width: 250px;
          }

          span {
            //width: 40px;
            //height: 70px;
            background-color: $white;
            border-radius: 50%;
            position: relative;
            display: inline-block;
            margin-right: 15px;
            color: $blue;
            font-family: $CeraPRO-Medium;
            //line-height: 1;
            //font-size: 48px;
            border: 3px solid $blue;
            z-index: 3;
            text-align: center;
            flex-shrink: 0;


              width: 55px;
              height: 55px;
              font-size: 32px;
              line-height: 1.3;
              border: 3px solid $blue;

            @include media-breakpoint-up(sm) {
              display: block;
              margin: 0 auto 15px;
            }


            @include media-breakpoint-up(lg) {
              width: 70px;
              height: 70px;
              font-size: 48px;
              line-height: 1;
              border: 4px solid $blue;
              margin: 0 auto 20px;
            }

            &::before, &::after {
              @include media-breakpoint-up(sm) {
                position: absolute;
                width: 30px;
                left: -33px;
                height: 100%;
                right: auto;
                content: "";
                background-color: $light-grey;
                z-index: 2;
              }

              @include media-breakpoint-up(xl) {
                width: 50px;
                left: -55px;
              }
            }

            &::after {
              left: auto;
              right: -33px;

              @include media-breakpoint-up(xl) {
                right: -55px;
              }
            }
          }
        }

        li + li {
          margin-top: 25px;
          @include media-breakpoint-up(sm) {
            margin-top: 0;
            margin-left: 20px;
          }
        }
      }
    }

    h3 {
      margin-bottom: 1rem;
    }

    strong {
      font-weight: normal;
      font-family: $CeraPRO-LightItalic;
      font-size: 18px;
      display: block;
      margin-bottom: 20px;

      @include media-breakpoint-up(sm) {
        margin-bottom: 2rem;
      }
    }
  }

  legend {
    font-size: 18px;
  }

  .js-form-type-checkbox, .js-webform-type-checkboxes{
    display: flex;
    flex-wrap: nowrap;

    input {
      margin-top: 6px;
    }

    label {
      margin-left: 7px;
      letter-spacing: 0;
      margin-top: 0;
      font-size: 18px;
    }
  }

  .form-item-phone-number {
    @include media-breakpoint-up(sm) {
      max-width: 240px;
    }
  }

  .form-item-postal-code {
    border-bottom: 1px solid rgba(10,17,22,0.2);
    padding-bottom: 2em;
    margin-bottom: 0;

    input {
      max-width: 240px;
    }
  }

  .form-item-date-is-flexible {
    input {
      margin-top: 2px;
    }

    label {
      color: rgba($black, 0.5);
      margin-bottom: 0;
      line-height: 1;
    }
  }

  .form-item-first-name,
  .form-item-last-name {
    display: inline-block;
    margin-bottom: 0.5rem;
  }


  input#edit-first-name,
  input#edit-last-name {
    @include media-breakpoint-up(md) {
      display: inline-block;
    }
  }

  input#edit-first-name {
    @include media-breakpoint-up(md) {
      margin-right: 8px;
    }
  }

  .form-item-first-name, .form-item-email-address {
    margin-bottom: 0;
  }


  .form-item-markup-2 {
    margin-bottom: 0;

    h3 {
      margin-bottom: 0;

      @include media-breakpoint-up(sm) {
        margin-top: 1rem;
      }
    }
  }

  #edit-company-label-01,
  #edit-company-label-02,
  #edit-company-label-03,
  #edit-company-label-04 {
    font-weight: bold;
    font-size: 18px;
    color: $blue;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;

    @include media-breakpoint-up(lg) {
      font-size: 20px;
    }
  }

  .form-item-event-date {
    margin-bottom: 0;
  }

  .form-item-company {
    margin-top: 0;
  }

  .form-item-receive-emails {
    flex-wrap: wrap;
    justify-content: flex-start;

    label {
      color: rgba($black, 0.5);
      flex: 0 1 calc(100% - 21px);

      @include media-breakpoint-up(lg) {
        flex: 0 0 auto;
      }
    }

    .description {
      display: inline-block;
      margin-left: 20px;
      flex: 0 0 100%;

      @include media-breakpoint-up(lg) {
        flex: 1 0 auto;
        margin-left: 10px;
      }

      a {
        color: rgba($black, 0.5);
        font-size: 18px;
        font-family: $CeraPRO-Medium;
        text-decoration: underline;
      }
    }
  }

  details {
    border: solid 0 $white;
    padding: 0;
    outline: 0;

    .details-wrapper {
      padding: 0;
    }

    summary {
      font-weight: bold;
      margin: 0;
      padding: 0;
      list-style: none;
      position: relative;
      letter-spacing: 1px;
      padding-right: 50px;

      @include media-breakpoint-up(sm) {
        padding-right: 40px;
      }

      span:not(.description) {
        font-size: 18px;

        @include media-breakpoint-up(sm) {
          margin-left: 10px;
        }
      }

      &::after {
        content: "+";
        font-size: 40px;
        line-height: 1;
        color: $white;
        background-color: $blue;
        border-radius: 5px;
        padding-bottom: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        left: auto;
        height: 36px;
        width: 36px;

        @include media-breakpoint-up(sm) {
          transform: translateY(-50%);
          top: 50%;
        }
      }

      .description {
        display: block;
        font-size: 18px;
        color: $charcoal;
        margin-top: 15px;
        letter-spacing: 0;

        @include media-breakpoint-up(sm) {
          font-size: 24px;
          margin-top: 0;
        }
      }
    }

    summary::-webkit-details-marker {
      display:none;
    }
  }

  details[open] {
    summary {
      &::after {
        content: "-"
      }
    }
  }

  .js-form-wrapper {
    summary {
      color: $blue;
      font-size: 24px;

      @include media-breakpoint-up(lg) {
        font-size: 36px;
      }
    }
  }

  .form-composite {
    .fieldset-legend {
      font-weight: bold;
      font-size: 20px;
      color: $blue;
      letter-spacing: 1px;
      display: block;
      margin-bottom: 0.5rem;

      @include media-breakpoint-up(lg) {
        font-size: 24px;
      }
    }
  }
}

form.webform-submission-concierge-form {
  .js-form-item-markup-1 {
    #rfp-intro {
      ol {
        li {
          @include media-breakpoint-up(sm) {
            font-size: 18px;
          }

          @include media-breakpoint-up(xl) {
            font-size: 24px;
          }
        }
      }
    }
  }
  .form-item-mailing-address {
    input[type=text] {
      max-width: 880px;
    }

    .description {
      color: rgba($black, 0.5);
      font-size: 18px;
      font-family: $CeraPRO-Medium;
      margin-top: 0.5rem;
      letter-spacing: 0;
    }
  }
}

form.webform-submission--travel-industry-rate-confirmati-form {
  .webform-name--wrapper.form-composite {
    > .fieldset-wrapper {
      @include media-breakpoint-up(sm) {
        display: flex;
        justify-content: flex-start;
      }

      > fieldset, > .form-item {
        display: block;
        margin-top: 0;

        @include media-breakpoint-up(sm) {
          margin-bottom: 0;
          margin-right: 20px;
          display: inline-block;
        }

        .form-text {
          margin-top: 0;
          margin-bottom: 0;
        }
      }

      .form-item + .form-item {
        margin-top: 15px;

        @include media-breakpoint-up(sm) {
          margin-top: 0;
        }
      }

      .form-item-contact-name-title-select {
        margin-bottom: 0;
      }

      .webform-composite-hidden-title {
        flex-shrink: 0;
      }
    }
  }

  .webform-composite-visible-title {
    margin-bottom: 3rem;
  }

  .js-form-item-markup {
    margin: 3em 0 15px;
  }
}

form.webform-submission-rsvp-form {
  .form-item-email-address {
    margin-bottom: 3rem;
  }

  #edit-additional-guest-info {
    margin: 0;

    legend {
      display: none;
    }
    .form-type-textfield, .form-type-email {
      display: inline-block;
      margin-top: 0;

      label {
        margin-top: 0;
      }
    }

    .form-type-textfield {
      input {
        margin-right: 8px;
      }
    }
  }
}

.paragraph--type--webform {
  form.webform-submission-form {
    margin-left: -15px;
    margin-right: -15px;
    max-width: none;
    margin-top: 0;
  }
}