form.user-login-form, form.user-pass {
  border: solid 1px #e3e3e3;
  background-color: $light-grey;
  padding: 30px 20px;
  margin: 20px auto;
  max-width: 680px;

  @include media-breakpoint-up(sm) {
    padding: 40px;
    margin: 40px auto;
  }

  @include media-breakpoint-up(sm) {
    margin: 60px auto;
  }

  @include media-breakpoint-up(lg) {
    margin: 80px auto;
  }

  @include media-breakpoint-up(xl) {
    padding: 50px;
  }

  @media (min-width: 1400px) {
    padding: 50px 120px;
  }

  .form-required {
    &::before {
      content: '*';
      display: inline-block;
      margin-right: 10px;
    }

    &::after {
      display: none;
    }
  }

  label {
    display: block;
    margin-top: 20px;
  }

  input[type=text],
  input[type=password],
  textarea,
  select {
    background-color: $white;
  }

  input[type=submit] {
    width: 200px;
    margin-top: 1rem;
  }

  .description {
    font-size: 16px;
    color: rgba($black, 0.5);
    margin-top: 0.5rem;
  }
}

form.user-pass {
  .js-form-item-name {
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 16px;
    color: rgba($black, 0.5);
    margin-bottom: 1rem;
  }
}
