// Newsletter Sign-up


// Block
.block--newsletter-signup {
  position: relative;

  h2, h3, h4, h5, h6 {
    color: $white;
    font-size: rems(24);
    letter-spacing: 0.02em;
    margin-bottom:20px;

    @include media-breakpoint-up(md) {
      font-size: rems(32);
    }
    @include media-breakpoint-up(xl) {
      font-size: rems(42);
    }
  }

  p {
    color: $white;
    font-size: rems(18);
    letter-spacing: 0.02em;
    line-height: 1.1;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;

    @include media-breakpoint-up(md) {
      max-width: unset;
    }

    @include media-breakpoint-up(xl) {
      font-family: $CeraPRO-Light;
      font-size: rems(22);
      line-height: 1.5;
      margin-bottom: 1.5em;
    }
  }

  .field--name-field-background-image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;

    .field__item {
      height: 100%;
    }

    .media {
      position: relative;
      display: block;
      height: 100%;
    }

    .field--name-field-media-image {
      height: 100%;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .newsletter-foreground {
    padding: 60px 10px 70px;
    text-align: center;
    background-color: rgba($blue, 0.8);
    @include media-breakpoint-up(md) {
      padding-bottom: 65px;
    }
  }
}

// Newsletter Form
form.webform-submission-newsletter-form {
  padding: 0;
  background-color: transparent;
  border: 0;
  margin: 0 auto;
  position: relative;

  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .form-text {
    display: inline-block;
  }

  .form-item,
  .form-actions {
    margin: 0;
    padding: 0;
    display: block;
    @include media-breakpoint-up(md) {
      display: inline-block;
      margin:0 -3px;   //For an unknown reason, this have space between them.  Squash the space!
    }
  }

  div[data-drupal-messages] {
    flex: 0 0 100%;
    margin-bottom: 15px;

    .messages--error {
      max-width: 1015px;
      margin: auto;
    }
  }

  .form-item--error-message {
    color: $white;
  }

  input[type=text],
  input[type=email] {
    width: 100%;
    max-width: 300px;
    border-radius: 0;
    margin: 0 0 -1px;
    font-size: rems(18);
    color: $blue;
    background-color: $white;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }

    &::placeholder {
      color: $blue;
      @include media-breakpoint-up(xl) {
        font-family: $CeraPRO-Light;
      }
    }
  }

  input[type=text],
  input[type=email],
  input[type=submit] {
    @include media-breakpoint-up(xl) {
      padding:20px 30px;
    }
  }

  .js-form-type-textfield {
    @include media-breakpoint-up(md) {
      max-width: 180px;
    }
    @include media-breakpoint-up(xl) {
      max-width: 300px;
    }
  }

  .js-form-type-email {
    @include media-breakpoint-up(md) {
      max-width: 220px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 300px;
    }
  }

  input[type=submit] {
    width: 100%;
    max-width: 300px;
    border-radius: 0 0 3px 3px;
    margin: 0;
    font-size: rems(18);
    font-weight: normal;
    font-family: $CeraPRO-Medium;

    @include media-breakpoint-up(md) {
      width: auto;
      max-width: unset;
      border-radius: 0 3px 3px 0;
    }
  }

  input#edit-first-name {
    margin-right: 0;
  }

  .ajax-progress-throbber {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  .webform-confirmation-message {
    h3 {
      font-size: 20px;
      margin-bottom: 0.5rem;

      @include media-breakpoint-up(sm) {
        font-size: 24px;
      }
    }
  }
}