/* Webform -- Contact Form*/

.webform-submission-contact-form {

  input[type=text],
  input[type=tel],
  input[type=email] {
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 300px;
    }
  }
}

