
{# ------------------- Dev flag ------------------- #}

{% if function('is_sbox') %}
    <div class="devflag sbox">LOCAL DEV</div>
{% endif %}

{% if function('is_dev') %}
    <div class="devflag dev">DEV SERVER</div>
{% endif %}

