<div class="archive-jobpostings">
    {% for post in posts %}
        <div class="col-sm-12 job-posting">
            <h2 class="title job-posting-title">
                <a href="#jobposting-{{ post.id }}" data-toggle="collapse">{{ post.post_title }}
                    <div class="job-posting-title-action"><span class="job-posting-title-action-status">{{ (post.job_status) ?: 'Open' }}</span>&nbsp;<span class="job-posting-title-action-pipe">|</span><i class="fa fa-caret-down"></i></div>
                </a>
            </h2>
            <div id="jobposting-{{ post.id }}" class="job-posting-content collapse">

                <div class="job-posting-intro">
                    {{ post.job_introduction }}

                    {% if options.apply.button_type != 'none' and post.job_status != 'Close' %}
                        {% if options.apply.button_type == 'internal' %}
                            <p class="{{ options.apply.button_parameters }}"><a
                                        href="{{ options.apply.button_page_link }}?job_title={{ post.post_title | escape }}"
                                        class="{{ options.apply.button_style }}">{{ options.apply.button_text }}</a>
                            </p>
                        {% elseif options.apply.button_type == 'external' %}
                            <p class="{{ options.apply.button_parameters }}"><a
                                        href="{{ options.apply.button_url_link }}?job_title={{ post.post_title | escape }}"
                                        class="{{ options.apply.button_style }}">{{ options.apply.button_text }}</a>
                            </p>
                        {% elseif options.apply.button_type == 'file' %}
                            <p class="{{ options.apply.button_parameters }}"><a
                                        href="{{ options.apply.button_file }}"
                                        class="{{ options.apply.button_style }}">{{ options.apply.button_text }}</a>
                            </p>
                        {% endif %}
                    {% endif %}

                </div>
                <div class="job-posting-description">
                    {{ post.job_description }}

                    {% if options.apply.button_type != 'none' and post.job_status != 'Close' %}
                        {% if options.apply.button_type == 'internal' %}
                            <p class="{{ options.apply.button_parameters }}"><a
                                        href="{{ options.apply.button_page_link }}?job_title={{ post.post_title | escape }}"
                                        class="{{ options.apply.button_style }}">{{ options.apply.button_text }}</a>
                            </p>
                        {% elseif options.apply.button_type == 'external' %}
                            <p class="{{ options.apply.button_parameters }}"><a
                                        href="{{ options.apply.button_url_link }}?job_title={{ post.post_title | escape }}"
                                        class="{{ options.apply.button_style }}">{{ options.apply.button_text }}</a>
                            </p>
                        {% elseif options.apply.button_type == 'file' %}
                            <p class="{{ options.apply.button_parameters }}"><a
                                        href="{{ options.apply.button_file }}"
                                        class="{{ options.apply.button_style }}">{{ options.apply.button_text }}</a>
                            </p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <h2>Sorry, no positions open at this time.</h2>
    {% endfor %}
</div>