<div class="offer-bar-wrapper">
    <div class="offer-bar-slider">
    {% for offer in options.offers  %}
        <div class="member-rate-bar">
            <div class="offer">
                <span class="offer-content"> {{ offer.content }} </span>
                <a class="btn-border-white" href="{{offer.link}}"> {{ offer.button_text }} </a>
            </div>
        </div>
    {% endfor %}
    </div>
    {% if options.offers|length > 1 %}
        <div class="offer-slider-controls"></div>
    {% endif %}
    <span class="offer-bar-close"></span>
</div>