
<div class="mobile-menu">
    <ul class="navbar-nav ml-auto">

        {# Phone Number in Mobile Nav #}
        <li class="nav-item primary_phone_number__mobile ">
            <a class="nav-link"
               href="tel:{{ options.primary_phone_number }}">{{ options.primary_phone_number_preface }} {{ options.primary_phone_number }}</a>
        </li>
        {% for item in primary_navigation.items %}
            {#<pre>#}
            {#{{ dump(item) }}#}
            {#</pre>#}
            <li class="nav-item dropdown">
                <a class="nav-link {{ item.class }}"
                   href="{{ item.link }}">{{ item.title }}{% if ((item.children | length) > 0) %}
                        <i class="fas fa-caret-right"></i>{% endif %}</a>
            </li>
            {% if ((item.children | length) > 0) %}
                <ul class="navbar-nav d-none navbar-sub"
                    data-parent="{{ subItem.menu_item_parent }}">
                    {% for subItem in item.children %}
                        <li class="nav-item">
                            <a class="nav-link {{ subItem.class }}"
                               href="{{ subItem.link }}">{{ subItem.title }}{% if ((subItem.children | length) > 0) %}
                                    <i class="fas fa-caret-right"></i>{% endif %}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
        <li class="nav-back d-none">
            <i class="fas fa-caret-left"></i>
            <a href="javascript:void(0)">Back</a>
        </li>

    </ul>

    {# Iterate the secondary nav for the mobile view #}
    <ul class="navbar-nav nav-secondary__mobile">

        {% for item in secondary_navigation.items %}
            <li class="nav-item">
                <a class="nav-link" href="{{ item.link }}">{{ item.title }}</a>
            </li>
        {% endfor %}

    </ul>
</div>
