<div class="collapse navbar-collapse d-lg-menu" id="navbarSupportedContentDesktop">
    <ul class="navbar-nav ml-auto">
        {% for item in primary_navigation.items %}
            <div class="nav-item dropdown">
                <a class="nav-link {{ item.class }}" {% if ((item.children | length) > 0) %}data-toggle="dropdown"{% endif %}
                   href="{{ item.link }}">{{ item.title }}{% if ((item.children | length) > 0) %}
                        <i class="fas fa-caret-down"></i>{% endif %}</a>
                {% if ((item.children | length) > 0) %}
                    <div class="dropdown-menu" data-parent="{{ subItem.menu_item_parent }}">
                        {% for subItem in item.children %}
                            <a class="dropdown-item {{ subItem.class }}"
                               href="{{ subItem.link }}">{{ subItem.title }}{% if ((subItem.children | length) > 0) %}
                                    <i class="fas fa-caret-right"></i>{% endif %}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <li class="nav-back d-none">
            <i class="fas fa-caret-left"></i><br/>
            <a href="javascript:void(0)">Back</a>
        </li>

    </ul>

    {# Iterate the secondary nav for the mobile view #}
    <ul class="navbar-nav nav-secondary__mobile">

        {% for item in secondary_navigation.items %}
            <li class="nav-item">
                <a class="nav-link" href="{{ item.link }}">{{ item.title }}</a>
            </li>
        {% endfor %}

    </ul>
</div>