<div class="social-links">
    <span>Share</span>
    {% for sLink in options.social_links %}

        {# Change the select value to an icon classname #}
        {% if sLink.social_link_icon == 'facebook' %}
            {% set icon = 'fa-facebook-f' %}
        {% elseif sLink.social_link_icon == 'twitter' %}
            {% set icon = 'fa-twitter' %}
        {% elseif sLink.social_link_icon == 'instagram' %}
            {% set icon = 'fa-instagram' %}
        {% else %}
            {% set icon = 'default' %}
        {% endif %}

        {% set shareURL = '' %}

        {# Change the select value to an icon name #}
        {% if sLink.social_link_icon == 'facebook' %}
            {% set shareURL = 'https://www.facebook.com/sharer/sharer.php?u=https:' ~ current_url %}
        {% elseif sLink.social_link_icon == 'twitter' %}
            {% set shareURL = 'https://twitter.com/intent/tweet?text=https:' ~ current_url %}
        {% elseif sLink.social_link_icon == 'instagram' %}
            {% set shareURL = sLink.social_link_url %}
        {% endif %}
        <a href="{{ shareURL }}"
           title="{{ sLink.social_link_name }}"
           target="_blank">
            <i class="fab {{ icon }}"><span class="social-link-name">{{ sLink.social_link_name }}</span></i>
        </a>

    {% endfor %}
</div>