/* A separate SASS file to specifically deal with the treatment and animations for the menu - search */

.region-highlighted {
  // SEARCH
  @include media-breakpoint-down(md) {
    padding-left: 0;
    padding-right: 50px;
  }

  @include media-breakpoint-down(sm) {
    padding: 0;
  }

  .block-search {
    position: absolute;
    top: 5px;
    z-index: z('search-block');
    right: 10px;
    display: none;


    @include media-breakpoint-up(md) {
      right: 20px;
      top: 9px;
      display: block;
    }

    @include media-breakpoint-up(lg) {
      right: 50px;
    }

    .searchbutton {
      display: block;
    }

    div {
      display: block;
    }
  }
}

.searchbutton--toggle {
  width: 25px;
  height: 25px;
  position: relative;
  cursor: pointer;

  .square {
    width: 17px;
    height: 17px;
    top: 1px;
    left: 0;
    border-radius: 50%;
    border: 2px solid $blue;
    position: absolute;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    cursor: pointer;
  }

  .searchbutton--toggle--search-text, .searchbutton--toggle--close-text {
    display: none;
  }

  &::before, &::after {
    position: absolute;
    width: 7px;
    height: 2px;
    background-color: $blue;
    content: "";
  }

  &:before {
    top: 18px;
    left: 15px;
    transform: rotate(45deg);
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, top 0.2s ease-in-out, left 0.2s ease-in-out;
    //transition-delay: 0.4s;
    transition-delay: 0.2s;
  }

  &::after {
    transform: rotate(-45deg);
    top:11px;
    left: 2px;
    opacity: 0;
    width: 21px;
    transition: opacity 0.2s ease-in-out;
    transition-delay: 0.2s;
  }
}

.modal-open {
  .block-search, .searchbutton--dialog {
    .searchbutton {
      .searchbutton--toggle {
        .square {
          border-radius: 0;
          width: 25px;
          height: 25px;
          top: 0;
        }

        &::before {
          top: 11px;
          left: 2px;
          width: 21px;
        }

        &::after {
          opacity: 1;
          //transition: none;
        }
      }
    }
  }
}

.searchbutton--dialog {
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1920px;

  .modal-dialog {
    z-index: z('modal');
    max-width: none;
    margin: 0;

    .modal-content {
      border: 0;
      border-radius: 0;
      display: block;

      .modal-body {
        padding: 0;
        flex: none;
        display: flex;
        justify-content: flex-end;
        padding-left: 10px;
        padding-right: 40px;

        @include media-breakpoint-up(md) {
          padding-left: 0;
          padding-right: 60px;
        }

        @include media-breakpoint-up(lg) {
          padding-right: 90px;
        }

        .searchbutton {
          position: absolute;
          top: 5px;
          right: 10px;

          @include media-breakpoint-up(md) {
            right: 20px;
            top: 9px;
          }

          @include media-breakpoint-up(lg) {
            right: 50px;
          }
        }
      }
    }
  }
}

#search-block-form, #search-block-form--2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  height: 35px;
  background-color: $white;
  max-width: 300px;
  flex: 1 1 100%;

  @include media-breakpoint-up(sm) {
    max-width: 460px;
  }

  @include media-breakpoint-up(md) {
    height: 42px;
  }

  .form-item, .form-actions {
    margin: 0;
  }

  .form-item {
    flex: 1 1 100%;
  }

  .form-actions {
    flex: 0 0 auto;
  }

  input.form-search {
    height: 100%;
    width: 100%;
    padding:3px 5px;
    border: solid 1px $mercury;

    font-family: $CeraPRO-Regular;
    &::placeholder {
      font-family: $CeraPRO-Light;
    }

    @include media-breakpoint-up(md) {
      padding:3px 10px;
    }
  }

  input.form-submit {
    background-color: $electric-blue;
    color: $white;
    font-family: $CeraPRO-Regular;
    padding-left: 5px;
    padding-right: 5px;
    border: solid 1px $electric-blue;
    border-radius: 0 3px 3px 0;

    @include media-breakpoint-up(sm) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.modal.fade {
  background-color: transparent;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
  opacity: 0;
  transition-delay: 0.3s;
  padding-right: 0 !important;

  .modal-dialog {
    transform: none;
  }
}

.modal.show {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.modal-open {
  padding-right: 0 !important;
 }

.modal-backdrop {
  display: none;
}

.modal-backdrop.fade {
  z-index: z('modal');
}