.region-highlighted {
  height: 35px;
  font-family: $font-primary--medium;
  font-size: rems(13);
  padding-right: 40px;

  @include media-breakpoint-up(md) {
    height: 42px;
    padding: 0 80px 0 50px;
    font-size: rems(18);
  }

  // DESTINATIONS MENU
  .menu--destinations {
    font-family: $font-primary--light;

    button {
      white-space: nowrap;
      border: 0;
      background-color: transparent;
      color: $blue;
      height: 100%;

      @include swipe_underline(); // SEE: _mixins.scss

      // need to wrap the null option and the selected city option to display caret at the end.
      span.special-caret {
        @include caret($blue, $down); // SEE: _mixins.scss
        &::after {
          // ie11svgissue
          background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2212%22%20height%3D%229%22%20viewBox%3D%220%200%2012%209%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20class%3D%22blue%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0%201.26918L6%208L12%201.26918L10.8686%200L6%205.46165L1.13137%200L0%201.26918Z%22%20fill%3D%22%23002554%22%20%2F%3E%0A%20%20%3C%2Fsvg%3E');
          background-size: 11px 7px;
        }
      }
    }

    ul.menu {
      z-index: 300;
      position: relative;
      margin: 0;
      padding: 15px;
      background-color: $white;
    }

    .menu--destinations--destination-prefix {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    .menu--destinations--destination-name {
      font-family: $font-primary--medium;

      &::after {
        display: none;
      }
    }
  }

  .menu--header-actions-menu ul {
    margin-right: 0;
    margin-bottom: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    li {
      padding-top: 0;

      i {
        span {
          display: none;
        }
      }

      a {
        margin-left: 15px;
        margin-right: 15px;
        color: $blue;
        line-height: 1.1;

        @include swipe_underline;

        &:hover {
          color: $blue;
        }

        &.menu--header-actions-menu--plan-an-event {
          &.icon {
            display: none;
          }

          @include media-breakpoint-down(lg) {
            display: none;
          }
        }

        &.menu--header-actions-menu--offers-and-deals {
          &.icon {
            display: none;
          }

          @include media-breakpoint-down(md) {
            display: none;
          }
        }

        &.menu--header-actions-menu--gift-cards {
          &.icon {
            display: none;
          }

          @include media-breakpoint-down(lg) {
            display: none;
          }
        }
      }
    }
  }

  // CONTROL MOBILE DISPLAY OF INDIVIDUAL LINKS
  .menu--header-actions-menu--phone {
    &.icon {
      display: none;
    }

    @include media-breakpoint-down(lg) {
      &:not(.icon) {
        display: none;
      }
      &.icon {
        display: inline-block;

        & i:after {
          content: url('data:image/svg+xml;utf8,<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M16.7296 12.6271C16.7632 12.887 16.6846 13.113 16.4942 13.3051L14.2584 15.5423C14.1575 15.6553 14.0259 15.7514 13.8633 15.8304C13.7008 15.9095 13.5412 15.9604 13.3843 15.9829C13.3731 15.9829 13.3394 15.9858 13.2834 15.9915C13.2274 15.9971 13.1546 16 13.0649 16C12.8519 16 12.5073 15.9633 12.031 15.8898C11.5546 15.8163 10.9719 15.6355 10.2827 15.3474C9.59337 15.0593 8.8117 14.627 7.93757 14.0508C7.06344 13.4746 6.13322 12.6836 5.14699 11.6779C4.36249 10.8983 3.71247 10.1525 3.19694 9.44069C2.68141 8.7288 2.26675 8.07061 1.95295 7.46609C1.63912 6.86157 1.40377 6.31355 1.24687 5.82202C1.08997 5.3305 0.983502 4.90677 0.927467 4.55084C0.871431 4.19491 0.849017 3.91525 0.860224 3.71186C0.871431 3.50847 0.877034 3.39547 0.877034 3.37288C0.899449 3.21468 0.949881 3.05367 1.02833 2.88983C1.10678 2.72598 1.20204 2.59322 1.31411 2.49152L3.54994 0.237288C3.70684 0.0790959 3.88615 0 4.08788 0C4.23358 0 4.36246 0.0423728 4.47453 0.127118C4.5866 0.211864 4.68186 0.316384 4.76031 0.440677L6.55906 3.88135C6.65992 4.06214 6.68794 4.25988 6.64311 4.47457C6.59829 4.68926 6.50302 4.87005 6.35733 5.01694L5.53361 5.84745C5.51119 5.87005 5.49158 5.90677 5.47477 5.95762C5.45796 6.00846 5.44955 6.05084 5.44955 6.08473C5.49438 6.32202 5.59524 6.59321 5.75215 6.89829C5.88663 7.16948 6.09396 7.49999 6.37414 7.88982C6.65432 8.27965 7.05217 8.72877 7.5677 9.23724C8.07203 9.75707 8.52031 10.161 8.91256 10.4492C9.30473 10.7372 9.63265 10.9491 9.89602 11.0847C10.1594 11.2203 10.3611 11.3022 10.5012 11.3304L10.7113 11.3728C10.7337 11.3728 10.7702 11.3643 10.8206 11.3474C10.871 11.3304 10.9074 11.3107 10.9298 11.288L11.888 10.305C12.0899 10.1242 12.3251 10.0338 12.5941 10.0338C12.7847 10.0338 12.9359 10.0677 13.048 10.1355H13.0648L16.3092 12.0677C16.5446 12.2147 16.6847 12.4011 16.7296 12.6271Z" fill="rgb(0, 37, 84)"/>
  </svg>');
        }
      }
    }
  }


  .menu--header-actions-menu--live-chat {
    &.icon {
      display: none;
    }

    @include media-breakpoint-down(lg) {
      &:not(.icon) {
        display: none;
      }
      &.icon {
        display: inline-block;

        & i:after {
          content: url('data:image/svg+xml;utf8,<svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.9268 10.8572C13.1484 10.3383 14.1128 9.63199 14.8195 8.73799C15.5261 7.84418 15.8795 6.87082 15.8795 5.81786C15.8795 4.76485 15.5261 3.79141 14.8193 2.89757C14.1126 2.00372 13.1484 1.29733 11.9266 0.778309C10.7048 0.25937 9.37589 0 7.93971 0C6.50364 0 5.17475 0.259529 3.95287 0.778309C2.7311 1.29729 1.76682 2.00368 1.06016 2.89757C0.353426 3.79157 0 4.76485 0 5.8179C0 6.71926 0.267312 7.56806 0.801105 8.36344C1.33486 9.15866 2.06798 9.8292 3.00023 10.3745C2.9251 10.5565 2.84803 10.7229 2.76907 10.8746C2.69006 11.0261 2.59616 11.1718 2.48706 11.3121C2.37803 11.4524 2.29354 11.5621 2.23334 11.6414C2.17317 11.7209 2.07545 11.8329 1.94003 11.9766C1.80466 12.1205 1.71815 12.2152 1.68062 12.2606C1.68062 12.253 1.66557 12.2701 1.63547 12.3118C1.60533 12.3534 1.58842 12.3723 1.58471 12.3687C1.58092 12.3646 1.56587 12.3836 1.53956 12.4252C1.51325 12.467 1.50006 12.4878 1.50006 12.4878L1.47181 12.5444C1.46067 12.5673 1.45301 12.5897 1.4493 12.6125C1.4455 12.6351 1.44361 12.6599 1.44361 12.6863C1.44361 12.7128 1.44732 12.7373 1.45499 12.7601C1.47004 12.8585 1.51325 12.9379 1.58467 12.9987C1.65605 13.0592 1.73304 13.0894 1.81584 13.0894H1.84969C2.22555 13.0364 2.54892 12.9759 2.81955 12.9076C3.97744 12.6047 5.02263 12.1197 5.95492 11.4532C6.63155 11.5744 7.29321 11.635 7.93979 11.635C9.37597 11.6355 10.705 11.3762 11.9268 10.8572Z" fill="rgb(0, 37, 84)"/>
<path d="M19.4097 11.2771C19.9437 10.4855 20.2105 9.63551 20.2105 8.72639C20.2105 7.79453 19.9282 6.92286 19.3645 6.11239C18.8006 5.302 18.0336 4.62769 17.0637 4.08984C17.2365 4.65793 17.323 5.23363 17.323 5.81704C17.323 6.83203 17.0714 7.79409 16.5674 8.70322C16.0636 9.61207 15.3418 10.415 14.402 11.112C13.5298 11.7483 12.5373 12.2368 11.4244 12.5778C10.3119 12.9185 9.15019 13.0891 7.93964 13.0891C7.71416 13.0891 7.38329 13.0741 6.94727 13.0439C8.45846 14.0436 10.2329 14.5437 12.2704 14.5437C12.9171 14.5437 13.5787 14.483 14.2555 14.3618C15.1877 15.0286 16.2329 15.5132 17.3907 15.8164C17.6614 15.8848 17.9847 15.9452 18.3607 15.9982C18.4509 16.0058 18.5337 15.9792 18.6089 15.9186C18.684 15.858 18.733 15.7749 18.7554 15.669C18.7519 15.6235 18.7554 15.5986 18.7668 15.5949C18.7779 15.5914 18.776 15.5666 18.7611 15.5212C18.7462 15.4757 18.7386 15.453 18.7386 15.453L18.7105 15.3963C18.7027 15.3813 18.69 15.3604 18.671 15.3339C18.6522 15.3077 18.6373 15.2884 18.6259 15.2771C18.6148 15.2658 18.598 15.2468 18.5753 15.2205C18.5529 15.1942 18.5378 15.177 18.5302 15.1694C18.4926 15.1239 18.4062 15.0293 18.2709 14.8853C18.1354 14.7415 18.0379 14.6298 17.9777 14.5503C17.9175 14.4707 17.8329 14.3609 17.7239 14.2206C17.615 14.0806 17.5209 13.9348 17.4419 13.7832C17.363 13.6317 17.2859 13.465 17.2108 13.2833C18.1431 12.7374 18.876 12.0689 19.4097 11.2771Z" fill="rgb(0, 37, 84)"/>
</svg>');
        }
      }
    }
  }

  // For SEARCH BOX block::  SEE: actions-menu--search.scss

  // End of styles
}