.block-system-breadcrumb-block {
  nav.breadcrumb {
    margin-bottom: 0;
    border-radius: 0;
    li {
      font-size: 16px;
      line-height: 25px;
      font-family: $font-primary;
      color: $black;

      a {
        color: $dark-teal;
      }

      &::before {
        content: '|';
        color: $grey;
      }

      &:first-child {
        &::before {
          content: none;
        }
      }
    }

    @include media-breakpoint-down(sm) {
       overflow-x: scroll;
       -webkit-overflow-scrolling: touch;

       ol {
         white-space: nowrap;
       }
     }
  }
}