// Variables
$crowdriff-tile-default-height: 254px;
$crowdriff-tile-default-width: 100%;
$crowdriff-tile-padding: 5px;
$crowdriff-tile-transition-time: 0.25s;

$crowdriff-tile-height-1: calc(#{$crowdriff-tile-default-height} * 1);
$crowdriff-tile-height-2: calc(#{$crowdriff-tile-default-height} * 2);
$crowdriff-tile-height-3: calc(#{$crowdriff-tile-default-height} * 3);
$crowdriff-tile-height-4: calc(#{$crowdriff-tile-default-height} * 4);

$crowdriff-tile-modal-text-width: 300px;

.c-crowdriff-tile {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-decoration: none; // Hide underline when card is a link
  transition: $crowdriff-tile-transition-time box-shadow;
  padding: $crowdriff-tile-padding;
  width: $crowdriff-tile-default-width;
  height: $crowdriff-tile-default-height;
}

.c-crowdriff-grid {

  .c-crowdriff-tile--height-1 {
    height: $crowdriff-tile-height-1;
  }

  .c-crowdriff-tile--height-2 {
    height: $crowdriff-tile-height-2;
  }

  .c-crowdriff-tile--height-3 {
    height: $crowdriff-tile-height-3;
  }

  .c-crowdriff-tile--height-4 {
    height: $crowdriff-tile-height-3;
  }

  @for $i from 2 through 15 {
    @include cruiseline_crowdriff_columns($i);
  }

  @include media-breakpoint-down(md) {
    &.c-crowdriff-grid__cols-15 {
      .grid-sizer {
        width: 20%;
      }

      @for $i from 1 through 5 {
        .c-crowdriff-tile--width-#{$i} {
          width: (100/(5 / $i)) + 0%;
        }
      }
    }
  }

  [data-tile-type="social_cruising_callout"],
  [data-tile-type="social_cruising_callout_baltimore"],
  [data-tile-type="social_cruising_callout_boston"],
  [data-tile-type="social_cruising_callout_chicago"],
  [data-tile-type="social_cruising_callout_new_york"],
  [data-tile-type="social_cruising_callout_norfolk"],
  [data-tile-type="social_cruising_callout_philadelphia"],
  [data-tile-type="social_cruising_callout_toronto"],
  [data-tile-type="social_cruising_callout_washington"] {
    .c-crowdriff-tile__content {
      height: auto;
      padding-left: 5%;
      padding-right: 5%;
    }

    .c-crowdriff-callout__title {
      font-family: $CeraPRO-Medium;
      font-size: rems(42);
      line-height: 1.1;
      text-align: center;
      letter-spacing: 0.02em;
      color: $blue;
      max-width: 380px;
      margin: 0 auto 30px;

      @include media-breakpoint-up(sm) {
        max-width: unset;
      }
      @include media-breakpoint-up(lg) {
        max-width: 380px;
      }

    }

    .c-crowdriff-callout__body {
      font-family: $CeraPRO-Regular;
      font-size: 22px;
      line-height: 34px;
      text-align: center;
      color: $charcoal;
      max-width: 420px;
      margin: 0 auto;

      @include media-breakpoint-up(sm) {
        max-width: unset;
      }
      @include media-breakpoint-up(lg) {
        max-width: 420px;
      }

      p {
        margin-bottom: 1.2em;
      }
    }

    .c-crowdriff-callout__buttons {
      text-align: center;
      width: 100%;

      a {
        @include btn();
        margin-bottom: 3px; // add a little margin so button can grow.
      }
    }
  }
}

.c-crowdriff-grid {
  .c-crowdriff-tile {
    height: 300px;

    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4),
    &:nth-of-type(5) {
      height: 400px;
    }
  }
}

.c-crowdriff-tile__content {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.c-crowdriff-tile__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
  background-color: transparent;
  transition: $crowdriff-tile-transition-time background-color;

  .c-crowdriff-tile:hover & {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.c-crowdriff-tile__image {
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: block;
  height: 100%;
  transition: $crowdriff-tile-transition-time transform;

  .c-crowdriff-tile:hover & {
    transform: scale(1.1);
  }
}

.c-crowdriff-tile__cta--hover {
  opacity: 0;
  background-color: white;
  padding: 10px;
  position: absolute;
  top: 5px;
  left: 0;
  width: calc(100% - 5px);
  z-index: 1;
  transition: $crowdriff-tile-transition-time opacity, $crowdriff-tile-transition-time background-color;
  font-size: 1rem;

  &:hover {
    text-decoration: none;
  }

  .c-crowdriff-tile:hover & {
    opacity: 1;
  }
}

.c-crowdriff-tile__caption-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.c-crowdriff-tile__avatar {
  border-radius: 50%;
  max-width: 75px;
  margin-right: 10px;
}

.c-crowdriff-tile__cta--modal {
  text-decoration: none !important;
  margin-top: 5px;
}

.c-crowdriff-tile__modal-text {
  max-width: $crowdriff-tile-modal-text-width;
  display: block;
}