// Variables
$crowdriff-max-width: 1920px;
$crowdriff-padding: 5px;
$crowdriff-assets-padding: 0;

.crowdriff-container {
  padding-top: 0;
  padding-bottom: 0;
}

.c-crowdriff {
  max-width: $crowdriff-max-width;
  margin: 0 auto;
  padding: $crowdriff-padding;
}

.c-crowdriff__assets {
  padding: $crowdriff-assets-padding;
}

.c-crowdriff__button {
  margin: 0 auto;
  display: block;
}