.faq-questions {
  display: block;
  max-width: 1430px;
  margin: auto;

  .hidden {
    display: none;
  }

  @include media-breakpoint-up(lg) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .card {
    width: 100%;
    margin-bottom: 15px;
    background-color: transparent;
    border: 0;
    font-size: 1rem;

    @include media-breakpoint-up(md) {
      flex: 0 0 50%;
      font-size: 1.25rem;
    }

    @include media-breakpoint-up(lg) {
      flex: 0 0 33.33%;
    }

    .card-header {
      width: calc(100% - 30px);
      margin: 0 15px;
      color: $teal;
      background-color: $white;
      border: solid 1px $light-teal;
      min-height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      transition: all .3s ease-out;
      text-align: left;
      font-size: 1rem;
      cursor: pointer; // iPhone requires this or it doesn't send `click` events

      @include media-breakpoint-up(md) {
        font-size: 1.25rem;
        min-height: 80px;
      }

      &::before {
        content: "";
        position: absolute;
        //z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition: transform .5s ease-out;
        background-color: $teal;
      }

      &:hover {
        color: $white;

        &::before {
          transform: scaleX(1);
        }
      }

      span {
        z-index: 2;
        width: 100%;
        display: block;
      }

      .toggle {
        height: 22px;
        width: 22px;
        line-height: 0.7;
        display: inline-block;
        text-align: center;
        font-size: 30px;
        transition: all 0.3s ease-in-out;
        margin-left: 10px;
        user-select: none;

        @include media-breakpoint-up(md) {
          height: 30px;
          width: 30px;
          font-size: 40px;
        }

      }

      &[aria-expanded="true"] {
        .toggle {
          transform: rotate(225deg);
        }
      }
    }

    .card-body {
      background-color: $white;
      border: solid 1px $light-teal;
      border-top: 0;
      text-align: left;
      margin: 0 15px;

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.question-groups {
  .question-group {
    margin-top: 15px;
    margin-bottom: 15px;
    background: $light-teal-fade;
    padding: 40px 0;

    @include media-breakpoint-up(md) {
      padding: 70px 0;
    }

    h4 {
      font-size: 24px;
      margin-bottom: 20px;
      text-align: center;
      font-family: $CeraPRO-Medium;
      padding-left: 15px;
      padding-right: 15px;

      @include media-breakpoint-up(md) {
        font-size: 32px;
        margin-bottom: 40px;
      }
    }

    .faq-questions {
      max-width: 1430px;
      margin: auto;
    }
  }
}

.paragraph--type--filterable-faqs {
  .faq-filters {
    background: $light-teal-fade;
    padding: 35px 0;

    hr {
      border-color: $light-teal;
    }

    &__heading, &__content {
      max-width: 1430px;
      margin: auto;
      padding-left: 15px;
      padding-right: 15px;
    }

    &__heading {
      font-size: 24px;

      a {
        color: $teal;
        font-size: 18px;
        margin-left: 20px;

        &:hover {
          text-decoration: none;
        }
      }
    }

    &__content {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  [data-filter] {
    @include btn();
    border: $light-teal 1px solid;

    &.selected {
      background-color: $white;
      color: $teal;
    }
  }
}