footer {
  background-color: $grey-fade;
  color: $blue;
  padding-top: 55px;
  font-size: rems(16);

  .region-footer {
    padding-top: 15px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 0;
    nav.block-menu {
    width: 100%;
    }
  }
  h2 {
    font-family: $font-primary--bold;
    font-size: 20px;

    @include media-breakpoint-down(sm) {
      display: block;
      position: relative;
      cursor: pointer;
      width: 100%;
      margin-bottom: 0;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 27px;
      padding-right: 27px;
      font-size: 24px;
      font-family: $font-primary--medium;
      border-left: 3px solid $grey-fade;
      & ~ ul.menu, & ~ .block--footer-contact-block--contact-info {
        border-left: 3px solid $grey-fade;
      }
      &:after {
        content: '+';
        position: absolute;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        right: 30px;
        top: 0;
        bottom: 0;
        font-size: 24px;
        font-family: $font-primary--medium;
        transition: all 0.5s ease-in-out;

        }
      &:before {
        content: '\2013';
        position: absolute;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        right: 30px;
        top: 0;
        bottom: 0;
        font-size: 26px;
        font-family: $font-primary--medium;
        transition: all 0.5s ease-in-out;
        opacity: 0;

      }
      &.active {
        background-color: $white;
        border-left: 3px solid $electric-blue;
        & ~ ul.menu, & ~ .block--footer-contact-block--contact-info {
          border-left: 3px solid $electric-blue;
        }
        &:before {
          opacity: 1.0;
          transform: rotate(-180deg);
        }
        &:after {
          transform: rotate(-180deg);
          opacity: 0;
        }
      }
    }

    }
  p {
    margin-bottom: 0;
    font-size: rems(16);
  }

  .field {
    margin-bottom:15px;
  }

  nav ul.menu {
    margin-left: 0;
    margin-bottom: 0;
    li {
        margin-bottom: 10px;
      }
  }

  a {
    color: $blue;

    @include swipe_underline;

    &:hover {
      color: $blue;
    }
  }

  .block--footer-contact-block {

    .block--footer-contact-block--contact-info {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  .menu--block--footer-menu {
    ul.menu {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  .block--footer-contact-block .block--footer-contact-block--contact-info, .menu--block--footer-menu ul.menu {
    //font-size: 18px;
    @include media-breakpoint-down(sm) {
      font-size: 16px;
      background-color: $white;
      padding-left: 35px;
      padding-right: 35px;
      padding-bottom: 35px;
    }
   }

  // LOWERMOST COPYRIGHT NOTICE/PRIVACY POLICY

  .region-utilities {
      margin-top: 30px;
    .block--footer-copyright {
      background-color: $blue;
      height: 40px;
      color: $white;
      font-family: $font-primary;
      font-size: 16px;
      @include media-breakpoint-down(md) {
        padding: 20px;
        height: unset;
      }
      .field--name-field-copyright-notice {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        @include media-breakpoint-down(md) {
          margin-bottom: 30px;
        }
      }
      .field--name-field-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .field__item {

          a {
            font-size: 16px;
            color: $white;

            @include swipe_underline($white);

            &:hover {
              color:$white;
            }
          }

          &:not(:last-child):after {
            content:' | ';
            margin-left: 15px;
            margin-right: 15px;
          }
        }
      }
    }
  }
}