div.item-list {
  ol.google_cse_search-results {
    list-style: none;
    padding-left: 0;
    li {
      margin-left: 0;
      //margin-bottom: 20px;

      p {
        margin: 0;
      }
    }
  }

  .gs-title {
    color: $dark-teal;
    b {
      color: $teal;
    }
  }

  .gs-visibleUrl {
    color: $electric-blue;
  }

  .gs-snippet {
    color: $black;
  }
  .gs-image-box {
    display: none;
  }

}

.path-search {
  #block-cruiseline-content {
    h2, .item-list .search-result__inner, .search-form .form-wrapper, .pager__items, .search-results-count, .no-results {
      max-width: 1430px;
      margin: auto;
      padding: 15px 15px;

      @include media-breakpoint-up(md) {
        padding: 20px 15px;
      }

      @include media-breakpoint-up(xl) {
        padding: 30px 15px;
      }
    }

    .search-results-count {
      padding: 10px 15px;
    }

    h2 {
      padding-bottom: 0;

      @include media-breakpoint-up(xl) {
        font-size: 2.5rem;
      }
    }

    .item-list {
      .search-results, .google_cse_search-results {
        margin-bottom: 0;
        padding: 0;
      }
      li {
        .search-result__info {
          font-family: $CeraPRO-Bold;
        }
      }
      li:nth-child(2n) {
        background-color: #fafafa;
      }
    }

    .search-form {
      background-color: #f7f7f7;

      .form-wrapper {
        padding: 15px;
      }

      .form-type-search {
        label {
          font-size: 20px;
          font-family: $CeraPRO-Medium;
          display: block;

          @include media-breakpoint-up(sm) {
            font-size: 24px;
          }

          @include media-breakpoint-up(md) {
            display: inline-block;
            margin-right: 15px;
          }
        }
      }

      .form-search {
        padding: 12px;
      }

      .form-submit {
        @include btn;
        padding: 10px 40px;
        display: block;
        margin-left: 0;
        margin-top: 10px;
        @include media-breakpoint-up(sm) {
          display: inline-block;
          margin-left: 10px;
          margin-top: 0;
        }
      }

    }

    .pager__items {
      text-align: left;
      //padding-left: 0;

      li {
        a {
          color: $blue;
          font-family: $CeraPRO-Medium;

          &:hover {
            color: $teal;
          }
        }

        &.is-active {
          a {
            color: $teal;
          }
        }
      }

      .pager__item {
        display: inline-block;
      }

      .pager__item--next, .pager__item--previous, .pager__item--first, .pager__item--last {
        a {
          text-transform: uppercase;
          padding: 10px;
          border-radius: 2px;
          box-shadow: 2px 2px 5px 1px $mercury;
          color: $teal;

          &:hover {
            background-color: $teal;
            color: $white;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }
}