.hero {
  position: relative;
  overflow: hidden;
  height: 500px;
  background-color: $blue;

  @include media-breakpoint-up(md) {
    height: 600px;
  }

  @include media-breakpoint-up(xl) {
    height: 750px;
  }

  &__video {
    max-width: 1920px;
  }
  .paragraph--hero--overlay {
    position: absolute;
    z-index: 5;
    background-image: linear-gradient($blue, transparent);
    width: 100%;
    height: 300px;
  }
  .fallback {
    display: none;
  }

  .fallback, .slide-background {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 500px;

    @include media-breakpoint-up(md) {
      height: 600px;
    }

    @include media-breakpoint-up(xl) {
      height: 750px;
    }

    picture {
      display: block;
      position: relative;
      font-size: 0;
      height: 100%;
      width: 100%;
    }

    video, img {
      position: absolute;
      top: -9999px;
      right: -9999px;
      bottom: -9999px;
      left: -9999px;
      margin: auto;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
    }

    .field--name-field-media-video-file, .field--name-field-slide-background, .field--name-field-mobile-fallback-image, .media, .field--name-field-media-image, .field__item {
      width: 100%;
      height: 100%;
    }
  }

  &__full-height {
    min-height: 550px;
    height: 100vh;

    @include media-breakpoint-up(md) {
      min-height: 650px;
    }

    @include media-breakpoint-up(xl) {
      min-height: 815px;
    }

    .fallback, .slide-background {
      min-height: 550px;
      height: 100vh;

      @include media-breakpoint-up(md) {
        min-height: 650px;
      }

      @include media-breakpoint-up(xl) {
        min-height: 815px;
      }
    }
  }

  .has-fallback-image {
    @include media-breakpoint-down(sm) {
      .fallback {
        display: block;
      }

      .slide-background {
        display: none;
      }
    }
  }

  .slick {
    height: 100%;

    &__slider, .slick-list, .slick-track {
      height: 100%;
    }

    .slick-slide {
      overflow: hidden;
    }

    .slick-dots {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      //margin-bottom: 0;

      @include media-breakpoint-down(md) {
        bottom: 5px;
      }

      li {
        margin: 0 3px;

        button {
          padding: 2px;
        }
      }
    }

    .slick__arrow {
      z-index: 8;

      .slick-prev, .slick-next {
        padding: 0;

        &::before {
          @include media-breakpoint-down(sm) {
            width: 20px;
            height: 25px;
          }
        }
      }

      .slick-prev {
        margin-left: 45px;

        @include media-breakpoint-down(lg) {
          margin-left: 10px;
        }
        @include media-breakpoint-down(sm) {
          margin-left: 3px;
        }

      }

      .slick-next {
        margin-right: 45px;

        @include media-breakpoint-down(lg) {
          margin-right: 10px;
        }

        @include media-breakpoint-down(sm) {
          margin-right: 3px;
        }
      }
    }
  }

  &__content {
    // positioning
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    width: 100%;
    padding: 35px;
    max-width: 930px;

    // content styling
    text-align: center;
    color: $white;

    .hero__title, .hero__title--h1 {
      font-size: 34px;
      color:$white;

      @include media-breakpoint-up(md) {
        font-size: 55px;
      }

      @include media-breakpoint-up(xl) {
        font-size: 80px;
      }
    }

    .hero__title, .hero__title--h1, .hero__introtext, .hero__subtitle {
      text-shadow: $blue 2px 2px 8px;
    }

    .hero__title, .hero__title--h1 {
      font-family: $CeraPRO-Medium;
      line-height: 1;
      margin: 10px 0;

      @include media-breakpoint-up(sm) {
        margin: 20px 0;
      }
    }

    .hero__introtext {
      display: block;
      font-size: 14px;
      font-family: $CeraPRO-Regular;

      @include media-breakpoint-up(md) {
        font-size: 20px;
      }

      @include media-breakpoint-up(xl) {
        font-size: 25px;
      }
    }

    .hero__subtitle {
      font-size: 18px;
      font-family: $CeraPRO-Light;
      max-width: 675px;
      margin: auto;
      display: block;

      @include media-breakpoint-up(md) {
        font-size: 25px;
      }

      @include media-breakpoint-up(xl) {
        font-size: 30px;
      }
    }

    .field--name-field-hero-links {
      margin-top: 20px;
      position: relative;
      z-index: 3;

      @include media-breakpoint-up(md) {
        margin-top: 30px;
      }

      a {
        @include btn();
        background-color: $electric-blue;
        border-color: $electric-blue;

        @include media-breakpoint-up(md) {
          font-size: rems(20);
          padding: 10px 35px;
        }

        &:hover {

        }
      }
    }
  }

  &.slide-count--1 {
    .slick-dots {
      display: none !important;
    }
  }
}
