/* Main Menu Navigation */

.layout-container > header {
  position: relative;
}

.region-main-menu {

  .menu-item--expanded {
    list-style-image: none;
    list-style-type: none;
  }

  // Set the menu space
  height: 100px;
  z-index: 200;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  transition: background-color .3s;
  top: 42px;
  position: absolute;
  width: 100%;

  @include media-breakpoint-down(md) {
    transition: none;
  }

  .main-nav--book-button {
    @include btn($white, $electric-blue);
    white-space: nowrap;
    margin-right: 50px;

    @include media-breakpoint-down(xl) {
      font-size: 14px;
      padding: 5px 15px;
    }

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &.has-hero {
    background-color: transparent;
    @include media-breakpoint-down(sm) {
      top: 38px;
    }
  }

  @include media-breakpoint-down(md) {
    top: unset;
  }

  &:not(.has-hero) {
    background-color: $blue;
  }

  @include media-breakpoint-down(md) {
    height: 38px;
  }

  // cruiseline Logo
  .main-nav--logo {
    margin-left: 50px;
    //height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .mobile-nav--logo {
    display: none;
    line-height: 1;

    .mobile-logo-color {
      display: none;
    }

    @include media-breakpoint-down(md) {
      display: block;
      margin-top: 2px;

      img {
        height: 13px;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    nav.block--main-menu {
      display: none;
    }
  }

  &.sticky {
    position: fixed;
    background-color: $blue;
    top: 0;
    width: 100%;
    max-width: 1920px;
    @include media-breakpoint-down(md) {
      background-color: $white;
    }
    @include media-breakpoint-down(md) {
      .mobile-nav--logo {
        display: block;
        margin-top: 5px;

        .mobile-logo-color {
          display: block;
        }

        .mobile-logo-white {
          display: none;
        }

      }
      .main-nav--logo {
        display: none;
      }
    }
  }

  .menu-item--collapsed {
    list-style-type: none;
    list-style-image: none;
  }

  nav.block-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
  }

  .menu-item {
    padding-top: 0;
  }

  /* MegaMenu Content */

  .megamenu--content {
    overflow-x: hidden;
    z-index: 10;
    background-color: $light-teal-fade;
    display: none;
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    max-width: $site-width;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid $light-grey;
    transition: max-height 1.5s ease-out, opacity 0.5s ease-in-out;
    max-height: 0;
    opacity: 0;

    & > .menu_link_content {
      z-index: 10;
      position: relative;
      padding-top: 30px;
      padding-bottom: 70px;
    }

    .menu-level-1 {
      display: none;
    }

    // TYPE-SPECIFIC SUBMENU LAYOUT PROPERTIES/COLUMNS
    .paragraph--type--mega-menu-sub-menu-horizontal .field--name-field-column-1 .paragraph--type--megamenu-dynamic-submenu {
      ul.menu li {
        width: 24%;
        padding-right: 1%;
      }
    }

    .paragraph--type--mega-menu-sub-menu-hori-cta .field--name-field-column-1 .paragraph--type--megamenu-dynamic-submenu {
      ul.menu li {
        width: 32%;
        padding-right: 1%;
      }
    }

    .paragraph--type--mega-menu-with-callouts .field--name-field-column-1 .paragraph--type--megamenu-dynamic-submenu,
    .has-4-columns .paragraph--type--mega-menu-sub-menu-hori-cta .field--name-field-column-1 .paragraph--type--megamenu-dynamic-submenu {
      ul.menu {
        flex-direction: column;

        li {
          width: 100%;
        }
      }
    }

    a {
      color: $blue;

      &:hover {
        text-decoration: none;
      }
    }

    ul {
      li {

        // Regular Drupal Menu Links
        a {
          display: inline-block;
          @include swipe_underline($blue);
        }

        // Client needs to manually add the 'featured' class to a regular menu item to change the color to teal
        a.featured {
          color: $teal;
          @include swipe_underline($teal);
          @include caret($teal);

          &::after {
            width:11px;
            height:8px;
          }
        }
      }
    }

    .field--name-field-image {
      max-width: 100%;
    }

    img.image-style-megamenu-thumbnail {
      max-width: 100%;
      height: auto;
    }

    .field--name-field-megamenu > .field__item > .container {
      position: relative;
      z-index: 30;
    }

    // MegaMenu CTA
    .paragraph--type--megamenu-cta {
      padding-left: 25px; // increase padding off the left corner to

      .field--name-field-text {
        padding-top: 15px;
        font-size: 16px;

        @include media-breakpoint-only(lg) {
          font-size: 12px;
        }
        @include media-breakpoint-down(md) {
          font-size: 10px;
        }
      }

      .field--name-field-link {
        margin-top: 30px;

        a {
          @include btn($white, $electric-blue);

          font-family: $font-primary--medium;
          font-size: 18px;
          margin-bottom: 20px;

          @include media-breakpoint-only(lg) {
            font-size: 16px;
          }
          @include media-breakpoint-down(md) {
            font-size: 12px;
          }
        }
      }
    }


    .field--name-field-featured-link {
      a {
        font-family: $font-primary--medium;
        font-size: rems(12);
        margin-bottom: 0;
        position: relative;
        color: $teal;
        margin-top: 20px;

        @include swipe_underline($teal);
        @include caret($teal);

        @include media-breakpoint-up(sm) {
          font-size: rems(14);
        }

        @include media-breakpoint-up(md) {
          font-size: rems(16);
        }

        @include media-breakpoint-up(lg) {
          font-size: rems(20);
        }
      }
    }

    // UNDERLAYS
    .megamenu--content--underlay {
      position: absolute;
      top: 0;
      height: 100%;
      max-height: calc(100vh - 100px);
      width: 100%;

      & * {
        height: 100%;
      }

      .underlay {
        display: block;
        background-color: $white;
        position: absolute;
        left: 0;
        width: calc(#{$site-width} + 100px);
      }

      // Hide 15px of the secondary items.
      .col-md-3 {
        .underlay {
          margin-right: 15px;
        }
      }

    }

    .field--name-field-callout-link {

      @include swipe_underline;

      a {
        margin-top: 20px;
        margin-bottom: 0;

        @include caret($blue); // See: mixins.scss

        // tweak caret size and position
        //ie11svgissue
        &::after {
          width: 11px;
          height: 7px;
          margin-bottom: 1px;
          margin-left: 6px;
          background: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2212%22%20height%3D%229%22%20viewBox%3D%220%200%2012%209%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20class%3D%22blue%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0%201.26918L6%208L12%201.26918L10.8686%200L6%205.46165L1.13137%200L0%201.26918Z%22%20fill%3D%22%23002554%22%20%2F%3E%0A%20%20%3C%2Fsvg%3E');
          background-size: 11px 7px;
        }
      }
    }

    // First Column, Mega Menu -- sub menu heading link   (top left of mega menu)

    .field--name-field-column-1 .paragraph--type--megamenu-submenu {
      font-family: $font-primary--medium;

      .field--name-field-title-link {
        a {
          font-size: rems(20);
          position: relative;
          margin-top: 0;
          // background: red;

          @include caret($blue);

          &::after {
            background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2212%22%20height%3D%229%22%20viewBox%3D%220%200%2012%209%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20class%3D%22blue%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0%201.26918L6%208L12%201.26918L10.8686%200L6%205.46165L1.13137%200L0%201.26918Z%22%20fill%3D%22%23002554%22%20%2F%3E%0A%20%20%3C%2Fsvg%3E');
          }

          &:hover {
            &::after {
              //background: $electric-blue; // Add hover state colour to caret.
              // ie11svgissue
              background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2212%22%20height%3D%229%22%20viewBox%3D%220%200%2012%209%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20class%3D%22blue%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0%201.26918L6%208L12%201.26918L10.8686%200L6%205.46165L1.13137%200L0%201.26918Z%22%20fill%3D%22%230081C9%22%20%2F%3E%3C%2Fsvg%3E');
            }
          }

          @include media-breakpoint-up(md) {
            font-size: rems(24);
          }

          @include media-breakpoint-up(xl) {
            font-size: rems(26);

            // Tweak caret height & width
            &::after {
              width: 14px;
              height: 10px;
              background-size: 14px 10px;
            }
          }
        }
      }
    }

    .paragraph--type--megamenu-image, .paragraph--type--megamenu-submenu {
      display: flex;
      flex-direction: column;
      align-items: start;

      .field--type-link {
        max-width: 100%;
      }
    }

    // Mega Menu Close link
    .megamenu--content--close {
      font-family: $font-primary--medium;
      color: $electric-blue;
      font-size: 18px;
      cursor: pointer;
      z-index: 11;
      position: relative;
      margin-right: 15px;

      &:after {
        top: 10px;
        margin-left: 5px;
        position: absolute;
        content: ' ';
        height: 12px;
        width: 10px;
        background-size: 11px 11px;
        background-repeat: no-repeat;
        // ie11svgissue
        // Old Code - Needed to be URL encoded because IE11 can't svg very well. Color is $electric-blue.
        //background-image: url('data:image/svg+xml;utf-8,<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.4123 10.3708L10.0344 8.74872L6.89715 5.61146L10.1592 2.34943L8.341 0.53125L5.07897 3.79328L1.87041 0.584726L0.248306 2.20683L3.45686 5.41539L0.15918 8.71307L1.97736 10.5312L5.27504 7.23357L8.4123 10.3708Z" fill="#{unhash(#{$electric-blue})}"/></svg>');
        background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2211%22%20height%3D%2211%22%20viewBox%3D%220%200%2011%2011%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8.4123%2010.3708L10.0344%208.74872L6.89715%205.61146L10.1592%202.34943L8.341%200.53125L5.07897%203.79328L1.87041%200.584726L0.248306%202.20683L3.45686%205.41539L0.15918%208.71307L1.97736%2010.5312L5.27504%207.23357L8.4123%2010.3708Z%22%20fill%3D%22%230081C9%22%2F%3E%3C%2Fsvg%3E');
      }
    }
  }

  .megamenu--content-open {
    max-height: calc(100vh - 100px);
    opacity: 1;
  }

  // MegaMenu Image with Link
  .paragraph--type--megamenu-image {
    a {
      display: block;
      width: 100%;

      .field--name-field-image {
        position: relative;
        padding-bottom: 75%;
        width: 100%;

        img {
          transition: all 0.3s ease-in-out;
          max-width: 100%;
          width: 100%;
          height: auto;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }

      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }

    p {
      display: block;
      font-family: $font-primary--medium;
      font-size: 20px;
      margin-top: 15px;
      margin-bottom: 20px;

      /*@include media-breakpoint-only(lg) {
        font-size: 20px;
      }*/

      @include media-breakpoint-down(md) {
        font-size: 18px;
      }
    }
  }

  // MegaMenu Dynamic Submenu
  .paragraph--type--megamenu-dynamic-submenu {
    ul.menu {
      margin-left: 0;
      margin-bottom: 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      //justify-content: space-between;
      @include media-breakpoint-down(md) {
        flex-direction: column;
      }

      li {
        a {
          font-family: $font-primary;
          font-size: 18px;
          display: inline-block;
          margin-top: 20px;

          //margin-bottom: 20px;
          @include media-breakpoint-only(lg) {
            font-size: 14px;
          }
          @include media-breakpoint-down(md) {
            font-size: 10px;
          }
        }
      }
    }

    .field--name-field-title-link a {
      font-family: $font-primary--medium;
      font-size: rems(26);

      margin-bottom: 0;

      @include caret($blue);
      // ie11svgissue
      &::after {
        @include transition();
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2212%22%20height%3D%229%22%20viewBox%3D%220%200%2012%209%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20class%3D%22blue%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0%201.26918L6%208L12%201.26918L10.8686%200L6%205.46165L1.13137%200L0%201.26918Z%22%20fill%3D%22%23002554%22%20%2F%3E%0A%20%20%3C%2Fsvg%3E');
      }

      @include media-breakpoint-up(md) {
        font-size: rems(16);
      }

      @include media-breakpoint-up(lg) {
        font-size: rems(26);
        // tweak caret size and placement
        &::after {
          width: 14px;
          height: 10px;
          margin-bottom: 1px;
          background-size: 14px 10px;
        }
      }

      &:hover {
        color: $electric-blue;

        &::after {
          //background: $electric-blue; // Add hover state colour to caret.
          // ie11svgissue
          background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2212%22%20height%3D%229%22%20viewBox%3D%220%200%2012%209%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20class%3D%22blue%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0%201.26918L6%208L12%201.26918L10.8686%200L6%205.46165L1.13137%200L0%201.26918Z%22%20fill%3D%22%230081C9%22%20%2F%3E%3C%2Fsvg%3E');
        }
      }
    }
  }

  // MegaMenu Regular Submenu
  .paragraph--type--megamenu-submenu {
    margin-bottom: 20px;

    .field--name-field-title-link a {
      font-family: $font-primary--medium;
      font-size: rems(12);
      margin-bottom: 0;

      &:hover {
        color: $electric-blue;
      }

      @include media-breakpoint-up(md) {
        font-size: 16px;
      }

      @include media-breakpoint-up(lg) {
        font-size: 20px;
      }
    }

    .field--name-field-links a {

      margin-bottom: 0;
      @include swipe_underline;

      font-family: $font-primary;

      font-size: rems(18);

      @include media-breakpoint-only(lg) {
        font-size: 14px;
      }
      @include media-breakpoint-down(md) {
        font-size: 10px;
      }
    }

    a {
      display: block;
      color: $blue;
      margin-top: 20px;
      margin-bottom: 20px;

    }

    .paragraph--type--mega-menu-with-callouts .field--name-field-column-1 .field--name-field-title-link a {
      font-size: 26px;

    }
  }

  // MAIN MENU Block
  .block--main-menu {
    display: flex;
    flex-direction: row;
    //background-color: $blue;


    & > ul.menu {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      @include media-breakpoint-down(md) {
        display: none;
      }

      a.mobile-plan-an-event {
        display: none;
      }

      > li {
        position: relative;

        // Primary Menu links.  White with heavier underline
        a {
          position: relative;
          white-space: nowrap;
          margin-left: 10px;
          margin-right: 10px;
          float: none;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          font-family: $font-primary--bold;
          font-size: rems(12);
          color: $white;

          @include swipe_underline($white);

          @include media-breakpoint-up(xl) {
            margin-left: 15px;
            margin-right: 15px;
          }

          @include media-breakpoint-up(xl) {
            font-size: rems(14);
          }

          &::after {
            //Adjust swipe underline height
            height: 3px;
          }

          //@include media-breakpoint-up(lg) {
          //  font-size: rems(16);
          //}
          //@include media-breakpoint-up(xl) {
          //  font-size: rems(20);
          //}
          /* @media screen and (min-width: $site-width) {
            font-size: rems(20);
          } */
          @media screen and (min-width: 1400px) {
            margin-left: 30px;
            margin-right: 30px;
          }

          @media screen and (min-width: 1600px) {
            font-size: rems(18);
          }
          //@include media-breakpoint-up(xl) {
          //  font-size: rems(20);
          //}
        }

        &.megamenu--selected a:after {
          background-color: $electric-blue;
          width: 100%;
        }

        ul {
          width: $site-width;
          position: absolute;
        }
      }
    }
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-moz-keyframes fade-out {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(15px);
  }
}


// Animation for images megamenu for interactions style guide, this could probably be done in a more efficient way

.region-main-menu {
  .megamenu--content-closed {
    .field--name-field-column-1,
    .field--name-field-column-2,
    .field--name-field-column-3,
    .field--name-field-column-4 {
      .paragraph--type--megamenu-image,
      .paragraph--type--megamenu-submenu,
      .paragraph--type--megamenu-dynamic-submenu {
        -webkit-animation: fade-out .3s ease-out;
        -moz-animation: fade-out .3s ease-out;
        animation-fill-mode: backwards;
      }
    }
  }

  .megamenu--content-open {
    .field--name-field-column-1,
    .field--name-field-column-2,
    .field--name-field-column-3,
    .field--name-field-column-4 {
      .field__item {
        .paragraph--type--megamenu-image,
        .paragraph--type--megamenu-submenu,
        .paragraph--type--megamenu-dynamic-submenu {
          opacity: 1;
          -webkit-animation: fade-in .3s ease-out;
          -moz-animation: fade-in .3s ease-out;
          animation-fill-mode: backwards;
        }
      }
    }
  }

  div[data-megamenu-content-id="menu_link_content:d567a811-dec5-4502-b4eb-58d40241054e"],
  div[data-megamenu-content-id="menu_link_content:803e74b5-f03f-439f-b1d2-15e87f07bafd"],
  div[data-megamenu-content-id="menu_link_content:f6c2f905-c12f-4ffb-a16e-90b6a9d5a568"],
  div[data-megamenu-content-id="menu_link_content:76049249-3d2e-43b7-ba28-1fd34b36f50c"] {
    & > .menu_link_content {
      padding-bottom: 20px;
    }

    .megamenu--content--underlay {
      //background-color: $white;
      display: none;
    }
  }

  .megamenu--content {
    .field--name-field-column-1 {
      .field__item:nth-child(1) {
        .paragraph--type--megamenu-image,
        .paragraph--type--megamenu-submenu,
        .paragraph--type--megamenu-dynamic-submenu {
          animation-delay: 0.1s;
        }
      }

      .field__item:nth-child(2) {
        .paragraph--type--megamenu-image {
          animation-delay: 0.2s;
        }
      }
    }

    .field--name-field-column-2 {
      .field__item:nth-child(1) {
        .paragraph--type--megamenu-image,
        .paragraph--type--megamenu-submenu {
          animation-delay: 0.3s;
        }
      }

      .field__item:nth-child(2) {
        .paragraph--type--megamenu-image {
          animation-delay: 0.4s;
        }
      }
    }

    .field--name-field-column-3 {
      .field__item:nth-child(1) {
        .paragraph--type--megamenu-image,
        .paragraph--type--megamenu-submenu {
          animation-delay: 0.5s;
        }
      }

      .field__item:nth-child(2) {
        .paragraph--type--megamenu-image {
          animation-delay: 0.6s;
        }
      }
    }

    .field--name-field-column-4 {
      .field__item:nth-child(1) {
        .paragraph--type--megamenu-image,
        .paragraph--type--megamenu-submenu {
          animation-delay: 0.7s;
        }
      }

      .field__item:nth-child(2) {
        .paragraph--type--megamenu-image {
          animation-delay: 0.8s;
        }
      }
    }
  }
}