.region-main-menu {
  transform: translateZ(0);
  .block-superfish {
    position: static;
    height: 38px;
    width: auto;

    .sf-accordion-toggle {
      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30px;
        margin-top: 6px;
        margin-left: 13px;
        margin-right: 13px;
        span {
          font-size: 0;
        }
        &:before {
          content: '';
          height: 12px;
          width: 20px;
          display: inline-flex;
          position: relative;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('/themes/custom/cruiseline/img/menu_closed_white.svg');
        }
        &:after {
          content: 'MENU';
          font-size: 9px;
          color: $white;
          font-family: $CeraPRO-Bold;
        }
        &.sf-expanded:before {
          background-image: url('/themes/custom/cruiseline/img/menu_open_white.svg');
        }
      }
    }
    @include media-breakpoint-up(lg) {
      display: none;
    }
    @include media-breakpoint-down(lg) {
      .mobile-plan-an-event {
        border-bottom: 1px solid $blue-fade;
        font-size: 18px;
        background-color: $white;
        padding-left: 36px;
        display: block;
      }

      ul.sf-menu {
        max-height: calc(100vh - 38px - 35px);
        overflow-y: auto;
        margin-top: 4px;
        display: none;

        .sf-with-ul {
          padding-right: 36px;
        }
        a {
          color: $blue;
        }
        & > li {

          background-color: $blue-fade;
        }
        & > li.mobile-search {

          font-size: 18px;
          background-color: $white;
          border-bottom: 1px solid $blue-fade;
          padding: 0.5em 36px;
          & a {
            //padding-left: 36px;
          }

          #search-block-form--2, .search-block-form {
            margin: 0;
            font-size: 18px;
            max-width: 460px;

            input:focus {
              outline: 0;
            }

            input[type=submit] {
              padding-top: 5px;
              padding-bottom: 6px;
            }
          }

          & a:before {
            display: inline-block;
            width: 16px;
            margin-top: 7px;
            margin-right: 5px;
            content: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M11.1816 9.45508C11.9629 8.47266 12.4277 7.25195 12.4277 5.92773C12.4277 2.68359 9.64648 0.0546875 6.21484 0.0546875C2.78125 0.0546875 0 2.68359 0 5.92773C0 9.16992 2.78125 11.7988 6.21484 11.7988C7.61523 11.7988 8.9082 11.3594 9.94727 10.6211C9.99219 10.7109 10.0547 10.8027 10.1328 10.877L14.4082 14.916C14.6836 15.1758 15.0879 15.2383 15.4258 15.1055C15.5352 15.0625 15.6387 15 15.7266 14.916C16.0918 14.5723 16.0918 14.0156 15.7266 13.6699L11.4512 9.63086C11.3711 9.55469 11.2793 9.49805 11.1816 9.45508ZM6.21289 10.627C8.95898 10.627 11.1855 8.52344 11.1855 5.92773C11.1855 3.33398 8.95898 1.23047 6.21289 1.23047C3.46875 1.23047 1.24219 3.33398 1.24219 5.92773C1.24219 8.52344 3.46875 10.627 6.21289 10.627Z" fill="#{unhash(#{$blue})}"/>
</svg>');
          }
        }

        li.menuparent {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          flex-wrap: wrap;
          .featured-link a {
            color: $teal;
          }
          .cta-link a {
            background-color: $electric-blue;
            height: 45px;
            display: flex;
            color: $white;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            line-height: 1;
            font-family: $CeraPRO-Medium;
            font-size: 18px;
            border-radius: 3px;
            padding-left: 20px;
            padding-right: 20px;
            margin: 20px 40px;
            max-width: 350px;
          }
          a.sf-accordion-button {
            order: 2;
            font-size: 0;
            width: 50px;
            &:after {
              color: $blue;
              content: '+';
              position: absolute;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              right: 30px;
              top: 0;
              bottom: 0;
              font-size: 24px;
              font-family: $font-primary--medium;
              transition: all 0.5s ease-in-out;
            }
            &:before {
              content: '\2013';
              position: absolute;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              right: 30px;
              top: 0;
              bottom: 0;
              font-size: 26px;
              font-family: $font-primary--medium;
              transition: all 0.5s ease-in-out;
              opacity: 0;

            }
          }
          &.sf-expanded a.sf-accordion-button {
            &:before {
              opacity: 1.0;
              transform: rotate(-180deg);
            }
            &:after {
              transform: rotate(-180deg);
              opacity: 0;
            }
          }
          a.menuparent {
            order: 1;
            flex-grow: 1;
          }

          ul {
            order: 3;
            width: 100%;
            border-left: 3px solid $electric-blue;
            background-color: $white;
            li {
              a {
                font-size: 18px;
                padding-left: 40px;
              }
            }
          }
        }
        li {
          display: block;
          position: relative;
          cursor: pointer;
          width: 100%;
          margin-bottom: 0;
          font-size: 24px;
          font-family: $font-primary--medium;
          & ~ ul.menu, & ~ .block--footer-contact-block--contact-info {
            border-left: 3px solid $grey-fade;
          }


          &.active {
            background-color: $white;
            border-left: 3px solid $electric-blue;

          }
        }
        &.sf-expanded {
          position: absolute;
          //top: 0;
          //left: 0;
          //right: 0;
          //bottom: 0;
          background-color: $white;

        }
      }
    }
  }
  &.sticky .block-superfish ul.sf-menu {
    max-height: calc(100vh - 38px);
  }

  .mobile-nav--book-button {
    @include media-breakpoint-up(lg) {
      display: none;
    }
    background-color: $electric-blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    font-family: $CeraPRO-Regular;
    font-size: 16px;
    border-radius: 3px;
    margin-right: 8px;
    color: $white;
  }
}

.region-main-menu.sticky .block-superfish .sf-accordion-toggle a {

  &:before {
    background-image: url('/themes/custom/cruiseline/img/menu_closed_blue.svg');
  }
  &.sf-expanded:before {
    background-image: url('/themes/custom/cruiseline/img/menu_open_blue.svg');
  }
  &:after {
    color: $blue;
  }
}

.block-obe-widget {
  @include media-breakpoint-down(md) {
    #query-cruise-banner {
      display: none;
    }

    &:after {
      content: '';
      background: $blue;
      display: block;
      height: 35px;
      width: 100%;
    }
  }
}
