// Tab layout
.nav-tabs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: none;
  position: relative;
  top: 1px;
  height: 45px;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid $light-teal;

  &::after {
    content: "☰";
    position: absolute;
    top: 8px;
    right: 15px;
    z-index: 2;
    pointer-events: none;
  }

  &.open {
    height: auto;

    .nav-link {
      position: relative;
      display: block;
    }

    &::after {
      display: none;
    }
  }

  @include media-breakpoint-up(sm) {
    flex-direction: row;
    height: auto;
    border-bottom: 0;

    &::after {
      content: none;
    }
  }

  .nav-item {
    //min-height: 50px;
    height: 50px;

    @include media-breakpoint-up(sm) {
      flex: 0 1 200px;
      margin: 0 0.4rem;
      height: auto;
    }
  }

  .nav-link {
    color: #fff;
    background-color: $blue;
    border-color: $blue $blue $blue;
    border-bottom: 1px solid $blue;
    font-size: 1.15rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;

    // transformer tabs
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // end transformer tabs

    @include media-breakpoint-up(sm) {
      position: relative;
      width: auto;
      height: 100%;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      margin-bottom: 0;
    }

    &.active {
      z-index: 1; // transformer tabs
      color: $blue;
      background-color: $light-teal-fade;
      border-color: $light-teal $light-teal $light-teal;
      border-bottom: 1px solid $light-teal-fade;
      &:hover {
        border-color: $light-teal $light-teal $light-teal;
        border-bottom: 1px solid $light-teal-fade;
      }
    }
    &:hover {
      border-color: $blue $blue $blue;
      border-bottom: 1px solid $blue;
    }
  }
}

.tab-content {
  background-color: $light-teal-fade;
  border-top: 1px solid $light-teal;
  border-bottom: 1px solid $light-teal;
}
.tab-pane {
  padding: 3rem;
  @include media-breakpoint-up(md) {
    padding: 5rem 3rem 3rem;
  }
}