.popup__container {
  background-color: $medium-blue;
  padding: 50px;
  border-radius: 4px;

  header {
    position: absolute;
    right: 50px;
  }
  main {
    color: $white;
    .popup__content__image {
      .field {
        margin-bottom: 0;
      }
    }
    .popup__content__body {
      font-size: 22px;
      display: flex;
      max-width: 100%;
      padding: 10px;
      text-align: center;
      flex-direction: column;
      max-height: 655px;
      justify-content: center;
      .popup__title {
        color: $white;
        text-transform: uppercase;
        font-size: 52px;
      }
      a.btn {
        text-transform: uppercase;
        color: $medium-blue;
        height: 85px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
    }
  }
  footer {
    display: none;
  }
}