/* General Styling for the ShareThis widget. */

/* ShareThis Social Media Links - Share button */


.article__sharethis__wrapper {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 48px;
  text-align: center;
  flex-shrink: 0;
}

.heading1 .article__sharethis__wrapper {

  .article__sharethis {
    top: -3px;

    @include media-breakpoint-up(md) {
      top:9px;
    }

    @include media-breakpoint-up(lg) {
      top: 16px;
    }

    @include media-breakpoint-up(xl) {
      top: 27px;
    }
  }
}

.heading2 .article__sharethis__wrapper {
  .article__sharethis {
    top: -7px;

    @include media-breakpoint-up(md) {
      top: -5px;
    }

    @include media-breakpoint-up(lg) {
      top: 3px;
    }
  }
}

/* ShareThis Social Media Links - Share button */

.article__sharethis {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: z('sharethis');
  cursor: pointer;
  width: 45px;
  box-shadow: 0 0 3px 0 rgba($grey, 0.7);
  border-radius: 50px;
  background-color: $white;
  text-align: center;

  // ShareThis Button'ish show the icons switch
  .article__sharethis__label {
    display: block;
    font-size: rems(12);
    font-family: $CeraPRO-Medium;
    line-height: 1;
    color: $blue;
    margin: 0 auto;
    height: 46px;
    padding-top: 5px;

    svg {
      height: 20px;
    }
  }
}


// Social Media buttons appear below the title.
.article__sharethis__buttons {

  .article__sharethis__icon {
    display: block;

    margin-top: 10px;
    width: 44px;  // made this 1px short on purpose to make this facebook logo looks centered.
    height: 40px;

    text-align: center;
    cursor: pointer;

    svg {
      height: 16px;
      width: 20px;

      @include media-breakpoint-up(md) {
        height: 18px;
      }
    }
  }
}