.block--social-links {
  //padding: 30px 10px;

  @include media-breakpoint-up(sm) {
    //padding: 50px 10px;
  }

  .field--name-field-title {
    color: $blue;
    font-family: $font-primary--medium;
    font-size: 1.5rem;
    margin: 30px 10px 0;

    @include media-breakpoint-up(sm) {
      font-size: 2rem;
      margin: 50px 10px 0;
    }
  }

  .social_links.has-links {
    padding-bottom: 30px;

    @include media-breakpoint-up(sm) {
      padding-bottom: 50px;
    }
  }

  .social_link {
    display: inline-block;
    margin: 20px 10px 0;
    transform: scale(1);
    transition: all 0.3s ease-in-out;

    &:hover, &:focus {
      transform: scale(1.2);
    }
  }
}

.block--trophy-shelf + .block--social-links {
  border-top: 1px solid $grey-fade;
}