/* Sticky CTA -- A block that is displayed overtop the hero, initially located on the far right of the screen. */

// NOTE:   This is using Bootstrap 4.3 modal.
// The bootstrap .modal-backdrop z-index was changed to work with the site.  SEE:  _base.scss

.bloc--sticky-cta {
  display: none; // Hide this block if displayed in any other region than StickyCTA as it does not worked in the regular content region.
}

// Must live within the Sticky CTA Region.
.region-sticky-cta {

  .block--sticky-cta {
    display: block; // Yes, lives within the Sticky CTA Region.   Display it!  You're good to go!

    .sticky-cta__button--wrapper {

      // Initally displays fixed at the bottom for Mobile phones.
      position: fixed;
      bottom: 0;

      width: 100%;
      height: 50px;

      z-index: z('sticky-cta-button-wrapper');

      @include media-breakpoint-up(md) {
        position: unset;
        background: none;
      }
    }

    .sticky-cta__button {
      position: fixed;
      bottom: 7px;

      left: 50%; // Center the fixed button within the container
      transform: translate(-50%, 0);

      margin: 0; // remove any margins applied by the btn class

      // Set the size of the button for mobile
      font-size: rems(16);
      padding: 5px 20px;
      white-space: nowrap;

      z-index: z('sticky-cta-button'); // REF:  functions.scss

      box-shadow: 0 0 6px $charcoal;  // Slight box shadow for mobile views

      &:hover {
        transform: translate(-50%, 0) scale(1.075);
      }

      // Add the plus after the button, this way allows is to control spacing
      &::after {
        display: inline-block;
        content: "+";
        margin-left: 3px;
      }

      @include media-breakpoint-up(md) {

        // Up the button size and prep it for the right side of the viewport
        font-size: rems(18);
        padding: 10px 25px;
        border-radius: 5px 5px 0 0;

        // set the position
        top: 200px;
        right: 0;
        bottom: unset;
        left: unset;

        // Rotate the button
        transform: rotate(-90deg) translate(0, -100%);
        transform-origin: 100% 0;

        // Remove the box shadow
        box-shadow: none;

        &:hover {
          transform: scale(1.075) rotate(-90deg) translate(0, -100%);
          top: 197px; // shave off a few pixels from the top as the bottom scales down.
        }
      }

      @include media-breakpoint-up(md) {
        top: 270px;
        &:hover {
          top: 265px;
        }
      }

      @include media-breakpoint-up(xl) {
        top: 340px;
        &:hover {
          top: 335px;
        }
      }
      @media (min-width: 1940px) {
        right: calc(((100vw - 1920px) / 2) - 30px);
        border-radius: 5px;
      }

    }

    .modal-content {
      background-color: #f2f9fc;
      border-color: $mercury;
    }

    // Because the site has a scroll bar and this sticky button is in a fixed position, offset the button when the scroll it removed in the modal window.
    // Solution:  Just make it disappear.
    #sticky-cta.show + .sticky-cta__button--wrapper {
      .sticky-cta__button {
        @include media-breakpoint-up(md) {
          display: none;
        }
      }
    }

    .paragraph--type--cta-block {
      background-color: #f2f9fc;
      padding: 20px 0;


      .field--name-field-title {
        @include appear_as_heading(h2);
        text-align: center;
        margin-bottom: 20px;
      }

      .field--name-field-body {
        p {
          font-size: rems(18);
        }

        a.btn {
          @include btn($white, $electric-blue);
        }
      }

      .field--name-field-file-downloads {
        .field__item {
          text-align: center;

          a {
            @include btn($electric-blue, $white, $electric-blue);
            margin: 0 auto;

            position: relative;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.0915 8.20463C12.9989 8.00325 12.7955 7.875 12.5715 7.875H10.2858V0.5625C10.2858 0.252 10.0298 0 9.71436 0H7.42864C7.11321 0 6.85721 0.252 6.85721 0.5625V7.875H4.5715C4.3475 7.875 4.14407 8.00438 4.0515 8.20463C3.95778 8.406 3.99436 8.64112 4.14178 8.80762L8.14179 13.3076C8.25036 13.4303 8.40693 13.5 8.5715 13.5C8.73607 13.5 8.89264 13.4291 9.00121 13.3076L13.0012 8.80762C13.1498 8.64225 13.1841 8.406 13.0915 8.20463Z' fill='%230081C9'/%3e%3cpath d='M14.8571 12.375V15.75H2.28571V12.375H0V16.875C0 17.4971 0.512 18 1.14286 18H16C16.632 18 17.1429 17.4971 17.1429 16.875V12.375H14.8571Z' fill='%230081C9'/%3e%3c/svg%3e");
            background-position: right 25px center;
            background-repeat: no-repeat;
            padding-right: 50px;

            &:hover {
              color: $electric-blue;
            }
          }
        }
      }
    }
  }

  // End of layout
}

