.block-timed-offers-banner {
  &.has-active-timers {
    + .block-timed-offers-promo-slider { // Hide the promo bar when there's a timed offer.
      display: none;
    }
  }

  .timed-offer-banner {
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: $light-teal-fade;
    align-items: center;
    padding: 10px;

    @include media-breakpoint-up(lg) {
      flex-wrap: nowrap;
      padding: 15px 50px;
    }

    &.timer-started {
      @include media-breakpoint-up(sm) {
        display: flex;
      }
    }

    .timed-offer {
      &__info {
        flex: 0 0 100%;
        margin-bottom: 15px;

        @include media-breakpoint-up(lg) {
          flex: 1 1 30%;
          max-width: 500px;
          margin-right: 15px;
          margin-bottom: 0;
        }

        .field--name-title {
          font-family: $CeraPRO-Bold;
        }

        p:last-child {
          margin-bottom: 0;
        }
      }

      &__countdown {
        flex-shrink: 0;
        flex-grow: 0;

        .countdown {
          font-size: 45px;
          display: flex;
          line-height: 1;

          @include media-breakpoint-up(sm) {
            font-size: 75px;
            margin-top: -20px;
          }

          div {
            text-align: center;
            margin: 0 10px;

            @include media-breakpoint-up(xl) {
              margin: 0 25px;
            }
          }

          .minutes-container, .hours-container, .seconds-container {
            @include media-breakpoint-up(lg) {
              width: 95px;
            }
          }

          span {
            display: block;
          }

          .small {
            font-size: 25%;
            text-transform: uppercase;
            margin-top: 10px;
          }
        }
      }

      &__buttons {
        display: flex;
        justify-content: center;
        margin-top: 15px;

        @include media-breakpoint-up(sm) {
          display: block;
          text-align: center;
          margin-top: 0;
        }

        @include media-breakpoint-up(md) {
          display: flex;
        }

        @include media-breakpoint-up(lg) {
          display: block;
        }

        .field--name-detail-link {
          margin-top: 15px;

          @include grow_text_link;
          @include caret();
        }
      }
    }
  }
}