{#

Layout: Basic Content with Sidebar

#}

<section class="{{ acf_fields.acf_fc_layout }} {{ acf_fields.acf_fc_layout }}_{{ loopIndex }} content-layout">
    <div class="container">
        <div class="row">
            <div class="offset-lg-1 col-lg-6  section-margin--{{ acf_fields.section_top_margin }}">

                {% if acf_fields.title %}
                    <h1 class="title text-{% if acf_fields.title_align[0] %}{{ acf_fields.title_align[0] }}
                    % else %}{{ acf_fields.title_align }}{% endif %}">{{ acf_fields.title }}</h1>
                {% endif %}

                {% if acf_fields.include_social_media_links == true %}
                    {# Social Media Links #}
                    {% include "partials/social_links.twig" %}
                {% endif %}

                {{ acf_fields.content }}

                {% filter shortcodes %}
                    {% if vars.jobTitle %}
                        {{ (acf_fields.gravity_form) ? function('autoPopulateGFFields_IB',acf_fields.gravity_form,'field_values="jobTitle='~vars.jobTitle~'"') : '' }}
                    {% else %}
                        {{ (acf_fields.gravity_form) ? function('autoPopulateGFFields_IB',acf_fields.gravity_form,'') : '' }}
                    {% endif %}
                {% endfilter %}

                {% if acf_fields.button_type != 'none' %}
                    {% if acf_fields.button_type == 'internal' %}
                        <p class="{{ acf_fields.button_parameters }}"><a href="{{ acf_fields.button_page_link }}"
                                                                         class="{{ acf_fields.button_style }}">{{ acf_fields.button_text }}</a>
                        </p>
                    {% elseif acf_fields.button_type == 'external' %}
                        <p class="{{ acf_fields.button_parameters }}"><a href="{{ acf_fields.button_url_link }}" target="_blank"
                                                                         class="{{ acf_fields.button_style }}">{{ acf_fields.button_text }}</a>
                        </p>
                    {% elseif acf_fields.button_type == 'file' %}
                        <p class="{{ acf_fields.button_parameters }}"><a href="{{ acf_fields.button_file }}" target="_blank"
                                                                         class="{{ acf_fields.button_style }}">{{ acf_fields.button_text }}</a>
                        </p>
                    {% endif %}
                {% endif %}

            </div>
            <aside class="col-lg-3 offset-lg-1  section-margin--{{ acf_fields.section_top_margin }}">

                {# Create a sidebar title #}
                {% if acf_fields.aside_title %}

                    {% if acf_fields.aside_title_size == "h2" %}
                        <h2 class="title"
                            style="text-align:{{ acf_fields.aside_title_alignment }}">{{ acf_fields.aside_title }}</h2>
                    {% else %}
                        <h3 class="title"
                            style="text-align:{{ acf_fields.aside_title_alignment }}">{{ acf_fields.aside_title }}</h3>
                    {% endif %}

                {% endif %}

                {{ acf_fields.aside_content }}

            </aside>
        </div>
    </div>
</section>

{# End: Connect With Next Basic Content Section #}