{#

Layout: Basic Content

#}

{% set col_classes = 'offset-md-2 col-md-8' %}

{% set content_width = acf_fields.content_width %}

{% if (content_width == 'narrow') %}
    {% set col_classes = 'offset-md-4 col-md-6' %}
{% elseif (content_width == 'standard') %}
    {% set col_classes = 'offset-md-2 col-md-8' %}
{% endif %}

<section class="{{ acf_fields.acf_fc_layout }} {{ acf_fields.acf_fc_layout }}_{{ loopIndex }} section-margin--{{ acf_fields.section_top_margin }} {{ acf_fields.background_color }}">
    <div class="container">
        <div class="row">
            <div class="{{ col_classes }}">

                {% if acf_fields.title %}
                    <h1 class="title text-{% if acf_fields.title_align[0] %}{{ acf_fields.title_align[0] }}{% else %}{{ acf_fields.title_align }}{% endif %}">{{ acf_fields.title }}</h1>
                {% endif %}

                {% if acf_fields.include_social_media_links == true %}
                    {# Social Media Links #}
                    {% include "partials/social_links.twig" %}
                {% endif %}

                {{ acf_fields.content }}

                {% if acf_fields.button_type != 'none' %}
                    {% if acf_fields.button_type == 'internal' %}
                        <p class="{{ acf_fields.button_parameters }}"><a href="{{ acf_fields.button_page_link }}"
                                                                         class="{{ acf_fields.button_style }}">{{ acf_fields.button_text }}</a>
                        </p>
                    {% elseif acf_fields.button_type == 'external' %}
                        <p class="{{ acf_fields.button_parameters }}"><a href="{{ acf_fields.button_url_link }}" target="_blank"
                                                                         class="{{ acf_fields.button_style }}">{{ acf_fields.button_text }}</a>
                        </p>
                    {% elseif acf_fields.button_type == 'file' %}
                        <p class="{{ acf_fields.button_parameters }}"><a href="{{ acf_fields.button_file }}" target="_blank"
                                                                         class="{{ acf_fields.button_style }}">{{ acf_fields.button_text }}</a>
                        </p>
                    {% endif %}
                {% endif %}

            </div>
        </div>
    </div>
</section>

