{% filter shortcodes %}
    [gravityform id={{ acf_fields.gravity_form_id }} title={{ acf_fields.show_form_title }} description={{ acf_fields.show_form_description }} ajax=true tabindex=10]
{% endfilter %}

{{ acf_fields.company_address_title }}
{{ acf_fields.company_address }}
{{ acf_fields.company_email }}

{% for contact in acf_fields.contacts %}
    {{ contact.contact_name }}
    {{ contact.contact_job_title }}
    {{ contact.contact_phone }}
    {{ contact.contact_email }}
    <br />
{% endfor %}