{#

Layout: Image Left Content Right Overlay Meeting

ACF Fields supported
----------------------
section_top_margin
section_image
overline
title
title size
content
button
secondary link label -- text link title
secondary link - text link URL
content_colour_scheme

#}

<section class="{{ acf_fields.acf_fc_layout }} section-margin--{{ acf_fields.section_top_margin }}">

    <div class="section-content-wrapper ">

        <div class="section-content-inner color-scheme--{{ acf_fields.content_colour_scheme }}">

            <div class="content content--padding">

                {% if acf_fields.overline %}
                    <p class="overline">{{ acf_fields.overline }}</p>
                {% endif %}

                {% if acf_fields.title %}
                {% set titleSize = 'h2' %}
                {% if acf_fields.title_size %}
                    {% set titleSize = acf_fields.title_size %}
                {% endif %}
                {# TODO:  Need to re-write this logic so that it code validates in PHPStorm.  Currently things a tag is missing #}
                <{{ titleSize }}>{{ acf_fields.title }}</{{ titleSize }}>

            {% endif %}

            {{ acf_fields.content }}

            {% if acf_fields.button_type != 'none' %}
                {% if acf_fields.button_type == 'internal' %}
                    <p><a class="btn" href="{{ acf_fields.button_page_link }}">{{ acf_fields.button_text }}</a></p>
                {% elseif acf_fields.button_type == 'external' %}
                    <p><a class="btn" target="_blank" href="{{ acf_fields.button_url_link }}">{{ acf_fields.button_text }}</a></p>
                {% elseif acf_fields.button_type == 'file' %}
                    <p><a class="btn" target="_blank" href="{{ acf_fields.button_file }}">{{ acf_fields.button_text }}</a></p>
                {% endif %}
            {% endif %}

        </div>

    </div>

    </div>

    <div class="background-image" style="background-image: url('{{ Image(acf_fields.section_image).src('image-right-left-overlay') }}');">
        {# Scaled boxes will not have a caption #}
    </div>

</section>
