{#

Layout: Image Right Content Left Scaled Box Guestroom

ACF Fields
----------------------
section_top_margin
section_image
title
title size
content
button
secondary link label -- text link title
secondary link - text link URL

// Field Missing
content_colour_scheme

// The following is not used

button style, button parameter
content_vertical_position
section_image_label         -- used for image caption text or quotebox text
section_image_label_type    -- caption or quotebox
content_background
content_font_colour

#}

<section class="{{ acf_fields.acf_fc_layout }} section-margin--{{ acf_fields.section_top_margin }}">

    <div class="background-image desktop" style="background-image: url('{{ Image(acf_fields.section_image).src('image-right-left') }}');">
        {# Scaled boxes will not have a caption #}
    </div>

    <div class="section-content-wrapper ">

        <div class="section-content-inner color-scheme--{{ acf_fields.content_colour_scheme }}">

            <div class="content content--padding">
                {% if acf_fields.title %}
                <{{ acf_fields.title_size ?: 'h2' }}>{{ acf_fields.title }}</{{ acf_fields.title_size ?: 'h2' }}>
                {% endif %}

                {{ acf_fields.content }}

                {% if acf_fields.button_type != 'none' %}
                    {% if acf_fields.button_type == 'internal' %}
                    <p><a class="btn" href="{{ acf_fields.button_page_link }}">{{ acf_fields.button_text }}</a></p>
                    {% elseif acf_fields.button_type == 'external' %}
                    <p><a class="btn" target="_blank" href="{{ acf_fields.button_url_link }}">{{ acf_fields.button_text }}</a></p>
                    {% elseif acf_fields.button_type == 'file' %}
                    <p><a class="btn" target="_blank" href="{{ acf_fields.button_file }}">{{ acf_fields.button_text }}</a></p>
                {% endif %}

            {% endif %}

            </div>

        </div>

    </div>

    <div class="background-image mobile" style="background-image: url('{{ Image(acf_fields.section_image).src('image-right-left') }}');">
        {# Scaled boxes will not have a caption #}
    </div>

</section>
