{#

Layout: Image Left Content Right Overlay Meeting

ACF Fields supported
----------------------
section_top_margin
section_image
overline
title
title size
content
button
secondary link label -- text link title
secondary link - text link URL
content_colour_scheme

#}

{% set imageLabelType = acf_fields.section_image_label_type %}

{% if imageLabelType[0] %}
    {% set imageLabelType = imageLabelType[0] %}
{% endif %}

{% if imageLabelType != 'normal' and acf_fields.section_image_label %}
    {% set hasQuoteboxOffsetMargin = 'quotebox-offset-margin' %}
    {% set hasQuoteboxPadding = 'quotebox-contentbox-padding' %}
{% endif %}

<section class="{{ acf_fields.acf_fc_layout }} section-margin--{{ acf_fields.section_top_margin }}">

    <div class="section-content-wrapper ">
        <div class="{{ hasQuoteboxOffsetMargin }}">
            <div class="section-content-inner color-scheme--{{ acf_fields.content_colour_scheme }} {{ hasQuoteboxPadding }}">

                <div class="content content--padding">
                    {% if acf_fields.overline %}
                        <p class="overline">{{ acf_fields.overline }}</p>
                    {% endif %}


                    {% if acf_fields.title %}
                        <h2>{{ acf_fields.title }}</h2>
                    {% endif %}

                    {{ acf_fields.content }}
                    {% if acf_fields.button_type != 'none' %}
                        {% if acf_fields.button_type == 'internal' %}
                            <p class="{{ acf_fields.button_parameters }}"><a href="{{ acf_fields.button_page_link }}"
                                  class="{{ acf_fields.button_style }}">{{ acf_fields.button_text }}</a></p>
                        {% elseif acf_fields.button_type == 'external' %}
                            <p class="{{ acf_fields.button_parameters }}"><a href="{{ acf_fields.button_url_link }}" target="_blank"
                                  class="{{ acf_fields.button_style }}">{{ acf_fields.button_text }}</a></p>
                        {% elseif acf_fields.button_type == 'file' %}
                            <p class="{{ acf_fields.button_parameters }}"><a href="{{ acf_fields.button_file }}" target="_blank"
                                  class="{{ acf_fields.button_style }}">{{ acf_fields.button_text }}</a></p>
                        {% endif %}
                    {% endif %}

                    {% if acf_fields.secondary_link_label %}
                        <p><a href="{{ acf_fields.secondary_link }}">{{ acf_fields.secondary_link_label }}</a></p>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

    <div class="background-image">
        <picture>
            <source media="(max-width: 767px)" data-srcset="{{ Image(acf_fields.section_image).src('image-right-left-mobile') }}">
            <source media="(min-width: 768px)" data-srcset="{{ Image(acf_fields.section_image).src('image-right-left') }}">
            <img class="lazyload"
                 data-src="{{ Image(acf_fields.section_image).src('image-right-left-mobile') }}"
                 title="{{ acf_fields.section_image.title }}"
                 alt="{{ acf_fields.section_image.alt }}" />
        </picture>
        {% if imageLabelType == 'normal' and acf_fields.section_image_label %}
            <div class="image-caption">
                {{ acf_fields.section_image_label }}
            </div>
        {% endif %}
    </div>

    {% if imageLabelType != 'normal' and acf_fields.section_image_label %}

        <div class="quotebox">
            “{{ acf_fields.section_image_label }}”
        </div>

    {% endif %}


</section>
