{#

Layout: Post Listings

#}

<section class="{{ acf_fields.acf_fc_layout }} section-margin--{{ acf_fields.section_top_margin }}">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="title text-center">{{ acf_fields.heading }}</h2>
                <p class="intro text-center">{{ acf_fields.intro }}</p>

                {% if acf_fields.button_type != 'none' %}
                    {% if acf_fields.button_type == 'internal' %}
                        <p class="{{ acf_fields.button_parameters }}"><a href="{{ acf_fields.button_page_link }}"
                                                                         class="{{ acf_fields.button_style }}">{{ acf_fields.button_text }}</a>
                        </p>
                    {% elseif acf_fields.button_type == 'external' %}
                        <p class="{{ acf_fields.button_parameters }}"><a href="{{ acf_fields.button_url_link }}" target="_blank"
                                                                         class="{{ acf_fields.button_style }}">{{ acf_fields.button_text }}</a>
                        </p>
                    {% elseif acf_fields.button_type == 'file' %}
                        <p class="{{ acf_fields.button_parameters }}"><a href="{{ acf_fields.button_file }}" target="_blank"
                                                                         class="{{ acf_fields.button_style }}">{{ acf_fields.button_text }}</a>
                        </p>
                    {% endif %}
                {% endif %}

                    <div class="post-listings-container">

                    {% for item in acf_fields.post_listing %}

                        <div class="post-listing">

                            <div class="post-img">

                                {# If has modal, wrap the image with a modal link #}
                                <img src="{{ item.thumbnail.src('activities-listing') }}"
                                        {% if item.modal_content %}
                                            class="pointer-cursor"
                                            data-toggle="modal"
                                            data-target="#{{ item.slug }}"
                                        {% endif %}
                                     alt="{{ item.thumbnail.alt }}"
                                     title="{{ item.thumbnail.title }}"/>
                            </div>

                            <div class="post-content">

                                {# Assuming the post has a title.  If the post has modal content, wrap the title #}
                                {% if item.modal_content %}
                                    <h3 class="pointer-cursor text-center"
                                        data-toggle="modal"
                                        data-target="#{{ item.slug }}">
                                        {{ item.post_title }}
                                    </h3>
                                {% else %}
                                    <h3 class="text-center">{{ item.post_title }}</h3>
                                {% endif %}


                                {# Use the post excerpt if available otherwise fall back to using the post content. #}
                                {% if item.post_excerpt %}
                                    <p>{{ item.post_excerpt|truncate(40) }}</p>
                                {% else %}
                                    <p>{{ item.post_content|truncate(40) }}</p>
                                {% endif %}

                                {# If Modal, show the button #}
                                {% if item.modal_content %}
                                    <div class="text-center">
                                        <button class="btn btn-light"
                                                data-toggle="modal"
                                                data-target="#{{ item.slug }}">Learn More
                                        </button>
                                    </div>
                                {% elseif item.fareharbor_boolean %}
                                    <div class="text-center">
                                        <a class="btn btn-light" href="{{ item.fareharbor_url }}">
                                            Book Now
                                        </a>
                                    </div>
                                {% endif %}

                            </div>

                            {# Modal Box for Activity #}
                            {% if item.modal_content %}
                            <div class="modal fade" id="{{ item.slug }}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                            {# Check if there are activity slides and slide number is greater then zero #}
                                            {% if item.meta('activity_slides')|length > 0 %}

                                                {# if less than 2 slides (meaning 1 slide #}
                                                {% if item.meta('activity_slides')|length < 2 %}

                                                    {% set singleSlide = item.meta('activity_slides')[0].image %}
                                                    
                                                    <picture>
                                                        <source media="(max-width: 575px)"
                                                                data-srcset="{{ Image(singleSlide).src('post-listings-modal-sm') }}">
                                                        <source media="(min-width: 576px)"
                                                                data-srcset="{{ Image(singleSlide).src('post-listings-modal-lg') }}">
                                                    </picture>
                                                    <img class="lazyload modal-img"
                                                         data-src="{{ Image(singleSlide).src('post-listings-modal-sm') }}"
                                                         title="{{ Image(singleSlide).title }}"
                                                         alt="{{ Image(singleSlide).alt }}">

                                                {% else %}
                                                    <div class="modal-slick-slideshow slider-section">
                                                        <div class="slideshow-container">

                                                            {% for slide in item.meta('activity_slides') %}
                                                            <div class="slide-img">
                                                                <img srcset="{{ Image(slide.image).src('post-listings-modal-sm') }} 600w,
                                                                        {{ Image(slide.image).src('post-listings-modal-lg') }} 1000w"
                                                                     sizes="(max-width: 575px) 600px,
                                                                            1000px"
                                                                     src="{{ Image(slide.image).src('post-listings-modal-sm') }}"
                                                                     title="{{ Image(slide.image).title }}"
                                                                     alt="{{ Image(slide.image).alt }}">
                                                            </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>

                                                {% endif %}

                                            {% endif %}


                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&#9587;</span>
                                            </button>

                                        </div>
                                        <div class="modal-body">
                                            <h2>{{ item.post_title }}</h2>
                                            <div class="modal-text-body">{{ item.content }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>
