{% if acf_fields.press_releases %}
    <section class="section-press-title section-margin--press container">
        <{{ acf_fields.heading_type }} class="title text-center">{{ acf_fields.heading }}</{{ acf_fields.heading_type }}>
        <div class="seperator mb-5"></div>
      {% include "partials/press_posts.twig" with { posts: acf_fields.press_releases } %}
    </section>
{% endif %}
