{#
Layout: Quote
#}

<section class="layout-quote section-margin--{{ acf_fields.section_top_margin }} ">
    <div class="container">
            <div class="row section-margin--normal">
                <div class="offset-1 col-10 offset-sm-3 col-sm-6 offset-lg-4 col-lg-4">
                    <div class="block-divider">
                        <div class="block-symbol"></div>
                    </div>
                </div>
            </div>

            <div class="row section-margin--normal">
                <div class="offset-lg-2 col-lg-8 offset-sm-1 col-sm-10">

                    <blockquote class="quote">
                        {{ acf_fields.quote }}
                    </blockquote>

                </div>
            </div>
            <div class="row section-margin--normal">
                <div class="offset-1 col-10 offset-sm-3 col-sm-6 offset-lg-4 col-lg-4">
                    <div class="block-divider"></div>
                </div>
            </div>
    </div>
</section>
