{% if related_posts %}
    <div class="seperator section-margin--normal"></div>
    <section class="related_posts section-margin--normal ">
        <div class="container">
            <h1 class="title text-center">{{ options.related_posts_title ?: 'Related articles you may enjoy' }}</h1>
            <div class="row">
                {% for item in related_posts %}
                    <div class="col-md-4">
                        <div class="post-img">
                            <img src="{{ item.thumbnail.src('press-related-posts') }}"
                                 alt="{{ item.thumbnail.alt }}"
                                 title="{{ item.thumbnail.title }}">
                        </div>
                        <div class="post-content text-center">
                            <h3>{{ item.title }}</h3>
                            {#<p>{{ item.post_content }}</p>#}
                        </div>
                        <div class="post-link text-center">
                            <a href="{{ item.button_page_link ?function('get_permalink',item.button_page_link): item.link }}"
                               class="related_posts--link">{{ item.button_text ?: 'Continue reading this article' }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}