<section class="{{ acf_fields.acf_fc_layout }} section-margin--normal posts-wrap">
    <div class="container">
        <div class="row">
            {% for item in acf_fields.posts %}
                <div class="col-md-4" data-aos="fade" data-aos-duration="1000">
                    <div class="post-img">
                        <img src="{{ item.post.thumbnail.src('post-archive-thumbnail') }}"
                             alt="{{ item.post.thumbnail.alt }}"
                             title="{{ item.post.thumbnail.title }}">
                    </div>
                    <div class="post-inner">
                        <h3>{{ item.post.title }}</h3>
                        <p>
                            {{ item.post.post_content }}
                        </p>
                        {# @todo These buttons can be integrated after confirming that these posts belong CTP #}
                        <div class="post-link-wrap">
                            <p><a href="{{ item.post.link }}" class="btn btn-light">View Meetings</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section><!-- posts-wrap -->
