{#

Layout: Single Image w/ Description OR Slideshow

#}


{% if acf_fields.single_image %}

    <section
            class="{{ acf_fields.acf_fc_layout }} section-margin--{{ acf_fields.section_top_margin }} section-quote-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">

                    <img data-src="{{ Image(acf_fields.single_image).src('single-image-full') }}"
                         class="lazyload"
                         alt="{{ acf_fields.single_image.alt }}"
                         title="{{ acf_fields.single_image.title }}">

                </div>
            </div>
        </div>
    </section>

{% else %}

    <section class="{{ acf_fields.acf_fc_layout }} slider-section section-margin--{{ acf_fields.section_top_margin }}">
        <div class="container">


            <div class="single-image-slideshow-container">
                {% for item in acf_fields.slides %}
                    <div class="single-image-w-description" style="display: block;">
                        <div class="slide-img"
                             style="background:url('{{ Image(item.image).src('single-image-full') }}') center no-repeat;">

                        </div>
                        <div class="text">{{ item.description }}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="append-dots" style="text-align:center"></div>
        </div>

    </section>

{% endif %}

<section class="{{ acf_fields.acf_fc_layout }} section-margin--{{ acf_fields.section_top_margin }}">
    <div class="container">

        {% if acf_fields.description %}
            <div class="row section-margin--normal">
                <div class="col-lg-10 offset-lg-1 description">
                    {{ acf_fields.description }}
                </div>
            </div>
        {% endif %}

        {% if acf_fields.quote %}
            <div class="row section-margin--normal">
                <div class="offset-1 col-10 offset-sm-3 col-sm-6 offset-lg-4 col-lg-4">
                    <div class="block-divider">
                        <div class="block-symbol"></div>
                    </div>
                </div>
            </div>

            <div class="row section-margin--normal">
                <div class="offset-lg-2 col-lg-8 offset-sm-1 col-sm-10">

                    <blockquote class="quote">
                        {{ acf_fields.quote | striptags('<br>') }}
                    </blockquote>

                </div>
            </div>
            <div class="row section-margin--normal">
                <div class="offset-1 col-10 offset-sm-3 col-sm-6 offset-lg-4 col-lg-4">
                    <div class="block-divider"></div>
                </div>
            </div>
        {% endif %}


        {% if acf_fields.button_type != 'none' %}
            <div class="buttons">
                {% if acf_fields.button_type == 'internal' %}
                    <p class="{{ acf_fields.button_parameters }}"><a href="{{ acf_fields.button_page_link }}"
                                                                     class="{{ acf_fields.button_style }}">{{ acf_fields.button_text }}</a>
                    </p>
                {% elseif acf_fields.button_type == 'external' %}
                    <p class="{{ acf_fields.button_parameters }}"><a href="{{ acf_fields.button_url_link }}"
                                                                     class="{{ acf_fields.button_style }}">{{ acf_fields.button_text }}</a>
                    </p>
                {% elseif acf_fields.button_type == 'file' %}
                    <p class="{{ acf_fields.button_parameters }}"><a href="{{ acf_fields.button_file }}"
                                                                     class="{{ acf_fields.button_style }}">{{ acf_fields.button_text }}</a>
                    </p>
                {% endif %}
            </div>
        {% endif %}

    </div>
</section>
