<section class="{{ acf_fields.acf_fc_layout }} section-margin--{{ acf_fields.section_top_margin }}">
    <div class="container">
        <div class="row">
            {% for item in acf_fields.image_columns %}
                <div class="col-md-4">
                    <div class="post-img">
                        <img src="{{ Image(item.image).src('post-archive-thumbnail') }}"
                             alt="{{ item.image.alt }}"
                             title="{{ item.image.title }}">
                    </div>
                    <div class="post-content">
                        {% if item.title %}
                            <h3>{{ item.title }}</h3>
                        {% endif %}
                        {{ item.content }}
                    </div>
                    {% if item.button_type != 'none' or item.file_link %}
                        <div class="post-link">
                            {% if item.button_type != 'none' %}
                                {% if item.button_type == 'internal' %}
                                    <a href="{{ item.button_page_link }}"
                                       class="{{ item.button_style }} btn-sm">{{ item.button_text }}</a>
                                {% elseif item.button_type == 'external' %}
                                    <a href="{{ item.button_url_link }}" target="_blank"
                                       class="{{ item.button_style }} btn-sm">{{ item.button_text }}</a>
                                {% elseif item.button_type == 'file' %}
                                    <a href="{{ item.button_file }}" target="_blank"
                                       class="{{ item.button_style }} btn-sm">{{ item.button_text }}</a>
                                {% endif %}
                            {% endif %}

                            {% if item.file_link %}
                                <a class="file-link"  target="_blank" href="{{ item.file_link.url }}">{{ item.file_link_label }}</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>
