<section class="{{ acf_fields.acf_fc_layout }} section-margin--normal">
    <div class="container">
        <div class="row">
            {% for item in acf_fields.three_column_posts %}
                <div class="col-md-4">
                    <div class="post-img">
                        <img src="{{ item.post.thumbnail.src('post-archive-thumbnail') }}"
                             alt="{{ item.post.thumbnail.alt }}"
                             title="{{ item.post.thumbnail.title }}">
                    </div>
                    <div class="post-content">
                        <h3>{{ item.post.title }}</h3>
                        <p>{{ item.post.post_content }}</p>
                    </div>
                    <div class="post-link">
                        <a href="{{ item.post.button_page_link ?function('get_permalink',item.post.button_page_link): item.post.link }}"
                           class="{{ item.post.button_style ?: 'btn btn-light' }}">{{ item.post.button_text ?: 'View Post' }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
