<div class="container">
    <div class="photo-section-wrap">
        <div class="row">
            <div class="col-md-6">
                <div class="photo-section">
                    <img src="{{ Image(acf_fields.left_image).src('meeting-archive-thumbnail') }}"
                         alt="{{ Image(acf_fields.left_image).alt }}"
                         title="{{ Image(acf_fields.left_image).title }}">
                    <div class="photo-info">
                        {{ acf_fields.left_image_caption }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="photo-section">
                    <img src="{{ Image(acf_fields.right_image).src('meeting-archive-thumbnail') }}"
                         alt="{{ Image(acf_fields.right_image).alt }}"
                         title="{{ Image(acf_fields.right_image).title }}">
                    <div class="photo-info">
                        {{ acf_fields.right_image_caption }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>