{#

Layout: Two Images Diagonal Left

ACF Fields
----------------------
section_top_margin
left_image
right_image
middle_area_title
middle_area_content
middle_area_button

MISSING  =============
content_colour_scheme

#}

<section class="{{ acf_fields.acf_fc_layout }} section-margin--{{ acf_fields.section_top_margin }}">
    <div class="travel-left">
        <div class="img-contain" style="background: url({{ Image(acf_fields.left_image).src('two-images-diagonal') }}) no-repeat;">
        </div>
    </div>
    <div class="travel-overlay">
        <div class="travel-inner">
            <h3>{{ acf_fields.middle_area_title }}</h3>
            <p class="inner-detail-text">
                {{ acf_fields.middle_area_content | striptags }}
            </p>
            {% if acf_fields.button_text %}
            <p>
                <a href="{{ acf_fields.button_page_link }}"
                   class="btn btn-light min-width">{{ acf_fields.button_text }}</a>
            </p>
            {% endif %}
        </div>
    </div>
    <div class="travel-right">
        <div class="img-contain" style="background: url({{ Image(acf_fields.right_image).src('two-images-diagonal') }}) no-repeat;">
        </div>
    </div>
</section>