<section class="{{ acf_fields.acf_fc_layout }} section-margin--normal">
    <div class="container">
        <div class="row">
            {% for item in acf_fields.two_column_posts %}
                <div class="col-md-6">
                    <div class="post-img">
                        <img src="{{ item.post.thumbnail.src('activities-listing') }}"
                             alt="{{ item.post.thumbnail.alt }}"
                             title="{{ item.post.thumbnail.title }}">
                    </div>
                    <div class="post-content">
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1">
                                <h3>{{ item.post.title }}</h3>
                                <p>{{ item.post.post_content }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
